[2021-09-09 09:12] adamzhoul opened #461 "[feature request] add --tunnelserver-addr for yurtctl convert comand"
**What would you like to be added**:

`yurtcl convert --tunnelserver-addr xxxx`

**Why is this needed**:

1. --tunnelserver-addr is supported at  yurtcl convert edgenode
2. `yurtcl convert` use job to run `yurtctl convert edgenode`. However, job template hardcode command line without this

https://github.com/openyurtio/openyurt/blob/47a88eab0a1450c90901e8c42c3ec88099602aea/pkg/yurtctl/constants/co

[2021-09-09 09:34] adamzhoul commented on #358
hi @DrmagicE

as far as I know, using in-cluster config requires rabc config, so kube-proxy can visit the apiServer without certification file.
who will do the config job? should we do it manually?

 If I remove the kubeconfig setting in the configmap , kube-proxy in cloud-node will be affected too.
 so rabc config must be done globally.

Sorry, I don't know much about What will kubelet do to make

[2021-09-09 10:42] adamzhoul opened #462 "[Question] How should tunnel-server be deployed"
**What happened**:

 tunnel-server is deployed as deployment and scheduled to the node which is not the same as apiServer.

**What you expected to happen**:

as far as I know, it should change iptables, to redirect apiServer traffic to self when targeting edge kublet.
if they are not on the same node, how to do this.

**How to reproduce it (as minimally and precisely as possible)**:

check the tem

[2021-09-10 01:20] joker-joker-joker commented on #410
It seems that the issue is not assigned to anyone yet.  I would assign it to myself now, if there is any problem, please let me know.

[2021-09-10 01:20] joker-joker-joker commented on #410
/asign

[2021-09-10 01:21] joker-joker-joker commented on #410
/assign

[2021-09-10 02:30] rambohe-ch commented on #384
@konghui Please skip my former response, and you are right, we need add `RBAC` rights for yurthub. I will make a pull request to solve this problem.

[2021-09-10 02:31] rambohe-ch commented on #384
@DrmagicE Would you can parse these two kinds of bootstrap token, and show me the difference between them?

[2021-09-10 02:50] rambohe-ch commented on #460
@adamzhoul Because `PodManifestPath` will be used by kubelet component, so i think that `PodManifestPath` should be managed by `kubelet` instead of yurtctl. if yurtctl create new dir for `PodManifestPath` that kubelet does not use it, the new manifest dir can not work for static pod.

by the way, @Peeknut Do you have any comments for this feature request?

[2021-09-10 02:54] rambohe-ch commented on #461
@adamzhoul Thanks for raising issue. I think that `--tunnelserver-addr` is used by `yurt-tunnel-agent` component, but `yurt-tunnel-agent` will get address of `yurt-tunnel-server` when startup, user do not need to configure the address for tunnel-agent. so it's not need to add the `--tunnelserver-addr` parameter for yurtctl.

[2021-09-10 03:16] rambohe-ch commented on #358
@adamzhoul
1. Kube-proxy and other addons are recommended to use `ServiceAccount` to auth kube-apiserver, and user usually bind `RBAC` rights to `ServiceAccount` beforehand.
2. Support kube-proxy or addons access kube-apiserver through yurthub, we need to solve the following items:
      - `KUBERNETES_SERVICE_HOST` and `KUBERNETES_SERVICE_PORT` env should be configured as yurthub serve address. yo

[2021-09-10 03:17] adamzhoul commented on #461
thanks @rambohe-ch

As I mentioned here:

However, node Ip is unreachable. When we edge node and cloud node are isolated networks.

the IP I get is node IP, which is unreachable.
so, My advice, for now, is to pass an IP that can be reached from an isolated network.

And this is only for discussion, to solve the isolated network situation.
Another better solution is very welcome.

[2021-09-10 03:18] rambohe-ch commented on #462
@adamzhoul Welcome you to apply OpenYurt community member. you can add me as sponsor and apply example is here: https://github.com/openyurtio/community/issues/23

[2021-09-10 03:20] rambohe-ch commented on #462
@adamzhoul `Yurt-tunnel-server` support dns mode to forward traffic from kube-apiserver to edge kubelet.

@DrmagicE Would you can give more detail configuration of yurt-tunnel-server to support dns mode.

[2021-09-10 03:23] adamzhoul commented on #462
simplify my problem is :
  if `Yurt-tunnel-server` is not deployed on the same node as the apiServer
  Whatever iptables operation it does,  can't affect apiServer outbound traffic.

isn't that?

[2021-09-10 03:25] rambohe-ch commented on #410
@joker-joker-joker Very appreciate you for taking over this feature.

/assign @joker-joker-joker

[2021-09-10 03:31] rambohe-ch commented on #461
@adamzhoul Thanks for your feedback.

Now, I have understood your scenario, and `yurt-tunnel-agent` can support configure `tunnel-server` address, It's reasonable to add an `--tunnelserver-addr` parameter for `yurtctl` for configuring address.

[2021-09-10 03:37] rambohe-ch commented on #462
@adamzhoul Thanks for your feedback.
1. Iptables mode is not suitable for this scenario.
2. we need to configure kube-apiserver(----kubelet-preferred-address-types) to use `nodeName:Port` to access edge nodes, so dns resolution will be triggered.
3. and yurt-tunnel-server support dns mode for resolve `nodeName` to the address of yurt-tunnel-server. so the kube-apiserver outbound traffic will be fo

[2021-09-10 03:41] adamzhoul commented on #358
thanks @rambohe-ch
this solved my questions.

after some dig into kubelet code, supply some detail.

1. after config in-cluster mode, client-go use env to connect apiServer

2. env is injected by kubelet

3. kubelet get svc from yurtHub (redirect by update kubelet config )

4. yurtHub add `masterServiceFilter ` to return 127.0.0.1 as  svc `kubernetes` IP

5. finally , kube-proxy pod get  `kubernet

[2021-09-10 03:46] rambohe-ch commented on #358
@DrmagicE @adamzhoul How about configure the default value of `--access-server-through-hub` to true? so pods on edge nodes will be able to access kube-apiserver without any awareness of cloud-edge difference.

[2021-09-10 04:50] DrmagicE commented on #358
@rambohe-ch I agree, and maybe we can define some pod annotations to determine whether the pod's traffic should be forwarded by yurthub in the future?

[2021-09-10 05:20] adamzhoul commented on #358
@rambohe-ch  I agree too.

1. from the Architecture picture, it tells us  kube-proxy's traffic  goes to yurtHub
2. from the description below, it implies the same

![image](https://user-images.githubusercontent.com/7430439/132803389-fd5d30c3-d426-46d8-ab9f-9205b6bd9719.png)

[2021-09-10 07:16] adamzhoul commented on #462
hi @rambohe-ch

 search k8s code found. here:

![image](https://user-images.githubusercontent.com/7430439/132812701-e6bc3afd-701e-4819-9414-0ecc63922965.png)

I assume you mean type:  `Hostname`
and, try to figure out the workflow.

## apiServer part

1. configure kube-apiserver  --kubelet-preferred-address-types=Hostname

2.  apiServer try to call kubelet, find kublete node ip by func : GetPrefer

[2021-09-10 07:16] adamzhoul commented on #461
great. I can work on this. @rambohe-ch

[2021-09-10 07:23] rambohe-ch commented on #462
--> I'm sorry we do not have tutorial at present, about coredns setting you can reference this pull request: https://github.com/openyurtio/openyurt/pull/270

By the way, i have raised an issue that look for help for a tutorial about yurt-tunnel-server dns mode: https://github.com/openyurtio/openyurt/issues/417, if you have interested in it, you can take over this issue.

--> Both iptables mode and

[2021-09-10 07:24] rambohe-ch commented on #461
/assign @adamzhoul

[2021-09-10 07:32] adamzhoul commented on #460
@rambohe-ch  yes you are right, it's should not be yurtctl's responsbility.

But, what to do with the bad experience ?  well, I encountered this.

follow the logic,  yurtctl should get static path from kubelet config  instead of --params.

1. if the user passes the right dir. but dir does not exist, they have to create it themself, and they will.
2. if the user passes the wrong dir.
    2.1 if the

[2021-09-10 07:50] adamzhoul commented on #462
@rambohe-ch  thanks for answering.

I can try to help with the DNS mod doc once figure out each part of the DNS mode.

[2021-09-10 07:57] rambohe-ch commented on #462
@adamzhoul Welcome you to apply OpenYurt community member,  here is an example: https://github.com/openyurtio/community/issues/23

[2021-09-10 08:04] DrmagicE commented on #462
@adamzhoul Hi, here is my experience on setting yurt-tunnel DNS mode, it may not be the best practice, but it works for me.
1. Use nodepool to separate cloud node and edge node. (This is for service topology)
2. Deploy Yurthub manually on the cloud-side and also configure the kubelet to connect to Yurthub.
3. Use daemonset  to deploy coredns.
4. Edit kube-proxy configmap, and re-deploy kube-proxy

[2021-09-10 08:08] adamzhoul commented on #462
thanks  @DrmagicE it helps a lot.

You need to manually config CoreDNS to use it according to the steps like the following:

 check the pr. so we do have to manually config to volume config to coreDNS.

 and, the final target is to make all this automatic, no manual config, right?

[2021-09-10 08:14] adamzhoul commented on #462
thanks. working on it.

[2021-09-10 08:36] Peeknut commented on #460
Yes, maybe yurtctl get static path from kubelet config is better. As different nodes maybe has different kubelet staticPodPath, this cannot be handled by passing in parameters.
And after yurtctl get the staticPodPath, it can be created if it does not exist.

[2021-09-10 08:36] Peeknut commented on #460
By the way, would you want to take over this issue and fix it?

[2021-09-10 08:44] adamzhoul commented on #460
sure.

[2021-09-10 10:35] adamzhoul commented on #460
/assign @adamzhoul

[2021-09-11 08:35] ke-jobs commented on #410
After I modify the code, if I pass the `make e2e` , does it mean that there is no problem with my modification?

[2021-09-11 08:36] ke-jobs commented on #410
/assign

[2021-09-11 08:48] ke-jobs commented on #410
https://github.com/khalid-jobs/openyurt/blob/master/docs/tutorial/yurt-e2e-test.md

[2021-09-12 01:48] ghost opened #467 "[Question] Develop Guide Help"
What is the development testing process for openyurt? As a new developer, I'm not sure how I should test it quickly after I've modified the code for openyurt. Of course I can test by replacing the image in the openyurt cluster, but that's too slow. Does openyurt have scripts that similar to kubeedge [local-up-kubeedge.sh](https://github.com/kubeedge/kubeedge/blob/master/hack/local-up-kubeedge.sh)

[2021-09-12 08:58] rambohe-ch commented on #467
@ke-jobs Thank you for raising this issue.
At present, OpenYurt has some [e2e test cases](https://github.com/openyurtio/openyurt/blob/master/test/e2e/e2e.go) but it's not enough, and have not integrated with github action. Would you have interested in taking over this problem and fix it?

[2021-09-12 09:04] rambohe-ch commented on #410
@ke-jobs Now we need to prepare a openyurt cluster and check the logs of openyurt components(like yurthub or yurt-tunnel) to check that components work normally or not.

now github actions for OpenYurt only check `go test` and `go imports` and `go. build`, it's not enough. we need to append some github action for e2e. would you like to take over this action?

[2021-09-13 03:26] ke-jobs commented on #467
https://github.com/openyurtio/openyurt/issues/410

[2021-09-13 03:29] ke-jobs commented on #467
I'm a new openyurt developer and I'm not familiar with openyurt yet. This work can be done later when I am familiar with it. Or by someone else who is already familiar with the project.

[2021-09-13 14:10] Congrool commented on #467
I'd like to intergrate e2e tests with github action.

[2021-09-13 14:10] Congrool commented on #467
/assign

[2021-09-14 03:32] rambohe-ch commented on #467
/assign @Congrool

[2021-09-14 07:47] #136 closed

[2021-09-16 07:55] DrmagicE opened #476 "[feature request] Add command-line option for YurtHub to disable local cache and GC"
**What would you like to be added**:
Add command-line option for YurtHub to disable local cache and GC.

**Why is this needed**:
Base on this discussion https://github.com/openyurtio/openyurt/issues/450, the YurtHub should also be deployed on the cloud side.
When deploying on the cloud side, caching apiserver response and the garbage collector is no longer needed, so we should provides an option t

[2021-09-16 08:14] #416 closed

[2021-09-16 08:27] zzguang commented on #476
In case that yurthub may extend other features for edge nodes in future, I think "--working-mode" is more reasonable.

[2021-09-16 08:28] rambohe-ch commented on #476
@DrmagicE It's make sense to me that add a new parameter for yurthub to specify where yurthub is working, edge or cloud.
--working-mode=cloud/edge (default value: edge) <-- agree +1

[2021-09-16 08:30] rambohe-ch commented on #476
By the way, besides gc and cache feature, other features like `discardcloudservice` filter, some `request handler` of yurthub can also be disabled. so `--work-mode` mode maybe more reasonable.

[2021-09-16 08:37] DrmagicE commented on #476
@rambohe-ch @zzguang Thanks for your advice. I think "--working-mode" is better. I will take over this issue.

[2021-09-16 08:37] DrmagicE commented on #476
/assign @DrmagicE

[2021-09-17 08:54] #410 closed

[2021-09-17 08:56] #460 closed

[2021-09-17 09:02] rambohe-ch opened #478 "[feature request]add hack script to check license header for newly created files."
**What would you like to be added**:
1. add hack script to check newly created files that license header missed or not.
2. revise github actions to include this hack script.

**Why is this needed**:
Based on the hack script and github action, license header of newly created files in pull requests can be checked automatically and improve review efficiency.

**others**
/kind feature

[2021-09-17 09:05] rambohe-ch commented on #467
@Congrool Would you like to apply OpenYurt community member? you can add me as sponsor and here is an apply example: https://github.com/openyurtio/community/issues/25

[2021-09-17 10:36] Congrool commented on #467
@rambohe-ch Thanks for your invitation.
I'd like to apply for the membership after finishing this work.

[2021-09-17 11:44] rambohe-ch commented on #467
@Congrool ok, looking forward to completing this feature.

[2021-09-17 13:01] zilin00 opened #480 "Openyurt is an Alibaba project or a CFCF Sandbox project ？"
I personally remember openyurt as a CNCF Sandbox project, but it contains too many Alibaba elements, such as **3434 aliyun keywords**...

![image](https://user-images.githubusercontent.com/90911101/133785097-3315e438-372b-48b9-849a-32276bcc1c19.png)

**How could this be a CNCF Sandbox project? ? ?**

@caniszczyk @amye @lizrice @JustinCappos @dankohn @edsiper

[2021-09-17 13:39] rambohe-ch commented on #480
@zilin00 Thank you for raising issue, but i think it's just a kidding.

1. maybe you are not a golang developer,  `aliyun golang sdk` has been imported in OpenYurt, so you can get so many results by searching `aliyun` keyword in your local vendor directory(which are not in OpenYurt upstream project). btw: if you have interest, you can also search many other company names as keywords in OpenYurt.

[2021-09-17 14:46] liangyuanpeng commented on #480
I juse do the same thing in kubernetes,Amazing...

![image](https://user-images.githubusercontent.com/28711504/133802618-4eea845d-8138-415d-ba35-00bbfb4dfd91.png)

[2021-09-18 01:44] ke-jobs commented on #419
I would like to take over this.

[2021-09-18 01:44] ke-jobs commented on #419
/assign

[2021-09-18 01:49] ke-jobs opened #481 "[feature request] Add a script to startup openyurt cluster in single machine"
**What would you like to be added**:
 Add a script to startup openyurt cluster in a single machine.

**Why is this needed**:
If we can startup openyurt on one machine (use kind or docker to simulate multiple nodes directly), we can quickly verify our code and do e2e tests.

**others**
/kind feature

[2021-09-18 01:52] ke-jobs commented on #481
I would close this issue, if https://github.com/openyurtio/openyurt/issues/467 would complete this feature.

[2021-09-18 02:03] rambohe-ch commented on #419
/assign @ke-jobs

[2021-09-18 02:08] rambohe-ch commented on #481
@ke-jobs ok, #467 will follow this feature, so we can close this issue.

[2021-09-18 02:23] ke-jobs commented on #481
ok

[2021-09-18 02:23] #481 closed

[2021-09-18 05:24] zilin00 commented on #480
Sorry, it is not helpful to start a war between your two families. I close the issues. However, Opwnyurt still needs to optimize this point, and try to minimize the elements of your own home.

[2021-09-18 05:24] #480 closed

[2021-09-20 03:40] lonelyCZ commented on #478
@rambohe-ch
Hi, I want to try to take this issue.

[2021-09-21 12:18] Congrool opened #484 "[BUG] Cannot setup openyurt with `yurtctl convert --provider kind`"
**What happened**:
Hello, I'd like to deploy the openyurt cluster with yurtctl and kind. It seems that yurtctl supports `kind` with option `--provider kind`. However, when I used the following command, it resulted in error.
[code]

I read the code and [found](https://github.com/openyurtio/openyurt/blob/master/pkg/yurtctl/cmd/convert/convert.go#L221-#L230) that when yurtctl starts, it will read the

[2021-09-21 13:21] rambohe-ch commented on #478
@lonelyCZ Very appreciate for taking over this feature.

/assign @lonelyCZ

[2021-09-21 13:23] rambohe-ch commented on #484
@Peeknut Would you be able to help fix this problem?

[2021-09-21 16:08] Congrool commented on #467
The work is almost finished. Now we are waiting for #484 .

[2021-09-22 01:28] Congrool commented on #484
@adamzhoul , Hello, I find some `10-kubeadm.conf` in my local file system.

[code]

However, none of them looks like the right file.
Maybe I should try the first one ?

[2021-09-22 01:32] adamzhoul opened #485 "[feature request] idempotent when execute yurtctl convert or yurtctl revert"
**What would you like to be added**:

whenever we execute `yurtctl convert` or `yurtctl revert`
no matter how many times we execute (same command)

it shall succeed, has no side effect.

**Why is this needed**:

 reduce user mind pressure when try and execute
 try yurtctl with different params when last is wrong and failed, without execute `yurtctl revert` and delete failed k8s job manually.

**ot

[2021-09-22 01:49] lonelyCZ commented on #478
@rambohe-ch
There are not license header in following file. Do we need to add license header to them?
[code]

[2021-09-22 01:50] adamzhoul opened #486 "[BUG] redundant code"
https://github.com/openyurtio/openyurt/blob/797c43d730a11a6cd9bd491f3d3838917e2a49cb/pkg/yurtctl/cmd/convert/edgenode.go#L275

https://github.com/openyurtio/openyurt/blob/797c43d730a11a6cd9bd491f3d3838917e2a49cb/pkg/yurtctl/cmd/convert/edgenode.go#L282

![image](https://user-images.githubusercontent.com/7430439/134270682-d5ea05c2-81d9-469a-8eb3-4a264aca3cc5.png)

[2021-09-22 01:58] adamzhoul commented on #484
try run yurtctl in kind node
![image](https://user-images.githubusercontent.com/7430439/134271443-be6d6697-ccb3-4301-8ddf-e3dd7c4fbae7.png)

[2021-09-22 02:57] rambohe-ch commented on #485
@adamzhoul Thank you for raising issue.

when user want to convert a native k8s cluster to OpenYurt, `yurtctl convert/revert` is not a cloud native solution. so another solution(add an yurtcluster operator) has been raised by @gnunu and @SataQiu .  you can reference the following issues and docs:

- https://github.com/openyurtio/openyurt/issues/328
- https://github.com/openyurtio/openyurt/issues/4

[2021-09-22 02:58] rambohe-ch commented on #478
@lonelyCZ yes ,and you can make a new pull request to fix these files.

[2021-09-22 03:02] adamzhoul commented on #484
Now we read the podManifests path from kubeadm file.
1. pass podManifests path to the `disable-node` job. (this requires kubeadm exists at local, so this is a problem)
2. pass kubeadm path to the `revert edgenode` job. (this doesn’t require kubeadm to exist at local, so this is not a problem)

in all: this leads to a problem when yurtctl is not in the cluster node.

Solutions:
1. add —podManifests

[2021-09-22 03:04] adamzhoul commented on #485
operator is certainly a better solution.

[2021-09-22 03:04] rambohe-ch commented on #486
@adamzhoul  Thank you for raising issue.
At present, both `yurtctl convert` and `yurtctl revert` are recommended to use for experiencing OpenYurt. and would you be able to add a pull request to fix this duplicated code?

[2021-09-22 03:07] Peeknut commented on #484
Does  10-kubeadm.conf  in dir `/usr/lib/systemd/system/kubelet.service.d/` ?

[2021-09-22 03:09] adamzhoul commented on #486
sure

[2021-09-22 03:12] Congrool commented on #484
@Peeknut There's no `/usr/lib/systemd/system/kubelet.service.d/` as well in my local file system.

[code]

[2021-09-22 03:25] Peeknut commented on #484
Could you show the file `10-kubeadm.conf` content?

[2021-09-22 03:29] adamzhoul opened #488 "[Question] Why not check is-edge-worker==true"
![image](https://user-images.githubusercontent.com/7430439/134278417-999c02b3-bf43-4282-a9d3-b0d82e218c7d.png)

https://github.com/openyurtio/openyurt/blob/797c43d730a11a6cd9bd491f3d3838917e2a49cb/pkg/yurtctl/cmd/convert/edgenode.go#L191

what if labed  "openyurt.io/is-edge-worker：true" ：
[code]

similarity  question at：

https://github.com/openyurtio/openyurt/blob/797c43d730a11a6cd9bd491f3d383891

[2021-09-22 03:35] adamzhoul opened #489 "[feature request] DeployYurthubSetting, not delete when revert"
https://github.com/openyurtio/openyurt/blob/797c43d730a11a6cd9bd491f3d3838917e2a49cb/pkg/yurtctl/cmd/convert/convert.go#L382
`yurtctl convert `: run function DeployYurthubSetting , create `yurt-hub ClusterRole ClusterRoleBinding`

Howevert, `yurtctl revert` won't delete them.

[2021-09-22 03:44] rambohe-ch commented on #488
@Peeknut Do you have any comments?

[2021-09-22 03:47] rambohe-ch commented on #489
@adamzhoul I think it's a miss, and  welcome you to add `DeleteYurthubSetting` in `yurtctl revert`.

[2021-09-22 03:48] Congrool commented on #484
@Peeknut
Well, the content of the file is as following:
[code]
It's the same as the [file](https://github.com/kubernetes-sigs/kind/blob/v0.11.1/images/base/files/etc/systemd/system/kubelet.service.d/10-kubeadm.conf) in the kind repo.

@adamzhoul
I tried to run yurtctl in the kind node.
[code]
It works.
[code]

I think it's better to enable users to run yurtctl locally without exec into kind node w

[2021-09-22 05:02] Peeknut commented on #488
I think if the node has the label  "openyurt.io/is-edge-worker：true", it doesn't need to do the convert, because it's already a yurt node.

[2021-09-22 05:13] adamzhoul commented on #488
got it.
thanks

[2021-09-22 05:13] #488 closed

[2021-09-22 05:18] #485 closed

[2021-09-22 05:23] adamzhoul commented on #489
ok

[2021-09-22 05:27] Peeknut commented on #484
Currently the value of parameter `--provider` (`kind` or `kubeadm` ) has no effect. So if the command `yurtctl convert --cloud-nodes openyurt-e2e-test-control-plane -t --provider kubeadm` can work, so can command `yurtctl convert -t --provider kind --cloud-nodes ${cloudnodes}`.

[2021-09-22 05:29] Peeknut commented on #484
The err msg show `open /var/lib/kubelet/config.yaml: no such file or directory`, but `10-kubeadm.conf` is configured with Environment="KUBELET_CONFIG_ARGS=--config=/var/lib/kubelet/config.yaml", please check whether /var/lib/kubelet/config.yaml really exists.

[2021-09-22 05:34] adamzhoul commented on #484
@Peeknut
I think his true poblem is: yurtctl run in clocal pc not in cluster node.
kubeadm.conf config.yaml  may not exists, and it’s ok they are not.

[2021-09-22 05:35] rambohe-ch commented on #489
/assign @adamzhoul

[2021-09-22 05:39] Congrool commented on #484
@Peeknut Yes. Both `--provider kubeadm` and `--provider kind` can work in the kind node (through `docker exec -it openyurt-e2e-test-control-plane bash`)  while cannot work in the local host (where the kind cluster is running on).

I mean if we can support deploying openyurt without exec into the docker container when we set `--provider kind`.

[2021-09-22 05:50] Peeknut commented on #484
Oo, I got it.
Yes, we can consider supporting this feature.

[2021-09-22 06:04] Peeknut commented on #484
For `disable node-controller` job，consider passing in "kubeadm_conf_path" instead of "pod_manifest_path". Because:
1)It can support the situation yurtctl is not in the cluster node.
2)It is indeed better to obtain the `pod-manifest-path` according to the actual situation of the node instead of uniformly passing in the parameter `pod-manifest-path` in the cloud.

Solution 2 (Using the default value

[2021-09-22 06:19] adamzhoul commented on #484
what do you mean by adding a subcommand？

[2021-09-22 06:21] #486 closed

[2021-09-22 06:37] Peeknut commented on #484
Maybe just like `yurtctl convert controller-plane`, and the `disable node-controller` job can ues it?

[2021-09-22 08:32] #476 closed

[2021-09-22 08:39] adamzhoul commented on #484
Is this means?
 1. remove disable node-controller from yurtctl convert
 2. run yurtctl disable node-controller

I think this may lead to :
1. large size of code update
2. the user has to run two commands to do one convert job.

[2021-09-22 09:17] YRXING commented on #412
I'll take over these two issues.

[2021-09-22 09:18] YRXING commented on #411
I'll take over this issue.

[2021-09-22 09:34] rambohe-ch commented on #412
@YRXING Very appreciate for taking over this issue.

/assign @YRXING

[2021-09-22 09:35] rambohe-ch commented on #411
/assign @YRXING

[2021-09-22 11:02] Peeknut commented on #484
yes, maybe should compare solutions or find other solutions.

[2021-09-23 06:26] adamzhoul commented on #461
hi  @rambohe-ch
 I meet a problem here.

 Background:

    1. Cloud-Network is isolated with Edge-Network
    2. tunnel-agent can't connect to the tunnel-server node directly.
    3. So we apply a public IP and bind it to the master node. (with 6443 port accessible. so visiting APIserver from the edge is ok.)

I want to use `yurtctl convert —tunnelserver-addr ip:port`. so tunnel-agent can visit th

[2021-09-23 06:26] adamzhoul commented on #461
PS:
   this leads to an important question. How do we manage traffics between edge and cloud?

     1. now yurtHub connects to APIServer directly
     2. yurt-tunnel is used for APIServer to connect kubelet… . more like manager traffic control.
     3. what’s the underlay traffic policy? how pod to pod, pod to node, svc, etc. do we need another cni?

[2021-09-23 06:56] rambohe-ch commented on #461
@adamzhoul It's a good question. In my opinion, we need to define the custom nodePort for `x-tunnel-server-svc` service when `x-tunnel-server-svc` is a NodePort service.  of course, we need to define nodePort in the range: 30000~32767:

[code]

so we can open the fixed nodePort on the public IP.

[2021-09-23 06:58] rambohe-ch commented on #461
@adamzhoul At present, yurt-tunnel is used to proxy monitoring traffic like `kubectl logs/exec` or `prometheus` pull metrics at edge.

[2021-09-23 07:08] #478 closed

[2021-09-23 07:52] adamzhoul commented on #461
using fixed nodePort is great.

besides:
I read the data-filtering-framework proposal. It’s a great idea that considers yurthub as a sidecar.
so comes with some points:

    1. use yurthub to redirect traffic to the right IP and port in the future?
    2. if yurthub is a sidecar, we say data plane. Then, we can create a control plane, to control it.
         like how to redirect IP ? how to filter

[2021-09-23 08:28] rambohe-ch commented on #461
@adamzhoul It's a good idea to add control plane for node sidecar, maybe we can discuss these issues at the OpenYurt community meeting.

[2021-09-24 02:20] #489 closed

[2021-09-24 13:43] #420 closed

[2021-09-25 14:29] SataQiu opened #497 "[feature request] tunnel agent supports proxy application requests from edge to cloud"
**What would you like to be added**:
Tunnel agent supports proxy application requests from edge to the cloud.

**Why is this needed**:
Currently, the openyurt tunnel component can only proxy the requests to access edge nodes from cloud nodes.
Applications on edge nodes can access cloud services only through public IP and port, and this increases the complexity of network configuration in edge comp

[2021-09-26 03:10] adamzhoul commented on #484
for now, solution 3 can be the quickest way and has a small size code updated.

    config_path=`grep -o -E '\-\-config=.*.yaml' {{.kubeadm_conf_path}} |awk -F'=' '{print  $2}’`
    pod_manifest_path=`grep -o -E 'staticPodPath:\ .*' $config_path|awk '{print $2}'`
    nsenter -t 1 -m -u -n -i -- sed -i 's/--controllers=/--controllers=-nodelifecycle,/g' $pod_manifest_path/kube-controller-manager.yam

[2021-09-26 03:31] rambohe-ch commented on #497
@SataQiu Thank you for raising this issue.
At present, yurt-tunnel is used to proxy monitor traffic for cloud-to-edge, I think this feature that will update yurt-tunnel ability. It's need to discuss this feature at OpenYurt community meeting, and get more feedback from community.

[2021-09-26 03:31] adamzhoul opened #498 "[BUG] Do we miss `create` for ClusterRole yurt-tunnel-server ?"
**What happened**:

[code]

**Anything else we need to know?**:

https://github.com/openyurtio/openyurt/blob/07c340982a286a62cba8f219b3b000803908d46d/cmd/yurt-tunnel-server/app/start.go#L105-L114

https://github.com/openyurtio/openyurt/blob/07c340982a286a62cba8f219b3b000803908d46d/pkg/yurtctl/constants/yurt-tunnel-server-tmpl.go#L20-L36

/kind bug

[2021-09-26 03:35] #461 closed

[2021-09-26 04:12] adamzhoul opened #499 "[feature request] Do we miss delete all resource for yurt-app-manager"
see `DeployYurtAppManager` when `yurtctl convert`
https://github.com/openyurtio/openyurt/blob/c50a8d03158082fd6519f38e266107a9ea2904d9/pkg/yurtctl/util/kubernetes/apply_addons.go#L60

it does:

    1. create CRD:                                  nodepool uniteddeployment
    2. create Role:                                 yurt-app-leader-election-role
    3. create ClusterRole:

[2021-09-26 06:11] rambohe-ch commented on #498
@adamzhoul you are right. we need to add `create` right for yurt-tunnel-server clusterrole.

btw: we delete `create` right careless in this commit: 86d19ca0ebfb53cae9c0cbdb743ddc56e6e5066e

[2021-09-26 06:11] rambohe-ch commented on #498
@adamzhoul Would you like to make a pull request to add `create` right for yurt-tunnel-server?

[2021-09-26 06:24] rambohe-ch commented on #499
@adamzhoul Thank you for raising issue.
In fact, @yanyhui has made a pull request for this feature: https://github.com/openyurtio/openyurt/pull/393, and some errors and comments have been not fixed.

[2021-09-26 06:36] adamzhoul commented on #498
sure

[2021-09-26 06:46] #499 closed

[2021-09-26 06:48] tiezhuoyu opened #501 "[Question] Master node in internal network"
**What happened**:
Hi, we want to deploy master node in an internal network where edge nodes cannot directly access master node.

For example, master node ip w.x.y.z, gate way ip l.m.n.o, edge node ip a.b.c.d. Mapping w.x.y.z:6443 (apiserver port) to l.m.n.o:5555. Later, edge node a.b.c.d will execute with command join l.m.n.o:5555.

![图片](https://user-images.githubusercontent.com/25275281/1347965

[2021-09-26 07:37] rambohe-ch commented on #501
@tiezhuoyu Thank you for raising issue.

The type of tunnel-server service `x-tunnel-server-svc` is NodePort, and the port is fixed as 31008(and you can modify as you want in service template), so you can map one port on gateway to {nodeIP:31008}.

[2021-09-26 08:06] #498 closed

[2021-09-26 08:32] adamzhoul opened #502 "[BUG] Yurt-controller-manager scheduled to edge node leads to yurthub csr approval failed"
**What happened**:

  yurtctl convert failed.
  yurthub pod wait forever.
[code]

the process:

 1.  run ` yurtctl convert `
 2.  label "openyurt.io/is-dege-worker=true" to all cloud-node.  do nothing to edge-node
 3.  deploy yurt-controller-manager deployment. with nodeAffinity "openyurt.io/is-edge-worker" in "false"
 4.  pod scheduled to edge-node      ------------------------> attention  here

[2021-09-26 08:36] #502 closed

[2021-09-26 12:05] Peeknut commented on #484
Yes, this can solve the problem, but maybe using the code form is more elegant than using the linux command.
What do you think？@rambohe-ch

[2021-09-27 02:33] qpzmtyv commented on #300
Orgnization/Company: onecloud
Location: guangzhou, China
Contact: 402191473@qq.com
Purpose/Scenario: Using OpenYurt for managing edge nodes across different idc region and network.

[2021-09-27 03:27] rambohe-ch commented on #484
@adamzhoul @Peeknut  how about define `staticPodPath` as `/etc/kubernetes/manifests`?
the reasons as following:
1. all tools(kubeadm/minikube/kind) use `/etc/kubernetes/manifests` as `staticPodPath`, and users rarely modify these setting.
2. the code will more readable and simpler. we don't need to consider how to get `staticPodPath` from `config.yaml` or pass `staticPodPath` from cloud to edge.
3

[2021-09-27 09:20] adamzhoul commented on #484
Do you mean hard code? Something like：
[code]

I agree with that.

 Only put this into   `before you begin` looks a little strange.

what about creating a link？ manually install is really difficult.
[code]

[2021-09-27 11:33] rambohe-ch commented on #484
@adamzhoul Thank you for your feedback.

yes, use hard code to define `staticPodPath`.

ok, we can also add `soft link for staticPodPath` in `before you begin` of tutorial docs.

[2021-09-27 11:33] rambohe-ch commented on #484
@adamzhoul Would you like to take over and fix this bug?

[2021-09-27 13:07] DrmagicE opened #504 "[feature request] Add ability for `yurtctl` to deploy yurthub in cloud nodes."
**What would you like to be added**:
Add ability for `yurtctl` to deploy yurthub in cloud nodes.

**Why is this needed**:
The working mode feature(which is used to specify where the yurthub is working) has been added to yurthub, but the `yurtctl` command currently will only deploy yurthub on edge nodes.

Besides deploying yurthub on the cloud-side manually, I think we should also add this feature

[2021-09-27 14:27] adamzhoul commented on #484
sure

[2021-09-28 01:58] rambohe-ch commented on #504
@DrmagicE It's a good idea to add this feature for yurtctl. Would you like to take over and solve this feature?

[2021-09-28 06:48] adamzhoul opened #505 "[feature request] set job template imagePullPolicy to Always from IfNotPresent"
**What would you like to be added**:

    imagePullPolicy: Always

now is:
https://github.com/openyurtio/openyurt/blob/095cc4c91d85e05f3dedcfa4ccb6ffd8a7305e93/pkg/yurtctl/constants/constants.go#L269

**Why is this needed**:

the default image is:

     docker.io/openyurt/xxxx:latest

  IfNotPresent leads to never be updated while it should.

**Problem I meet**:

    crictl  images
    docker.io/o

[2021-09-28 07:41] adamzhoul commented on #484
still, I don't think we need to put something in `Before you begin`

1. this dir is hardly changed
2. we only support the cluster installed by minikube, kubeadm, kind. we are only following their config.
3. put this in  `Before you begin` looks like we have some special design while we are not
4. less in `Before you begin` less pressure for beginners.

@rambohe-ch

[2021-09-28 13:01] SataQiu opened #508 "[BUG] You must be logged in to the server (the server has asked for the client to provide credentials"
**What happened**:
When I upgraded OpenYurt to the latest version(v0.5.0), I found that `kubectl logs` could not work properly and the following error occurred:
[code]

**What you expected to happen**:
`kubectl logs` can work well.

**How to reproduce it (as minimally and precisely as possible)**:
Install OpenYurt v0.5.0 in kubernetes 1.20.2.

**Anything else we need to know?**:

**Environment**:

[2021-09-28 13:18] rambohe-ch commented on #508
@SataQiu Thank you for raising issue.
Would you be able to upload logs of yurt-tunnel-agent?

[2021-09-28 13:28] SataQiu commented on #508
tunnel-agent logs:
[code]

[2021-09-28 14:02] DrmagicE commented on #508
Same issue when I try to convert cluster with the `yurtctl convert` command.
tunnel-server logs:
[code]

tunnel-agent logs:
[code]

[2021-09-28 16:26] DrmagicE commented on #508
After some digging, I found this bug is caused by "key usage" missing of the `yurt-tunnel-server` certificate.
The `kubelet` is complaining:
[code]
If I am not wrong, the certificate of `yurt-tunnel-server` will be used to establish TLS connection between `yurt-tunnel-agent` and `kubelet` when executing `kubectl logs/exec`.
The `kubelet` will request client certificate during the handshake,  so I

[2021-09-29 02:25] SataQiu commented on #508
Related PR: https://github.com/openyurtio/openyurt/pull/475

@DrmagicE Can you submit a PR to fix this issue?

[2021-09-29 02:33] rambohe-ch commented on #508
@SataQiu @DrmagicE I'd like to use commit: [6926d2ae319d2b66b906eac4cd5454a9a32015d2](https://github.com/openyurtio/openyurt/pull/509/commits/6926d2ae319d2b66b906eac4cd5454a9a32015d2) to release images of OpenYurt v0.5.0 again in order to make yurt-tunnel work.

[2021-09-29 02:38] DrmagicE commented on #508
@rambohe-ch Yes, I think we should.

[2021-09-29 02:41] #508 closed

[2021-09-29 03:21] SataQiu commented on #497
https://github.com/kubernetes-sigs/apiserver-network-proxy/issues/171

[2021-09-29 05:46] rambohe-ch commented on #508
@DrmagicE @SataQiu OpenYurt v0.5.0 images have been updated based on commit: 6926d2ae319d2b66b906eac4cd5454a9a32015d2

[2021-09-29 06:00] rambohe-ch commented on #505
@adamzhoul Thank you for raising issue.
The reason of `imagePullPolicy=IfNotPresent` is: pods on edge nodes can restart successfully when edge nodes can not connect public network. If user wants to use latest images , it's recommended to pull images manually.

[2021-09-29 06:04] rambohe-ch commented on #447
@zf930530 OpenYurt v0.5.0 has been released, and pods on edge nodes can access kube-apiserver through yurthub defaultly.

so we will close this issue.

[2021-09-29 06:08] rambohe-ch commented on #484
@adamzhoul how about add some introduction in troubleshooting tutorial? https://github.com/openyurtio/openyurt/blob/master/docs/tutorial/yurtctl.md#troubleshooting

[2021-09-29 09:13] adamzhoul commented on #484
good idea

[2021-09-29 09:27] adamzhoul commented on #505
@rambohe-ch  thanks for the reply.

[2021-09-29 09:27] #505 closed

[2021-09-30 05:23] Congrool opened #511 "[BUG]Avoid using different version of yurt-tunnel-agent and yurt-tunnel-server, when deploying with yurtctl"
When deploying yurt-tunnel with yurtctl, we will set `imagePullPolicy: IfNotPresent` for [yurt-tunnel-agent](https://github.com/openyurtio/openyurt/blob/master/pkg/yurtctl/constants/yurt-tunnel-agent-tmpl.go#L49) and `imagePullPolicy: Always` for [yurt-tunnel-server](https://github.com/openyurtio/openyurt/blob/master/pkg/yurtctl/constants/yurt-tunnel-server-tmpl.go#201). It possibly makes users us

[2021-09-30 06:17] rambohe-ch commented on #511
@Congrool Thank you for raising issue.
As i have replied in this issue: https://github.com/openyurtio/openyurt/issues/505, we need to set `imagePullPolicy` to `IfNotPresent` for yurt-tunnel-agent pod restart on edge nodes. and keep  `imagePullPolicy` of yurt-tunnel-agent as the same as yurt-tunnel-agent maybe make sense.  so i agree with this issue.

[2021-09-30 07:27] DrmagicE commented on #504
I would like to add `yurtctl convert cloudnodes` sub command to `yurtctl`. This command basically do the same thing as `yurtctl convert edgenodes` do.  The only difference is that `yurtctl convert cloudnodes`  will set `--working-mode=cloud` to yurthub.  What do you think? @rambohe-ch

[2021-09-30 07:38] rambohe-ch commented on #504
@DrmagicE agree +1

[2021-09-30 08:53] #511 closed

[2021-09-30 14:51] #467 closed

[2021-10-10 08:39] #484 closed

[2021-10-12 03:35] SataQiu opened #515 "[Question] What is the DNS best practice in the OpenYurt edge cluster?"
At present, we have a variety of DNS resolution implementations:

1. Deploy CoreDNS DaemonSet with hostnetwork，and then configure the Kubelet flag `--cluster-dns=127.0.0.1`

![image](https://user-images.githubusercontent.com/9354727/136885835-f3c7934a-bbbe-4257-8a5f-341ea8e16796.png)

2. Deploy CoreDNS DaemonSet and YurtHub on all the cluster nodes, then enable CoreDNS service topology awareness b

[2021-10-12 07:54] rambohe-ch commented on #515
@SataQiu Thank you for raising issue.

I think we can follow the best practice of CoreDNS community. CoreDNS is the up dns for nodeLocalDNS, and nodeLocalDNS is a daemon app for every node.
And in OpenYurt edge cluster, we can use YurtAppDaemon(plan to release in v0.6.0 @kadisi ) to deploy CoreDNS from NodePool level, and use DaemonSet to deploy nodeLocalDNS.

so, yurthub maybe need to deploy on b

[2021-10-12 08:02] rambohe-ch commented on #425
/assign @adamzhoul

[2021-10-14 05:54] lwmqwer opened #521 "images should support multiarch"
When I user yurtctl convert  cluster which has edgex node is arm64.
The kube-proxy is replace to registry.aliyuncs.com/k8sxio/kube-proxy:v1.18.10
And this is not multiarch support, the proxy is crash.

[2021-10-14 07:01] rambohe-ch commented on #521
@lwmqwer Thank you for raising issue.
OpenYurt components support multiarch, and kube-proxy is k8s core component, maybe you need to find arm64 image from k8s community or other cloud providers(like registry.cn-hangzhou.aliyuncs.com/acs/kube-proxy:v1.18.8-aliyun.1)

[2021-10-14 10:38] tiezhuoyu opened #522 "[Question] How to proxy requests from cloud to pod (not hostNetwork) on edge?"
**What happened**:
Hi, i want to know if it is possible to proxy requests from cloud to pods (not hostNetwork mod) on edge? I found issue [issue#138](https://github.com/openyurtio/openyurt/issues/138), but it works on hostNetwork mod.

Thanks!

**What you expected to happen**:
For example, pod1(192.168.0.5) on cloud node, and pod2(192.168.4.5) on edge node.
If it is possible pod1 send reqeust like

[2021-10-15 04:55] DrmagicE commented on #515
I think deploying apps is beyond the scope of `nodepool` controller, which should focus on managing node topology but not the applications on nodes. Any `nodepool` awareness application can be managed in the upper layer, by `YurtAppDaemon`, helm or other dedicated operators.  To deploy CoreDNS deployment, I think `YurtAppDaemon` is good enough.

[2021-10-15 11:03] SataQiu opened #524 "[BUG] yurthub and yurttunnel cannot start because they cannot obtain the certificates"
**What happened**:
The `yurthub` and `yurttunnel` cannot start because they cannot obtain the certificates.

Logs of `YurtHub`:
[code]

Logs of `YurtTunnelServer`:
[code]

**What you expected to happen**:
The `yurthub` and `yurttunnel` can run well.

**How to reproduce it (as minimally and precisely as possible)**:
Install `YurtHub` and `YurtTunnel` (v0.5.0) on kubernetes 1.20.

**Anything else we

[2021-10-15 11:13] #524 closed

[2021-10-16 15:57] rambohe-ch commented on #522
@tiezhuoyu Thank you for raising this issue.
Proxy request from cloud to edge pods(not hostnetwork) is not supported at present as @DrmagicE has replied. and Would you be able to describe the detail scenario about this requirement?

[2021-10-17 08:17] zzguang commented on #515
The key point is whether we treat CoreDNS as an ordinary user app.
IMHO, CoreDNS/ingress controller are system components and their requirements are somehow different with the end user apps. Take ingress controller as an example, it requires to deploy an ingress controller deployment and a service for a nodepool, besides, in order to support validating admission webhook, it also requires to deploy

[2021-10-17 08:19] DrmagicE commented on #522
@rambohe-ch Yes, I'll try it.

[2021-10-18 02:14] rambohe-ch commented on #515
@Fei-Guo Do you have any comments about above discussions?

[2021-10-18 07:51] SataQiu opened #526 "[feature request] TunnelServer should remove the iptables rules created by it when it shuts down"
**What would you like to be added**:
TunnelServer should remove the iptables rules created by it when it shuts down.

**Why is this needed**:
The wrong iptables rules which route to a nonexistent address may cause network problems.
The `node-cache` does similar things by `TeardownNetworking`:
https://github.com/kubernetes/dns/blob/28b748057b41e2fb4b1872138f43957f265a59a3/cmd/node-cache/app/cache_a

[2021-10-19 02:50] Congrool commented on #526
Hi, could I take on this work?

[2021-10-19 03:04] rambohe-ch commented on #526
@SataQiu @Congrool Yurt-tunnel iptables cleanup looks like ready. you can dive into code here: https://github.com/openyurtio/openyurt/blob/master/pkg/yurttunnel/iptables/iptables.go#L161-L177

@Congrool you can add the cleanup routine for yurthub or extract the common routine for yurthub and yurt-tunnel.

[2021-10-19 03:13] Congrool commented on #526
@rambohe-ch Hi, It seems that yurt-tunnel will clean up iptables when it normally stops. Maybe we should catch the EXIT signal and set the signal handler to cleanup iptables when the yurt-tunnel terminates unexpectedly.
We can see the node-cache code [here](https://github.com/kubernetes/dns/blob/28b748057b41e2fb4b1872138f43957f265a59a3/cmd/node-cache/main.go#L53-L55).

[2021-10-19 03:31] rambohe-ch commented on #526
@Congrool It's a good idea to catch EXIT signal.

[2021-10-20 02:21] rambohe-ch commented on #515
@Fei-Guo @gnunu @kadisi
1. `YurtAppDaemon` should be focus on NodePool level workload, in spite of system components or pure application workloads.
2.  Workloads of system components(like ingress-controller) can be deployed by `YurtAppDaemon`, but configuration(like webhooks) can not be included in `YurtAppDaemon`, so we need to add an operator(include YurtAppDaemon and webhooks) to deploy some co

[2021-10-20 13:20] DrmagicE opened #527 "[Discussion] Extend the capabilities of YurtTunnel to forward not only O&M and monitoring traffic from cloud to edge"
The YurtTunnel was originally designed to deal with the challenges of O&M and monitoring traffic in edge scenarios.
In this context, YurtTunnel can :
1. handle the traffic to kubelet (to port 10250) on edge nodes through the tunnel by default ;
2. and handle the traffic to `hostNetwork` pod and `localhost` on edge nodes with a little configuration.

By these two fundamental features, users can exe

[2021-10-21 07:36] rambohe-ch commented on #527
@tiezhuoyu You have mentioned that proxy request from cloud to edge through yurt-tunnel in issue: https://github.com/openyurtio/openyurt/issues/522. Do you have any comments about these two features? and these features can satisfy your requirements?

[2021-10-21 08:27] DrmagicE commented on #527
Yes, and I believe this is a common issue in YurtTunnel DNAT mode. If the client is using IP to connect to the edge, it cannot take advantage of DNS.

[2021-10-21 09:00] rambohe-ch commented on #527
@DrmagicE Ok, I got it. maybe end user need to accept this constraint at the beginning.

[2021-10-21 09:54] tiezhuoyu commented on #527
with pod IP, and the request as follow:
![image](https://user-images.githubusercontent.com/25275281/138254340-2ef49e4e-f012-4cf9-9ff2-e693e520cd75.png)

[2021-10-21 10:29] DrmagicE commented on #527
In edge scenario, the edge node may not be accessible through the public network. For example, the edge node is a laptop in your room, a traffic light on the road, etc.
It is reasonable to have a central application which often deployed in the cloud and need to request the services on the edge, by service name or by pod IP.

If the YurtTunnel can satisfy this kind of requirement, the users will no

[2021-10-24 03:47] Congrool opened #531 "[BUG] yurtctl revert should delete cm `yurt-tunnel-nodes`"
**What happened**:
When using `yurtctl revert` to revert the yurt cluster back to a kubernetes cluster, it seems that it will not delete the configmap `yurt-tunnel-nodes` which is used by yurt-tunnel to resolve dns.
We can find the configmap `yurt-tunnel-nodes` after reversion.
[code]

**What you expected to happen**:
yurtctl should delete `yurt-tunnel-nodes` when yurt-tunnel has been deployed thr

[2021-10-28 10:29] SataQiu opened #535 "[BUG] yurt-tunnel v0.5.0: x509 certificate is invalid"
**What happened**:
The command executed:
[code]

The tunnel server logs:
[code]

The tunnel agent logs:
[code]

**What you expected to happen**:

`kubectl logs` can work well through yurt-tunnel.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- OpenYurt version: v0.5.0
- Kubernetes version (use `kubectl version`): v1.20.4
-

[2021-10-29 06:41] SataQiu opened #537 "[feature request] How about using emptyDir volume to store certificate files instead of hostPath for tunnel server/agent?"
**What would you like to be added**:
Currently, the certificate files of the tunnel server/ agent are stored on the host by `hostPath` volume.
When we want to regenerate these certificates, we must manually clear the files on all the machines.
If we use `emptyDir` volume, this volume will also be rebuilt when we recreate the Pod.
And the certificate files will have the same life cycle as Pod, they

[2021-10-30 06:53] DrmagicE opened #539 "[Question] How about setup a DNAT rule in edge node to forward traffic from kubelet to yurthub"
In order to tell the `kubelet` to talk to `yurthub` instead of the genuine `kube-apiserver`, we have to manually modify the configuration of the `kubelet`.

How about we setup a DNAT rule in the edge node to forward the traffic automatically?

For example, we can treat `yurthub` as a node agent, once the `yurthub` is deployed, it will setup a DNAT rule to redirect apiserver_address:6443 to 127.0.0

[2021-10-30 13:03] DrmagicE commented on #539
Oh, I miss that the yurthub also use apiserver_address:6443 to connect apiserver.

[2021-10-30 13:03] #539 closed

[2021-11-01 15:28] adamzhoul opened #544 "[feature request] add disable-node-controller/enable-node-controller to module node-servant"
now the `node-servant` module has supported convert/revert node.

to complete the convert/revert job.
disable-node-controller/enable-node-controller is required since it's only sed op to update static YAML on a specific node.

it's a job after https://github.com/openyurtio/openyurt/pull/516
/help

[2021-11-01 15:34] adamzhoul commented on #544
since it's only sed
add to node-servant/job.go  、 node-servant/constant.go maybe enough.

[2021-11-01 15:40] adamzhoul opened #545 "[feature request] yurtctl join use node-servant to finish some job"
it's a job after https://github.com/openyurtio/openyurt/pull/516

in `yurtctl join`, what it does to the node itself is included in the `node-servant`
so we should remove that part of the code and use `node-servant` package instead

/help

[2021-11-01 15:41] adamzhoul commented on #544
/help

[2021-11-01 15:45] adamzhoul opened #546 "[feature request] yurtctl convert use node-servant in dispatch job"
it is a job after https://github.com/openyurtio/openyurt/pull/516

`yurtctl convert` should use `node-servant` now and replace the code.

/help

[2021-11-01 15:46] adamzhoul opened #547 "[feature request] yurtctl revert use node-servant in dispatch job"
it is a job after https://github.com/openyurtio/openyurt/pull/516

`yurtctl revert` should use `node-servant` now and replace the code.

/help

[2021-11-02 03:19] rambohe-ch opened #548 "[feature request] Remove k8s.io/kubernetes dependency for yurt-tunnel"
**What would you like to be added**:
Yurt-tunnel have imported `k8s.io/kubernetes` as following:
[code]

 and based on Issue #453, we need to remove k8s.io/kubernetes dependency.

**Why is this needed**:
From kubernetes introduction: https://github.com/kubernetes/kubernetes#to-start-using-k8s

**others**
/kind feature

[2021-11-02 03:23] rambohe-ch opened #549 "[feature request]Remove k8s.io/kubernetes dependency for yurt-controller-manager"
**What would you like to be added**:
Yurt-controller-manager have imported k8s.io/kubernetes, you can search `k8s.io/kubernetes` in `cmd/yurt-controller-manager` and `pkg/controller` directory. and based on Issue #453, we need to remove k8s.io/kubernetes dependency.

**Why is this needed**:
From kubernetes introduction: https://github.com/kubernetes/kubernetes#to-start-using-k8s

**others**
/kind

[2021-11-02 03:25] hzliangbin commented on #549
/assign

[2021-11-02 03:25] rambohe-ch opened #550 "[feature request]Remove k8s.io/kubernetes dependency for yurtctl"
**What would you like to be added**:
Yurtctl have imported k8s.io/kubernetes, you can search `k8s.io/kubernetes` in `pkg/yurtctl` directory. and based on Issue #453, we need to remove k8s.io/kubernetes dependency.

**Why is this needed**:
From kubernetes introduction: https://github.com/kubernetes/kubernetes#to-start-using-k8s

**others**
/kind feature

[2021-11-02 03:28] rambohe-ch opened #551 "[feature request]Remove k8s.io/kubernetes dependency for e2e"
**What would you like to be added**:
e2e have imported k8s.io/kubernetes, you can search `k8s.io/kubernetes` in `test/e2e` directory. and based on Issue #453, we need to remove k8s.io/kubernetes dependency.

**Why is this needed**:
From kubernetes introduction: https://github.com/kubernetes/kubernetes#to-start-using-k8s

**others**
/kind feature

[2021-11-02 03:30] #531 closed

[2021-11-02 03:39] villanel commented on #550
/assign

[2021-11-02 07:00] hzliangbin commented on #549
@rambohe-ch hi, what should I do is to  replace k8s.io/kubernetes with [dependencies listed here](https://github.com/kubernetes/kubernetes/blob/master/staging/README.md) .  right?

[2021-11-02 09:04] rambohe-ch commented on #549
@hzliangbin yes, we can use `k8s.io/kube-controller-manager` directly for `yurt-controller-manager`.

[2021-11-03 14:20] adamzhoul commented on #545
/assign @adamzhoul

[2021-11-03 14:21] adamzhoul commented on #545
/assign @adamzhoul

[2021-11-04 06:10] zyjhtangtang commented on #545
`yurtctl join` uses `yurt-hub` to generate node certificates, and does not include the logic of `node-servant`. If `node-servant` is introduced, the `yurtctl join` process will become complicated. Therefore, I don’t think it is necessary to introduce `node-servant` in `yurtctl join`.

[2021-11-04 06:34] adamzhoul commented on #545
thanks for pointing this out @zyjhtangtang
I start to read this part of the code recently.

the core thought is,  any operating directly to nodes like `revise kubelet` or `install yurthub` can use node-servant.
maybe by import pkg.
other controller logic parts can remain unchanged.

[2021-11-04 07:17] JcJinChen commented on #548
/assign

[2021-11-04 07:32] zyjhtangtang commented on #545
Oh, `yurtctl join` has the logic to `install yurthub`, this can use `node servant`.  But, the configuration of `kubelet` is written directly and does not need to be revised. @adamzhoul

[2021-11-04 07:54] adamzhoul commented on #545
by the way, this may introduce a special case:

    node  operated by  `yurtctl convert` can retrieve by ` yurtctl revert`
    node  operated by  `yurtctl join` can retrieve by `yurtctl reset`

in all, both `convert` and `join` will create an openyurt kind node.
but their creation may be different.

[2021-11-04 10:18] zyjhtangtang commented on #545
Are the configuration parameters of `kubelet` different? @adamzhoul

[2021-11-04 10:47] adamzhoul commented on #545
Here is now what they do to kubelet：

yurtctl convert

1.  create `kubeconfig` file  with full path:  /var/lib/openyurt/kubelet.conf
2.  backup `KubeadmConfPath` conf file:  `cp 10-kubeadm.conf 10-kubeadm.conf.bk`
3.  update `10-kubeadm.conf`, set --kubeconfig=/var/lib/openyurt/kubelet.conf

node-servant

1.  create `kubeconfig` file  with full path:  /var/lib/openyurt/kubelet.conf
2.  append file

[2021-11-04 11:18] adamzhoul commented on #545
forget to mention, all kubelet.conf is no different.

all leads traffic to 127.0.0.1

[2021-11-05 01:17] rambohe-ch commented on #548
/assign @JcJinChen

[2021-11-05 02:23] zyjhtangtang commented on #545
It is necessary to unify the configuration of the three subcommands. This can provide a better user experience. Thanks @adamzhoul

[2021-11-05 02:57] #392 closed

[2021-11-05 05:18] #462 closed

[2021-11-05 05:20] adamzhoul commented on #545
this may introduce a lot of code update to `yurtctl join`
so you should notice @zyjhtangtang

[2021-11-05 08:35] yanyhui opened #557 "When yurtctl revert executes yurtappmanager to delete automatically, no crd resource error is reported."
**What happened**:
If yurtappmanager is not deployed and yurtctl revert is executed, a notfound error will be reported when yurtappmanager is deleted.
**What you expected to happen**:

A not found error occurred
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- OpenYurt version:
- Kubernetes version (use `kubectl version`):
-

[2021-11-05 09:45] zyjhtangtang commented on #545
ok, I will pay attention

[2021-11-06 02:46] rambohe-ch commented on #557
@yanyhui Would you be able to take over and fix this bug?

[2021-11-06 10:01] joez opened #561 "[BUG] failed to setup yurt-tunnel between edge node in home and cloud node in CSP"
**What happened**:

Failed to setup yurt-tunnel between edge node (giada-box-n1) in home and cloud node (xxxxxxxxx) in CSP

[code]

**What you expected to happen**:

yurt-tunnel setup correctly, so `kubectl logs` works

**How to reproduce it (as minimally and precisely as possible)**:

* Setup an OpenYurt cluster in the cloud
  * Deploy yurt-tunnel manually following the [instructions](https://git

[2021-11-07 07:30] Congrool opened #562 "[feature request] Problems for Kubernetes Conformance"
I ran the kubernetes conformance tests and found some problems need to be solved.
Version Info:
OpenYurt v0.5.0  commit: 754f4c2
Kubernetes v1.20.7

OpenYurt Components Involved:
Yurt-Hub
Yurt-Tunnel
Yurt-Controller-Manager

Test Tool:
sonobuoy v0.52.0

The conformance test results is as follows:
[code]
After figuring out the fail reasons, there are 3 problems need to be solved to pass the kuberne

[2021-11-08 02:15] rambohe-ch commented on #562
@Congrool Thank you for raising issue.

The problem maybe have solved by this pr: https://github.com/openyurtio/openyurt/pull/560

Yes, Yurthub does not support websocket at present, Would you like to make yurthub to support websocket?

I think in later version of OpenYurt, we need to enable these two parameters for yurthub: `--access-server-through-hub=true --enable-dummy-if=true`. and the functi

[2021-11-08 02:45] Congrool commented on #562
@rambohe-ch Thank you for your reply.

I'd like to take over this work.

[2021-11-08 02:46] Congrool commented on #562
/assign

[2021-11-08 02:55] JcJinChen commented on #561
@joez hi, according to the reason in your description(the yurt-tunnel-agent is trying to connect yurt-tunnel-server via cloud node's private IP instead of the public IP), I think that you can try to add args in containers, one is  cert-ips=tunnel-server-Public-IP in yurt-tunnel-server, the other is --tunnelserver-addr=tunnel-server-Public-IP:Port in the yurt-tunnel-agent. Hope to solve your proble

[2021-11-09 06:22] #557 closed

[2021-11-09 07:53] yanyhui opened #564 "The import package in the project's go file has the problem of irregular sorting."
The import package in the project's go file has the problem of irregular sorting.The correct order should be go packages, third-party packages, and packages in this warehouse.

[2021-11-09 08:07] #411 closed

[2021-11-09 08:09] rambohe-ch commented on #564
@yanyhui Thank you for raising issue. would you be able to add some official definition of golang import package order?

[2021-11-09 14:02] joez commented on #561
Thanks, @JcJinChen

with following patch, it works ("80.157.41.67" is the public IP of the master node)

[code]

[2021-11-09 15:10] DrmagicE commented on #450
Since the answer is clear now and the related feature has been implemented in https://github.com/openyurtio/openyurt/pull/483 .
I think we can close this issue.

[2021-11-09 15:10] #450 closed

[2021-11-10 01:59] littletiger123 opened #565 "[Question]Timeout when join the node into the openyurt cluster."
**What happened**:
I am a new one to use openyurt. When I use **yurtctl**  to  install the openyurt cluster, I fail to join the node into the master.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Here is the command I used
[code]

Here is the log

[code]

Also, the token is not expired. Here is the commnad a

[2021-11-10 06:16] hhstu opened #566 "[BUG] yurt revert forget clean job of yurtctl-servant-convert"
**What happened**:

find  job of yurtctl-servant-convert exit after yurt revert

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- OpenYurt version:
- Kubernetes version (use `kubectl version`):
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2021-11-10 06:20] hhstu opened #567 "[feature request]CheckServantJobPeriod may be too short"
**What would you like to be added**:

default CheckServantJobPeriod = time.Second * 10

my job Completed whis  2m15s, we can give a param of CheckServantJobPeriod when yurtctl convert
[code]
**Why is this needed**:

**others**
/kind feature

[2021-11-10 06:25] hhstu opened #568 "[BUG] /proc/sys/net/bridge/bridge-nf-call-iptables: no such file or directory with centos7"
**What happened**:
 yurtctl init  ...

err is:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- OpenYurt version:
- Kubernetes version (use `kubectl version`):
- OS (e.g: `cat /etc/os-release`):

[code]
- Kernel (e.g. `uname -a`):
[code]
- Install tools:
- Others:
-

**others**

/ki

[2021-11-10 06:40] hhstu opened #569 "[feature request] yurtctl convert 支持重入"
**What would you like to be added**:

yurtctl convert 支持重入
**Why is this needed**:

按教程走的时候，第一波教程没有部署 yurt-tunnel，再次部署 yurtctl corcer yurt-tunnel时,会爆一些资源存在的错误
[code]

我觉得 资源存在时打个 warn 日志继续往下走会更好一些

**others**
/kind feature

[2021-11-10 06:45] Peeknut commented on #566
Does convert job run successfully? If convert job run successfully, the job will be deleted.

[2021-11-10 06:52] hhstu commented on #566
@Peeknut  I  have know what happend,  see this https://github.com/openyurtio/openyurt/issues/567#issue-1049444727 , timeout

[2021-11-10 06:52] #566 closed

[2021-11-10 09:08] rambohe-ch commented on #567
@hhstu Thank you for raising issue.
Timeout of servant job is defined by `WaitServantJobTimeout = time.Minute * 2` as 2 minutes. I think it's good idea to add a parameter to specify timeout for servant job, plus we can extended fixed 2 minutes to fixed 5 minutes.

@adamzhoul Do you have any comments?

[2021-11-10 09:10] rambohe-ch commented on #568
@hhstu Thank you for raising issue.

@zyjhtangtang would you like to reply this problem?
/assign @zyjhtangtang

[2021-11-10 09:13] rambohe-ch commented on #565
@littletiger123 Thank you for raising issue.

@zyjhtangtang Would you be able to rely this issue?
/assign @zyjhtangtang

[2021-11-10 09:17] rambohe-ch commented on #569
@hhstu Very appreciate for your advice, I think it's convenient for end user when `yurtctl covert` can be idempotent.
Would you like to take over and add this feature for OpenYurt?

[2021-11-10 09:17] rambohe-ch commented on #569
@adamzhoul Do you have any comments?

[2021-11-10 09:22] #564 closed

[2021-11-10 09:34] hhstu opened #571 "[feature request] Discard param system-architecture of yurtctl convert"
**What would you like to be added**:

Discard param system-architecture  of yurtctl  convert

**Why is this needed**:

**others**
/kind feature

[2021-11-10 09:36] moyuduo opened #572 "[k8s cluster convert to openyurt fail]"
**What happened**:
I have a k8s cluster 1 node and 1 slave, when i use `yurtctl  convert  -c master -p kubeadm` and i got some info as follow
[code]

when i use `kubectl get pod -A -o wide |grep master|grep yurt` to check i got:
[code]
It seems not converted k8s to openyurt
I use `yurtctl revert` and retry, but it seem env not cleaned, i got the follow info.
[code]
what can i do?

[2021-11-10 09:40] hhstu commented on #567
please let me do it if need

[2021-11-10 09:46] rambohe-ch commented on #571
@hhstu Thank you for raising issue.
Would you be able to collect the info where `system-architecture` is used, and if `system-architecture` is removed, is it going to affect those places?

[2021-11-10 09:51] rambohe-ch commented on #567
@hhstu Thanks for your feedback. i will assign this issue to you.
/assign @hhstu

[2021-11-10 09:56] adamzhoul commented on #567
it's reasonable to add
since pull images take time,  time is unpredictable

[2021-11-10 09:58] Peeknut commented on #572
If convert/revert job failed, we don't delete the convert/revert job and user should delete convert/revert job manually.
You can run `kubectl get job -A` to get convert/revert job, and delete them. Then you can do convert again.

[2021-11-10 10:15] adamzhoul commented on #567
the problem right now is when job timeout

1. job may succeed in fact, means everything has been done right to the node
2. node will node be labeled
3. k8s job will not be deleted

so, if users want to fix it, they have to
1. run `yurtctl reset`
2. manual delete job
3. run `yurtctl convert` again (this time image has already been pulled)
this is a bad experience.

so, if we add the params,
this pr

[2021-11-10 10:27] adamzhoul commented on #569
agree

and @hhstu  we have an https://github.com/openyurtio/openyurt/issues/546 to use node-servant to convert the node which is idempotent
you should notice

and welcome you to take over the task, and make `yurtctl convert` idempotent

[2021-11-10 10:47] hhstu commented on #567
agree, more that  force  delete job can code in `yurtctl revert ` when users want to reset.  what do you say @adamzhoul

For Chinese：

同意。另外 job timeout 后用户想要 reset，delete job这个动作可以编码到 `yurtctl revert ` 中而不是用户手动做，`yurtctl revert ` 应该是一个全部清理的操作

[2021-11-10 10:57] adamzhoul commented on #567
agree

[2021-11-10 11:12] zyjhtangtang commented on #565
You can execute this command on the edge node to test the network. `curl -k https://192.168.100.204:6443/healthz` @littletiger123

[2021-11-10 11:24] littletiger123 commented on #565
Hi，it may not work
[code]
I  used the command ` curl  -k https://192.168.100.204:6443/api/v1/namespaces/kube-public/configmaps/cluster-info?timeout=10s ` it worked on the master while not working on the edge.
Also, I tried `telnet 192.168.100.204 6443` , it worked on the edge.

[2021-11-10 12:17] moyuduo commented on #572
I do as you say, but i seems still some problems, such as job timeout and yurthub pod seems not created
[code]
use `kubectl get pod -A` find just yurt-controller-manager-77b97fd47b-p2fmd created
[code]

use ` kubectl describe node k8s-node1 | grep Labels`:
[code]
I am sure my k8s cluster work fine, how to solve this problem?

[2021-11-10 12:23] Peeknut commented on #572
Can you get the log of convert job?

[2021-11-10 12:26] moyuduo commented on #572
Job log just as follow.
[code]

[2021-11-10 13:06] littletiger123 commented on #565
I have fixed the problem, thanks. Maybe we can improve the `yurtctl join` command to add the argument which is the path of the `kubernetes-node-linux-amd64.tar.gz`.

[2021-11-11 01:53] moyuduo commented on #572
[code]
It seems that the kubelet config file not found, but i just use kubeadm to create the k8s cluster, i try use ` systemctl status kubelet` got the kubelet config file in `/usr/lib/systemd/system/kubelet.service.d`

[2021-11-11 02:01] hhstu commented on #569
@adamzhoul  ok

[2021-11-11 02:09] Peeknut commented on #572
Yes, the failure occurs because the kubelet config file path doesn't found. You should add the parameter `--kubeadm-conf-path /usr/lib/systemd/system/kubelet.service.d/10-kubeadm.conf` when convert.

[2021-11-11 02:09] hhstu commented on #571
look at this pr:  https://github.com/openyurtio/openyurt/pull/435 just used by nodeSelector @rambohe-ch

[2021-11-11 02:33] rambohe-ch commented on #567
@adamzhoul agree +1

@hhstu so optimization includes the following work:
1. WaitServantJobTimeout: 2m --> 5m
2. add a servant job timeout parameter  for `yurtctl convert`
3. `yurtctl revert` will remove the remained servant job forcely.

[2021-11-11 02:35] rambohe-ch commented on #565
@littletiger123 would you like to introduce the detail info about `yurtctl join` improvement?

[2021-11-11 02:37] rambohe-ch commented on #569
@hhstu How about close this issue and assign issue #546 to you?

[2021-11-11 02:39] rambohe-ch commented on #571
@hhstu Thanks for your feedback, how about add the detail info about `system-architecture` in the issue message?

[2021-11-11 02:42] moyuduo commented on #572
yes! converted to openyurt successfully, thanks.

[2021-11-11 02:42] #572 closed

[2021-11-11 05:46] #561 closed

[2021-11-11 05:46] joez commented on #561
the issue resolved as suggested, thanks

[2021-11-11 06:20] qclc opened #573 "[Discussion] How about deprecating kubelet certificate management mode (Yurthub shares certificates with Kubelet) in future releases？"
**What would you like to be discussed**:

1. In future versions, yurthub and kubelet shared certificate mode will be removed and the related interface will be deprecated.
2. At the same time, in the process of using the current OpenYurt version, the system prompts the user that the certificate sharing with kubelet is no longer supported in the later version.

**Why is this needed**:
1. **Certifica

[2021-11-11 06:25] littletiger123 commented on #565
I tried many times for the command. It always download `the kubernetes-node-linux-amd64.tar.gz`. Maybe we can download once and we can use the argument added for the local path of `the kubernetes-node-linux-amd64.tar.gz.`

[2021-11-11 06:25] littletiger123 commented on #565
I tried many times for the command. It always download the `kubernetes-node-linux-amd64.tar.gz`. Maybe we can download once and we can use the argument added for the local path of the `kubernetes-node-linux-amd64.tar.gz`.

[2021-11-11 07:54] yanyhui opened #574 "The import package in the project's go file has the problem of irregular sorting."

[2021-11-11 09:11] yanyhui opened #576 "The import package in the project's go file has the problem of irregular sorting."
**What happened**:
The project's go file import package sort is not standardized.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- OpenYurt version:
- Kubernetes version (use `kubectl version`):
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

**othe

[2021-11-11 10:23] rambohe-ch commented on #565
@littletiger123 Thanks for feedback. but how to verify local `kubernetes-node-linux-amd64.tar.gz` is the newest file?

[2021-11-11 10:25] #574 closed

[2021-11-11 10:31] rambohe-ch commented on #573
@qclc Thank you for raising issue.
There are literally no users using `kubelet` mode, so i agree with you that remove `kubelet` certificate mode from yurthub.

[2021-11-11 10:32] rambohe-ch commented on #573
@qclc would you can take over and remove kubelet mode from yurthub?

[2021-11-11 11:04] qclc commented on #573
Yes, I am willing to take over and remove kubelet mode from yurthub.

[2021-11-11 14:50] moyuduo opened #577 "[tunnel do not work fine]"
I follow the tutorial [here](https://github.com/openyurtio/openyurt/blob/master/docs/tutorial/yurt-tunnel.md), i deployed the tunnel server on the cloud node and deploy tunnel agent on the edge node, it seems work fine.
[code]

Then i create a pod and deploy to edge node successfully.
[code]

But when i try to use  command `kubectl logs nginxi`  to experience the tunnel, i got some error.
[code]

[2021-11-11 14:58] Congrool commented on #577
@moyuduo Hi, could you please post logs of `yurt-tunnel-server-6fdb679789-ksfh2` and `yurt-tunnel-agent-nbm4x`.

[2021-11-12 01:09] DrmagicE commented on #546
I would like to take over this. /assign

[2021-11-12 01:12] DrmagicE commented on #546
/assign @DrmagicE

[2021-11-12 01:48] DrmagicE commented on #577
@moyuduo Hi, I guess your edge node and cloud node is not in the same vpc.
If so, try to add `--cert-ips <cloud-side-public-ip>` flag to the `yurt-tunnel-server` and add `--tunnelserver-addr=<cloud-side-public-ip>:<yurt-tunnel-server-NodePort-port` to the `yurt-tunnel-agent`.

[2021-11-12 02:46] moyuduo commented on #577
@DrmagicE My egde node and cloud node not int the same vpc, you said that  add `--cert-ips <cloud-side-public-ip>` flag to the yurt-tunnel-server and add `--tunnelserver-addr=<cloud-side-public-ip>:<yurt-tunnel-server-NodePort-port` to the yurt-tunnel-agent means edit tunnel-server and tunnel-agent pod use command `kubectl edit pod tunnel-server-xxx -n kube-system` to add flag?

I'm little confuse

[2021-11-12 03:19] DrmagicE commented on #577
@moyuduo

Yes.

The `yurt-tunnel-server` need to be exposed via a Nodeport service. The `<yurt-tunnel-server-NodePort-port>` means the port of the related Nodeport service which is used for serving connection from `yurt-tunnel-agent`.
You can use the following command to get the port number:
[code]
In the above example, the `<yurt-tunnel-server-NodePort-port>` is `31008`.

[2021-11-12 04:20] moyuduo commented on #577
Ok, this problem has been solved, thans.

[2021-11-12 04:20] #577 closed

[2021-11-12 07:09] yanyhui opened #581 "The import package in the project's go file has the problem of irregular sorting."

[2021-11-12 08:44] hhstu opened #584 "[feature request] deploy coredns daemonset on every edge nodes if necessary"
**What would you like to be added**:

**Why is this needed**:

**others**
/kind feature

[2021-11-12 10:04] rambohe-ch commented on #584
@hhstu Thank you for raising issue.
In fact, we are using DemonSet to deploy coredns on our production cluster. and we will update to use `YurtAppDaemon` to deploy coredns in later version.

and about `YurtAppDaemon`, you can reference the following links:
- https://github.com/openyurtio/openyurt/blob/master/docs/enhancements/20210729-yurtappdaemon.md
- https://github.com/openyurtio/yurt-app-manag

[2021-11-12 10:09] rambohe-ch commented on #581
@yanyhui Thank you for raising issue.
Would you can add some golang official links about package import definitions?

[2021-11-12 10:09] rambohe-ch commented on #576
@yanyhui  Thank you for raising issue.
Would you can add some golang official links about package import definitions?

[2021-11-12 10:12] #581 closed

[2021-11-13 02:42] yanyhui opened #587 "The import package in the project's go file has the problem of irregular sorting."

[2021-11-13 14:04] #587 closed

[2021-11-15 07:26] rambohe-ch commented on #300
Orgnization/Company: Alibaba Cloud
Location: hangzhou, China
Contact: linbo.hlb@alibaba-inc.com
Purpose/Scenario: Using OpenYurt as base framework and integrated with other cloud service(like SLB etc.) to provider hosted edge kubernetes service(named [ACK@Edge](https://www.aliyun.com/product/cs/ack_edge))

[2021-11-15 09:20] windydayc opened #590 "[Question] How to use the service topology function in openyurt ?"
**What happened**:
I notice that the service topology function has already implemented [here](https://github.com/openyurtio/openyurt/blob/f5f0adf6c9fc1b71898af29c21ad2faaf37a0ece/pkg/yurthub/filter/servicetopology/handler.go#L34) , but it does not work when I tested the following operation.

My test scenario is roughly as shown below (the cloud node is omitted),  I have added openyurt.io/topologyK

[2021-11-15 09:20] windydayc commented on #590
@rambohe-ch

[2021-11-15 10:17] DrmagicE commented on #590
@windydayc Hi, thanks for raising the issue.
To use the service topology, the `kube-proxy` needs to be configured to connect to Yurthub instead of the API server.
If your `kube-proxy` configuration specifies a kubeconfig path,  you can comment the `kubeconfig` line then restart the `kube-proxy` and it should work.

For example:
[code]

[2021-11-15 10:55] windydayc commented on #590
@DrmagicE Thanks. I do what you said and it works. As for this serviceTopology function, I haven't seen any documents about this, do you mind if I add a document about this through a pr?

[2021-11-15 11:08] yanyhui opened #591 "The import package in the project's go file has the problem of irregular sorting."

[2021-11-15 11:31] rambohe-ch commented on #590
@windydayc Very appreciate the idea that add document for service topology.

[2021-11-15 11:32] windydayc commented on #590
@rambohe-ch  Thanks.
/assign @windydayc

[2021-11-15 11:34] rambohe-ch commented on #590
@windydayc In OpenYurt, service topology function is carried by `Data Filter Framework` in Yurthub component, so kube-proxy is needed to access kube-apiserver through yurthub in order to enable service topology function.

[2021-11-15 11:40] windydayc commented on #590
Well. Thank you. Next, I will try to learn more about Yurthub.

[2021-11-15 11:44] rambohe-ch commented on #590
@windydayc I'd like to give some reference for diving info `Data Filter Framework`
- Proposal: https://github.com/openyurtio/openyurt/blob/master/docs/proposals/20210720-data-filtering-framework.md
- Code: https://github.com/openyurtio/openyurt/tree/master/pkg/yurthub/filter

and three filters have been implemented in Yurthub: servicetopology, masterservice, discardcloudservice

[2021-11-15 11:50] windydayc commented on #590
@rambohe-ch  Thank you so much. It's been very helpful. Thanks for the guidance.

[2021-11-15 12:27] DrmagicE commented on #300
Orgnization/Company: China Telecom
Location: guangzhou, China
Contact: zhanglifang@chinatelecom.cn
Purpose/Scenario: Using OpenYurt for managing edge nodes across different idc region and network

[2021-11-16 05:52] rambohe-ch commented on #423
@adamzhoul This issue maybe solved by `yurt-node-servant`, and we can close this issue after `yurtctl convert/revert` refactor.

[2021-11-16 05:55] rambohe-ch commented on #409
@luckymrwang Do you have any process of this issue? we will release assignee if no any feedback after two month.

[2021-11-16 05:56] rambohe-ch commented on #412
@YRXING Do you have any process of this issue?

[2021-11-16 06:03] adamzhoul commented on #423
I see here issues two problems

1. `nsenter` introduce a security problem: we can modify any files on the host

Unfortunately, yurt-node-servant uses volume + chroot to avoid using nsenter.
But, the problem remains I think.
The core problem is we don't know which file job will use.

2.  Improved the ways of EnableNodeControllerJobTemplate and DisableNodeControllerJobTemplate

For now, it uses sed

[2021-11-16 06:07] YRXING commented on #412
yeah

[2021-11-16 06:14] rambohe-ch commented on #423
@adamzhoul @Peeknut In my opinion, replace `nsenter` is not security consideration, `nsenter` is not common way to manipulate host files, so we need to refactor and use `volume + chroot` to avoid using nsenter. so case 1 maybe solved by `yurt-node-servant`.

Yes, case 2 is waiting to be solved.

[2021-11-16 09:39] DrmagicE opened #597 "[feature request] Add an option to "yurtctl join" to enable "node autonomy" automatically."
**What would you like to be added**:
Currently, if the user wants to enable node autonomy for a new node joined by `yurtctl join`. The user had to call `yurtctl markautonomous` after `yurtctl join`, which is inconvenient.

I think the whole process can be simplified by adding an option to `yurtctl join` to enable ”node autonomy“ automatically.

**Why is this needed**:

**others**
/kind feature

[2021-11-16 10:15] rambohe-ch commented on #597
@DrmagicE It's a good idea to add parameter for `yurtctl join` for marking autonomous. @zyjhtangtang Do you have any comments?

[2021-11-16 16:21] adamzhoul commented on #545
Hi  @zyjhtangtang   sorry for the late reply.
after serval days of digging on and off
got some thought below.

## what is now

simplify what happened in `yurtctl join (edgeNode)`:

1.  write `/etc/kubernetes/pki/ca.crt`  -------------> k8s root ca
2.  write `/etc/kubernetes/kubelet.conf`  -----------> spell kubeconfig file for kubelet, hard code apiServer: 127.0.0.1:10261
3.  write `/var/lib/kubel

[2021-11-17 02:08] YRXING commented on #409
how about assign it to me?

[2021-11-17 02:43] rambohe-ch commented on #409
/assign @YRXING

[2021-11-17 04:51] DrmagicE opened #600 "[BUG] Yurthub cloud mode is not working as intended."
**Background**

The Yurthub "working mode" feature was introduced via https://github.com/openyurtio/openyurt/pull/483 , which distinguishes cloud node and edge node by setting the `--working-mode` flag of yurthub to `cloud` and `edge`  respectively.

This feature aims to enable service topology feature in cloud side, as a prerequisite for enabling yurt-tunnel DNS mode.

**What happened**

When Yur

[2021-11-17 04:56] zyjhtangtang commented on #597
Thanks @DrmagicE , I agree. Can you submit a PR to  add this parameter.

[2021-11-17 05:12] zyjhtangtang commented on #545
@adamzhoul Good job! Looking forward to the perfect function of `yurtctl join` to better enhance the user experience.

[2021-11-17 05:13] DrmagicE commented on #597
@zyjhtangtang Hi, I would like to, but I am afraid I had to finish some jobs in hands (https://github.com/openyurtio/openyurt/issues/546 and https://github.com/openyurtio/openyurt/issues/527) before starting this one.
@rambohe-ch How about we label this issue as a good-first issue?

[2021-11-17 07:10] rambohe-ch commented on #600
@DrmagicE Thank you for raising issue.
I have forgot that `servicetopology` filter has used `cachemanager`, and the background of using `cachemanager` for syncing node and yurthub does not list/watch node from kube-apiserver directly is eliminate the traffic between yurthub and kube-apiserver, so use node cache of kubelet directly as following:

[code]

- solution:
1. In my opinion, yurthub list/w

[2021-11-17 07:21] rambohe-ch commented on #597
@DrmagicE done

[2021-11-18 05:03] adamzhoul commented on #597
I am working on https://github.com/openyurtio/openyurt/issues/545
I can pick up this by the way

/assign @adamzhoul

[2021-11-18 08:03] #591 closed

[2021-11-18 10:48] yanyhui opened #604 "The import package in the project's go file has the problem of irregular sorting."

[2021-11-18 11:56] #604 closed

[2021-11-19 05:05] #590 closed

[2021-11-19 11:52] alanz2015 opened #609 "Failed to start yurt controller Pod (evicted)"
#### Which jobs are failing:

#### Which test(s) are failing:

#### Since when has it been failing:

#### Testgrid link:

#### Reason for failure:

#### Anything else we need to know:

#### labels

/kind failing-test

[2021-11-19 11:54] alanz2015 commented on #609
Follow the manually setup guide of openyurt, failed to kubectl apply -f config/setup/yurt-controller-manager.yaml. Is this yurt controller must be installed on cluster master node? I set up one cluster master, one worker node which intends to run yurt controller, and one worker node (act as edge node) which intends to run yurt hub. Follow the https://github.com/openyurtio/openyurt/blob/master/docs

[2021-11-19 12:06] #600 closed

[2021-11-19 15:27] rambohe-ch commented on #609
@alanz2015 Thank you for raising issue.
Yeah, yurt-controller-manager should be work on master node, and have the following affinity:
[code]

[2021-11-20 01:49] yanyhui opened #610 "The import package in the project's go file has the problem of irregular sorting."

[2021-11-21 03:15] alanz2015 commented on #609
Check the  config/setup/yurt-controller-manager.yaml, the "affinity" is the same as your paste. I wonder the "evicted" will be removed if I "apply -f  config/setup/yurt-controller-manager.yaml" at the cluster master node?

[2021-11-21 07:23] littletiger123 opened #612 "[Question]Error when installing the yurt-app-manaer."
**What happened**:
I used the yurtctl to install the cluster. And it contains the yurt-app-manager container. When I created the CRD nodePool  as follows.
[code]
However, it outputs
[code]
Also, I follow the **https://github.com/openyurtio/yurt-app-manager/blob/master/docs/yurt-app-manager-tutorial.md**, however , the same outputs.

Here is the infos may be useful
[code]
[code]
Thanks a lot.
**Wha

[2021-11-21 07:58] windydayc commented on #612
Are there any error logs output in yurt-app-manager pod?

[2021-11-21 08:02] littletiger123 commented on #612
No error in the logs.
[code]

[2021-11-22 01:54] #610 closed

[2021-11-22 01:59] rambohe-ch commented on #609
@alanz2015 Thanks for your feedback. Would you like to introduce the detail info about `yurt-controller-manager` pod that has been evicted?

[2021-11-22 02:06] rambohe-ch commented on #612
@littletiger123 It likes that kube-apiserver failed to access webhook service, Maybe some error info would be found in kube-apiserver  logs?

[2021-11-22 02:47] littletiger123 commented on #612
``
kubectl logs -n kube-system controlplane-slave204 kube-apiserver | less
...
W1122 01:17:49.606860       1 watcher.go:199] watch chan error: etcdserver: mvcc: required revision has been compacted
W1122 01:31:48.546467       1 watcher.go:199] watch chan error: etcdserver: mvcc: required revision has been compacted
W1122 01:41:44.758966       1 watcher.go:199] watch chan error: etcdserver: mvcc: r

[2021-11-22 06:04] rambohe-ch commented on #612
@kadisi Do you have any advice about the above error message?

[2021-11-22 06:17] kadisi commented on #612
pleause execute the following command in pod or clouster node to check whether the service is available:
`telent 10.109.182.165 443`

10.109.182.165 is the ClusterIP of yurt-app-webhook-service.

In addition, can you run the following command to display the information about yurt-app-mutating-webhook-configuration：

[code]

[2021-11-22 06:51] littletiger123 commented on #612
The service is available.
[code]
Also the information about the yurt-app=mutating-webhook-configuration:
[code]
Also, I get the information of api-server,
[code]
I want to know how to add the` MutatingAdmissionWebhook, ValidatingAdmissionWebhook` in controlplane.

[2021-11-22 07:14] littletiger123 commented on #612
@kadisi I have fixed the problem. I edit the `/etc/kubernetes/manifest/controlplane.yaml `and add the   `MutatingAdmissionWebhook, ValidatingAdmissionWebhook`. Thanks a lot.

[2021-11-22 08:04] alanz2015 commented on #609
@rambohe-ch After I execute
 ./yurtctl convert -c $cloud_node -p kubeadm
Then
kubectl get node -o 'jsonpath={range .items[*].metadata}{.name}:is-edge-worker={.labels.openyurt\.io/is-edge-worker}{"\n"}{end}'
secstors301.ger.corp.intel.com:is-edge-worker=false
test211119-worker-yurthub:is-edge-worker=
And get po status as:
kube-system   yurt-controller-manager-6c47df44d8-2znmc                 1/1

[2021-11-22 08:19] littletiger123 commented on #612
I set the `enable-admission-plugins=NodeRestriction,MutatingAdmissionWebhook,ValidatingAdmissionWebhook`, but it still failed.

[2021-11-22 08:47] alanz2015 commented on #609
@rambohe-ch My $cloud_node is the master node. Not include the edge node in the "yurtctl convert" command. Is the problem? Do i need to specify "yurtctl convert -c master_node_ip,edge_node_ip -p kubeadm"?

[2021-11-22 09:38] kadisi commented on #612
please check whether http_proxy is configured on the host .

[2021-11-22 10:57] littletiger123 commented on #612
@kadisi  I deleted the env http_proxy of  the kube-apiserver  in `/etc/kubernetes/manifests/controlplane.yaml`.It works, thank you so much.

[2021-11-22 10:57] #612 closed

[2021-11-22 11:07] yanyhui opened #615 "The import package in the project's go file has the problem of irregular sorting."

[2021-11-22 12:15] rambohe-ch commented on #609
@alanz2015 Thanks for your feedback.
There are two unexpected errors happened.
1. yurt-controller-manager is recommended to run on master node, but go to edge node instead. so you can tune the `nodeAffinity` of `yurt-controller-manager` for running on master node.
2. yurthub on edge node failed to startup, you can login on the edge node, and `docker logs xxx` to checke the yurthub container logs.

[2021-11-22 14:20] alanz2015 commented on #609
@rambohe-ch
The nodes setting seem to be ok.
---------------------------------------
kubectl get node -o 'jsonpath={range .items[*].metadata}{.name}:is-edge-worker={.labels.openyurt\.io/is-edge-worker}{"\n"}{end}'
secstors301.ger.corp.intel.com:is-edge-worker=false
test211119-worker-yurthub:is-edge-worker=true

[2021-11-23 02:13] rambohe-ch commented on #609
@alanz2015 yurthub pod failed to startup on edge node, you can login on the edge node, and docker logs xxx to checke the yurthub container logs.

[2021-11-23 03:01] windydayc opened #618 "[Question] What's the relation between pod and nodepool?"
**What happened**:
I noticed that only pod1 created using unitedDeployment has the `apps.openyurt.io/pool-name` label. Pod2 I created just using `kubectl run` does not have this label. If pod2 is scheduled to node1, and suppose node1 belongs to beijing nodepool (node1 has the label `apps.openyurt.io/nodepool=beijing`), does that mean pod2 belongs to beijing nodepool?  Although pod2 does not have t

[2021-11-23 04:06] alanz2015 commented on #609
The problem is NO yurthub POD listed by kubectl get po -A command. So cannot kube exec login or kube logs.
journalctl output is just:
file_linux.go:60] Unable to read config path "/etc/kubernetes/manifests": path does not exist, ignori

Is this the cause to block yurthub pod startup?

[2021-11-23 04:08] alanz2015 commented on #609
the master node ip addr is 10.240.120.xx, the edge node ip addr is 10.240.108.xx. is this different ip range problem? the kubectl get node reports ok.
kubectl get nodes
NAME                             STATUS   ROLES                  AGE   VERSION
secstors301.ger.corp.intel.com   Ready    control-plane,master   24h   v1.20.0
test211119-worker-yurthub        Ready    <none>                 21h   v1

[2021-11-23 05:51] DrmagicE commented on #547
/assign @DrmagicE

[2021-11-23 06:14] rambohe-ch commented on #618
@windydayc Thank you for raising issue. I think that pod should decouple with nodePool, and `apps.openyurt.io/pool-name` label function,  @kadisi Do you have any comments?

[2021-11-23 06:17] rambohe-ch commented on #609
@alanz2015 how about login on the edge node by ssh, and use `docker logs` to check the reason that why yurthub can not startup.

[2021-11-23 06:40] rambohe-ch opened #619 "[feature request]add `yurtctl precheck` command for reducing `yurtctl convert` failure."
**What would you like to be added**:
Add a new command named `yurtctl precheck` for checking the K8s cluster can be converted to OpenYurt cluster or not.
so users can run `yurtctl precheck` before `yurtctl convert` and verify the K8s cluster is ready for converting.

And the check items maybe include:
1. all nodes are ready or not
2. nodes have been converted to OpenYurt node
3. `kubeadm-conf-path

[2021-11-23 06:42] rambohe-ch commented on #549
@hzliangbin Would you be able to update progress about this issue?

[2021-11-23 06:58] rambohe-ch commented on #413
The feature in this issue is also covered by issue #527 , so we will close this issue.

[2021-11-23 06:58] #413 closed

[2021-11-23 07:01] alanz2015 commented on #609
@rambohe-ch No docker container running for yurthub, so docker logs has not object. Whether exist any yaml to separately deploy yurthub?

[2021-11-23 07:11] rambohe-ch commented on #609
@alanz2015 `/etc/kuberentes/manifests/yurthub.yaml` file exists or not? and `docker ps -a | grep hub` have any output?

[2021-11-23 07:30] alanz2015 commented on #609
@rambohe-ch
ls -al /etc/kubernetes/
total 16
drwxr-xr-x    3 root root   37 Nov 22 01:52 .
drwxr-xr-x. 100 root root 8192 Nov 22 08:59 ..
-rw-------    1 root root 1911 Nov 22 01:52 kubelet.conf
drwxr-xr-x    2 root root   20 Nov 22 01:52 pki

docker ps -a | grep hub
[test@test211119-worker-yurthub ~]$

[2021-11-23 07:35] rambohe-ch commented on #609
@alanz2015 It looks like `yurtctl-servant-convert-xxx` pod failed to execute, how about run `docker ps -a | grep yurtctl-servant-convert` on the edge node and check the error logs by `docker logs {container-id}?`

[2021-11-23 07:42] alanz2015 commented on #609
Nothing return:
docker ps -a | grep yurtctl-servant-convert
[test@test211119-worker-yurthub ~]$

No container of servant-convert running.

[2021-11-23 07:58] rambohe-ch commented on #609
@alanz2015 Thanks for your feedback. @adamzhoul @Peeknut Do you have any advice for the problem in the issue?

[2021-11-23 08:27] adamzhoul commented on #609
1. `kubectl get job -n kube-system`  // check if convert job is created?
2.  `kubectl get pod -n kube-system |grep convert` // check if pod is created?
3. `kubectl describe pod convert...  ` // guess the job pod pending or crash

[2021-11-23 08:31] alanz2015 commented on #609
@adamzhoul when i do yurtctl revert to dismiss all yurt deployment, i can see the sevant pod occurs, but report error.
 kubectl logs  yurtctl-servant-revert-test211119-worker-yurthub-r4v95 -n kube-system
F1123 03:13:52.446304  642667 edgenode.go:68] fail to revert the yurt node to a kubernetes node: stat /var/lib/openyurt/kubelet.conf: no such file or directory

[2021-11-23 08:40] adamzhoul commented on #609
I think its convert error leads to this
you can manually create that file to pass this flaw

[2021-11-23 09:05] alanz2015 commented on #609
@adamzhoul For my case, pls give more detail explain on yurhub.yaml settings. Which setting items must be revised per cust env.
--------------------------------------------------------------------------------------------
config/setup/yurthub.yaml |
sed 's|__kubernetes_master_address__|1.2.3.4:5678|;
s|__bootstrap_token__|07401b.f395accd246ae52d|' > /tmp/yurthub-ack.yaml &&
scp -i <yourt-ssh-identi

[2021-11-23 09:33] Peeknut commented on #619
Maybe it can split into two parts, check in cloud (such as 1, 2) and check in edge (such as 3, 4, 5). And the check in edge can realized by issuing job and calling node-servant.

And I want to take over it. Does anyone else want to do it with me？

[2021-11-23 13:06] Peeknut commented on #619
/assign @Peeknut @lorrielau

[2021-11-23 14:07] luckymrwang opened #623 "[feature request]"
**What would you like to be added**:
Yurthub supports 'healthz' and 'metrics' currently. Can it add the ability to support pprof debugging?

**Why is this needed**:
pprof debugging

**others**
/kind feature

[2021-11-24 01:48] alanz2015 commented on #609
@adamzhoul The file /tmp/yurthub-ack.yaml on the master w/ yurtcontroller node is empty file. Is this correct? This file is supposed to be copy to yurthub node (i.e. edge node) via "scp -i ~/.ssh/id_rsa.pub /tmp/yurthub-ack.yaml root@....:/etc/kubernetes/manifests

[2021-11-24 03:34] adamzhoul commented on #609
about convert failed before, check the log:
[code]
please delete the job and retry
this is something like https://github.com/openyurtio/openyurt/issues/572

[2021-11-24 03:38] adamzhoul commented on #609
![image](https://user-images.githubusercontent.com/7430439/143170520-48a62bb6-11fe-47e2-bd06-97f98e34a58e.png)

if it's empty, check if the sed command is correct?
get the right result?

[2021-11-24 03:51] alanz2015 commented on #609
After fix the yurthub config customized for my env error. it is ok now. thanks!

[2021-11-24 03:51] #609 closed

[2021-11-24 05:10] adamzhoul commented on #619
if use job, can we get the job pod log and print?
and if the job failed,  we can print the error and delete the job.

a failed job like `convert` always stops users from retrying again.

[2021-11-24 06:32] rambohe-ch commented on #623
@luckymrwang Thank you for raising issue.
Pprof debugging is supported in Yurthub, and you can try `curl http://127.0.0.1:10267/debug/pprof/`.

[2021-11-24 06:41] rambohe-ch commented on #619
@Peeknut I think that suggestion from @adamzhoul is a good idea, if precheck command failed, error message should be shown to end user.

[2021-11-24 06:44] Peeknut commented on #619
Thanks for the suggestion, I will consider this.

[2021-11-24 06:50] luckymrwang commented on #623
Thanks for your reply. It can supported pprof debugging, I have found it. I will close this issue.

[2021-11-24 06:51] #623 closed

[2021-11-24 06:55] SataQiu opened #625 "[feature request] Support proxy cluster inner services (such as tunnel-server) through kube-apiserver"
**What would you like to be added**:
Currently, the `tunnel-server` service needs to be exposed through the public IP and public port so that the `tunnel-agent` can establish a connection with the server. However, this would require the users to expose additional public ports in addition to `kube-apiserver` service.  As we have more edge services that need to connect to the cloud, the number of op

[2021-11-24 07:38] SataQiu opened #626 "[Question] Deal with CoreDNS configuration in YurtCluster operator"
**What happened**:
According to the [proposal](https://github.com/openyurtio/openyurt/blob/master/docs/proposals/20210722-yurtcluster-operator.md), the YurtCluster Operator has been able to complete the node convert tasks based on the user's declaration. However, node convert alone is not enough to make a cluster to be a production-usable edge cluster. A very important thing is the DNS resolution

[2021-11-24 07:40] SataQiu commented on #626
/cc @Fei-Guo @rambohe-ch @gnunu

[2021-11-24 07:51] SataQiu commented on #625
/cc @rambohe-ch @DrmagicE

[2021-11-24 09:05] #535 closed

[2021-11-24 09:06] #537 closed

[2021-11-24 09:08] rambohe-ch commented on #453
This issue is divided into issue #548 #549 #550 #551 , so this issue can be closed now.

[2021-11-24 09:08] #453 closed

[2021-11-24 09:09] #447 closed

[2021-11-24 09:13] rambohe-ch commented on #358
Make sure kube-proxy use InClusterConfig to access kube-apiserver, and kube-proxy will access kube-apiserver through yurthub without configuration. this feature is supported in OpenYurt v0.5.0. the detail info, you can reference the link here: https://openyurt.io/zh/blog/How-run-business-pod-in-edge-scenarios

[2021-11-24 09:13] #358 closed

[2021-11-24 09:16] #280 closed

[2021-11-24 09:18] rambohe-ch commented on #344
@gaofeng1973 `DeviceManager` has been released in OpenYurt v0.5.0, the repo is here: https://github.com/openyurtio/yurt-device-controller

[2021-11-24 09:18] #344 closed

[2021-11-24 09:22] rambohe-ch commented on #124
@hle2 UnitedDeployment has been released, and the repo is here: https://github.com/openyurtio/yurt-app-manager
I will close this issue because not active for more than two months. if you have any other questions about `UnitedDeployment`, please open a new issue.

[2021-11-24 09:22] #124 closed

[2021-11-24 09:23] rambohe-ch commented on #372
this feature is released in OpenYurt v0.5.0, and this issue can be close.

[2021-11-24 09:23] #372 closed

[2021-11-24 09:26] rambohe-ch commented on #360
@yixingjia I think that the problem in this issue has been solved, and because long time not active for this issue, we will close this issue. and if you have any other questions, you can reopen this issue at any time.

[2021-11-24 09:26] #360 closed

[2021-11-24 09:27] hle2 commented on #124
@rambohe-ch thanks much for the information!

[2021-11-24 09:27] #156 closed

[2021-11-24 09:28] #380 closed

[2021-11-24 09:30] rambohe-ch commented on #131
@lgy1027 This issue is not active over two months, and you can try the yurt-tunnel in OpenYurt v0.5.0. we will close this issue, you can reopen this issue at any time.

[2021-11-24 09:30] #131 closed

[2021-11-24 09:33] rambohe-ch commented on #242
This feature is released in OpenYurt, so close this issue.

[2021-11-24 09:33] #242 closed

[2021-11-24 09:34] #439 closed

[2021-11-24 09:35] #615 closed

[2021-11-24 09:36] rambohe-ch commented on #301
yurtctl init/join command for this feature has been released in OpenYurt v0.5.0, so close this issue.

[2021-11-24 09:36] #301 closed

[2021-11-24 09:37] rambohe-ch commented on #163
The feature that pods use InClusterConfig access kube-apiserver through yurthub is released in OpenYurt v0.5.0, so close this issue.

[2021-11-24 09:37] #163 closed

[2021-11-24 09:37] #133 closed

[2021-11-24 09:39] rambohe-ch commented on #254
@yang-zhang-edge we will close this issue because not active over two months, if you have any other questions about `yurt-app-manager`, please raise a new issue.

[2021-11-24 09:39] #254 closed

[2021-11-24 09:56] eightzero commented on #424
Is that wrong?

[2021-11-24 12:25] Peeknut commented on #424
Do you mean that the kube-controller-manager will not be deployed in other ways?

[2021-11-24 13:23] DrmagicE commented on #625
@SataQiu Hi, maybe I didn't understand the problem correctly.  CMIIW,  what `kubectl port-forward` do is to listen on a ip:port and forward the traffic from it to another ip:port.  After reading [this post](https://prefetch.net/blog/2018/02/03/how-the-kubectl-port-forward-command-works/), I think it is using "socat" under the hood, so it seems the apiserver is not responsible for the data forwardi

[2021-11-25 02:08] eightzero commented on #424
yeah, I don’t know what other ways mean :laughing:

[2021-11-25 02:26] BSWANG commented on #625
The `port-forward` is based on `kubelet` `exec` API, which need APIServer direct access to `kubelet` `10250` port. But the central `APIServer` cannot access `kubelet`@edge without `tunnel`.

[2021-11-25 02:42] Congrool commented on #619
Hi, how about intergrating the work of precheck into convert. Thus, users can just use one command `yurtctl convert` to precheck and then convert nodes if no error in precheck.  It's something like the preflight in `kubeadm init`.

And we can distinguish cloud nodes and edge nodes with `cloudnodes` and `edgenodes` subcommand and do different work for them.

[2021-11-25 02:52] rambohe-ch commented on #619
@Peeknut FYI

[2021-11-25 02:54] BSWANG commented on #625
@SataQiu IMO, The `port-forward` mechanism is too long, is not stable for production usage. May be cause connection or goroutine leak on edge weak-connection environment.

[2021-11-25 02:59] SataQiu commented on #625
@DrmagicE @BSWANG
Thanks for your feedback!

If you look at [telepresence](https://github.com/telepresenceio/telepresence), it already has a similar capability.

But we are thinking about the whole reconstruction of the tunnel part, and we will adopt a better way to achieve cloud-edge and edge-edge network connection.

Just close this issue now.

/close

[2021-11-25 02:59] #625 closed

[2021-11-25 03:01] rambohe-ch commented on #625
@SataQiu I am afraid the following two potential problems:
1. Both control traffic and monitor traffic go through kube-apiserver, It will increase the load on the kube-apiserver, leading to more kube-apiserver crash.
2. If monitor failure happened, it's hard to found root reason for the failure because long traffic path.

[2021-11-25 03:13] GitHubThinking opened #629 "fail to mark edge-node"
**What happened**:

The edge-node is not marked.

[code]

[code]

In log,it is showed that
[code]

**What you expected to happen**:

I want to see the result:
'mark k8smaster as the edge-node'

and "markautonomous" is successful.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- OpenYurt version: v0.5.0
- Kubernetes version

[2021-11-25 03:22] rambohe-ch commented on #629
@GitHubThinking Thank you for raising issue.

/assign @adamzhoul @Peeknut

[2021-11-25 03:58] Peeknut commented on #424
Since kcm runs as a pod, its deployment method is the same as that of a normal Pod. For example, it can be run directly with `kubectl apply pod.yaml`. Of course, this is rare.

In addition, we may need to consider the high availability of kcm. Because the conversion(yurtctl convert/revert) will only run once, only the nodelife-controller of the leader at the time of conversion will be modified. Wh

[2021-11-25 06:01] adamzhoul commented on #629
[code]

maybe the old job is stopping `yurtctl convert` label the node.
please delete the job, and `yurtctl reset` then `yurtctl convert` to do all those again.

issue alike #572

[2021-11-25 07:51] hhstu commented on #300
Orgnization/Company: qianfang
Location:beijing, China
Purpose/Scenario: Using OpenYurt for managing edge nodes across different idc region and network

[2021-11-25 08:43] JcJinChen commented on #551
/assign

[2021-11-25 09:15] lujinda commented on #522
We are designing a solution that connects the edge and the edge, and the edge and the cloud network. The general idea is to use IPSec (or other) to connect to each data center, and then use IPSec to send the traffic of the Pod in one data center to other data centers. Plan to integrate with openyurt. The plan hopes that the intrusion to the Pod is small enough.

[2021-11-26 03:58] Peeknut commented on #619
Yes, the steps of yurtctl convert can be divided into prefilghtcheck and conversion, just like kubeadm init and node-servant

[2021-11-26 06:28] eightzero commented on #424
may I have a try

[2021-11-26 06:30] Peeknut commented on #424
/assign @eightzero

[2021-11-26 08:41] rambohe-ch commented on #548
the problem is solved by pull request #621
/close

[2021-11-26 08:41] #548 closed

[2021-11-26 08:43] rambohe-ch commented on #568
@hhstu the bug is fixed by pull request #578
/close

[2021-11-26 08:43] #568 closed

[2021-11-26 08:47] rambohe-ch commented on #384
@konghui The problem is solved by pull request #510
/close

[2021-11-26 08:47] #384 closed

[2021-11-26 08:49] rambohe-ch commented on #239
@yongxingMa I think that `yurtctl join` in OpenYurt v0.5.0 can meet your requirements. so i will close this issue.
/close

[2021-11-26 08:49] #239 closed

[2021-11-26 08:54] GitHubThinking opened #633 "[BUG]fail to run servant job(yurtctl-servant-convert-k8snode2):"
**What happened**:

[code]

[code]

But when I use the `./yurtctl cluster-info` to see the condition of the nodes. It's showed that
[code]

**What you expected to happen**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- OpenYurt version: v0.5.0
- Kubernetes version (use `kubectl version`): v1.18.0
- OS (e.g: `cat

[2021-11-26 08:59] rambohe-ch commented on #633
/assign @adamzhoul @Peeknut

[2021-11-26 09:02] GitHubThinking commented on #629
Please tell me how to delete the old job, I'm a beginner and hope you can instruct me step by step.

[2021-11-26 09:12] Peeknut commented on #629
You can get the job in ns: kube-system, and you will see the convert jobs.

then you can delete the specified job by its namespace and name with

here you can run:

[2021-11-26 09:15] Peeknut commented on #633
I think the old job labels the nodes, so you can get cluster-info.
Because the `cluster-info` get the info by the label `openyurt.io/is-edge-worker`

[2021-11-26 09:59] yanyhui opened #634 "The import package in the project's go file has the problem of irregular sorting."

[2021-11-27 05:32] #634 closed

[2021-11-30 02:08] Peeknut commented on #424
Yes, of course.

[2021-11-30 02:11] DrmagicE opened #638 "[BUG] http2: invalid Upgrade request header: ["spdy/3.1"]"
**What happened**:
Yurthub is unable to forward exec requests.  Here is the error logs:

kubectl error log:
[code]

Yurthub error log:
[code]

**What you expected to happen**:
Yurthub can forward exec requests.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

I think this is because there are some compatible issues between spdy and HTTP/2. Wh

[2021-11-30 02:12] DrmagicE commented on #638
/cc @rambohe-ch

[2021-11-30 02:16] rambohe-ch commented on #638
@DrmagicE Thank you for raising issue.
Maybe it's convenient for end user to use `kubectl exec` through yurthub. @DrmagicE Would you like to take over and fix this feature?

[2021-11-30 02:36] kadisi commented on #618
@windydayc ,thanks for your issue, please view  proposal about nodepool, https://github.com/openyurtio/openyurt/pull/173

[2021-11-30 07:18] #573 closed

[2021-11-30 10:58] Peeknut commented on #550
`yurtctl join`, `yurtctl init` reuses a lot of code in `kubeadm`, and it takes a lot of work to delete dependencies directly and rewriting the code. How about download and use the kubeadm binary file directly in yurtctl?

[2021-11-30 12:08] rambohe-ch commented on #550
@Peeknut It's a good idea to use kubeadm binary directly. agree +1

[2021-11-30 12:15] villanel commented on #550
There are two parts to be replaced here,`kubelet`and`kubeadm`, I will try to use use the kubeadm binary file directly.

[2021-11-30 12:16] villanel commented on #550
There are two parts to be replaced here,`kubelet` and `kubeadm`, I will try to use the kubeadm binary file directly.

[2021-11-30 12:36] rambohe-ch commented on #550
@villanel Thank you for your reply. Do you have any progress of this enhancement?
and we want to solve this feature in these days, then we can go ahead to update OpenYurt other dependencies.

[2021-11-30 12:40] villanel commented on #550
@rambohe-ch Thank you for your help, I will finish this part as soon as possible.

[2021-12-01 01:52] yanyhui opened #641 "The import package in the project's go file has the problem of irregular sorting."

[2021-12-01 03:06] #546 closed

[2021-12-01 04:56] windydayc commented on #618
I've seen this, but it doesn't say what the pod's label `apps.openyurt.io/pool-name` does.

[2021-12-01 07:57] #641 closed

[2021-12-01 08:39] hzliangbin commented on #549
so sorry for being late, i will open a pr in a day or two.

[2021-12-01 08:52] rambohe-ch commented on #549
@hzliangbin Thanks for your feedback.
I'am very sorry, other community member had taken over this issue and he will make a pull request today.  how about to review the pull request as reviewer?

[2021-12-01 12:11] villanel commented on #550
@rambohe-ch It seems `kubeadm` binary file has many test cases and unused code, should we keep these?

[2021-12-01 12:52] rambohe-ch commented on #550
@villanel we can download `kubeadm` binary like download other components(eg: kubelet), and use the downloaded `kubeadm` binary by `cmd.exec`.

[2021-12-01 13:46] hzliangbin commented on #549
@rambohe-ch I'd love to, but I am a new bird to openyurt so I'm afraid that I can't give a hand.

[2021-12-02 02:07] DrmagicE commented on #638
@rambohe-ch Yes, I would like to. Cause I need to finish some jobs in hand before starting this one, I would like to leave this issue unassigned. Other contributors are very welcome.

[2021-12-02 02:09] rambohe-ch commented on #638
@DrmagicE ok, i got it.

[2021-12-02 08:09] adamzhoul opened #647 "[feature request] canaryDeployment based on unitedDeployment"
As the title said. how can we support this?
like we want only nodepool1 to update to the latest version to test.  with others remain unchanged.

[code]

[code]

[2021-12-02 08:19] rambohe-ch commented on #647
/assign @kadisi

[2021-12-02 10:33] adamzhoul commented on #626
I have a problem:
for now, if `coreDNS` is not deployed in edge, how will a pod visit a service?  DNS search traffic can reach cloud pod?
if `coreDNS` does not have a public IP?

and,  even `coreDNS` is deployed at the edge node pool level.
can it cache the data, and respond well even when connecting to the cloud is broken?

[2021-12-02 11:49] rambohe-ch commented on #626
@SataQiu I think that CoreDNS should be deployed by YurtAppDaemon, and then add a tutorial for end user how to handle CoreDNS deployement.

[2021-12-02 11:52] rambohe-ch commented on #626
@adamzhoul we need to configure service topology in NodePool for CoreDNS service, so dns traffic can only forward to CoreDNS endpoints in NodePool. and CoreDNS can access kube-apiserver through yurthub, so cache of yurthub can be used by CoreDNS when cloud-edge network disconnected.

[2021-12-02 12:02] adamzhoul commented on #626
1. is this complicated for the end-user? any tutorial here I can figure out myself, thanks.
2. is one node one `coreDNS` pod or one `nodePool` one `coreDNS` pod?
3. if `nodepool` level, is this mean we have to create a`nodepool` before we can have `coreDNS` deploy to edge.

[2021-12-02 12:53] rambohe-ch commented on #626
@adamzhoul

I think that end user just exec command like `kubectl apply -f  coredns-yad` for deploying coredns. it 's not so complicated.

one or two CoreDNS pod per NodePool, and end user can configure the replicas as desired.

yes,  nodePool need to prepared. and one node must belong to one NodePool.

[2021-12-02 13:02] adamzhoul commented on #626
thanks

[2021-12-02 13:04] adamzhoul commented on #626
where can I find coredns-yad ?

[2021-12-02 14:55] hxcGit opened #648 "[Question]Failed to convert openyurt"
**What happened**:
When I used `_output/bin/yurtctl convert --provider kubeadm --cloud-nodes k8s-master` to converted my machine from k8s to openyurt, an error happened. It failed to run servant job(yurtctl-disable-node-controller-k8s-master): wait for job to be complete timeout, and then I checked the pods status, I found I failed to pull image "openyurt/node-servant:latest".
[code]

[code]

[cod

[2021-12-02 14:59] Congrool commented on #648
Hi, maybe you can find the solution in the troubleshooting [here](https://github.com/openyurtio/openyurt/blob/master/docs/tutorial/yurtctl.md#Troubleshooting).

[2021-12-03 01:23] adamzhoul commented on #648
did we build the node-servant image and upload it?
@rambohe-ch

[2021-12-03 02:06] rambohe-ch commented on #626
@adamzhoul YurtAppDaemon is developing, coredns-yad.yaml will be ready after `YurtAppDaemon` ready.

[2021-12-03 02:18] eightzero commented on #424
Do you have some suggestions about how to patch a normal pod with golang

[2021-12-03 02:28] rambohe-ch commented on #648
@hxcGit @adamzhoul sorry, i will upload node-servant image soon later.

[2021-12-03 02:55] hxcGit commented on #648
Thanks a lot for your reply. @adamzhoul @rambohe-ch I will try this later.

[2021-12-03 06:49] Peeknut commented on #424
If you have the clientSet(*kubernetes.Clientset), just use `clientSet.CoreV1().Pods("kube-system").Patch()` to patch pod.
And you can refer to using `kubeutil.GenClientSet`(`openyurt/pkg/yurtctl/util/kubernetes/util.go`)  to generate `clientSet`  in yurtctl.

[2021-12-03 10:00] rambohe-ch commented on #648
@hxcGit node-servant:latest image uploaded, please enjoy yourself.

[2021-12-03 15:10] hxcGit commented on #648
Thank you again. I can convert cluster successfully now. @rambohe-ch

[2021-12-03 15:10] #648 closed

[2021-12-04 03:42] yanyhui opened #652 "The import package in the project's go file has the problem of irregular sorting."

[2021-12-05 02:02] #652 closed

[2021-12-06 02:30] rambohe-ch opened #656 "[feature request] use sealer to install OpenYurt cluster"
**What would you like to be added**:
In order to improve the experience of using OpenYurt, how about to use sealer(https://github.com/alibaba/sealer) to install OpenYurt cluster?  and then  we can use sealer to replace `yurtctl init`.

**Why is this needed**:
End user can easily experience OpenYurt in different environments.

**others**
/kind feature

[2021-12-06 02:30] kadisi commented on #647
@adamzhoul UnitedDeployment Supports the patch function。 please check  https://github.com/openyurtio/yurt-app-manager/blob/613e42de79df858c6cd0e211ed29cc422ca0b4e2/pkg/yurtappmanager/apis/apps/v1alpha1/uniteddeployment_types.go#L134

[2021-12-06 02:57] #618 closed

[2021-12-06 07:14] adamzhoul commented on #647
thanks for the reply @kadisi

but I can't figure out how can I make use of the patch to do the canary deployment.
can you give some explanation in detail? thanks.

[2021-12-06 12:45] #551 closed

[2021-12-07 07:17] cuisongliu commented on #656
need write Kubefile  + plugin customize openyurt cluster

1 Kubefile add app-manager ,tunnel-agent,tunnel-server
2. plugin before install  add yurthub static pod
3. plugins after install replace kubelet conf

[2021-12-07 07:58] adamzhoul opened #659 "[Question] How tunnel handle connections"
after reading: https://openyurt.io/blog/Build-side-efficient-collaborative-network

I have some questions:

 if we have n tunnel-agent pods and m tunnel-server pods
 does each `tunnel-agent` has m connections and each `tunnel-server` has n connections?
 isn't this too complicated for agents and too many connections for agents and servers?

 has the problem the article comes up  been fixed?

[2021-12-07 08:18] YRXING commented on #659
If we have n tunnel-agent and m tunnel-server, then there will be m*n grpc connections. Deploying multiple tunnel servers can solve the single point problem .
if a new agent hasn't connected to all server, the traffic may not reach the tunnel agent. This is indeed a problem at the start of a new agent.
the api-server traffic will be forward tunnel-server firstly( through two ways: DNAT/DNS ), then

[2021-12-07 08:39] rambohe-ch commented on #659
@adamzhoul we will try to solve this problem in new edge network proposal, you can reference here: https://github.com/openyurtio/openyurt/pull/637

[2021-12-07 08:45] adamzhoul commented on #659
that's great

[2021-12-07 08:45] #659 closed

[2021-12-08 02:05] #549 closed

[2021-12-08 05:00] DrmagicE opened #663 "[Vote] About the naming of the networking project."
Hi, dear community:

As we are going to develop a new networking project to enhance the networking capabilities of OpenYurt. (proposal link https://github.com/openyurtio/openyurt/pull/637).

We are looking forward to your advice on the project naming. Here are some candidates:
* lite-vpn
* NetEdge
* FusionNet
* FiberLink
* Cobweb
* Pigeon
* Magpie
* Wormhole
* Raven
* Over-connector
* Hypernet
* R

[2021-12-08 06:32] #584 closed

[2021-12-08 06:32] #569 closed

[2021-12-08 07:34] rambohe-ch commented on #663
@DrmagicE I think we need to promote a name for the new project without including `yurt`. and i will add the candidates that discussed in dingding group.

[2021-12-08 07:39] DrmagicE commented on #663
@rambohe-ch got it, I have updated the candidates.

[2021-12-08 07:53] michaeldotmike commented on #663
NetEdge +1

[2021-12-08 07:53] rambohe-ch commented on #663
Raven +1

[2021-12-08 08:06] BlakeChiang4 commented on #663
Raven +1

[2021-12-08 08:41] DrmagicE commented on #663
Wormhole + 1

[2021-12-08 09:07] h3ar7dump commented on #663
Hypernet + 1

[2021-12-08 11:15] sayicui commented on #663
lite-vpn

[2021-12-08 11:15] Congrool commented on #663
Raven +1

[2021-12-08 11:22] windydayc commented on #663
Raven +1

[2021-12-09 00:44] windydayc commented on #418
/assign

[2021-12-09 00:44] windydayc commented on #418
/assign

[2021-12-09 03:15] vincent-pli commented on #663
Raven +1

[2021-12-09 09:53] yanyhui opened #668 "The import package in the project's go file has the problem of irregular sorting."

[2021-12-09 11:39] #668 closed

[2021-12-10 01:51] cishidai commented on #663
Wormhole +1

[2021-12-10 01:53] JameKeal commented on #663
NetEdge +1

[2021-12-10 01:54] YRXING commented on #663
Pigeon、Cobweb  +1

[2021-12-10 01:56] nancliu commented on #663
Wormhole+1

[2021-12-10 01:58] zhuyaguang commented on #663
Raven +1

[2021-12-10 01:58] jzwlqx commented on #663
Wormhole +1

[2021-12-10 02:22] donychen1134 commented on #663
NetEdge +1

[2021-12-10 02:23] Peeknut commented on #663
Hypernet+1

[2021-12-10 02:38] xionglihdfs commented on #663
LongEdge

[2021-12-10 02:43] yixingjia commented on #663
Will this be a separate project or just a component of OpenYurt?

[2021-12-10 02:52] charleszheng44 commented on #663
Wormhole +1

[2021-12-10 02:56] Peeknut commented on #656
Maybe we can keep `yurtctl init` and refactor `yurtctl init` to call sealer, which is more user-friendly as users only need to learn how to use `yurtctl` rather than sealer.

And how about creating an issue about this (refactor `yurtctl init`)?

[2021-12-10 02:57] rambohe-ch commented on #663
@yixingjia This new edge network project will be new repo under openyurtio org.

[2021-12-10 03:16] Peeknut opened #671 "[feature request]Refactor yurtctl join to remove k8s.io/kubernetes dependency"
**What would you like to be added**:
`yurtctl join` references `k8s.io/kubernetes` dependencies, especially `k8s.io/kubernetes/cmd/kubeadm`, maybe we should refactor to remove the dependencies.

`yurtctl join` can be divided into the following steps:
1) preflightcheck: check the necessary configuration for cluster operation, such as the pull of necessary images, the installation of kubelet.
2) sta

[2021-12-10 03:18] SataQiu commented on #663
FiberLink、HyperNet +1

[2021-12-10 03:46] rambohe-ch commented on #656
@Peeknut agree +1

[2021-12-10 05:43] Peeknut opened #672 "[feature request]Refactor yurtctl init to call sealer to initialize OpenYurt cluster"
**What would you like to be added**:
As mentioned in the issue #656 , after we can use sealer to initialize an OpenYurt cluster, how about refactor `yurtctl init` to call sealer(https://github.com/alibaba/sealer) to initialize the cluster?

**Why is this needed**:
1.We can remove the dependency of `k8s.io/kubernetes` in `yurtctl init` .(issue #550 )
2.Using `yurtctl init` to initialize the cluster

[2021-12-10 07:09] luckymrwang commented on #663
Raven +1

[2021-12-10 08:53] #418 closed

[2021-12-10 09:14] rambohe-ch commented on #663
Thank you everybody for voting.
now it is the closing time of voting, and voting result as following(only list the former three names):
- Raven:  7
- Wormhole: 5
-  Hypernet: 3

so OpenYurt community will use `Raven` as name for edge networking project.

[2021-12-10 10:15] #663 closed

[2021-12-12 14:09] #562 closed

[2021-12-12 15:15] DrmagicE commented on #638
Solve by #673. closed

[2021-12-12 15:15] #638 closed

[2021-12-13 05:24] DrmagicE opened #674 "[BUG] Race conditions in yurthub"
**What happened**:
The `rp.reverseProxy` in the below codes will be modified by multiple goroutines without any synchronization mechanism, which leads to race conditions.
https://github.com/openyurtio/openyurt/blob/5063752a9f6645270e3177e39a46df8c23145af2/pkg/yurthub/proxy/remote/remote.go#L91-L105

I built an image with a race detector enabled binary (go build -race )  of yurthub, and it verified

[2021-12-13 05:24] DrmagicE commented on #674
/assign @DrmagicE

[2021-12-13 14:42] chenyufeifei opened #676 "[BUG] The function of SetSELinux is unuseful."
**What happened**:
It will enter a function of doing nothing when we call selinux.SetDisabled.
https://github.com/openyurtio/openyurt/blob/master/pkg/yurtctl/util/system/util.go#L72-L77
![image](https://user-images.githubusercontent.com/94742032/145832272-04a5847e-793b-4723-9dfa-c115832df648.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[2021-12-13 14:54] eightzero commented on #424
Does this meet your expectations?

[code]

[2021-12-14 01:28] rambohe-ch commented on #676
@zyjhtangtang Do you have any comments?

[2021-12-14 04:37] Congrool opened #677 "[feature request] enable `yurtctl convert` to support k8s v1.19 and 1.21"
**What would you like to be added**:
Currently, yurtctl convert and revert command cannot support kubernetes v1.19 and v1.21. We should support them. I've run the kubernetes conformance tests based on both two k8s versions, and all cases passed. It's time to enable yurtctl to support v1.19 and v1.21.

Here are the test results.
**v1.19**
![image](https://user-images.githubusercontent.com/32788286/

[2021-12-14 04:53] Congrool commented on #677
Some test details
Openyurt components included:
1. yurthub
2. yurt-tunnel
3. yurt-controller-manager

OpenYurt commit: 61f8a76

deployed with command:
[code]

k8s version: v1.19.13, v1.21.7

[2021-12-14 06:19] rambohe-ch commented on #677
@Congrool It's a good job that add conformance test for OpenYurt. and i agree with you that add v1.19 and v1.21 version support.

[2021-12-14 06:20] #677 closed

[2021-12-14 07:20] yixingjia opened #680 "[BUG]Yurtctl not be able to convert a k8s cluster setup by kubeadm"
**Note:  This may be not a bug but would like to share what I have encountered in case someone knows the root cause.  The reason I say may not a bug because yurtctl not officially support v1.22.3. I manually modify the yurtctl/util/kubernetes/util.go and add the 1.22 support.**

Steps:

1. Get the latest code and edit yurtctl/util/kubernestes/utils.go add 1.22 support
"1.22", "1.22+"}
2.  Set up a

[2021-12-14 07:34] rambohe-ch commented on #680
/assign @adamzhoul @Peeknut

[2021-12-14 07:34] Congrool commented on #680
I also encountered the samiliar issue of certification when I convert k8s v1.22 to openyurt cluster. We should figure out the reason.

[2021-12-14 08:27] Peeknut commented on #680
（1）
**It's true that Yurthub will also be deployed on cloud nodes during conversion.**
Because Yurthub adds nodepool-related functions, cloud nodes are also needed. However, the cloud yrthub runs in cloud mode and does not enable the caching function.
（2）
**This may be a problem on Yurthub.**
According to the pod resources, the pod related to node-servant-convert seems to have run successfully (al

[2021-12-14 08:33] windydayc commented on #676
We can see the selinux.SetDisabled() method is in "github.com/opencontainers/selinux/go-selinux" package.
While in "github.com/opencontainers/selinux/go-selinux" package you can see two almost the same file selinux_linux.go and selinux_stub.go, Both files have selinux.setDisabled() in them, and both are in the selinux package. You'll find the +build command on the first line, which is the syntax f

[2021-12-14 08:34] yixingjia commented on #680
So should we update the manual document ? Since it only requires deploy the yurt hub on edge node.

Besides that, when try to manually patch the cluster. the Yurthub throw the follow error
2021-12-14T08:28:47.864213804Z stderr F I1214 08:28:47.864029       1 certificate.go:83] waiting for preparing client certificate
2021-12-14T08:28:52.74110528Z stderr F I1214 08:28:52.740702       1 connrotation

[2021-12-14 08:37] windydayc commented on #676
For more about conditional compilation, you can refer to: [Learn golang's conditional compilation](https://programmer.help/blogs/learn-golang-s-conditional-compilation.html)

[2021-12-14 08:39] Peeknut commented on #680
Yes, maybe we should update the doc.

This may be the problem of yurthub startup, since there will be certificate problems for manually patch the cluster or using yurtctl convert.@qclc

[2021-12-14 08:41] Peeknut commented on #680
@yixingjia
For the problem of yurtctl convert/revert, preflight check will be added to yurtctl convert/revert recently to reduce the probability of conversion failure.

[2021-12-14 09:17] rambohe-ch opened #682 "[feature request]update k8s.io/xxx(like client-go...) dependency up to version v0.22.x"
**What would you like to be added**:
At present k8s.io/xxx library(like k8s.io/client-go, k8s.io/apiserver...) version is v0.18.8, It's bettor to upgrade to a new version like v0.22.x.

**Why is this needed**:
I will update the all `k8s.io/xxx` library version up to v0.22.3 after `k8s.io/kubernetes` dependency is removed.

**others**
/kind feature

[2021-12-14 09:17] rambohe-ch commented on #682
/assign @rambohe-ch

[2021-12-14 09:31] qclc commented on #680
It seems that yurthub has successfully sent the CSR request, and then there is a problem in the server side processing. It may be due to the k8s version. I will take a look.

[2021-12-14 09:41] yixingjia commented on #680
@rambohe-ch  In case cloud nodes also need the Yurthub now, which is a big change for the OpenYurt topology. Currently, the Openyurt architecture not reflect this change. Do we have a plan to update it accordingly?

[2021-12-14 09:51] Peeknut commented on #424
yurtctl is a binary which can be executed on non-master nodes, the following method may not be very appropriate to distinguish static pods from normal pods.

[2021-12-14 09:53] Peeknut commented on #424
How about submitting a pr so that others can review it?

[2021-12-14 11:22] chenyufeifei commented on #676
But when we click the function in linux, it will jumb to selinux_stub.go. If we upgrade selinux package, it will jumb to selinux_linux.go. So the package should have error。

[2021-12-14 11:36] windydayc commented on #676
Maybe you disabled the selinux in your operating system. You can use `getenforce` command in terminal to check it. One possible reason is that selinux is generally disabled when build a k8s cluster.

[2021-12-14 11:40] chenyufeifei commented on #676
You can test it.
It is missing a space
![image](https://user-images.githubusercontent.com/94742032/145991551-49042b33-6db6-4cd3-a279-3fc149fbc2f6.png)
If I add a space, it is ok
![image](https://user-images.githubusercontent.com/94742032/145991659-2d2d15de-90a0-48da-9669-cadda8da732e.png)

[2021-12-14 11:46] windydayc commented on #676
Here Comma-separated logic represents AND, and does not need a white space.
For example,  (linux AND 386) OR (darwin AND (NOT cgo))
[code]

[2021-12-14 11:47] windydayc commented on #676
Your system disabled selinux, so it will `// +build !selinux` in `selinux_stub.go`.

[2021-12-14 11:49] windydayc commented on #676
Maybe you should figure out the grammar of golang's conditional compilation first.

[2021-12-14 14:35] chenyufeifei commented on #676
The selinux isn't a deufalt condition，so we shoud add a tag selinux in build the project.
But not now. @ windydayc  @ rambohe-ch

[2021-12-15 03:07] qclc commented on #680
通过查询，从1.22.x版本开始，apiserver不再支持CertificateSigningRequest的beta版本[K8S CHANGLOG](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.22.md#removal-of-several-beta-kubernetes-apis)，而yurthub目前使用的是v1beta1，因此在发送CSR请求时会出现错误。

[2021-12-15 03:12] qclc commented on #680
Starting from version 1.22.x, apiserver no longer supports the beta version of CertificateSigningRequest ([K8S CHANGELOG](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.22.md#removal-of-several-beta-kubernetes-apis)), and yurthub currently uses v1beta1 version of CertificateSigningRequest, so errors will occur when sending CSR requests.
Therefore, yurthub may not yet su

[2021-12-15 06:36] rambohe-ch commented on #676
@chenyufeifei Would you like to give more detail info that how to add a selinux tag for building yurtctl?

[2021-12-15 06:39] rambohe-ch commented on #680
@yixingjia Thank you for your suggestion, I think we need to add yurthub in cloud nodes of architecture. I will fix it before release v0.6.0 version.

[2021-12-15 06:42] rambohe-ch opened #684 "[feature request]update openyurt architecture"
**What would you like to be added**:
add yurthub(will works as cloud mode) on cloud nodes in OpenYurt architecture.

**Why is this needed**:
kube-proxy on cloud nodes need to use serviceTopology function of yurthub, so yurthub will work as cloud mode on cloud nodes.

**others**
/kind feature

[2021-12-15 06:43] rambohe-ch commented on #684
/assign @rambohe-ch

[2021-12-15 09:20] #550 closed

[2021-12-15 12:16] chenyufeifei commented on #676
The selinux_linux.go has multiple compilation conditions: `// +build selinux,linux`, it should meet conditions both selinux and linux。But the condition of `selinux` is not automatically recognized。
If we need to use selinux_linux.go, we should using `go build -tags selinux xxxx.go`.

[2021-12-16 01:35] rambohe-ch commented on #676
@chenyufeifei Thanks for your feedback. I agree with you that add selinux tag for building yurtctl component.

[2021-12-16 05:55] #674 closed

[2021-12-17 02:25] rambohe-ch commented on #409
@YRXING Do you have any progress of this issue?

[2021-12-20 01:08] yanyhui commented on #576
Standard answer:
Standard library - > project internal package - > internal third party - > external third party package.

[2021-12-20 02:15] rambohe-ch commented on #576
@yanyhui Thank you for your feedback. would you be able to add some urls for import standard?

[2021-12-20 14:07] Congrool commented on #419
I'd like take over it.
/assign

[2021-12-21 07:25] #619 closed

[2021-12-22 02:44] #409 closed

[2021-12-22 07:16] #567 closed

[2021-12-22 09:11] neo502721 commented on #671
Can you assign to me?

[2021-12-22 09:15] Peeknut commented on #671
Sorry, it seems that @rambohe-ch  is already responsible for this problem.

[2021-12-22 12:17] rambohe-ch commented on #671
@neo502721 Thank you for your responsibility, and i will make a pull request soon, I hope you will participate in code review.

[2021-12-22 12:25] rambohe-ch commented on #671
/assign @rambohe-ch

[2021-12-28 05:19] zzguang opened #699 "[feature request] Yurthub data filtering framework optimization"
**What would you like to be added**:
Current yurthub data filtering framework has some limitations, such as:
1. It hardcoded the components and the resources/verbs, which is not convenient to reuse the same resource filtering for different components.
2. One component can only filter one resource, which can not meet the requirements for some components.
So it seems the current implementation needs

[2021-12-28 06:06] rambohe-ch commented on #699
@zzguang Very appreciate for your consideration. components and verbs in filter are used by `filter.Approve` only, so it's a good idea to extract resource filters for sharing by multi components.

[2021-12-28 09:11] rambohe-ch opened #701 "[feature request]add stale bot"
**What would you like to be added**:
Add a stale bot

**Why is this needed**:
If issues/PRs are left without update for a long time, this bot will tip and close these issues/PRs.

**others**
/kind feature

[2021-12-29 18:37] #684 closed

[2021-12-29 18:42] #701 closed

[2021-12-30 02:19] rambohe-ch commented on #497
/pinned

[2021-12-30 02:22] rambohe-ch commented on #400
/pinned

[2021-12-30 02:23] rambohe-ch commented on #385
@dingsihua I think k8s v1.19 is already supported by yurtctl tool.

[2021-12-31 02:57] #671 closed

[2022-01-04 15:06] #672 closed

[2022-01-05 21:30] #433 closed

[2022-01-05 21:30] #501 closed

[2022-01-05 22:40] #427 closed

[2022-01-05 22:40] #428 closed

[2022-01-05 23:40] #382 closed

[2022-01-05 23:40] #390 closed

[2022-01-06 01:40] #356 closed

[2022-01-06 01:40] #351 closed

[2022-01-06 01:40] #376 closed

[2022-01-06 03:33] #251 closed

[2022-01-06 03:33] #257 closed

[2022-01-06 03:33] #281 closed

[2022-01-06 04:33] #142 closed

[2022-01-06 04:33] #213 closed

[2022-01-06 04:33] #224 closed

[2022-01-06 05:33] #134 closed

[2022-01-06 05:33] #126 closed

[2022-01-06 05:33] #141 closed

[2022-01-06 06:43] ChengyangDu opened #706 "[Question]how to obtain correct token when joining node"
**What happened**:
how to obtain correct token when joining node
**What you expected to happen**:
get correct token for node adding

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- OpenYurt version: OpenYurt v0.5.0
- Kubernetes version (use `kubectl version`): Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"

[2022-01-06 07:38] #353 closed

[2022-01-06 07:38] #297 closed

[2022-01-06 07:38] #331 closed

[2022-01-06 08:12] ChengyangDu commented on #706
already solved. So-called token is k8s bootstrap token, check by
`kubeadm token list`

[2022-01-06 08:12] #706 closed

[2022-01-06 08:48] ChengyangDu opened #707 "[BUG]downloading cni failed when joining arm64 node"
**What happened**:
I0106 16:34:24.975456   19047 util.go:764] Download cni from: https://aliacs-edge-k8s-cn-hangzhou.oss-cn-hangzhou.aliyuncs.com/public/pkg/openyurt/cni/v0.8.0/cni-plugins-linux-arm64-v0.8.0.tgz
Error: error execution phase initialize: Server return non-200 status: 404 Not Found

**What you expected to happen**:
download success

**How to reproduce it (as minimally and precisely a

[2022-01-06 12:51] zyjhtangtang commented on #707
The cni of the arm64 architecture is already available for download.
http://aliacs-edge-k8s-cn-hangzhou.oss-cn-hangzhou.aliyuncs.com/public/pkg/openyurt/cni/v0.8.0/cni-plugins-linux-arm64-v0.8.0.tgz

[2022-01-10 11:31] #682 closed

[2022-01-14 08:21] rambohe-ch opened #713 "[best practice]kubeflow works at edge through openyurt"
**What would you like to be added**:
1. Verify kubeflow works at edge through openyurt
2. Come to the conclusion that what's the best practice for kubeflow at edge.
3. Solve the problems in openyurt that cause kubeflow not to work.

**Why is this needed**:
Theres are more and more requirements for AI at edge, some end user have question that the best practice of kubeflow at edge.

**others**
/kind

[2022-01-17 06:24] duanjia85 commented on #713
I'm interested in kubeflow, I'll take over this task with pleasure

[2022-01-17 07:16] rambohe-ch commented on #699
@zzguang would you like to take over this feature?

[2022-01-17 07:59] zzguang commented on #699
@rambohe-ch I am not sure when I will have time to optimize it by now, we are making plan for 2022 and some important issues need to be figured out firstly, then we will define the priorities of them. If some others are interested in this feature, you can assign it to them, otherwise, I can take a look at it in future.

[2022-01-17 15:06] expwdx opened #715 "[feature request]Deploy different versions of the same application to different stand-alone nodes"
**What would you like to be added**:
To deploy different versions of the same application to different stand-alone nodes. These nodes may be located in different locations in the same farm or in different farms.

**Why is this needed**:
- In our edge scenario, there are many stand-alone deployed edge servers, which are distributed in different farms and floors. Based on the different scale of the

[2022-01-17 15:32] Congrool commented on #715
I think `yurt-app-manager` has implemented this feature.
You can find more details at https://github.com/openyurtio/yurt-app-manager

[2022-01-18 02:27] rambohe-ch commented on #715
@expwdx Thanks for raising issue.
As @Congrool reply, the UnitedDeployment workload likes to satisfy your requirements.

[2022-01-19 08:44] #521 closed

[2022-01-19 14:21] DrmagicE opened #720 "[Question] How to utilize yurt-tunnel DNS mode in a managed kubernetes?"
**What happened**:
For some reason, we are providing managed kubernetes clusters to our users, which means the control plane nodes are not parts of kubernetes nodes.  In our case, we deploy the control plane components on some dedicated virtual machines.

When I have deployed OpenYurt on my cluster and tried to configure DNS mode for yurt-tunnel, I encounter the problem of setup the DNS mode for y

[2022-01-21 04:22] hhstu opened #722 "[feature request] add regular expression supprot for config ‘cache-agent‘ of yurthub"
**What would you like to be added**:

**Why is this needed**:

**others**
/kind feature

[2022-01-21 07:08] hhstu commented on #358
If remove the kubeconfig setting in the configmap , kube-proxy on cloud-node can not dial to kube-apiserver after reboot . so it is not a good idea !

[2022-01-21 07:47] hhstu commented on #358
[code]

[2022-01-21 07:55] hhstu commented on #358
[code]

it is not work on edge but cloud

[code]

[2022-01-21 08:29] rambohe-ch commented on #358
@hhstu In OpenYurt v0.6.0 version, kube-proxy be able to use the same command parameter on the cloud side or the edge side. but you need to make sure that kube-proxy uses InClusterConfig to access kube-apiserver. the detail info you can reference link here: https://openyurt.io/zh/blog/How-run-business-pod-in-edge-scenarios/

[2022-01-21 08:29] rambohe-ch commented on #527
/pinned

[2022-01-21 08:30] rambohe-ch commented on #527
A new edge network project named `Raven` has been launched in OpenYurt community. and the feature requests in this issue will be implemented in the new project.

[2022-01-21 08:34] rambohe-ch commented on #722
@hhstu Very appreciate for raising this issue. I agree with you that add regular expression for cache-agents fields, like `cache-agents=*` means all responses will be cached.

[2022-01-21 08:36] rambohe-ch commented on #722
@hhstu Would you like to take over the feature and make a pull request?

[2022-01-26 08:12] #515 closed

[2022-01-26 12:56] rambohe-ch commented on #722
/assign @hhstu

[2022-01-28 03:11] #722 closed

[2022-02-04 02:59] expwdx commented on #715
@Congrool @rambohe-ch Thanks for the suggestion.
Do you mean only one node in a NodePool? I will try...

[2022-02-05 08:16] batthebee opened #729 "[Question] Managing identical software on many edge devices"
Let's assume we have many edge devices that perform the same task. The identical software stack is to be installed on all these devices.

The software stack consists of different components (pods) that should communicate with each other. It is important that the components only communicate with each other within their node.

Q1: How do I do the "identical" rollout of the stack to each node? This c

[2022-02-06 18:07] #544 closed

[2022-02-07 02:16] DrmagicE commented on #729
For Q1, as you said, DaemonSet could solve the problem.

For Q2, I think the Service Topology feature is what you are looking for. With Service Topology enabled, you can still use a
single kubernetes service to expose your service and Openyurt will do the rest for you.

For more information, you can refer to this tutorial: https://github.com/openyurtio/openyurt/blob/master/docs/tutorial/service-to

[2022-02-07 03:44] rambohe-ch commented on #715
@expwdx nodes that connect with each other through intranet can be put into the same NodePool.

[2022-02-07 03:47] rambohe-ch commented on #729
@batthebee For question2, you can also reference docs as following:
https://openyurt.io/docs/user-manuals/network/service-topology
https://openyurt.io/zh/docs/user-manuals/network/service-topology/

[2022-02-08 02:33] expwdx commented on #715
Ok, I see

[2022-02-09 06:54] gbtyy opened #730 "[BUG]Unable to create uniteddeployment after docker restart"
**What happened**:
An exception occurs when executing `kubectl apply -f ud-test.yaml`:
Error from server (InternalError): error when creating "ud-test.yaml": Internal error occurred: failed calling webhook "muniteddeployment.kb.io": Post https://yurt-app-webhook-service.kube-system.svc:443/mutate-apps-openyurt-io-v1alpha1-uniteddeployment?timeout=30s: context deadline exceeded.

ud-test.yaml:
[cod

[2022-02-09 09:06] rambohe-ch commented on #730
/assign @kadisi @zzguang

[2022-02-10 01:50] zzguang commented on #730
After communication with abert, it is a master env issue instead of a bug, @gbtyy,  can you add more details about it? thanks!

[2022-02-10 02:47] rambohe-ch opened #731 "[feature request]provide flannel image and cni binary for edge network"
**What would you like to be added**:
In order to adapt for edge network, flannel and cni need some improvement. and user docs is here: https://openyurt.io/zh/docs/user-manuals/network/edge-pod-network/

so how about provide flannel image and cni binary for end user directly instead of building image and binary by user-self?

**Why is this needed**:
If improved flannel image and cni binary can be p

[2022-02-10 03:22] yingjianjian commented on #731
/assign @yingjianjian

[2022-02-10 05:53] #730 closed

[2022-02-10 07:33] yingjianjian opened #732 "[Question]yurtingrees fails to deploy ingress-nginx-controller"
**What happened**:
When I was doing yurtingress, I found that ingress-nginx-controller could not be deployed. The main reason was that ingress-nginx-controller did not have the tolerance of node-role.openyurt.io/edge:NoSchedule. What I am not sure about is yurtcluster-operater. Remove Taints when deploying or add corresponding tolerance when deploying ingress-nginx-controller
**What you expected t

[2022-02-10 07:37] yingjianjian commented on #731
fix #https://github.com/openyurtio/openyurt.io/pull/80

[2022-02-10 07:44] rambohe-ch commented on #732
/assign @zzguang @kadisi

[2022-02-10 07:45] rambohe-ch commented on #732
/assign @SataQiu

[2022-02-11 02:24] zzguang commented on #732
Thanks @yingjianjian for filing this issue.
After confirmation with @SataQiu, when users convert a K8S cluster to an OpenYurt cluster by YurtCluster operator, all the edge nodes will be added a taint of "node-role.openyurt.io/edge:NoSchedule" for a production requirement,  which seems need to be optimized to keep consistent with other ways of OpenYurt cluster creation.
From the YurtIngress aspect,

[2022-02-14 12:01] rambohe-ch opened #734 "[feature request]adapt Kubernetes v1.22+ for yurthub/yurt-tunnel components."
**What would you like to be added**:
Beta version of CertificateSigningRequest is removed from Kubernetes v1.22+(https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.22.md#removal-of-several-beta-kubernetes-apis), and signer name `kubernetes.io/legacy-unknown` is not supported in Kubernetes v1.22+. so certificates generation of Yurthub/Yurt-Tunnel components should be adapted

[2022-02-14 12:11] rambohe-ch opened #735 "[feature request]Rename UnitedDeployment to YurtAppSet"
**What would you like to be added**:
Rename UnitedDeployment to YurtAppSet.

**Why is this needed**:
From discussion from this issue: https://github.com/openyurtio/openyurt/issues/433, UnitedDeployment should be renamed as YurtAppSet.

**others**
/kind feature

[2022-02-14 12:21] rambohe-ch opened #736 "[feature request]deprecate Yurtctl convert/revert command"
**What would you like to be added**:
deprecate `Yurtctl convert/revert command`

**Why is this needed**:
As discussed in [YurtCluster Operator Propsal](https://github.com/openyurtio/openyurt/blob/master/docs/proposals/20210722-yurtcluster-operator.md#non-goalsfuture-work), we will deprecate `yurtctl convert/revert` command and use `YurtCluster Operator` to install OpenYurt on K8s instead.

**other

[2022-02-14 12:25] rambohe-ch opened #737 "[feature request]rename yurtctl init/join to yurtadm init/join"
**What would you like to be added**:
rename yurtctl init/join to yurtadm init/join

**Why is this needed**:
`yurtctl init/join` are not suitable as name for creating OpenYurt cluster and join nodes.
so rename to `yurtadm init/join` for conforming to `kubeadm init/join` so reducing confusion for end users.

**others**
/kind feature

[2022-02-14 12:39] rambohe-ch opened #738 "[feature request]Improve Q&M capabilities from NodePool level"
**What would you like to be added**:
Improve Q&M capabilities from NodePool level

**Why is this needed**:
when cloud-edge network is off, this feature will provide some management abilities to end users.

**others**
/kind feature

[2022-02-16 04:12] #571 closed

[2022-02-16 12:56] #565 closed

[2022-02-17 02:58] moyuduo commented on #735
Hello, i am a new comer of openyurt project, i have been watching this project for months, now i want to resolve this simple issue to learn openyurt project  gradually and becoming a contributor of openyurt project, is this ok?

[2022-02-17 03:13] shao77622 opened #742 "[BUG]can't change x-tunnel-server-svc service type from nodeport to loadbalancer"
**What happened**:

when x-tunnel-server-svc was updated with service type from nodeport to loadbalancer, it will revert this change just in minutes.
also will recreate when been deleted.

**What you expected to happen**:

I want to use loadbalancer instead of nodeport to connect to yurt-tunnel-server

**How to reproduce it (as minimally and precisely as possible)**:

just delete it or change the

[2022-02-17 03:24] SataQiu commented on #742
@shao77622 The core configurations are guarded by the operator.
Please add `operator.openyurt.io/skip-reconcile: "true"` annotation to the object which you want to change.

[2022-02-17 06:40] rambohe-ch commented on #735
@moyuduo welcome you to contribute to OpenYurt. if you need to any help, please me know in any way.
/assign @moyuduo

[2022-02-18 07:00] shao77622 commented on #300
Orgnization/Company: mwcloud
Location: hangzhou, China
Contact: shao77622@163.com
Purpose/Scenario: Using OpenYurt for managing parking lot edge nodes all over the country.

[2022-02-18 09:40] hhstu commented on #680
crds  app noodpool is `apiextensions.k8s.io/v1beta1`，  need change  to `apiextensions.k8s.io/v1`

[2022-02-19 12:33] moyuduo commented on #735
I note that yurt-app-manager has alerdy remove from [openyurt](https://github.com/openyurtio/openyurt) into [yurt-app-manager repo](https://github.com/openyurtio/yurt-app-manager),  should i fork the latter and create pull request to this repo?

[2022-02-20 07:03] benjaminhuo opened #744 "[BUG] Cannot join OpenYurt slack channel"
**What happened**:
Cannot join slack channel below in the README.md with error "This link is no longer active"
https://join.slack.com/t/openyurt/shared_invite/zt-10dxeg3v9-PRApjbfTWN6G3sIIHan2kA

/kind bug

[2022-02-21 06:47] #423 closed

[2022-02-21 06:47] #412 closed

[2022-02-21 06:58] shao77622 opened #745 "[feature request]support domain name certs for yurt-tunnel-server and agent"
**What would you like to be added**:
yurt-tunnel-server uses --cert-ips for customized endpoints like loadbalancer, but doesn't support domain name.

**Why is this needed**:
in cloud computing environment, loadbalancer ips may changed or lost , and the domain name should be better.

**others**
I have tested this case, --cert-ips does not support domain names.
/kind feature

[2022-02-21 07:05] Congrool commented on #745
@shao77622
Does `--cert-dns-names` work in your case?

[2022-02-21 07:21] rambohe-ch commented on #745
@shao77622 Thank you for raising issue. I think we can consider to support this feature in raven.
@Congrool Do you have any comments about this issue?

[2022-02-21 09:32] rambohe-ch commented on #735
@moyuduo sorry to feedback late, please make a rename pull request in `openyurtio/yurt-app-manager` repo.

[2022-02-21 09:33] rambohe-ch commented on #735
@zzguang @kadisi how about make a pull request of renaming UnitedDeployment to YurtAppSet in `openyurtio/yurt-app-manager` repo?

[2022-02-21 09:56] rambohe-ch commented on #744
@benjaminhuo Thank you for your reminding, i will update slack link soon.

[2022-02-21 13:21] moyuduo commented on #735
ok, i have some question that i forked yurt-app-manager to my own namespace and i forget to resync the latest code, when i realize that i have alerdy finish rename, so now the git flow as follow.
[code]
i  note that openyurt require single commit each pr, so how can i rebase `8384768 ` and `ca18d81 ` into one commit

[2022-02-21 14:18] Congrool commented on #745
@rambohe-ch @shao77622
If I don't miss the point, we want to add a dns name (provided by the cloud provider) into the certificate of tunnel-server so that the tunnel-agent can use this dns name to connect to the server. In my mind, we can do this through setting the `--cert-dns-names` option of tunne-server and the `--tunnelserver-addr=${serverdns}` option of tunnel-agent.

[2022-02-22 01:41] zzguang commented on #735
Sure, welcome for the contribution about it.

[2022-02-22 02:03] zzguang commented on #735
@moyuduo , welcome for your contribution to yurt-app-manager, some suggestions about your question:
1. Your PR should base on the latest upstream source code, which aims to avoid the code conflict for merging. So you need firstly pull the latest source code then add your commit "8384768" basing on it, if any code conflict, you need to fix it.
2.  One PR can contain one or several commits, so after

[2022-02-22 02:58] rambohe-ch commented on #745
@shao77622 would you like to have a try by following comments from @Congrool ?

[2022-02-22 09:24] #545 closed

[2022-02-22 09:51] shao77622 commented on #745
It worked!  thank you!

[2022-02-22 09:52] #745 closed

[2022-02-23 06:19] #597 closed

[2022-02-23 09:30] yingjianjian commented on #699
/assign @yingjianjian

[2022-02-24 10:03] MIBc commented on #736
/assign

[2022-02-25 12:58] yingjianjian commented on #300
Orgnization/Company: [Xinhua Zhiyun Technology Co., Ltd.](https://www.ctfo.com/)
Location:beijing, China
Purpose/Scenario: Using OpenYurt for managing edge nodes across different idc region and network

[2022-02-28 12:10] gnunu commented on #300
Orgnization/Company: Shanghai Cue Co.,Ltd
Location: Room 2105, Tower 3, Capital Changing Raffles City, No.1191 Changing Road, Changing District
Contact: guangyao.hu@cue.group
Purpose/Scenario: Use OpenYurt to manage our retail edge AIBoxes.

[2022-03-02 02:29] Peeknut opened #752 "[Docs]Translate docs/introduction.md to EN"
### The docs link you want to translate

zh: https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/version-v0.6.0/introduction.md

### Target language

en: https://github.com/openyurtio/openyurt.io/blob/master/versioned_docs/version-v0.6.0/introduction.md

**Note**：The images in the documentation are stored at https://github.com/openyurtio/openyurt.io/tree/ma

[2022-03-02 02:29] Peeknut commented on #752
Since version 0.6.0 is the same as the current documentation, the following article also needs to be translated.

### The docs link you want to translate

zh: https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/current/introduction.md

### Target language

en: https://github.com/openyurtio/openyurt.io/blob/master/docs/introduction.md

[2022-03-02 06:08] qclc opened #753 "[Docs]Translate docs/user-manuals/monitoring/prometheus.md to EN"
### The docs link you want to translate

zh (original file): https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/version-v0.6.0/user-manuals/monitoring/prometheus.md

### Target language

The files in the following directories need to be replaced with the English version:

en: https://github.com/openyurtio/openyurt.io/blob/master/versioned_docs/version-v0.6

[2022-03-02 06:09] qclc commented on #753
/kind documentation

[2022-03-02 08:17] Congrool opened #754 "[feature request] refactor of `yurtctl init` to support kind"
**What would you like to be added**:
Enable `yurtctl init` to setup openyurt cluster through `kind` in purpose of e2e-tests.

**Why is this needed**:
As we discussed in #748

**others**
/kind feature

[2022-03-02 08:18] Congrool commented on #754
/assign

[2022-03-02 11:51] Peeknut commented on #752
/kind documentation

[2022-03-02 11:53] Peeknut opened #755 "[Docs] Translate docs/installation/yurtctl-init-join.md to EN"
### The docs link you want to translate

zh: https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/version-v0.6.0/installation/yurtctl-init-join.md

### Target language

en: https://github.com/openyurtio/openyurt.io/blob/master/versioned_docs/version-v0.6.0/installation/yurtctl-init-join.md

**Note**: The images in the documentation are stored at https://gith

[2022-03-02 11:53] Peeknut commented on #755
Since version 0.6.0 is the same as the current documentation, the following article also needs to be translated.

### The docs link you want to translate

zh: https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/current/installation/yurtctl-init-join.md

### Target language

en: https://github.com/openyurtio/openyurt.io/blob/master/docs/installation/yurtctl-

[2022-03-02 11:53] Peeknut commented on #755
/kind documentation

[2022-03-02 11:54] Peeknut opened #756 "[Docs] Translate docs/installation/yurtcluster.md to EN"
### The docs link you want to translate

zh: https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/version-v0.6.0/installation/yurtcluster.md

### Target language

en: https://github.com/openyurtio/openyurt.io/blob/master/versioned_docs/version-v0.6.0/installation/yurtcluster.md

**Note**：The images in the documentation are stored at https://github.com/openyu

[2022-03-02 11:54] Peeknut commented on #756
Since version 0.6.0 is the same as the current documentation, the following article also needs to be translated.

### The docs link you want to translate

zh: https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/current/installation/yurtcluster.md

### Target language

en: https://github.com/openyurtio/openyurt.io/blob/master/docs/installation/yurtcluster.md

[2022-03-02 11:54] Peeknut commented on #756
/kind documentation

[2022-03-02 11:55] Peeknut opened #757 "[Docs] Translate docs/installation/yurtctl-convert-revert.md to EN"
### The docs link you want to translate

zh: https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/version-v0.6.0/installation/yurtctl-convert-revert.md

### Target language

en: https://github.com/openyurtio/openyurt.io/blob/master/versioned_docs/version-v0.6.0/installation/yurtctl-convert-revert.md

**Note**：The images in the documentation are stored at htt

[2022-03-02 11:55] Peeknut commented on #757
/kind documentation

[2022-03-02 11:58] Peeknut opened #758 "[Docs] Translate docs/core-concepts/yurt-app-manager.md to EN"
### The docs link you want to translate

zh: https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/version-v0.6.0/core-concepts/yurt-app-manager.md

### Target language

en: https://github.com/openyurtio/openyurt.io/blob/master/versioned_docs/version-v0.6.0/core-concepts/yurt-app-manager.md

**Note**: The images in the documentation are stored at https://gith

[2022-03-02 11:58] Peeknut commented on #758
Since version 0.6.0 is the same as the current documentation, the following article also needs to be translated.

### The docs link you want to translate

zh: https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/current/core-concepts/yurt-app-manager.md

### Target language

en: https://github.com/openyurtio/openyurt.io/blob/master/docs/core-concepts/yurt-ap

[2022-03-02 11:58] Peeknut commented on #758
/kind documentation

[2022-03-02 11:59] Peeknut opened #759 "[Docs] Translate docs/core-concepts/yurt-controller-manager.md to EN"
### The docs link you want to translate

zh: https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/version-v0.6.0/core-concepts/yurt-controller-manager.md

### Target language

en: https://github.com/openyurtio/openyurt.io/blob/master/versioned_docs/version-v0.6.0/core-concepts/yurt-controller-manager.md

**Note**: The images in the documentation are stored a

[2022-03-02 11:59] Peeknut commented on #759
Since version 0.6.0 is the same as the current documentation, the following article also needs to be translated.

### The docs link you want to translate

zh: https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/current/core-concepts/yurt-controller-manager.md

### Target language

en: https://github.com/openyurtio/openyurt.io/blob/master/docs/core-concepts/

[2022-03-02 11:59] Peeknut commented on #759
/kind documentation

[2022-03-02 12:00] Peeknut opened #760 "[Docs] Translate docs/core-concepts/yurt-device-controller.md to EN"
### The docs link you want to translate

zh: https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/version-v0.6.0/core-concepts/yurt-device-controller.md

### Target language

en: https://github.com/openyurtio/openyurt.io/blob/master/versioned_docs/version-v0.6.0/core-concepts/yurt-device-controller.md

**Note**：The images in the documentation are stored at h

[2022-03-02 12:00] Peeknut commented on #760
Since version 0.6.0 is the same as the current documentation, the following article also needs to be translated.

### The docs link you want to translate

zh: https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/current/core-concepts/yurt-device-controller.md

### Target language

en: https://github.com/openyurtio/openyurt.io/blob/master/docs/core-concepts/y

[2022-03-02 12:00] Peeknut commented on #760
/kind documentation

[2022-03-02 12:01] Peeknut opened #761 "[Docs] Translate docs/core-concepts/node-resource-manager.md to EN"
### The docs link you want to translate

zh: https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/version-v0.6.0/core-concepts/node-resource-manager.md

### Target language

en: https://github.com/openyurtio/openyurt.io/blob/master/versioned_docs/version-v0.6.0/core-concepts/node-resource-manager.md

**Note**：The images in the documentation are stored at htt

[2022-03-02 12:01] Peeknut commented on #761
Since version 0.6.0 is the same as the current documentation, the following article also needs to be translated.

### The docs link you want to translate

zh: https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/current/core-concepts/node-resource-manager.md

### Target language

en: https://github.com/openyurtio/openyurt.io/blob/master/docs/core-concepts/no

[2022-03-02 12:01] Peeknut commented on #761
/kind documentation

[2022-03-02 12:01] Peeknut opened #762 "[Docs] Translate docs/installation/manually-setup.md to ZH"
### The docs link you want to translate

En: https://github.com/openyurtio/openyurt.io/blob/master/versioned_docs/version-v0.6.0/installation/manually-setup.md

### Target language

Zh: https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/version-v0.6.0/installation/manually-setup.md

**Note**：The images in the documentation are stored at https://github.com/

[2022-03-02 12:02] Peeknut commented on #762
Since version 0.6.0 is the same as the current documentation, the following article also needs to be translated.

### The docs link you want to translate

En: https://github.com/openyurtio/openyurt.io/blob/master/docs/installation/manually-setup.md

### Target language

Zh: https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/current/installation/manually-se

[2022-03-02 12:02] Peeknut commented on #762
/kind documentation

[2022-03-03 01:04] luckymrwang commented on #737
Is it just the `yurtctl init/join`? What about the other function, such as `yurtctl recovert/reset` and so on?

[2022-03-03 02:27] rambohe-ch commented on #737
@luckymrwang Thanks for your remind, yes, we also need to rename `yurtctl reset`. and `yurtctl cluster-info` maybe left it unchanged.

btw: after `yurtctl convert/revert` is deprecated, only `yurtctl clusterinfo` command is left in `yurtctl` tool. and we can discuss the value of `yurtctl` tool in the future.

[2022-03-03 03:30] ghost opened #764 "项目引用了github.com/gorilla/websocket等405个开源组件，存在10个漏洞，建议升级"
大佬，看你这个项目调用了github.com/gorilla/websocket等405个开源组件，存在10个安全漏洞，建议你升级下。
[code]
另外9个漏洞 ，信息有点多我就不贴了，你自己看下完整报告：https://www.mfsec.cn/jr?p=abcf56
你对这个issues有任何疑问可以回复我，我能看见哈。

[2022-03-03 04:26] luckymrwang commented on #762
/assign

[2022-03-03 06:03] qclc commented on #753
Since version 0.6.0 is the same as the current documentation, the following article also needs to be translated.

### The docs link you want to translate

zh (original file): https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/current/user-manuals/monitoring/prometheus.md

### Target language

The files in the following directories need to be replaced with

[2022-03-03 06:07] qclc opened #765 "[Docs]Translate docs/user-manuals/iot/edgex-foundry.md to EN"
### The docs link you want to translate

zh (original file): https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/version-v0.6.0/user-manuals/iot/edgex-foundry.md

### Target language

The files in the following directories need to be replaced with the English version:

en: https://github.com/openyurtio/openyurt.io/blob/master/versioned_docs/version-v0.6.0/u

[2022-03-03 06:09] qclc commented on #765
Since version 0.6.0 is the same as the current documentation, the following article also needs to be translated.

### The docs link you want to translate

zh (original file): https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/current/user-manuals/iot/edgex-foundry.md

### Target language

The files in the following directories need to be replaced with the

[2022-03-03 06:09] qclc commented on #765
/kind documentation

[2022-03-03 06:10] qclc commented on #765
/kind documentation

[2022-03-03 06:14] qclc opened #766 "[Docs]Translate docs/best-practices/practices-1.md to EN"
### The docs link you want to translate

zh (original file): https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/version-v0.6.0/best-practices/practices-1.md

### Target language

The files in the following directories need to be replaced with the English version:

en: https://github.com/openyurtio/openyurt.io/blob/master/versioned_docs/version-v0.6.0/best-

[2022-03-03 06:15] qclc commented on #766
Since version 0.6.0 is the same as the current documentation, the following article also needs to be translated.

### The docs link you want to translate

zh (original file): https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/current/best-practices/practices-1.md

### Target language

The files in the following directories need to be replaced with the Engl

[2022-03-03 06:16] qclc commented on #766
/kind documentation

[2022-03-03 06:39] JcJinChen opened #767 "[Docs]Translate [ZH]docs/user-manuals/autonomy/node-autonomy.md to EN"
## **The docs link you want to translate**
ZH:https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/version-v0.6.0/user-manuals/autonomy/node-autonomy.md

## **Target langange**
EN:https://github.com/openyurtio/openyurt.io/blob/master/versioned_docs/version-v0.6.0/user-manuals/autonomy/node-autonomy.md
Note：The images in the documentation are stored at https:

[2022-03-03 06:46] JcJinChen opened #768 "[Docs]Translate docs/user-manuals/network/edge-pod-network.md to EN"
## **The docs link you want to translate**
ZH:https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/version-v0.6.0/user-manuals/network/edge-pod-network.md

## **Target langange**
EN:https://github.com/openyurtio/openyurt.io/blob/master/versioned_docs/version-v0.6.0/user-manuals/network/edge-pod-network.md
Note：The images in the documentation are stored at ht

[2022-03-03 06:52] JcJinChen opened #769 "[Docs]Translate docs/user-manuals/network/edge-pod-network.md to EN"
## **The docs link you want to translate**
ZH:https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/version-v0.6.0/user-manuals/storage/edge-local-storage.md

## **Target langange**
EN:https://github.com/openyurtio/openyurt.io/blob/master/versioned_docs/version-v0.6.0/user-manuals/storage/edge-local-storage.md
Note：The images in the documentation are stored a

[2022-03-03 06:58] JcJinChen opened #770 "[Docs]Translate docs in path docs/user-manuals/workload/"
## **The docs link you want to translate**
ZH:https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/version-v0.6.0/user-manuals/workload/node-pool-management.md

## **Target langange**
EN:https://github.com/openyurtio/openyurt.io/blob/master/versioned_docs/version-v0.6.0/user-manuals/workload/node-pool-management.md
Note：The images in the documentation are st

[2022-03-03 07:00] JcJinChen commented on #770
## **The docs link you want to translate**
ZH:https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/version-v0.6.0/user-manuals/workload/uniteddeployment.md

## **Target langange**
EN:https://github.com/openyurtio/openyurt.io/blob/master/versioned_docs/version-v0.6.0/user-manuals/workload/uniteddeployment.md

[2022-03-03 07:02] JcJinChen commented on #770
## **The docs link you want to translate**
ZH:https://github.com/openyurtio/openyurt.io/blob/master/i18n/zh/docusaurus-plugin-content-docs/version-v0.6.0/user-manuals/workload/yurt-app-daemon.md

## **Target langange**
EN:https://github.com/openyurtio/openyurt.io/blob/master/versioned_docs/version-v0.6.0/user-manuals/workload/yurt-app-daemon.md

[2022-03-03 07:39] rambohe-ch commented on #626
/pinned

[2022-03-03 09:44] #629 closed

[2022-03-03 09:44] #633 closed

[2022-03-09 02:27] yingjianjian opened #773 "[Feature Request]About the new field definition of configmap in the filtering framework"
**What would you like to be added**:
Regarding the discussion of #749 , I feel that the configmap configuration for the custom filtering framework is more complicated. I want to discuss the field definition through this issue

At present, my thoughts are as follows. If you have any questions, please correct me. Welcome to discuss together.:

[code]
**Why is this needed**:
To customize the filter b

[2022-03-09 02:32] rambohe-ch commented on #773
@yingjianjian what fields do end users need to configure in the configmap `kube-system/yurthub-cfg`?

[2022-03-09 02:41] yingjianjian commented on #773
In order to improve flexibility, all fields are basically configured. Currently, the fields that need to be defined are user_agent, name, resources, verbs. For the verbs field, I think it can be defined as the default value? I think the configuration of the addons verbs field should be consistent, I don't know if my idea is correct

In order to improve flexibility, all fields are basically configu

[2022-03-09 02:42] yingjianjian commented on #773
In order to improve flexibility, all fields are basically configured. Currently, the fields that need to be defined are user_agent, name, resources, verbs. For the verbs field, I think it can be defined as the default value? I think the configuration of the addons verbs field should be consistent, I don't know if my idea is correct

[2022-03-09 06:36] rambohe-ch commented on #773
@yingjianjian Thanks for your feedback. because we want to use resource names as filter name, for example endpoints filter, endpointslices filter etc.  and specified kind of requests of clients can use specified filter. so the format maybe to define as following:
[code]
so if end users want to configure to filter endpoints and endpointslices response of kube-proxy and coredns list/watch requests.

[2022-03-09 06:46] rambohe-ch commented on #773
@zzguang @DrmagicE @hhstu Do you have any comments about this issue?

[2022-03-09 06:49] yingjianjian commented on #773
Is it easy to configure errors with too much configuration?
How do you see this?

apiVersion: v1
data:
  cache_agents: ""
  filter_endpoints:
   - kube-proxy/list,watch
   - coredns/list,watch
  filter_endpointslices:
   - kube-proxy/list,watch
   - coredns/list,watch
  filter_ discardcloudservice:
   - kube-proxy/list,watch
   filter_ masterservice:
   -  kubelet/list,watch
kind: ConfigMap
metada

[2022-03-09 07:00] hhstu commented on #773
我对 新的serviceTopologyFilter 的定义本身没有什么异议，但对我来说 * 就足够。
原因：我目前没有遇到过哪个资源不需要本地 cache 的，业务的服务几乎不会用到 k8s 的资源，平台用到 k8s 的资源的都需要 cache。
从易用性角度讲，如果要实现 新的serviceTopologyFilter，请保留 * 😁

[2022-03-09 07:05] rambohe-ch commented on #773
@hhstu This new filed is not for cache_agents, a new field is added for configuring filters.

[2022-03-09 07:08] rambohe-ch commented on #773
@yingjianjian Thanks for your reply. because the format of ConfigMap.Data is `map[string]string`, so the `-kube-proxy/list,watch ` is not supported in configmap.

[2022-03-10 01:13] Kwaiseec commented on #764
@openyurtio，同学，您好，上面的漏洞报告是我IDE运行时，安全插件提示您这个项目存在的几个漏洞的报告，辛苦您修复一下哈，担心其他人也会用到你这个项目，从而引入这些漏洞。：）

[2022-03-10 02:31] #762 closed

[2022-03-10 07:19] Peeknut opened #774 "[feature request]`NodePool Governance Capability`: add `pool-coordinator-certificate` controller"
**What would you like to be added**:
According to `NodePool governance capability` proposed in the proposal, we need to add some controllers on the cloud:
- pool-coordinator-certificate controller: is used to prepare certificates for pool-coordinator component on edge nodes.
- pool-coordinator controller: is used to manage nodes in terms of delegated node leases.

and these controllers will be int

[2022-03-10 07:21] Peeknut commented on #774
/assign @Peeknut

[2022-03-10 07:22] Peeknut opened #775 "[feature request]`NodePool Governance Capability`: Add admission webhook"
**What would you like to be added**:
Admission webhook ensures the feature of  `Node Autonomy` and `NodePool Autonomy` that have been described in https://github.com/openyurtio/openyurt/issues/776

  - node autonomy: when workload has annotated with node autonomy, tolerations for tolerating node notReady will be added to pods automatically.
  - if certain percent(default value: 70%) of nodes statu

[2022-03-10 07:25] Peeknut opened #776 "[feature request]`NodePool Governance Capability`: remove nodelifecycle controller and add pool-coordinator controller in yurt-controller-manager component."
**What would you like to be added**:

  We will remove the original NodeLifeCycle controller in Yurt-Controller-Manager component, so native Kube-Controller-Manager doesn't need to disable NodeLifeCycle controller when startup. at the same time, we will add a new controller and webhook for providing edge autonomy feature in Yurt-Controller-Manager component.

  - provide two edge autonomy mode for

[2022-03-10 07:26] Peeknut opened #777 "[feature request]`NodePool Governance Capability`: Add component `pool-coordinator`"
**What would you like to be added**:
pool-coordinator uses apiserver and etcd in a pod mode, and etcd needs to use memory storage. Its life cycle is controlled by YurtAppDaemon, and helm charts of `pool-coordinator` will be prepared . So the following work needs to be done:

Before implementation, the following tests are required：
- When there are many resources in the NodePool (500 Nodes, 1k Pods

[2022-03-10 07:28] Peeknut opened #778 "[feature request]`NodePool Governance Capability`: YurtHub supports writing data to pool-spirit"
**What would you like to be added**:
Yurthub needs to add the following features:

-  When the pool-spirit starts or migrates and rebuilds, actively establish a connection with the pool-spirit and send local data to the pool-spirit.
- When the local data is updated, the changed data needs to be synchronized to the pool-spirit.

Since multiple nodes are likely to update a resource at the same time,

[2022-03-10 07:29] Peeknut opened #779 "[feature request] `NodePool Governance Capability`: yurthub are delegated to report heartbeats for nodes that disconnected with cloud"
**What would you like to be added**:
Yurthub needs to add a leader election mechanism and a lease proxy mechanism.

Leader election mechanism can be described as:
- Yurthub senses the existence of pool-coordinator and participates in leader election if it can connect to the cloud.
- Leader Yurthub should list/watch the lease resources in the pool-coordinator.

Lease proxy mechanism can be describe

[2022-03-10 08:19] yingjianjian commented on #773
Check whether the startup parameter etcd-servers-overrides of kube-apsierver can be in the following format:
filter_{name}: user-agent1#verb1;verb2, user-agent2#verb1;verb2

[2022-03-10 08:20] ujnzxw opened #780 "[BUG] yurtctl join command should enable kubelet automatically"
**What happened**:
When using `yurtctl join` to join a new node into cluster, kubelet will be installed automatically, the command `yurtctl join` command only start daemon `kubelet` but does not enable it.

When the joined node restart, the `kubelet` cannot be restarted automatically because it is not `systemctl` enabled.

And we cannot find `kubelet` running status because the default node life c

[2022-03-10 09:41] rambohe-ch commented on #773
@yingjianjian agree +1, consistent with startup parameter format of kube-apiserver.

@zzguang do you have any comments?

[2022-03-10 11:54] zzguang commented on #773
agree +1, it means that one feature can use multi resources filters, and one resource filter can be used by multi features conveniently.

[2022-03-11 04:58] shao77622 opened #782 "[feature request]A way to increase the node capacity for one openyurt cluster by temporary unbind nodes"
**What would you like to be added**:
With Node Autonomy, we could temporary unbind a node from the openyurt cluster . Also,  the node could be rebind at any time when node management is needed.

**Why is this needed**:
To increase the node capacity for one openyurt cluster(<500 node is recommended currently) ,  as some nodes do not need to be managed by openyurt cluster all the time.

**others**
/

[2022-03-11 08:47] gnunu commented on #775
/assign @LindaYu17

[2022-03-11 08:48] gnunu commented on #776
/assign @gnunu

[2022-03-11 08:50] Congrool commented on #778
Hi，I want to take over this work.
/assign

[2022-03-11 09:06] rambohe-ch commented on #773
/assign @yingjianjian

[2022-03-13 07:57] #647 closed

[2022-03-14 02:26] rambohe-ch commented on #752
/assign @rambohe-ch

[2022-03-15 02:14] kwaicsse commented on #764
@openyurtio，同学，您好，这个项目您还在维护吗？上面的漏洞报告是我IDE运行时，安全插件提示您这个项目存在的几个漏洞的报告，辛苦您修复一下哈，担心其他人也会用到你这个项目，从而引入这些漏洞。：）

[2022-03-17 05:14] #656 closed

[2022-03-21 06:18] lorrielau commented on #755
/assign @lorrielau
Corresponding PR:  https://github.com/openyurtio/openyurt.io/pull/98

[2022-03-21 06:38] #755 closed

[2022-03-21 06:39] lorrielau commented on #756
/assign @lorrielau

[2022-03-21 11:56] #424 closed

[2022-03-21 12:06] lorrielau commented on #756
https://github.com/openyurtio/openyurt.io/pull/100

[2022-03-21 14:58] rambohe-ch commented on #756
/close

[2022-03-21 14:58] #756 closed

[2022-03-22 07:14] #699 closed

[2022-03-23 02:24] #676 closed

[2022-03-23 03:51] donychen1134 commented on #777
/assign donychen1134

[2022-03-24 02:41] rambohe-ch commented on #779
/assign @rambohe-ch

[2022-03-27 04:03] #576 closed

[2022-03-27 15:44] #419 closed

[2022-03-28 11:01] #773 closed

[2022-03-29 06:09] rambohe-ch opened #786 "[vote] the name of component that provide governance ability in nodepool."
**What would you like to be added**:
In the [proposal](https://github.com/openyurtio/openyurt/pull/772), a new component(named pool-spirit) will be added in the edge NodePool. the new component mainly provides the following ability:
- To store metadata for NodePool as a kv storage
- To provide a distributed lock for leader electing.
- To use native kubernetes API to provide these above two abiliti

[2022-03-29 06:16] iutx commented on #786
sheepdog+1

[2022-03-29 06:17] rambohe-ch commented on #786
sheepdog +1

[2022-03-29 06:18] njucjc commented on #786
sheepdog +1

[2022-03-29 06:24] zzguang commented on #786
yurt-minister

[2022-03-29 06:27] leejean-wq commented on #786
pool-coordinator+1

[2022-03-29 06:30] zyjhtangtang commented on #786
sheepdog +1

[2022-03-29 07:16] donychen1134 commented on #786
pool-coordinator +1

[2022-03-29 07:19] luc99hen commented on #786
sheepdog +1

[2022-03-29 08:12] ujnzxw commented on #786
shepherd +1
In my opinion, "shepherd" is a better name than "sheepdog".
The role of a Shepherd is a leader flock of sheep and manage them. A shepherd is a person who tends, herds, feeds, or guards flocks of sheep
But the primary role of a sheepdog is to assist the shepherd. The sheepdog assists the shepherd with gathering and handling the sheep.
[Be a Shepherd Not a Sheepdog](https://medium.com/@t

[2022-03-29 08:46] Congrool commented on #786
sheepdog +1
@ujnzxw
From my perspective, sheepdogs are not only responsible for guarding sheep but also moving, managing and controling sheep. We can see that on [wiki](https://en.wikipedia.org/wiki/Sheep_dog#:~:text=A%20sheep%20dog%20or%20sheepdog,control%20sheep%20and%20other%20livestock.).

I totally agree the opinion, and that is one of the reasons I prefer "sheepdog". Because this new compone

[2022-03-29 09:37] windydayc commented on #786
yurt-minister +1

[2022-03-29 12:33] MrGirl opened #788 "[feature request] add tenant isolation for components such as kube-proxy&flannel which run in ns kube-system"
**What would you like to be added**: a signal which show the tenant identity of kube-proxy&flannel

**Why is this needed**: Isolation for resources like service and endpoint

**others**
/kind feature

[2022-03-29 13:06] ujnzxw commented on #786
Thanks for your reply.
Based on my understanding, the project name is "OpenYurt", shepherd belongs to Yurt, API Server is the higher-level component than Yurt, we can call it "government", maybe.
Generally, one shepherd can only manage one flock of sheep at the same time, and the shepherd manages the sheep(edge nodes) far away from the Yurt. The shepherd can work standalone(autonomy), but the shee

[2022-03-30 02:14] rambohe-ch commented on #788
@MrGirl Thank you for raising issue. and i'd like to add some backgrounds for multi tenant isolation feature in OpenYurt.
- feature comes from some IoT end users
- multi end users can share the control plane and have his own edge nodes and resources.

in the other word, end user wants to share a OpenYurt cluster, join his edge nodes into the cluster and deploy apps on this own edge nodes. at the s

[2022-03-30 02:21] rambohe-ch commented on #788
Based on the original service account in kube-system namespace, end user can list all resource from cluster, In order to prevent resource leak in a tenant isolation cluster, we need to make sure that only resource of specified end user and resource in common namespace can be exposed to specified end user. so the feature in this issue is used to provide this ability.

[2022-03-30 02:48] rambohe-ch commented on #786
@ujnzxw Very appreciate for your reply. we will keep this vote until 4.1(Friday) and wait for more discussion and vote.
According to the voting rules, we will finally choose the name with the most votes.

[2022-03-30 02:48] rambohe-ch commented on #400
/pinned

[2022-03-31 02:15] dongzl commented on #786
pool-coordinator +1

[2022-03-31 02:16] qclc commented on #786
pool-coordinator +1

[2022-03-31 02:17] GLTSC commented on #786
shepherd +1

[2022-03-31 02:18] cishidai commented on #786
pool-coordinator + 1

[2022-03-31 02:25] h3ar7dump commented on #786
new proposal:
hive

[2022-03-31 02:27] JcJinChen commented on #786
pool-coordinator + 1

[2022-03-31 03:02] Fei-Guo commented on #786
pool-coordinator +1  or new proposal: pool-harbor

[2022-03-31 03:06] lorrielau commented on #786
sheepdog+1

[2022-03-31 04:52] showeriszero commented on #786
yurt-minister+1

[2022-03-31 05:17] DrmagicE commented on #786
pool-coordinator + 1

[2022-04-01 09:07] rambohe-ch commented on #786
more than 20 people have already voted, and the top three names are:
- pool-coordinator  8votes
- sheepdog 7votes
- yurt-minister 3votes

so according to the voting rules, `pool-coordinator` becomes the name for the new component in NodePool.

[2022-04-02 03:42] JameKeal opened #789 "[BUG] ServiceTopology does not take effect in k8s 1.21 version"
**What happened**:
when k8s version is 1.21, service topology was not take effect

**What you expected to happen**:
The service takes effect in the new version

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
[code]
As we can see, the code has used **endpointSlice.Endpoints[i].Topology** to make sure the service success, but in 1.21 version,

[2022-04-06 02:58] #497 closed

[2022-04-06 02:58] #385 closed

[2022-04-08 04:03] rambohe-ch commented on #789
@JameKeal Thank you for raising issue. how about make a pull request to fix this bug.

[2022-04-08 08:00] rambohe-ch commented on #764
@kwaisecer Thank you for raising security issue. and i have checked the following two libraries with high security warning.

- github.com/gorilla/websocket
[code]

- github.com/dgrijalva/jwt-go

[code]

[2022-04-08 12:20] donychen1134 commented on #777
"You can try to build an etcd with data stored in memory in the following ways: https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/virtualcluster/doc/demo.md"
Whether this doc link is wrong? I can't find any "build an etcd with data stored in memory" information in the web page.
Maybe I can use the follow way to let etcd data store in memory:
  volumes:
  - emptyDir:
      me

[2022-04-08 22:52] Fei-Guo opened #797 "[feature request] Update yurt-app-manager-api repo"
**What would you like to be added**:

The  yurt-app-manager-api  repo should be updated with the latest API changes.

**Why is this needed**:

The users that import this repo will get confused for any API changes in the main repo.

**others**
/kind feature

[2022-04-10 03:29] rambohe-ch opened #800 "[feature request] Adding unit test case for modifyResponse function in Yurthub"
**What would you like to be added**:
As discussed in the pull request #794 , I's more reliable to add some unit test case for `modifyResponse` function in yurthub. the code reference link is here: https://github.com/openyurtio/openyurt/blob/master/pkg/yurthub/proxy/remote/remote.go#L128-L203

**Why is this needed**:
`modifyResponse` function is entry for data filtering framework and local cache ma

[2022-04-10 03:32] rambohe-ch commented on #797
@Fei-Guo Ok, I will update `yurt-app-manager-api` repo with the new API definition.

[2022-04-10 03:34] rambohe-ch commented on #777
@donychen1134 yes, use emptyDir volume for etcd data.

[2022-04-11 09:32] #744 closed

[2022-04-11 09:40] rambohe-ch commented on #797
/assign @kadisi

[2022-04-11 09:44] #754 closed

[2022-04-12 04:09] shao77622 opened #802 "[feature request]when will the lite version of openyurt(kole/lite-kubelet) been released?"
**What would you like to be added**:
The lite version of openyurt, like kole/lite-kubelet.

**Why is this needed**:
The lite version can be more efficient if there are many edge nodes(>1000) to be managed in one openyurt cluster, and each node are single deployed.  I don't want to use kubeedge ^^

**others**
/kind feature

[2022-04-13 02:22] kadisi commented on #802
@shao77622 Thank you for your attention. We are doing POC recently and will open source it later. The specific time is estimated to be in May.

[2022-04-13 03:23] zyycrack commented on #300
Orgnization/Company: [Zhian Technology Co., Ltd.](https://www.zhiannet.com/)
Location:hangzhou, China
Purpose/Scenario: Using OpenYurt for managing edge nodes across different idc region and network
Contact： [zhangyy@zhiannet.com](mailto:zhangyy@zhiannet.com)

[2022-04-13 14:25] #707 closed

[2022-04-18 11:35] rambohe-ch commented on #713
/pinned

[2022-04-19 10:11] lonelyCZ commented on #737
/assign @lonelyCZ

[2022-04-20 03:08] Congrool opened #811 "[feature request] run `yurtctl test` on mac"
**What would you like to be added**:
Ensure `yurtctl test` that can work correctly on Mac.

**Why is this needed**:
Currently, `yurtctl test` is ensured to run on the platform of `linux/amd64`, and other platforms have not been tested yet. Many developers may have their development environments based on Mac. It will be more convenient for them, if we can ensure `yurtctl test` to run correctly on M

[2022-04-20 03:15] rambohe-ch commented on #811
/assign @rambohe-ch

[2022-04-20 11:09] kadisi commented on #797
https://github.com/openyurtio/yurt-app-manager-api/pull/1

[2022-04-20 11:09] #797 closed

[2022-04-21 03:14] JameKeal opened #812 "[BUG] DockerHub YurtAppManager Image Architecture Error"
**What happened**:
When I download openyurt/yurt-app-manager:latest@sha256:5280d56b463575fbe1682de1726347eb33021e5ab37d09a2528a9b39f649acf1 image, I want to get arm64 image, but the result is amd64.

![1650509546333_4C17AC8D-84F4-4b37-8964-F4204FF366A7](https://user-images.githubusercontent.com/70508195/164363794-a4c932c3-6f4a-4198-9932-56f2d34d4a26.png)

![2572f032de8ef370a4b2d0bcaa8ea84](https:/

[2022-04-26 04:08] SD-SSEOS commented on #300
Orgnization/Company: [beijing si-tech Ltd (https://www.si-tech.com/)
Location:beijing, China
Purpose/Scenario: Using OpenYurt for managing edge nodes across different idc region and network
Contact： [yanwl@si-tech.com.cn](mailto:yanwl@si-tech.com.cn)

[2022-04-27 22:28] #720 closed

[2022-04-28 06:53] JameKeal commented on #789
OK，I'll do it

[2022-04-28 10:28] #527 closed

[2022-05-10 02:25] rambohe-ch commented on #715
/close

[2022-05-10 02:25] #715 closed

[2022-05-10 15:14] huiwq1990 opened #824 "[feature request] support chart repo"
**What would you like to be added**:

Create a new github repository, and use it store helm charts. We could reference other projects, like [argo](https://github.com/argoproj/argo-helm) and [prometheus](https://github.com/prometheus-community/helm-charts)

**Why is this needed**:

Currently we need clone yurtcluster-operator, then helm install it. It's not convenient.

**others**
/kind feature

[2022-05-11 02:21] rambohe-ch commented on #824
@huiwq1990 It's a good idea to create a new repo(like openyurt-helm) for storing helm charts of all of OpenYurt components. and i will fix it.

[2022-05-11 02:22] rambohe-ch commented on #824
@huiwq1990 done. https://github.com/openyurtio/openyurt-helm

[2022-05-13 06:21] #736 closed

[2022-05-13 07:11] snowfly568790005 opened #827 "[Question]Is there the demo:edgex device creating by k8s API"
**What happened**: I dont know how to create device/deviceprofile by k8s API when i want integrate openyurt with thingsboard cloud like.So I can compare the two device provide way: k8s API and MQTT API

**What you expected to happen**: give the demo by k8s API  with java client  better

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Is there

[2022-05-13 08:04] snowfly568790005 commented on #827
moved

[2022-05-15 04:30] #729 closed

[2022-05-16 02:40] rambohe-ch commented on #738
/pinned

[2022-05-16 02:40] rambohe-ch commented on #734
/pinned

[2022-05-17 02:00] FengGaoCSC opened #835 "[Question] Does OpenYurt support Istio?"
Does OpenYurt support Isito service mesh  ?

Regards

**others**
/kind question

[2022-05-17 02:33] rambohe-ch commented on #835
@FengGaoCSC Very appreciate you for raising issue. Istio will soon be supported in OpenYurt smoothly. we have launched a new project [raven](https://github.com/openyurtio/raven) to solve the network requirements that needed by istio.

[2022-05-17 02:36] FengGaoCSC commented on #835
@rambohe-ch  very thanks,  I got it

[2022-05-17 02:42] rambohe-ch commented on #835
@FengGaoCSC OpenYurt Community Group ID: 31993519, welcome you to join into the group by dingding software.

[2022-05-17 02:43] FengGaoCSC commented on #835
thanks I will join now

[2022-05-17 15:10] huiwq1990 opened #837 "[feature request] Add addon subcommand to deploy openyurt component"
**What would you like to be added**:

1) all charts store in repo `https://github.com/openyurtio/openyurt-helm`
2) add subcommand addon, which can deploy yurt-app-manager, yurt-edgex-manager and so on;
The addon can call `helm install` to deploy instance.

**Why is this needed**:

**others**
/kind feature

[2022-05-18 01:21] rambohe-ch commented on #837
@huiwq1990 It's a good idea to add a subcommand for installing addons. and we will prepare all of addons' helm charts in the next version(OpenYurt v0.8.0)

[2022-05-18 01:22] rambohe-ch commented on #837
@Congrool Do you have any comments?

[2022-05-18 13:18] #731 closed

[2022-05-19 03:33] #732 closed

[2022-05-20 06:49] #811 closed

[2022-05-23 03:55] ldk273427673 commented on #300
Orgnization/Company: zhengzhou aiwen-tech company
Location:beijing, China
Purpose/Scenario: Using OpenYurt for managing edge nodes，deploy edge applications
Contact：liudengke@ipplus360.com

[2022-05-24 02:32] DrmagicE opened #845 "[Question] Should yurt-controller-manager deploy as Daemonset or static pod on control plane?"
**What happened**:
yurtctl/yurtadm use 1 replicas `Deployment` to deploy  `yurt-controller-manager`.  Under such circumstances, if the node where `yurt-controller-manager` deployed shutdowns, the node won't turn into NotReady state, so the `yurt-controller-manager` won't be re scheduled which may cause issues.

**What you expected to happen**:
As the `yurt-controller-manager` is a replacement of t

[2022-05-24 03:19] rambohe-ch commented on #845
@DrmagicE Thanks for raising the issue. At present we can use deployment.replicas=2 in order to make the ycm high availbility.

btw: we are now reforming ycm, remove NodeLifeCycle controller from ycm and put NodeLifeCycle controller back to kcm.
issue reference link: https://github.com/openyurtio/openyurt/issues/776

[2022-05-24 05:34] rambohe-ch commented on #812
/assign @kadisi

[2022-05-24 06:03] rambohe-ch opened #846 "[Question]how many installation ways that should be provided for end users."
**What happened**:
  1. At present, we have provided 5 ways for end users to install OpenYurt cluster. and from the beginner's perspective, there are too many installation ways and it's easy get confused for end users. https://openyurt.io/docs/next/installation/summary

  2. [YurtCluster](https://github.com/openyurtio/yurtcluster-operator) is a controller that used for converting K8s to OpenYurt o

[2022-05-24 06:04] rambohe-ch commented on #846
@gnunu @SataQiu @lonelyCZ @hwq830 @cndoit18 @Congrool

[2022-05-24 06:11] DrmagicE commented on #845
@rambohe-ch Thanks for your quick response. I would try daemonset for now and looking forward to the new feature.

[2022-05-24 06:11] #845 closed

[2022-05-24 06:22] cndoit18 commented on #846
I like this👍
cc @zhangzhenyuyu

[2022-05-24 09:14] LindaYu17 commented on #775
webhook development complete, waiting for integration with other components.
add two validating webhook:
1. poolcoordiantor-webhook: validate pool-coordinator CR create/update
2. nodeautonomy-webhook: validate when annotating node as node autonomy

[2022-05-24 09:15] gnunu commented on #776
Progress update:
We will re-enable k8s kube-controller-manager's nodelifecycle controller, for less modification of vanilla k8s. From workload perspective, we will sress on pod management instead of node. For this, we can add validating webhook to check pod operation, especially delete in the case of API initiated eviction.

The works done so far:
1) CA and server certificates gerneration on init;

[2022-05-24 09:50] Peeknut commented on #774
The controller is mainly divided into three parts:
(1) prepare: resources are needed to prepare pool-coordinator and yurthub, including certificate for pool-coordinator to access kubelet, client certificate and permissions for yurthub to forward node-lease, etc.
**Progress:** Done

(2) reconcile pool-coordinator: monitor the pool-coordinator resource and operate the corresponding YurtAppSet accord

[2022-05-24 11:03] Congrool commented on #778
This work is almost finished, including:
1. add a client to send objs in response to etcd in pool-coordinator.
2. add a reverse proxy to re-direct requests to apiserver in pool-coordinator when the node cannot reach the cloud.

Some problems still unsolved:
1. cannot cache secret, which is used when using InClusterConfig to setup pod.
2. unit tests have not been revised
3. resource gc in pool-coor

[2022-05-24 13:06] #786 closed

[2022-05-24 15:09] SataQiu commented on #846
+1

[2022-05-25 01:26] #738 closed

[2022-05-25 01:29] rambohe-ch commented on #626
@SataQiu based on the discussion of issue #846, YurtCluster will be used for status detection, error alarm, etc. but not OpenYurt cluster installation. so we can close issue.

[2022-05-25 01:29] #626 closed

[2022-05-25 01:34] rambohe-ch commented on #522
@tiezhuoyu Pods(not hostNetwork) connection across public network will be solved by [raven](https://github.com/openyurtio/raven),  also you can dive into the proposal: https://github.com/openyurtio/openyurt/blob/master/docs/proposals/20211123-enhancement-of-cluster-networking.md

and we will close this issue, and you reopen or create a new issue if you have any other questions.

[2022-05-25 01:34] #522 closed

[2022-05-25 02:32] #734 closed

[2022-05-25 02:50] rambohe-ch commented on #779
Progress update:
1. pool-coordinator existence checker: in progress
2. leader election for yurthub: almost finished
3. a new client certificate for pool-coordinator in yurthub: in progress
4. lease forwarding: todo

[2022-05-25 03:30] gnunu commented on #846
+1

[2022-05-25 07:36] tiezhuoyu commented on #522
@rambohe-ch that's a greate work 👍

[2022-05-25 14:22] huiwq1990 commented on #846
+1

[2022-05-26 13:21] rambohe-ch opened #851 "Alibaba Summer of Code (ASOC) 2022"
# Alibaba Summer of Code (ASOC) 2022
Welcome to the open source world! If you haven't planned how to spend this summer, come to the Alibaba Summer of Code and code with us! 💻

Alibaba Summer of Code is a global program focused on engaging students directly in open source software development. Under the guidance of the mentor in the Alibaba open source project, students can experience software deve

[2022-05-26 15:01] huiwq1990 opened #852 "[feature request] openyurt components crd naming convention and style"
**What would you like to be added**:

Currently, openyurt components have different naming convention and style, like `yurt-app-manager's` [UnderScoreCase](https://github.com/openyurtio/yurt-app-manager/blob/master/pkg/yurtappmanager/apis/apps/v1alpha1/yurtingress_types.go#L74
) and `yurt-edgex-manager's` [AllLowCase](https://github.com/openyurtio/yurt-edgex-manager/blob/main/api/v1alpha1/edgex_ty

[2022-05-27 02:06] rambohe-ch commented on #852
@huiwq1990 Very appreciate for your issue, and i agree with your suggestion to conform for K8s naming convention.
 i think we can revise the CRD naming convention in OpenYurt v0.8.0.

[2022-05-27 02:07] #789 closed

[2022-05-27 12:07] rambohe-ch opened #855 "ASOC 2022: Integrate OpenYurt with istio and kubeflow based on cloud-edge architecture."
# Describe your problem
  In OpenYurt cluster, edge worker nodes connect controlplane node through public network. Deploy istio and kubeflow system in the OpenYurt cluster and make them work smoothly even in cloud-side architecture.

  OpenYurt集群中边缘节点通过公网连接管控节点。在OpenYurt集群中部署istio和kubeflow等云原生解决方案，并且使这些解决方案可以在云边协同架构中无缝运行。

# Additional context
This issue is part of our [Alibaba Summer of Code (202

[2022-05-27 12:16] rambohe-ch opened #856 "ASOC 2022: Based on sealer to provide a solution to create high availability OpenYurt cluster"
# Describe your problem
  To improve `yurtadm init` and `yurtadm join` command to create high availability OpenYurt cluster by integrating sealer tool. and we need to support all of kubernetes version that more than v1.18

  通过集成sealer工具来完善`yurtadm init/join`命令，使用户可以创建高可用的OpenYurt集群。同时请支持Kubernetes v1.18以上所有版本。

# Additional context
This issue is part of our [Alibaba Summer of Code (2022) Program]

[2022-05-27 12:23] rambohe-ch opened #857 "ASOC 2022: Make container network solution(calico) work on the OpenYurt even if cloud-edge network off"
# Describe your problem
  Deploy container network solution(calico) in OpenYurt cluster, and make calico network can work even if edge nodes restart when cloud-edge network off.
  Meanwhile, when the edge network can not work properly for some unknown reasons(like iptables settings fault), provide a way or a tool to detect the network problem.

  在OpenYurt集群中部署calico容器网络方案，并且保证在云边网络断连状态下即使边缘节点重启ca