[2022-05-27 12:33] rambohe-ch opened #858 "ASOC 2022: Optimizes the pods recovery efficiency when edge nodes restart"
# Describe your problem
  When the cloud edge network is disconnected in the OpenYurt cluster, the recovery time of the Pods is about 1 minute after the edge node restarts. Expect to improve Pod restart efficiency and reduce recovery time to 30s.

  OpenYurt集群中云边网络断连时，边缘节点重启时当前业务Pod恢复时间在1min左右。期待可以提升Pod重启效率，恢复时间降低到30s。

# Additional context
This issue is part of our [Alibaba Summer of Code (2022)

[2022-05-27 16:46] huiwq1990 opened #859 "[feature request] yurtadm token subcommand"
**What would you like to be added**:

Add a `token` subcommand for admin when need to join an edge node.

**Why is this needed**:

When join a edge node by execute `yurtadm join`, we should set token parameter. Openyurt should provide a way to generate the token, for examle imitate `kubeadm join`'s implementation.

**others**
/kind feature

[2022-05-30 01:59] Congrool commented on #859
sounds good, agree +1

[2022-05-30 06:20] rambohe-ch commented on #859
@huiwq1990 Very appreciate for your suggestion. would you be able to take over this work?

[2022-05-30 16:51] huiwq1990 commented on #859
I wolud like to implement this. There ary many subcommends, like `yurtadm token create`, `yurtadm token list` and so on. How many features do `yurtadm token` should cover. I suggest we just implement `yurtadm token create`, and  close the loop on `yurtadm`. If openyurt users want to use more management functions, we cloud recommend them use `kubeadm`.
@Congrool @rambohe-ch What's your suggestions?

[2022-05-31 06:27] rambohe-ch commented on #859
@huiwq1990 I think feature of command `yurtadm token create` is the same as `kubeadm token create`. and how about wrap `kubeadm token` in `yurtadm token` command, so maybe we will not confused how many features does `yurtadm token` should cover.

[2022-05-31 08:08] Congrool commented on #858
Should the difficulty be "hard"?

[2022-05-31 10:57] rambohe-ch commented on #858
@Congrool Thank you for pointing out the miss. I've fixed it.

[2022-06-01 07:35] rambohe-ch commented on #769
/pinned

[2022-06-01 07:36] rambohe-ch commented on #761
/pinned

[2022-06-01 07:40] rambohe-ch commented on #760
/pinned

[2022-06-01 07:40] rambohe-ch commented on #759
/pinned

[2022-06-01 07:42] rambohe-ch commented on #680
@adamzhoul based on the discussion of this issue: https://github.com/openyurtio/openyurt/issues/846, end user will use `helm install` to install OpenYurt on a existed K8s cluster.

[2022-06-02 02:31] rambohe-ch commented on #753
/pinned

[2022-06-02 02:32] rambohe-ch commented on #765
/pinned

[2022-06-02 02:32] rambohe-ch commented on #767
/pinned

[2022-06-02 11:16] windydayc opened #866 "[Question] How to use yurtadm init to install openyurt cluster?"
**What happened**:
I used `yurtadm init`  to build openYurt cluster as described in the [document](https://openyurt.io/docs/installation/yurtadm-init-join#22-initialize-the-cluster):

![image](https://user-images.githubusercontent.com/43909149/171616873-7d4f9014-db05-4634-b31d-5137774ebbad.png)

but got failed as below:

![image](https://user-images.githubusercontent.com/43909149/171617030-0890fca

[2022-06-03 01:14] LinFCai opened #867 "[BUG]K8s 1.22 node autonomy when edge node disconnected with K8s APIServer and reboot"
**What happened**:
Bound Service Account Token Volume is enabled in K8s 1.22. When edge node disconnected with K8s APIServer, kubelet can't get TokenRequest after edge node reboot. Then the token file in pod will be empty and In-cluster config will load failed. Because of that flannel or multus can't work correctly, and kubelet call cni-plugin(eg: multus) to configure other pod's network will be f

[2022-06-03 09:44] windydayc commented on #866
I followed [FAQ | sealer](http://sealer.cool/zh/help/faq.html#how-to-clean-host-environment-manually-when-sealer-apply-failed) to clean host environment, then solved the above problem.
But then came another problem:

[code]

[2022-06-03 11:30] windydayc commented on #866
Finally, I do above operations on CentOS7.8, use `make build WHAT="yurtadm" ARCH="amd64" REGION=cn` to recompile the `yurtadm` command, the command runs successfully.

[code]

[2022-06-03 11:31] windydayc commented on #866
Finally, I do above operations on CentOS7.8, use `make build WHAT="yurtadm" ARCH="amd64" REGION=cn` to recompile the `yurtadm` command, then the `yurtadm init` command runs successfully.

[code]

[2022-06-03 11:35] windydayc commented on #866
I think it may be some problems with the Ubuntu system, and the host environment also has some impact.

Solution:
1. Use CentOS system.
2. Follow this document to clean up host environment: [FAQ | sealer](http://sealer.cool/zh/help/faq.html#how-to-clean-host-environment-manually-when-sealer-apply-failed).

[2022-06-03 11:36] #866 closed

[2022-06-04 07:09] Congrool opened #869 "[feature request] replace deprecated arch and os labels"
**What would you like to be added**:
replace `beta.kubernetes.io/os` and `beta.kubernetes.io/arch` with `kubernetes.io/os` and `kubernetes.io/arch` respectively.

**Why is this needed**:
Currently, OpenYurt components use labels of `beta.kubernetes.io/os` and `beta.kubernetes.io/arch` as nodeSelector to decide which node to deploy, such as yurt-tunnel-server. See [its nodeSelector](https://github.

[2022-06-05 04:57] rambohe-ch commented on #867
@LinFCai Thanks for raising issue. this issue is known bug and we need to handle it.

[2022-06-05 06:17] rambohe-ch commented on #869
@Congrool we need to consider how to maintain compatibility with old versions. Otherwise, OpenYurt components can not run if nodes do not have corresponding labels after components upgrade.

[2022-06-05 10:00] Congrool commented on #869
Considering that we only ensure openyurt to run on kubernetes above 1.17, `beta.kubernetes.io/os` and `beta.kubernetes.io/arch` are deprecated since 1.14 and removed from 1.18, also the compatibility has been included by kubernetes itself, because when we use kubernetes above 1.17, both `beta.kubernets.io/os` and `kubernetes.io/os` will be added to the node like follows:
[code]
Thus, we will never

[2022-06-05 11:09] rambohe-ch commented on #869
@Congrool  Thanks for your reply, and it's a good news that no problem with migration.
Would you be able to take over this feature?

[2022-06-06 03:32] rambohe-ch opened #871 "[feature request]when nodepool or service change, service topology function can work"
**What would you like to be added**:
For `servicetopology` filter in Yurthub, beside endpointSlice resource, nodePool and service change can be handled.
maybe `endpoints` filter also should be enhanced.

**Why is this needed**:
`servicetopology` filter in Yurthub can work properly when endpointSlices resource change. if nodePool or service resource change, like updating topology annotation for ser

[2022-06-06 11:50] windydayc opened #872 "[BUG] Cluster installed successfully using `yurtadm init`, but yurthub kept restarting"
**What happened**:
I used `yurtadm init` to install an openyurt cluster as [this document](https://openyurt.io/docs/installation/yurtadm-init-join) described, and it ran successfully:
[code]

node info:

[code]

But the yurthub kept restarting (this machine's hostname is "host130"):

[code]

`yurt-hub-host130`'s log:

[code]

`yurt-hub.yaml`:
[code]

`kubeconfig`:

[code]

**What you expected to h

[2022-06-06 11:50] windydayc commented on #872
`kubelet`'s log:

[code]

[2022-06-07 02:53] rambohe-ch commented on #872
@windydayc It looks like that yurthub component is waiting for the client certificate. so please check why client certificate generation is failed.
 - kubectl get csr
 - check logs of yurt-controller-manager

[2022-06-07 02:59] windydayc commented on #872
[code]

`yurt-controller-manager` 's log:

[code]

[2022-06-07 03:31] rambohe-ch commented on #872
@windydayc As you seen, yurt-controller-manager have no permission to approve the csr. the detail logs as following:

I think that RBAC setting for yurt-controller-manager is not correct.

[2022-06-07 03:53] windydayc commented on #872
[code]

[code]

[2022-06-07 03:58] Congrool commented on #872
[code]

It should be
[code]

You can recreate the rbac with what in `config/setup/yurt-controller-manager.yaml`.

[2022-06-07 04:04] Congrool commented on #872
BTW, is it a bug when using `yurtadm init`?

[2022-06-07 04:09] windydayc commented on #872
I think so. Because I'm not doing anything else, I'm just using `yurtadm init`.

[2022-06-07 06:52] Congrool commented on #778
For **ReverseProxy**, the processing logic of request from edge side is something like:
[code]

So I need a way to determine whether this yurthub is leader yurthub.
What do you think? @rambohe-ch

[2022-06-07 09:37] rambohe-ch commented on #778
@Congrool please wait me for a little time.

[2022-06-07 12:32] windydayc commented on #872
How to judge whether the two versions match?
I find that these two images are:
openyurt/yurthub:latest
openyurt/yurt-controller-manager:latest

[2022-06-07 12:32] windydayc commented on #872
How to judge whether the two versions match?
I find that these two images are:
openyurt/yurthub:latest
openyurt/yurt-controller-manager:latest

[2022-06-09 08:39] dbaicss opened #876 "[Question] what's the cm of yurt-tunnel-nodes"
![image](https://user-images.githubusercontent.com/45416253/172803475-1a193bec-b090-4eff-9305-2157efb7df4b.png)
文档里面安装openyurt的前置条件，需要把coredns改成ds方式部署，挂载yurt-tunnel-nodes这个cm，这个cm哪里有？
/kind question

[2022-06-09 09:02] Congrool commented on #876
It should be under ns kube-system. You can check it with:
[code]

[2022-06-09 09:49] dbaicss commented on #876
ok,thanks,got it!

[2022-06-10 03:36] #859 closed

[2022-06-10 13:34] Sodawyx commented on #858
Some ideas of the solutions to this problem:

- when the node in the restarting status, the steps can be described easily as follows: 1) OS restart, 2) kubernetes components restart, 3) OpenYurt components (Yurt Hub/ Yurt tunnel agency) restart;
- The optimization should be focused on the step 3 (OpenYurt components)
- The test scenarios can be arranged as follows: 1) measure the OS restarting tim

[2022-06-13 02:10] rambohe-ch commented on #752
/pinned

[2022-06-13 02:21] rambohe-ch commented on #858
@Sodawyx Very appreciate for your ideas. and i agree with that optimization should focus on the restarting time of OpenYurt components. by the way, Yurthub run as a static pod and should be started up before other components, because kubelet need to list pods metadata from local disk through Yurthub.

[2022-06-13 02:21] rambohe-ch commented on #858
@Sodawyx Very appreciate for your ideas. and i agree with that optimization should focus on the restarting time of OpenYurt components. by the way, Yurthub run as a static pod and should be started up before other components, because kubelet need to list pods metadata from local disk through Yurthub.

[2022-06-13 04:46] Congrool commented on #858
@rambohe-ch
We are woking on pool-coordiantor cache in coming v0.8.0, so the cache structure of yurthub will have a great change. During ASOC when the v0.8.0 hasnot been released, if we meanwhile work on the optimization of cache efficiency based on v0.7.0, there will be a lot of conflict when merging these two features. So I suggest that we should optimize cache efficiency after v0.8.0, or at lea

[2022-06-13 06:18] rambohe-ch commented on #858
@Congrool Thanks for your suggestions, yeah, we can optimize cache efficiency after pool-coordinator.

[2022-06-14 02:17] doubleblink opened #880 "[BUG] The coredns function is abnormal when edge node disconnected with K8s APIServer and reboot"
**What happened**:
I have deployed coredns in the daemonset mode (hostnetwork=ture), so that in the cloud edge autonomous scenario, the pod can resolve domain names normally. When edge node disconnected with K8s APIServer and reboot, coredns can't get ServerVersion and obtain the resource under version v1 of the discovery.k8s.io group or v1beta1 to determine whether to enable k8s EndpointSliceProx

[2022-06-14 02:23] rambohe-ch commented on #880
@doubleblink Thank you for raising issue. The reason is that Yurthub does not support to cache `APIGroupResources` and server version at present. Would you be able to take over to add this feature for Yurthub?

[2022-06-14 02:40] doubleblink commented on #880
Simple Method:
1.Obtain the version information of K8S version and the supported discovery group in the case where the module of healthcheck is disconnected and reconnected, and store it in the mount directory of the container volume.
2. Write the useragent into the context of the request for coredns related to non-resource requests in the cache module so that the coredns requests can be processed

[2022-06-14 02:52] rambohe-ch commented on #880
@doubleblink ok, i will add a label for this issue, so maybe other members in the community will take over it.

[2022-06-15 11:51] #780 closed

[2022-06-16 11:25] #782 closed

[2022-06-16 15:15] ankyit opened #886 "Doc: Readme.MD - Slack link is expired"
Slack link on the [Readme.MD](https://github.com/openyurtio/openyurt/blob/master/README.md) is expired and should be updated.

[2022-06-17 02:59] luojieio opened #887 "[Question]kubectl get resource error"
**What happened**:

# kubectl get ds -A
Error from server (Forbidden): daemonsets.apps is forbidden: User "system:node:ubuntu" cannot list resource "daemonsets" in API group "apps" at the cluster scope

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- OpenYurt version:
0.7

- Kubernetes ver

[2022-06-17 03:10] rambohe-ch commented on #887
@luojieio Thank you for raising issue. It looks like you run `kubectl get ds -A` command on the edge nodes, so `system:node:ubuntu` user was used unintentionally. because group `system:nodes` has no privilege to list DaemonSet resource, so you got error like the above message.

maybe you need to use the cluster kubeconfig to list DaemonSet.

[2022-06-17 03:31] rambohe-ch opened #889 "[feature request]optimize `yurtadm join` command"
**What would you like to be added**:
 Code of `kubeadm join` are imported into OpenYurt by `yurtadm join` command, how about import `kubeadm` binary file instead of importing code?
 if `kubeadm` file does not exist, we can install it online. then we need to make sure that kubelet can access kube-apiserver through yurthub and we do not need to restart kubelet and other pods.

**Why is this needed**

[2022-06-17 03:39] #886 closed

[2022-06-17 04:31] tydra-wang commented on #889
/assign @tydra-wang

[2022-06-17 08:15] jgmiao opened #890 "yurtadm init failed on sealer v0.8.5 cluster"
yurtadm versioin
![image](https://user-images.githubusercontent.com/6794193/174256269-8cf97b4b-c978-4148-8a25-1c196c0c3f99.png)

i have initialized the k8s cluster with sealer v0.8.5, then i init openyurt with yurtadm failed:
`Error: The existing sealer version v0.8.5 is not supported, please clean it. Valid server versions are [v0.6.1].`

![image](https://user-images.githubusercontent.com/6794193

[2022-06-17 08:17] windydayc commented on #890
Now yurtadm only support sealer v0.6.1.

[2022-06-17 08:18] windydayc commented on #890
Currently, it is recommended to install openyurt manually.
https://openyurt.io/docs/installation/manually-setup

[2022-06-17 08:20] jgmiao commented on #890
ok, i try it

[2022-06-17 10:24] windydayc commented on #872
In yurthub's log:
![image](https://user-images.githubusercontent.com/43909149/174279925-e34eb0ac-bd2f-48a8-90fb-961cdbdb4734.png)
Because it is a cloud node,  cache manager is disabled.

[2022-06-17 10:24] #872 closed

[2022-06-19 12:56] hxcGit commented on #800
I have some questions here.
1. I found that `modifyResponse` invokes some other functions, such as `cachemanager.CacheResponse`, which I guess might depend on specific storage. I would like to know if there is any way to test its correctness.
2. Besides, I think some "local variables" such as `resp.Request` need to be tested as well since they are modified inside the function and seem to be cached

[2022-06-20 02:02] rambohe-ch commented on #872
@windydayc Would you be able to update the last status about this issue?

[2022-06-20 03:05] windydayc commented on #872
`yurtadm init` did not [reset kubelet](https://openyurt.io/zh/docs/installation/manually-setup#%E9%87%8D%E7%BD%AE-kubelet), thus causing the above problems. I will improve the `yurtadm` command later.

[2022-06-20 08:36] rambohe-ch commented on #752
/p

[2022-06-20 09:51] showeriszero opened #891 "[BUG]yurt-hub container can't start when rejoin yurt cluster."
**What happened**:
yurt-hub container report follow error:
iptables v1.8.7 (legacy): Couldn't load target `NOTRACK':No such file or directory
when rejoin yurt cluster.

**What you expected to happen**:
yurt-hub container start successed.

**How to reproduce it (as minimally and precisely as possible)**:
rejoin cluster, manual install Yurthub.

**Anything else we need to know?**:
hardware is arm64.

[2022-06-22 02:19] rambohe-ch commented on #876
@dbaicss I think this issue has been solved, so i will go to close this issue. and you can reopen it if you need to continue to follow this case.

[2022-06-22 02:19] #876 closed

[2022-06-22 02:43] #867 closed

[2022-06-22 02:44] rambohe-ch commented on #812
@JameKeal This problem has been solved by the pull request: https://github.com/openyurtio/yurt-app-manager/pull/61

[2022-06-22 02:44] #812 closed

[2022-06-22 02:47] rambohe-ch commented on #837
@huiwq1990 As we have discussed in this issue #846 , and we will not add subcommand for deploying OpenYurt components. so i will go to close this issue.

[2022-06-22 02:47] #837 closed

[2022-06-22 15:21] huiwq1990 opened #893 "[feature request] use `kube-webhook-certgen` manage webhook certificate"
**What would you like to be added**:

Use [kube-webhook-certgen](https://github.com/jet/kube-webhook-certgen) to generate webhook certificate, like [ingress-nginx](https://github.com/kubernetes/ingress-nginx/tree/main/charts/ingress-nginx/templates/admission-webhooks or [kubevela](https://github.com/kubevela/kubevela/tree/master/charts/vela-core/templates/admission-webhooks).

**Why is this needed

[2022-06-23 02:42] rambohe-ch commented on #893
/assign @kadisi @zzguang @DrmagicE @njucjc

@huiwq1990 It looks like we will import a new component(kube-webhook-certgen) in OpenYurt cluster if we use kube-webhook-certgen to generate webhook certificate. so would you be able to introduce the differences and advantages of kube-webhook-certgen?

[2022-06-23 02:46] hxcGit commented on #735
Is anyone working on this issue right now? If no one is, I want to take it.

[2022-06-23 03:21] rambohe-ch commented on #735
@hxcGit This issue is still idle, welcome you to take it.

[2022-06-23 03:26] hxcGit commented on #735
@rambohe-ch Currently I think three repos (openyurt, yurt-app-manager and openyurt.io) need to make relevant changes, right?

[2022-06-23 06:18] adamzhoul opened #895 "[feature request] add grafana to help monitor openyurt itself"
**What would you like to be added**:

add grafana page to monitor openyurt.

**Why is this needed**:

to help monitoring openyurt components.
I see some like yurthub、yurttunnel have exposed metric already.

if we provide an out-of-box grafana page, it will be nice.

**others**
/kind feature

[2022-06-23 15:08] huiwq1990 commented on #893
Ok, I will attend a meeting.

[2022-06-26 10:27] shubham-cmyk opened #896 "Openyurt DingTalk Invitation Code Expired"
I am not able to join the DingTalk group of openyurt can someone update the group join QR code.

[2022-06-26 10:44] whisperzzZ commented on #896
The DingTalk group number is 31993519 and you can search using that number

[2022-06-26 11:45] shubham-cmyk commented on #896
@whisperzzZ It shows also Invalid

[2022-06-26 12:16] whisperzzZ commented on #896
Type 31993519 in the search box and then  choose the  'Search public groups: 31993519' button?( ‘网络查找公开群组’)
I've tried it on my phone and it's available. Sry for not giving you the QR code ,it seems only administrators can share it.

[2022-06-26 16:08] shubham-cmyk commented on #896
Thanks a lot!

[2022-06-26 16:08] #896 closed

[2022-06-29 09:17] yingjianjian opened #898 "[feature request]About edge ingress revealing the hostnetwork mode"
**What would you like to be added**:
At present, the ports revealed by edge ingress are all large random port numbers. We want to fix 80 port access.

reason:

1. there may not be an agent on the customer's side, but it doesn't seem reasonable to add a port number when accessing services,

2. the nodeport port is not fixed. When accessing each node pool, you need to check the port corresponding to

[2022-06-29 10:05] zzguang commented on #898
Edge ingress is focusing on ingress feature from nodepool level and expose the service through NodePort/EIP to outside of the nodepool, users are not aware which node in the pool is hosting the nginx ingress controller. If we introduce the host network node, it seems not make sense. I have no idea whether it is a common requirement and how to support it by now, any suggestions are welcome.

[2022-06-29 12:48] yingjianjian commented on #898
Yes, I understand, so I was wondering whether the hostnetwork mode can be provided so that port 80 can be used, but I can't judge whether this part is meaningful

[2022-06-29 13:03] rambohe-ch commented on #895
@adamzhoul yes, it's a good idea to add configuration for prometheus. Would you like to update this tutorial?
https://openyurt.io/docs/user-manuals/monitoring/prometheus

[2022-06-29 13:04] rambohe-ch commented on #735
@hxcGit yes, please post your pull requests.

[2022-07-01 09:57] #735 closed

[2022-07-02 01:52] huiwq1990 opened #900 "[feature request] fuzz testing support"
**What would you like to be added**:

1) Add openyurt to [CNCF-Fuzzing](https://github.com/cncf/cncf-fuzzing)

2) Continuous fuzzing by way of [OSS-Fuzz](https://github.com/google/oss-fuzz)

**Why is this needed**:
1) Fuzz will improve openyurt security

2) Fuzz is gaining more and more cncf projects

3) Recently I  write a test case for yurtappdaemon, and find a nil pointer bug
![image](https://u

[2022-07-05 07:17] rambohe-ch commented on #900
@huiwq1990 It's a good idea to add fuzz testing support for OpenYurt. and i think we can support it in the 2022 OSPP topic. @Congrool @lorrielau Do you have any comments?

[2022-07-13 01:42] rambohe-ch commented on #400
/pinned

[2022-07-13 02:31] rambohe-ch commented on #802
/pinned

[2022-07-13 11:53] rambohe-ch commented on #770
1. node pool tutorial translation is fixed by https://github.com/openyurtio/openyurt.io/pull/128
2. unitedDeployment tutorial translation is fixed by https://github.com/openyurtio/openyurt.io/pull/130

[2022-07-13 11:54] #768 closed

[2022-07-13 11:55] #767 closed

[2022-07-13 11:58] rambohe-ch commented on #766
practices doc translation is fixed by https://github.com/openyurtio/openyurt.io/pull/138

[2022-07-13 11:58] #766 closed

[2022-07-13 11:59] #769 closed

[2022-07-13 12:01] #765 closed

[2022-07-13 12:02] rambohe-ch commented on #761
node resource manager doc translation is fixed by https://github.com/openyurtio/openyurt.io/pull/138

[2022-07-13 12:02] #761 closed

[2022-07-13 12:03] rambohe-ch commented on #760
yurt-device-controller doc translation is fixed by https://github.com/openyurtio/openyurt.io/pull/140

[2022-07-13 12:04] rambohe-ch commented on #753
prometheus tutorial doc translation is fixed by https://github.com/openyurtio/openyurt.io/pull/140

[2022-07-13 12:04] #753 closed

[2022-07-13 12:05] rambohe-ch commented on #759
yurt-controller-manager doc translation is fixed by https://github.com/openyurtio/openyurt.io/pull/127

[2022-07-13 12:05] #759 closed

[2022-07-13 12:07] rambohe-ch commented on #757
yurtctl convert/revert command has been deprecated. so tutorial for them is removed.

[2022-07-13 12:07] #757 closed

[2022-07-13 12:08] rambohe-ch commented on #752
introduction doc translation is fixed by https://github.com/openyurtio/openyurt.io/pull/124

[2022-07-13 12:08] #752 closed

[2022-07-14 03:29] Congrool commented on #900
Sry for late reply. I'm not familiar with the fuzzing test, a little time needed to figure it out.

[2022-07-14 06:56] windydayc opened #908 "[feature request] The k8s version problem involved in `yurtadm join`"
When using `yurtadm join` , the kubeadm, kubelet will be downloaded from [here](https://github.com/openyurtio/openyurt/blob/9ee902ccdbe884a56a486fe3c1f457c3dabb19dd/pkg/yurtadm/util/kubernetes/util.go#L126-L127), and their versions will be the same as the installed kubernetes version.

However, in [preflight phase](https://github.com/openyurtio/openyurt/blob/2fdfb0660d1227f0f5b3a21dec3aa721c3bde7c

[2022-07-14 07:18] windydayc commented on #908
@rambohe-ch @Congrool @Peeknut

[2022-07-14 07:54] rambohe-ch commented on #908
@windydayc how about post a pull request to fix this problem at first? maybe we can define `MinimumKubeletVersion` to `v1.18.0`

[2022-07-14 08:06] windydayc commented on #908
@rambohe-ch

The code in pkg/util/kubernetes/kubeadm is copied from the [kubeadm v1.22.3](https://github.com/kubernetes/kubernetes/blob/v1.22.3/cmd/kubeadm/app/constants/constants.go#L450), from #864.

Is it feasible to directly modify the imported kubeadm source code in this way?

[2022-07-14 08:44] windydayc commented on #908
OK. I haven't thought of another solution yet.

[2022-07-14 13:14] Sodawyx commented on #880
I think I can try to handle this issue in two weeks. If I fix the the bug, I will propose PR.

[2022-07-14 13:50] #764 closed

[2022-07-15 02:04] rambohe-ch commented on #880
@Sodawyx Very appreciate for you to take over this work.

/assign @Sodawyx

[2022-07-18 06:31] rambohe-ch commented on #713
This issue has been added as project in ASOC 2022, the detail info is here: https://github.com/openyurtio/openyurt/issues/855

so i will close this issue.

[2022-07-18 06:31] #713 closed

[2022-07-18 07:35] windydayc commented on #856
/assign @windydayc

[2022-07-18 07:39] whisperzzZ commented on #855
/assign @whisperzzZ

[2022-07-18 07:48] hxcGit opened #914 "OSPP 2022: Edge application update model in cloud-edge collaboration architecture"
# Describe your problem
In cloud-edge collaboration scenario, the edge is connected to the cloud through the public network, and the edge nodes may be disconnected from the cloud due to various objective or subjective factors. The update of Workloads (Deployment, DaemonSet, etc.) in the native Kubernetes relies on the connectivity of the edge nodes to the cloud network. Therefore, when the cloud-e

[2022-07-18 07:50] hxcGit commented on #914
/assign @hxcGit

[2022-07-18 08:13] Congrool commented on #857
/assgin

[2022-07-18 08:14] Congrool commented on #857
/assign

[2022-07-18 09:28] rambohe-ch opened #915 "[performanace test] add performance metrics and test data for yurthub component"
**What would you like to be added**:
Yurthub component is a sidecar on edge nodes for forwarding traffic between K8s master(like kube-apiserver) and K8w worker components(like kubelet, kube-proxy, etc.). It's important to add test data for yurthub component that include the following performance metrics:
- resource metrics: cpu, memory
- requests traffic: the traffic between kube-apiserver and edg

[2022-07-18 10:03] rambohe-ch opened #916 "[unit test] improve unit test coverage for yurt-tunnel"
**What would you like to be added**:
improve unit test coverage for yurt-tunnel:
- current coverage: 29%
  https://app.codecov.io/gh/openyurtio/openyurt/compare/911/tree/pkg/yurttunnel

- target coverage: 70%

**Why is this needed**:
improve unit test coverage for OpenYurt project.

**others**
/kind feature

[2022-07-18 10:05] rambohe-ch opened #917 "[unit test] improve unit test coverage for yurthub"
**What would you like to be added**:
improve unit test coverage for yurthub:

- current coverage: 45%
https://app.codecov.io/gh/openyurtio/openyurt/compare/911/tree/pkg/yurthub

- target coverage: 70%

**Why is this needed**:
improve unit test coverage for OpenYurt project.

**others**
/kind feature

[2022-07-18 10:07] rambohe-ch opened #918 "[unit test] improve unit test coverage for yurt-controller-manager"
**What would you like to be added**:
improve unit test coverage for yurt-controller-manager:

- current coverage: 28%
https://app.codecov.io/gh/openyurtio/openyurt/compare/911/tree/pkg/controller

- target coverage: 70%

**Why is this needed**:
improve unit test coverage for OpenYurt project.

**others**
/kind feature

[2022-07-18 10:09] rambohe-ch opened #919 "[unit test] improve unit test coverage for yurtadm"
**What would you like to be added**:
improve unit test coverage for yurtadm:

- current coverage: 10%
https://app.codecov.io/gh/openyurtio/openyurt/compare/911/tree/pkg/yurtadm/util

- target coverage: 70%

**Why is this needed**:
improve unit test coverage for OpenYurt project.

**others**
/kind feature

[2022-07-18 10:11] rambohe-ch opened #920 "[unit test] improve unit test coverage for yurtctl"
**What would you like to be added**:
improve unit test coverage for yurtctl:

current coverage: 6.5%
https://app.codecov.io/gh/openyurtio/openyurt/compare/911/tree/pkg/yurtctl

target coverage: 70%

**Why is this needed**:
improve unit test coverage for OpenYurt project.

**others**
/kind feature

[2022-07-19 02:38] Congrool commented on #917
Since we're pending at #882 which has great changes on yurthub cache components, could we write unit tests after #882 being merged? Otherwise we have to rewrite these tests later.

Also, we'd better do #857 based on #882, otherwise we have to retest it later.

[2022-07-19 03:13] gnunu commented on #893
@rambohe-ch @huiwq1990 Sounds we would have at least four repo's in need of cert generation for webhook (openyurt, yurt-app-manager, raven, pool-coordinator). We do need a common API for this. How do we do that? We have theses choices:
1) Use https://github.com/jet/kube-webhook-certgen
2) Add a new certs repo under openyurt.io
3) Expose this part from yurt-app-manager
4) Add an API repo for the wh

[2022-07-19 04:43] huiwq1990 commented on #893
@gnunu @rambohe-ch I recommend the first one. As:
1) [kube-webhook-certgen](https://github.com/jet/kube-webhook-certgen) could patch k8s webhooks and generate certs for https server;
2) If we maintain the certs code, we need cover unit tests and there are not difference in implementing mechanisms;
3) Some famous projects use it too, it's relatively mature;

[2022-07-20 02:42] rambohe-ch commented on #917
@Congrool ok, i will focus on reviewing #882 and merge this pull request before unit test.

[2022-07-20 03:04] rambohe-ch commented on #835
@FengGaoCSC we have raised a project in 2022 ASOC for intergating istio with OpenYurt. detail info is here: https://github.com/openyurtio/openyurt/issues/855

so i will close this issue and you can reopen it you need.

[2022-07-20 03:04] #835 closed

[2022-07-20 03:11] Congrool opened #923 "[feature request] Need /retest bot command"
**What would you like to be added**:

Add new command `/retest` to bot. It can re-trigger the CI to retest the pr.

**Why is this needed**:

Sometimes the CI(Github Action) may fail by accident, for example e2e-tests fail for timeout. We need a way for contributors to retest their pr in this case.

**others**
/kind feature

[2022-07-20 06:32] rambohe-ch commented on #916
/assign @rambohe-ch

[2022-07-20 06:42] donychen1134 commented on #917
/assign donychen1134

[2022-07-20 07:01] rambohe-ch commented on #923
@Congrool It's a good idea to add /retest command.

[2022-07-20 07:50] Congrool commented on #800
It seems that we;ve already had the test of `cachemanaer.CacheResponse` in `pkg/yurthub/cache_manager_test.go`, so here we can foucus on `modifyResponse` itself.

How about write a fake cacheManager to instead? @hxcGit

[2022-07-20 07:55] Congrool commented on #918
/assign

[2022-07-20 08:56] Lulucyliu commented on #300
Organization/Company: Institute of Software Chinese Academy of Sciences (ISCAS)
Location: Beijing, China
Purpose/Scenario: Using OpenYurt for managing edge nodes, deploying edge FaaS  platform
Contact：liulu20@otcaix.iscas.ac.cn

[2022-07-20 09:30] slm940208 opened #924 "[Question] Does the current edge network CNI plugin only support flannel?"
Does the current edge network CNI plugin only support flannel?

[2022-07-20 09:37] rambohe-ch commented on #924
@slm940208 Thank you for raising issue. in fact, all of cni network solutions(like flannel, calico) are supported in OpenYurt because no modification has been made to Kubernetes.

but use cni network solution directly in cloud-edge scenario, when network connection between cloud and edge offline, if cni network plugin restart for some reason(like node reboot), the edge network settings maybe can n

[2022-07-20 09:39] rambohe-ch commented on #924
@slm940208 and for flannel, we have made some optimization in order to solving the above problems. you can dive into the detail design here: https://openyurt.io/docs/user-manuals/network/edge-pod-network/

[2022-07-20 09:42] slm940208 commented on #924
@rambohe-ch Thank you for your reply. The current community only gives Flannel's modification scheme？

[2022-07-20 16:07] Congrool commented on #924
Actually, in the aspect of edge-network, I think we can support calico through raven, see openyurtio/raven#38.

We mention #857 here, because we're checking if calico can run as it is when cloud-edge network breaks.

[2022-07-21 00:51] #924 closed

[2022-07-21 14:47] whisperzzZ opened #925 "[BUG] yurt tunnel not work between edge node and cloud node"
**What happened**:
Failed to setup yurt-tunnel between edge node (node194)  and cloud node（master-hangzhou）
worker-guangzhou、worker-shanghai 、master-hangzhou have public IP and can connect with each other.(alicloud and tencent cloud) (all traffic and ports allowed)
the connection between tunnel-agent(worker-shanghai/worker-guangzhou) and tunnel-server(master-hangzhou) is normal
node194 is virtual

[2022-07-22 05:48] whisperzzZ commented on #925
1.For now I haven't changed the configuration about coredns and kubeproxy  following the guide https://openyurt.io/zh/docs/installation/openyurt-prepare/. I meant to do so after applying yurt-tunnel and reset kubelet.
So, now kube-proxy accessed kube-apiserver directly.
below is the logs of kube-proxy in node194
[code]
2.
there seems no related dnat setting
[code]

[2022-07-22 06:03] whisperzzZ commented on #925
here is the nat rules...
[code]

[2022-07-22 06:07] rambohe-ch commented on #915
we will post a performance test report for 100 edge nodes OpenYurt cluster.

[2022-07-22 06:23] rambohe-ch commented on #915
/assign @luc99hen

[2022-07-22 06:25] luc99hen commented on #915
/assign @luc99hen

[2022-07-22 06:27] rambohe-ch commented on #919
/hold

[2022-07-22 06:38] River-sh commented on #920
/assign

[2022-07-22 07:29] rambohe-ch commented on #925
@whisperzzZ Thanks for your feedback. and we need to make kube-proxy access kube-apiserver through yurthub.

https://openyurt.io/zh/docs/installation/openyurt-prepare/#3-kubeproxy%E8%B0%83%E6%95%B4

in order to make pods(like kube-proxy) with InClusterConfig can access kube-apiserver through yurthub, i need to make sure `kubernetes` service for InClusterConfig has been modified.  you can dive into

[2022-07-22 10:00] whisperzzZ commented on #925
I've changed the cm、restart kubeproxy pods、restart yurttunnel server and agent, but it still doesn't work now.

[code]
[code]

[code]

nat rules below.
[code]

[2022-07-22 10:28] whisperzzZ commented on #925
Also，env in pod has benn changed to yurthub‘s addr too

[2022-07-25 02:50] slm940208 opened #928 "[Question] I remember the planning of node health detection in the roadmap. Did remove it now?"
I remember the planning of node health detection in the roadmap. Did remove it now?
Will the community support the function of node health detection in the next plan?

[2022-07-25 03:12] Congrool commented on #928
Would you mean #779 ? It has been added to roadmap 1.1.

[2022-07-25 03:16] slm940208 commented on #928
yes, thanks

[2022-07-25 03:16] #928 closed

[2022-07-25 03:44] rambohe-ch commented on #925
@whisperzzZ Thanks for your reply. It looks like some unknown network reason that caused this problem.
and you check the following items:
1. on the master node, run a yurt-tunnel-agent pod and check it can work or not. so we can make sure that the problem comes from the master node or the edge node.
2. then we need to use tcpdump to capture the traffic, and analyze the reason the `connection close

[2022-07-26 14:48] #925 closed

[2022-07-27 02:32] #918 closed

[2022-07-27 16:27] huiwq1990 commented on #893
https://github.com/kubevela/kubevela/discussions/4490

[2022-07-29 08:00] buhuiwanaaa opened #935 "[Question]"
Orgnization/Company: jinmaoyunfu
Location: BeiJing, China
Contact: 1958188484@qq.com
Purpose/Scenario: intelligent community

[2022-07-30 06:26] #900 closed

[2022-08-01 01:06] buhuiwanaaa commented on #300
Orgnization/Company: jinmaoyunfu
Location: BeiJing, China
Contact: 1958188484@qq.com
Purpose/Scenario: intelligent community

[2022-08-02 09:54] Congrool opened #937 "[Question] What's the best practice of adding cache agent?"
**What happened**:

If users want to cache resources for a new agent, they should
1. first, figure out the cache-agent's client name, which may not always be same as its component name, such as `go-http-client` for `calico-node`
2. second, add the cache-agent's name to the cache_agents field of yurt-hub-cfg
3. third, restart the component in order to let all resources it needed to pass the yurthub

[2022-08-04 03:40] slm940208 opened #939 "[Question] Will provide several installation methods in the future"
The official documentation was removed from the installation method of yurtcluster-operator. Is it not supported by the follow-up?
Will provide several installation methods in the future

[2022-08-04 04:40] Congrool commented on #939
Yes, in summary
1. Manual installation will be remained as it is.
2. yurtadm init/join is under improvement, see https://github.com/openyurtio/openyurt/pull/902
3. Helm install will be supported in the future, see https://github.com/openyurtio/openyurt/blob/master/docs/proposals/20220526-install-openyurt-components-using-helm.md

[2022-08-04 06:37] beatyman opened #940 "[BUG] waiting for the master to sign the yurthub certificate"
![企业微信截图_16595949747885](https://user-images.githubusercontent.com/16757974/182779671-ac3b2121-a407-4d37-8ed5-276fdd3763f5.png)
![企业微信截图_16595950152438](https://user-images.githubusercontent.com/16757974/182779733-aa813b09-e34a-43d8-ba8d-9dc82ba1ead0.png)
![企业微信截图_16595950323600](https://user-images.githubusercontent.com/16757974/182779777-611226f6-ca3a-4948-a9bb-6df7620fd1fa.png)

[2022-08-04 07:28] Congrool commented on #940
Could you please post the version of yurthub and yurt-controller-manager and the log of yurt-controller-manager?

[2022-08-04 07:45] #939 closed

[2022-08-04 09:37] beatyman commented on #940
yurt-controller-manager: lastest
yurthub: : lastest

[2022-08-04 09:39] beatyman commented on #940
yurt-controller-manager log:
![企业微信截图_16596059525447](https://user-images.githubusercontent.com/16757974/182815896-b757d10b-a6eb-46f6-8ff8-fe9ffa7a1712.png)

[2022-08-04 09:39] beatyman commented on #940
![企业微信截图_16596059852888](https://user-images.githubusercontent.com/16757974/182816024-cad84d73-263c-43bc-a9af-acb09e097a9d.png)

[2022-08-04 10:25] Congrool commented on #940
It seems that images are not latest enough, since we post images to dockerhub every day. It's impossible that the latest images were created 8 months ago.

Also, the tag `latest` is not the official released version. Please use v0.7.0 and try again.
[code]

[2022-08-04 10:37] Congrool commented on #940
And I guess the error occurs because of using a newer `yurt-controller-manager.yaml` in which the authorization of approving `kubernetes.io/legacy-unknown` has been removed about 7 months ago in pr #809.

[2022-08-05 01:34] huiwq1990 commented on #893
Someone post the `admissionregistration/v1beta1` issue in https://github.com/jet/kube-webhook-certgen/issues/30 . `jet/kube-webhook-certgen` does not want to solve it and recommand use https://github.com/kubernetes/ingress-nginx/tree/main/images/kube-webhook-certgen. So does we maintain the code ourself?
@rambohe-ch @gnunu

[2022-08-06 08:34] huiwq1990 opened #942 "[Question] how to build openyurt sealer baseimage"
**What happened**:

**What you expected to happen**:

Where is the code for build openyurt sealos baseimage?

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- OpenYurt version:
- Kubernetes version (use `kubectl version`):
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

**others**
/

[2022-08-08 02:01] Sodawyx opened #943 "[BUG] YurtHub did not support nf_conntrack_ipv4 module in CentOS 8.5.2111"
**What happened**:
YurtHub network module is not ready when the deploy environment is CentOS 8.5.2111 (RedHat 8.5.0-4), the nf_conntrack_ipv4 module is not support to be adapted.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Kuberenetes community has the similar issue https://github.com/kubernetes/kubernete

[2022-08-08 02:01] Sodawyx commented on #943
The issue can be avoid by add --enable-iptables=false argument when the yurtHub start-up.

[2022-08-08 02:03] Sodawyx commented on #943
YurtHub log:
<img width="770" alt="lQLPJxaPQO6RRSDNAgvNBgOwJDSNENHWGSMC68Xn78AnAA_1539_523" src="https://user-images.githubusercontent.com/34974468/183323905-f36e15bd-5d4d-4616-97a8-1b0b2d513b90.png">
Kube-proxy log:
<img width="769" alt="lQLPJxaPQzRPDQfNAprNBgGw_IYbLhcNzooC68mhP0AGAA_1537_666" src="https://user-images.githubusercontent.com/34974468/183323948-00a50eb6-e16f-43c0-b90a-2c31cef4ae16.p

[2022-08-08 02:30] rambohe-ch commented on #893
@huiwq1990 I think it's not good idea to maintain a `kube-webhook-certgen` repo in OpenYurt. If kubevela has maintained a  repo, maybe we can use it or leverage it.

[2022-08-08 02:33] rambohe-ch commented on #940
@beatyman Thank you for raising issue. as @Congrool reply, if you can update your local yurt-app-manager/yurthub image, the problem will be solved.

[2022-08-08 02:47] rambohe-ch commented on #943
@Sodawyx Thank you for raising issue. and i have want to know Yurthub pod can work or not when the above problem happened.

[2022-08-08 03:02] rambohe-ch commented on #942
@huiwq1990 @windydayc is handling this feature, and would you(@windydayc ) like to give some information about the process?

[2022-08-09 07:00] rambohe-ch commented on #824
/pinned

[2022-08-09 11:18] luc99hen commented on #915
- 2000 Pod
- 1000 Service

[2022-08-10 06:57] windydayc commented on #942
process: #926

[2022-08-11 02:06] windydayc commented on #908
will solve this problem in #926

[2022-08-11 02:06] #908 closed

[2022-08-11 04:06] Congrool opened #946 "[feature request] Do not post coverage rate to Codecov when it is not `openyurtio/openyurt`"
**What would you like to be added**:

We should not post coverage rate to Codecov when we run CI in our forked repo. It always results in failure.

**Why is this needed**:

Sometimes we may trigger the CI in our forked repos to figure out if our prs can pass the CI. But in the forked repo, CI always tries to post the unit test coverage rate to the Codecov site which will fail.

**others**
/kind fe

[2022-08-12 00:31] #940 closed

[2022-08-12 02:38] Lulucyliu commented on #925
I have the same problem. It looks like a certificate issue. I clean up the certificates /var/lib/yurttunnelserver and /var/lib / yurttunnelagent, and then redeploy server and agent to solve this problem！

[2022-08-12 02:41] rambohe-ch commented on #946
@Congrool It's a good idea, and will you revise workflow to fix this problem?

[2022-08-12 03:33] Congrool commented on #946
Sure.
/assign

[2022-08-12 08:18] Congrool commented on #300
Organization/Company: SEL-Zhejiang University
Location: Hangzhou, China
Contact: chpzhangyifei@zju.edu.cn
Purpose/Scenario: Doing a survey on OpenYurt edge autonomy capability

[2022-08-14 03:42] #880 closed

[2022-08-15 03:44] luc99hen opened #949 "[BUG] yurthub invalid arguments error when using yurtadm join"
**What happened**:
Yurthub fails to start when using `yurtadm join`  to join a new node into cluster.

**What you expected to happen**:
`yurtadm` join node succesfully

**How to reproduce it (as minimally and precisely as possible)**:
Use `yurtadm join` to join a new node, it stuck in the postcheck `wait hub agent ready` phase.

**Anything else we need to know?**:
The log of exited yurthub contain

[2022-08-15 06:03] Congrool commented on #949
The reason may be obvious. We should use `--enable-dummy-if=true` or `--enable-dummy-if` instead of `--enable-dummy-if=`, same for `--enable-node-pool=`.

[2022-08-15 06:09] Congrool commented on #949
It should be a bug that `yurtadm join` cannot correctly handle arguments of bool.

[2022-08-15 06:18] luc99hen commented on #949
Agree +1.  This file was generated [here](https://github.com/openyurtio/openyurt/blob/68a18eeda469fedc9511c4cb669549e3cf5bd213/pkg/yurtadm/cmd/join/phases/joinnode.go#L184). And the passed `ctx` misses these options.  Also the `yurtadm` that I used are downloaded from release v0.7.0. This seems to be fixed in the [PR](https://github.com/openyurtio/openyurt/pull/863). Use the latest `yurtadm` will

[2022-08-15 06:19] rambohe-ch commented on #949
@luc99hen Thank you for raising issue. would you be able to post a pull request to fix this problem?

[2022-08-15 06:22] Congrool commented on #949
@rambohe-ch It seems has been solved. Maybe we need backport #863 to v0.7.0 as @luc99hen mentioned.

[2022-08-15 09:14] jingxiongljx opened #951 "[Question] yurt-tunnel-server server certificate valided failed from APIServer；"
**What happened**:
kubectl logs pod from edge-workers. Notified failed to verify x509 server certificate.
![image](https://user-images.githubusercontent.com/89091250/184608294-9ddfa1d3-e700-4e77-aae7-eab4da92f755.png)

May apiserver not verify server certificate from yurt-tunnel-server?

**What you expected to happen**:
can get logs from APIServer（from edge-tunnel）.

**How to reproduce it (as mini

[2022-08-15 09:18] rambohe-ch commented on #951
@jingxiongljx Thank you for raising issue. we have come across the same problem in the issue: https://github.com/openyurtio/openyurt/issues/535, and you need to unset the parameter `--kubelet-certificate-authority` of kube-apiserver.

[2022-08-16 06:23] #951 closed

[2022-08-16 06:24] #935 closed

[2022-08-16 09:28] rambohe-ch opened #953 "[feature request]use one repo to manage all api in OpenYurt"
**What would you like to be added**:
I want to create a repo named `openyurtio/api` to manage all of the external API types of OpenYurt.  and the api structure as following:
[code]
and the relationship between directory and repo is:
[code]

**Why is this needed**:
as you known, there are several api repos in OpenYurt community, it's not convenient to import by other clients, and it's very hard to

[2022-08-16 09:28] rambohe-ch commented on #953
/assign @rambohe-ch @huiwq1990

[2022-08-16 09:56] gnunu commented on #953
Good move!

[2022-08-16 12:19] rambohe-ch opened #954 "[feature request]improve service topology ability for yurthub"
**What would you like to be added**:
At present, only service traffic in cluster or NodePort traffic can support service topology ability because
yurthub can filter endpointslice resource for kube-proxy.
egress traffic from ingress will not support service topology ability if ingress controller works based on the
endpoints, because yurthub can not filter endpoints resource for annotated service.
s

[2022-08-16 12:20] rambohe-ch commented on #954
/assign @rambohe-ch

[2022-08-16 12:20] rambohe-ch commented on #954
@zzguang please have some comments about this issue.

[2022-08-16 16:02] rambohe-ch opened #955 "[feature request]optimize the setting for master node in manually setup tutorial"
**What would you like to be added**:
In the manually setup tutorial: https://openyurt.io/zh/docs/installation/manually-setup#43-%E9%83%A8%E7%BD%B2cloud%E5%B7%A5%E4%BD%9C%E6%A8%A1%E5%BC%8F%E7%9A%84yurthub

In order to forward the domain resolution traffic from kube-apiserver to CoreDNS instance in the same NodePool, A yurthub with cloud working mode should be installed on the master node.

we want

[2022-08-18 05:48] zzguang commented on #954
Agree with @rambohe-ch to enhance the yurthub data filtering for endpoints with some background introduction:
1. Current upstream nginx ingress controller access services through endpoints instead of endpointslice.
2. YurtIngress is focusing on orchestrating nginx ingress controller to user specified nodepools.
3. When ingress controller in a nodepool tries to access a service through endpoints, y

[2022-08-18 07:46] #955 closed

[2022-08-18 08:03] rambohe-ch commented on #954
@zzguang Thanks for your reply. I think we should keep the consistency for service topology. no matter how to access service(internal cluster, or from cluster outside through ingress controller), service topology should have the same ability.
so maybe solution 1 is the correct way to reach the goal.

yes, solution 2 is more simpler, but i think it's a temporary solution. maybe we will revise it in

[2022-08-18 08:07] #946 closed

[2022-08-18 08:11] slm940208 opened #957 "[BUG] YurtHub cache resource namespace hava error"
![image](https://user-images.githubusercontent.com/40267976/185342893-0b73e091-ce3d-4998-8579-e1072af4d24e.png)

if resource is namespace，in method saveListObject，info.Namespace is nil, so the cachekey is comp/namespace/kube-system, but in method saveOneObject, info.Namespace is kube-system, so the cachekey is comp/namespace/kube-system/kube-system.

if yurtHub unable to connect apiserver, There i

[2022-08-18 08:17] rambohe-ch commented on #957
@slm940208 Thank you for raising issue. as we known, component CoreDNS need to list/watch namespace resource from kube-apsierver, and yurthub can cache the namespace data for CoreDNS as following:
![image](https://user-images.githubusercontent.com/57081505/185345869-0d2e169c-477c-41a2-9aaa-4023e3855c2d.png)

[2022-08-18 08:33] slm940208 commented on #957
@rambohe-ch My component is cilium, There are requests for list and get namespaces, but the order is not guaranteed. Therefore, getting data from the local cache will be reported as an error when starting. now cache is /etc/kubernetes/cache/cilium-agent/namespaces/kube-system, so request for list try to get /etc/kubernetes/cache/cilium-agent/namespaces/kube-system/**kube-system** will error.

[2022-08-18 08:34] slm940208 commented on #957
@lonelymemo  My component is cilium, There are requests for list and get namespaces, but the order is not guaranteed. Therefore, getting data from the local cache will be reported as an error when starting. now cache is /etc/kubernetes/cache/cilium-agent/namespaces/kube-system, so request for get try to get /etc/kubernetes/cache/cilium-agent/namespaces/kube-system/kube-system will error.

[2022-08-18 08:53] rambohe-ch commented on #957
@slm940208 Thanks for your reply. it sounds like that `list namespaces` has no problem. but `get namespace` maybe fall into error. Would you like to make a pull request to fix this problem?

[2022-08-18 08:58] slm940208 commented on #957
@rambohe-ch Ok，i will try to  make a pull request to fix this problem.

[2022-08-18 12:17] zzguang commented on #954
@rambohe-ch , my previous opinion is:
1). If users access a service directly(clusterIP/nodePort/SLB), users can leverage the service topology feature by adding the annotation to the service.
2). If users access a service indirectly through the ingress controller, then ingress controller is responsible to select the proper service endpoints by yurthub endpoints filtering, users don't need to care a

[2022-08-18 12:38] rambohe-ch commented on #954
@zzguang Thank you for replying, ok, i will go to fix this problem based on the solution 1.

[2022-08-19 03:23] rambohe-ch commented on #869
The issue was fixed by #958

[2022-08-19 09:41] #957 closed

[2022-08-19 10:15] rambohe-ch commented on #953
@huiwq1990 I have created two new repos for managing OpenYurt api and OpenYurt client.
- openyurtio/api: https://github.com/openyurtio/api
- openyurtio/client_golang: https://github.com/openyurtio/client_golang

and i have added the following organization secrets for the corresponding repos:
- SYNC_API_SECRET:  [openyurtio/api](https://github.com/openyurtio/api)
- SYNC_CHARTS_SECRET: [openyurtio/o

[2022-08-20 02:58] huiwq1990 commented on #953
@rambohe-ch  DO you mean:
https://github.com/openyurtio/yurt-app-manager/tree/master/pkg/yurtappmanager/apis  sync to [openyurtio/api](https://github.com/openyurtio/api)

https://github.com/openyurtio/yurt-app-manager/tree/master/pkg/yurtappmanager/client sync to [openyurt/client_golang](https://github.com/openyurtio/client_golang)

I think it's better put all of them in one repo, as they are gene

[2022-08-22 06:41] rambohe-ch commented on #953
@huiwq1990 Yes, it's more convenient to put all of them in one repo, and we can optimize `api` and `client` in the future.
so i will delete the `openyurtio/client_golang` repo temporarily.

[2022-08-22 11:14] rambohe-ch commented on #858
1. contrast to native k8s, how much cost of time between kubelet startup and all pods startup when edge nodes restart of OpenYurt
2. analyze the startup time where they spend. then find out how to optimize and implement the solutions.

[2022-08-25 06:31] #954 closed

[2022-08-25 07:14] LinFCai commented on #871
@rambohe-ch. Hello, I will take over this work.

[2022-08-25 08:03] rambohe-ch commented on #871
@LinFCai Thank you for taking over this work. /assign @LinFCai

[2022-08-25 08:07] rambohe-ch commented on #871
@LinFCai please post a proposal about this feature before making code pull request. and how to make the proposal, you can reference this example: https://github.com/openyurtio/openyurt/blob/master/docs/proposals/20210720-data-filtering-framework.md

[2022-08-25 13:51] ffcsrdc opened #967 "[BUG] The pod of yurt-tunnel-dns cannot be created by manual installation"
**What happened**:
I follow the manual installation tutorial https://openyurt.io/zh/docs/installation/manually-setup . When I go to step 2.2 , I execute the command `kubectl apply -f config/setup/yurt-tunnel-dns.yaml` and then execute the command `kubectl -n kube-system get po` . However, I can't see that a pod with the name `yurt-tunnel-dns-xxx` will be generated.

**What you expected to happen**

[2022-08-25 20:13] fujitatomoya opened #968 "[BUG] yurtadm join failed with segmentation fault"
**What happened**:

`yuratm join` receives segmentation violation

**What you expected to happen**:

`yurtadm` successfully completes and edge nodes can join the cluster

**How to reproduce it (as minimally and precisely as possible)**:

<details>
<summary>yurtadm join log</summary>

[code]

</details>

**Anything else we need to know?**:

**Environment**: Ubuntu20.04 / Linux tomoyafujita 5.15.0-4

[2022-08-26 01:12] LinFCai commented on #871
ok

[2022-08-26 06:17] luc99hen commented on #967
It seems that the deployment `yurt-tunnel-dns` didn't create the replicaset properly. It's more likely to be an issue related to your k8s environment. Please check the log of `kube-controller-manager` to get more info.

[2022-08-26 08:05] rambohe-ch commented on #967
@ffcsrdc FYI, please check logs of K8s `kube-controller-manager` component.

[2022-08-26 14:25] windydayc opened #971 "[BUG] coredns and yurt-tunnel-dns error: read udp x.x.x.x:x->8.8.8.8:53: i/o timeout"
**What happened**:
I installed the openyurt cluster followed by https://openyurt.io/zh/docs/installation/manually-setup :
1. install a k8s 1.21.14 cluster
2. label node
3. modify kube-controller-manager:  --controllers=-nodelifecycle,*,bootstrapsigner,tokencleaner
4. install yurt-tunnel-dns
5. modify kube-apiserver
6. ajust coredns
7. modify kube-proxy
8. install yurt-controller-manager
9. install

[2022-08-26 15:15] windydayc commented on #971
@luc99hen @rambohe-ch

[2022-08-26 15:52] luc99hen commented on #971
You can check if your service works properly by `kubectl exec -it $Pod_Name$ -- nslookup $Service_Name$`

[2022-08-26 16:32] windydayc commented on #971
@luc99hen

It works well.
[code]

[2022-08-26 16:35] windydayc commented on #971
@luc99hen
At the same time, in this case, after I use `yurtadm join` to join a new node, using `kubectl logs` on any pod of this joined node will get the following error: `Error from server (ServiceUnavailable): the server is currently unable to handle the request ( pods/log xxx)`

[2022-08-27 02:06] windydayc commented on #971
Also had this problem in native k8s, before installing openyurt, so it may not be a problem caused by openyurt.

[2022-08-27 02:06] #971 closed

[2022-08-27 06:00] ffcsrdc commented on #967
[code]

[2022-08-27 06:05] ffcsrdc commented on #967
@luc99hen @rambohe-ch The log of kube-controller-manager seems to be no problem, as shown above.

[2022-08-28 03:11] Hyan1996 commented on #968
I had the same error when I Initialize the cluster via yurtadm init and join edge node via yurtadm join.
error log:
I0827 20:00:25.219768    3844 token.go:89] [discovery] Created cluster-info discovery client, requesting info from "192.168.17.129:6443"
I0827 20:00:25.281599    3844 token.go:114] [discovery] Cluster info signature and contents are valid and no TLS pinning was specified, will use AP

[2022-08-29 02:20] FengGaoCSC commented on #968
I meet the same issue with the latest code of master branch, Could some one look at this issue?

[2022-08-29 03:17] rambohe-ch commented on #967
@ffcsrdc as the following logs, `deployment` controller is disabled, so pod can not be created automatically.

so you need to configure your `kube-controller-manager` at first.

[2022-08-29 03:45] rambohe-ch commented on #968
@fujitatomoya @FengGaoCSC @Hyan1996 Thank you for raising and discussing issue about `yurtadm join`. it looks like that a panic has happened when encoding `kubeletConfiguration` data.

@fujitatomoya Would you be able to upload the contents of configmap `kube-system/kubelet-config-1.22` in your cluster?
@Hyan1996 Would you be able to upload the contents of configmap `kube-system/kubelet-config-1.19

[2022-08-29 03:59] luc99hen commented on #968
FYI, `yurtadm` works fine in my environment. And the contents of `kube-system/kubelet-config-1.22` is as following:
[code]

[2022-08-29 04:56] Hyan1996 commented on #968
I reproduce this issue just now and the contents of kube-system/kubelet-config-1.19 is following:

apiVersion: v1
data:
  kubelet: |
    apiVersion: kubelet.config.k8s.io/v1beta1
    authentication:
      anonymous:
        enabled: false
      webhook:
        cacheTTL: 2m0s
        enabled: true
      x509:
        clientCAFile: /etc/kubernetes/pki/ca.crt
    authorization:
      mode: Webhook

[2022-08-29 05:16] windydayc commented on #968
yurtadm also works fine in my environment. My go version is 1.17.11.
Since the code has not been changed, and it has been running normally before. But suddenly some people have this problem, so I think it may be caused by the version of go.

[2022-08-29 08:22] rambohe-ch commented on #968
@Hyan1996 I have used the following code to build a binary file and encode your file, and no panic happened.

[code]

[code]

@Hyan1996 @fujitatomoya @FengGaoCSC so i am afraid of the root reason of this problem is the golang version compatibility.

[2022-08-29 09:16] Hyan1996 commented on #968
@windydayc @rambohe-ch Thank you for reply.I wiil try it.

[2022-08-29 09:18] FengGaoCSC commented on #968
@rambohe-ch @windydayc

 thanks very much ,  I switch to golang 1.17.1, and this segment issue is gone. but with the following error message, I will trace it. maybe caused by others. anyway, golang 1.17.1 and 1.16.8 will not cause segment fault.

[code]

[2022-08-29 09:34] rambohe-ch commented on #968
@FengGaoCSC Thank you for your feedback. i am looking forward to you that join edge nodes successfully.

[2022-08-30 02:54] FengGaoCSC commented on #968
@rambohe-ch @windydayc

thanks for your help, very appreciate! the `yurtadm join` can successfully join edge to cloud now.

[2022-08-30 08:09] rambohe-ch commented on #968
@fujitatomoya @FengGaoCSC @Hyan1996 It looks like the problem had been solved. so i will close this issue. If you have any other problems or ideas, please feel free to reopen or create new issues.

[2022-08-30 08:09] #968 closed

[2022-08-30 08:29] #917 closed

[2022-08-30 09:22] FengGaoCSC commented on #968
thanks very much

[2022-08-30 09:34] Hyan1996 commented on #968
thanks a lot

[2022-08-30 09:54] #916 closed

[2022-08-30 10:06] #943 closed

[2022-08-30 11:48] rambohe-ch commented on #967
@ffcsrdc The root reason of yurt-tunnel-dns pod creation failure is `deployment` controller disabled. you need to configure the kube-controller-manager component correctly at first.

[2022-08-30 11:48] #967 closed

[2022-08-30 12:21] rambohe-ch commented on #949
@luc99hen @Congrool I have backported #863 to branch release-v0.7.

[2022-08-30 12:21] #949 closed

[2022-08-30 12:24] rambohe-ch commented on #920
fixed by #947

[2022-08-30 12:24] #920 closed

[2022-08-30 12:25] rambohe-ch commented on #914
Fixes by #921

[2022-08-30 12:25] #914 closed

[2022-08-30 12:26] rambohe-ch commented on #893
yurt-app-manager and yurt-edgex-manager have already used `kube-webhook-certgen` to manage webhook certificate.

[2022-08-30 12:26] #893 closed

[2022-08-30 12:27] rambohe-ch commented on #802
@shao77622 kole/lite-kubelet are public repos now, you can check them under `openyurtio` org.

[2022-08-30 12:27] #802 closed

[2022-08-30 12:30] rambohe-ch commented on #824
Fixes by #905

[2022-08-30 12:30] #824 closed

[2022-08-30 12:31] #846 closed

[2022-08-30 12:39] rambohe-ch commented on #855
ASOC 2022 event is over, but it's a pity that this issue has not been completed. i need to close this issue temporarily. If anyone have interest in this case, welcome you to create new issues.

[2022-08-30 12:39] #855 closed

[2022-08-30 12:42] rambohe-ch commented on #856
use github pipeline to create OpenYurt cluster image will be launched when sealer support it. and ASOC 2022 event is over. i need to close this issue temporarily. If anyone have interest in this case, welcome you to create new issues.

[2022-08-30 12:42] #856 closed

[2022-08-30 12:42] rambohe-ch commented on #858
Fixes by #930

[2022-08-30 12:42] #858 closed

[2022-08-30 12:43] rambohe-ch commented on #857
@Congrool please comment and close this issue.

[2022-08-30 12:45] rambohe-ch commented on #851
In the end, three of four issues have been completed. and https://github.com/openyurtio/openyurt/issues/855 is left. because ASOC 2022 event is over, so i will close this issue.

[2022-08-30 12:45] #851 closed

[2022-08-30 12:46] rambohe-ch commented on #869
Fixes by #969

[2022-08-30 12:46] #869 closed

[2022-08-30 12:48] rambohe-ch commented on #680
yurtctl covert/revert command is removed, how to install OpenYurt, you can reference the link here: https://openyurt.io/zh/docs/installation/summary

and i will close this issue.

[2022-08-30 12:48] #680 closed

[2022-08-30 12:49] rambohe-ch commented on #891
Fixes by #966

[2022-08-30 12:49] #891 closed

[2022-08-30 12:55] Congrool commented on #857
Work of this issue has been completed in #882 . #882 introduces great changes to yurthub which not only containing supporting calico and should be merged according to the community road map.
.
So, I close this issue. If any further problem found, we can discuss in #882.

[2022-08-30 12:56] Congrool commented on #857
/close

[2022-08-30 13:44] rambohe-ch commented on #857
/close

[2022-08-30 13:44] #857 closed

[2022-08-30 16:08] fujitatomoya commented on #968
@rambohe-ch @FengGaoCSC

just checking the summary. after all this is related to go version, right?

if this is the solution, i guess it should be described in user operation procedure?

[2022-08-31 04:51] fujitatomoya commented on #968
I reconfirmed that `1.16.8` just works as magic, successfully edge node could join via `yurtadm join`.

[2022-09-01 03:43] rambohe-ch commented on #775
/pinned

[2022-09-01 03:44] rambohe-ch commented on #775
/pinned

[2022-09-01 03:46] rambohe-ch commented on #777
/label pinned

[2022-09-01 15:41] huiwq1990 opened #982 "[feature request] `yurtctl test` use helm install openyurt component"
**What would you like to be added**:

Use helm to install openyurt components, like yurttunnelagent,yurttunnelserver.

**Why is this needed**:

There are two ways to maintain openyurt yamls, we need to unify them.

**others**
/kind feature

[2022-09-02 01:46] Congrool commented on #982
`yurtctl test` is mainly used for e2e test. Do you mean we should add e2e test about "helm install openyurt"?

[2022-09-02 07:32] luc99hen commented on #915
The report has been submit in https://github.com/openyurtio/openyurt.io/pull/199 .

[2022-09-02 11:12] huiwq1990 commented on #982
install yurttunnelserver yurttunnelclinet

[2022-09-04 15:19] windydayc opened #984 "[BUG] for edge node, kubectl logs xxx error: Error from server (ServiceUnavailable): the server is currently unable to handle the request ( pods/log xxx)"
**What happened**:
I installed the openyurt cluster followed https://openyurt.io/zh/docs/installation/manually-setup. And used `yurtadm join` to join an edge node:

[code]

However, for edge node, ```kubectl logs xxx``` will get an error: Error from server (ServiceUnavailable): the server is currently unable to handle the request ( pods/log xxx) :
such as:

[code]

**What you expected to happen**:

[2022-09-05 03:04] rambohe-ch commented on #984
@windydayc It looks like that you have used a old yurt-tunnel-agent version. would you be able to upload the image info of yurt-tunnel-agent?

[2022-09-05 05:00] windydayc commented on #984
[code]

[code]

[2022-09-05 05:14] windydayc commented on #984
You are right. This is indeed a problem with yurt-tunnel-agent image. I re-pulled this image and the problem was solved.

[2022-09-05 05:20] windydayc commented on #984
But logs a pod in edge node, it still has an error:

[code]

[2022-09-05 05:49] windydayc commented on #984
This is very similar to what was mentioned in issue #508

[2022-09-05 05:56] windydayc commented on #984
After re-pulled, images are:

[code]

[code]

[2022-09-05 06:14] windydayc commented on #984
I cleaned the `/var/lib/yurttunnel-server/pki/` dir and redeployed the `yurt-tunnel-server` and `yurt-tunnel-agent`, then this problem was solved.

The following are the specific steps:
[code]

[2022-09-05 06:14] #984 closed

[2022-09-06 09:40] Congrool opened #986 "[Question] changing LGTM is restricted to collaborators"
**What happened**:

When `/lgtm`, the bot says

**What you expected to happen**:

It's better to enable all approvers and reviewers in [OWNERS](https://github.com/openyurtio/openyurt/blob/master/OWNERS) to label pr as lgtm.

**others**
/kind question

[2022-09-07 01:47] luc99hen opened #987 "[feature request] Add missing helm charts for openyurt"
**What would you like to be added**:
Add several missing helm charts of openyurt components: yurthub-cfg, yurt-tunnel-dns.

**Why is this needed**:
We need to convert the entire installation process of openyurt to Helm installation

**others**
/kind feature

[2022-09-07 01:48] luc99hen commented on #987
/assign @luc99hen

[2022-09-07 02:27] rambohe-ch commented on #986
@kadisi Do you know how to configure these setting?

[2022-09-07 02:40] #953 closed

[2022-09-07 06:09] Congrool commented on #986
It seems we are using prow as CI/CD tech stack. But I've never seen any config files of deploying prow. Like plugins.yaml which is a configmap containing settings about lgtm plugin.

See https://github.com/kubernetes/test-infra/blob/master/prow/plugins/approve/approvers/README.md#lgtm-label

More details about option about lgtm plugin can be found here: https://pkg.go.dev/k8s.io/test-infra/prow/pl

[2022-09-07 06:31] luc99hen commented on #987
Currently `yurt-tunnel-dns` is deployed in the preparing phase, and it has to be setup properly before modifying `api-server` config. If we move it into the helm charts, it seems that `api-server` modification has to be made after helm install.

[2022-09-07 07:03] rambohe-ch commented on #987
@luc99hen Yes, maybe we'd better to keep yurt-tunnel-dns unchanged. and other components we can make them managed by helm.

[2022-09-07 23:23] fujitatomoya opened #990 "kubectl exec to edge worker nodes joined via yurtadm fails."
**What happened**:

[code]

**What you expected to happen**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

- setup OpenYurt cloud node with https://openyurt.io/docs/v0.7.0/installation/manually-setup
- join edge woker nodes via `yurtadm` aligned with https://openyurt.io/docs/v0.7.0/installation/manually-setup
- deploy `DaemonSet` as following.

[code]

- try to login

[2022-09-08 01:28] luc99hen commented on #990
Hi, @fujitatomoya. Thank you for creating this issue.

This issue seems to be related to yurt-tunnel components. Could your please post the log of `yurt-tunnel-server` in the master and `yurt-tunnel-agent` in the edge node.

[2022-09-08 02:20] FengGaoCSC commented on #990
@luc99hen

I can reproduce this  issue。 the following is my environment
[code]

and the logs of yurt-tunnel-agent
[code]

and the yurt-tunnel-server's log
[code]

[2022-09-08 03:38] #987 closed

[2022-09-08 03:38] rambohe-ch commented on #990
@FengGaoCSC It looks like the same problem as issue #925 , maybe you can have a try by cleaning up the certificates of yurt-tunnel-server and yurt-tunnel-agent and recreating yurt-tunnel pods.

[2022-09-08 04:07] FengGaoCSC commented on #990
I would try

[2022-09-08 21:19] fujitatomoya commented on #990
@FengGaoCSC @luc99hen @rambohe-ch

I am still having this problem, my local environment is as followings.

- OpenYurt Cloud (also k8s master)

[code]

- edge device

[code]

[2022-09-09 01:29] rambohe-ch commented on #990
@fujitatomoya On edge node,  certificates of  `yurt-tunnel-agent` is stored under `/var/lib/yurt-tunnel-agent/pki` folder, please clean these files and recreating yurt-tunnel-agent pod.

[2022-09-09 03:54] fujitatomoya commented on #990
@rambohe-ch want to confirm one thing. I do use `yurtadm join` w/o any manual operation to join the edge device to the cluster. `yurtadm join` does not start `yurt-tunnel-agent` on edge device? is that something we need to manually set it up?

[2022-09-09 06:13] rambohe-ch commented on #990
@fujitatomoya I think `yurt-tunnel-agent` pod should be created automatically on the edge node that joined by `yurtadm join` command. how about verify that `yurt-tunnel-agent` daemonset is deployed or not? then node labels match with `yurt-tunnel-agent` daemonset or not?

[2022-09-09 06:18] FengGaoCSC commented on #990
@rambohe-ch

Did the v0.7 has this issue  when `yurtadm join` ?  since I saw @fujitatomoya use `OpenYurt version: 0.7.0`

regards

[2022-09-09 06:39] fujitatomoya commented on #990
i do not see anything like `yurt-tunnel-agent` though.

[2022-09-09 07:40] rambohe-ch commented on #915
@luc99hen i will close this issue.

[2022-09-09 07:40] #915 closed

[2022-09-10 03:51] rambohe-ch commented on #990
@fujitatomoya `yurt-tunnel-agent` should be installed manually. meanwhile, OpenYurt v1.0 has been released, and the docs for manually setup also has been upgraded. I recommend all of us to reference the docs of v1.0: https://openyurt.io/docs/installation/manually-setup

[2022-09-11 16:59] fujitatomoya commented on #990
@rambohe-ch

i did not see this requirement from the manual v0.7.0.

okay i will try that out if that works.

[2022-09-12 07:54] rambohe-ch commented on #990
In the manual v0.7.0, `yurt-tunnel-agent` is recommended to install at here: https://openyurt.io/docs/v0.7.0/installation/manually-setup#33-setup-yurt-tunnel.
Anyway , i'd like to encourage you to try version v1.0, if you have any other problems, please feel free to contact us.

[2022-09-12 18:22] fujitatomoya commented on #990
@rambohe-ch @FengGaoCSC

I did try to set up with https://openyurt.io/docs/installation/manually-setup, but unable to install `yurt-app-manager` via helm.

### OpenYurt version

- https://github.com/openyurtio/openyurt/commit/b9f6bd708b138e62634645d616c81acf18d05200
- https://github.com/openyurtio/yurt-app-manager/commit/89d8aa9327ede708e5f47e5b9d54d8af00085850
- https://github.com/openyurtio/open

[2022-09-13 02:13] luc99hen commented on #990
@fujitatomoya , This is a known issue when install yurt-app-manager in a one-node cluster. This PR in progress is created to fix this.

[2022-09-13 05:24] fujitatomoya commented on #990
@luc99hen thanks for the info, https://github.com/openyurtio/yurt-app-manager/pull/115 adding toleration to be able to deploy OpenYurt components on master makes sense to me.

[2022-09-13 08:53] rambohe-ch commented on #986
@kadisi PTAL

[2022-09-13 21:47] fujitatomoya commented on #990
confirmed the fix, closing in favor of https://github.com/openyurtio/yurt-app-manager/pull/115. thanks for iterating.

[2022-09-13 21:47] #990 closed

[2022-09-13 22:12] fujitatomoya opened #1001 "[Question] Disabling nodelifecycle affects k8s cloud node"
This is just a question that we like to bring up here.
We are not sure if this is constraint or limitation.

**What happened**:

[Official install document](https://openyurt.io/docs/next/installation/manually-setup/#21-adjust-kube-controller-manager) requires to disable `nodelifecycle` feature for `Yurt-Controller-Manager`.
This can affect Kubernetes nodes management, if user wants to manage k8s n

[2022-09-14 02:02] Congrool commented on #1001
Well, we actually disable the native nodelifecycle controller, but it does not mean we will lose its capability, because we integrate nodelifecycle controller into yurt-controller-manager, you can find it here: https://github.com/openyurtio/openyurt/tree/master/pkg/controller/nodelifecycle.

The reason why we disable the native nodelifecycle controller and use the counter-part in yurt-controller-m

[2022-09-14 02:21] fujitatomoya commented on #1001
this makes more sense to me! thanks for the intel.

- edge autonomy is the feature underneath OpenYurt.
- Kubernetes native nodes can be consistent aligned with OpenYurt.

[2022-09-14 02:22] fujitatomoya commented on #1001
@Congrool do you guys keep this open? now i know that there is an activity against this question, so i am good to close this question.

[2022-09-14 02:24] Congrool commented on #1001
Sure, we can keep this issue open until #776 has been completed.

[2022-09-15 03:20] rambohe-ch commented on #871
@LinFCai Hi, Do you have any progress for this issue?

[2022-09-15 07:56] LinFCai commented on #871
@rambohe-ch I have posted the proposal here https://github.com/openyurtio/openyurt/pull/1006.

[2022-09-15 12:12] rambohe-ch commented on #889
@tydra-wang Do you have any progress for this issue?

[2022-09-16 05:59] YTGhost commented on #852
Does this feature still need to be done? I think I can do it.

[2022-09-16 06:08] Congrool commented on #986
Seems lgtm can be used again, as tested in #981 . So close the issue.
/close

[2022-09-16 07:13] rambohe-ch commented on #852
@YTGhost I think nobody is focusing on this issue, and i'm glad that you can pick up this issue.
/assign @YTGhost

[2022-09-16 11:40] huiwq1990 opened #1010 "[feature request] deprecated repo `yurt-app-manager-api`"
**What would you like to be added**:

Use [api](https://github.com/openyurtio/api) to replace  [app-manager-api](https://github.com/openyurtio/yurt-app-manager-api
).
We need to modify go import which used by `openyurt` etc.

**Why is this needed**:

**others**
/kind feature

[2022-09-16 11:51] rambohe-ch commented on #1010
@huiwq1990 yes, we shoud search all repos and find out all codes that are using `yurt-app-manager-api`.

[2022-09-18 07:00] YTGhost commented on #852
PTAL

[2022-09-19 03:05] #852 closed

[2022-09-20 07:32] YTGhost commented on #889
If @tydra-wang is not working on this anymore, maybe I can try to take over this job?

[2022-09-20 09:16] tydra-wang commented on #889
ok!

[2022-09-20 09:58] huweihuang opened #1012 "[BUG] If a node updates openyurt.io/is-edge-worker to true again, the tunnel server needs to be restarted to take effect"
**What happened**:

If a node updates openyurt.io/is-edge-worker to true again, the tunnel agent will be redeployed.  But cannot access the container by tunnel.  the the tunnel server needs to be restarted to solve the problem.

**What you expected to happen**:

If a node updates openyurt.io/is-edge-worker to true again, there is no need to restart the tunnel server.

**How to reproduce it (as min

[2022-09-20 12:23] rambohe-ch commented on #1012
@huweihuang Thank you for raising issue. This problem has been fixed in OpenYurt v1.0.0 version. how about use `yurt-controller-manager:v1.0.0/yurt-tunnel-server:v1.0.0/yurt-tunnel-agent:v1.0.0` to have a try?

[2022-09-20 12:28] rambohe-ch commented on #889
@YTGhost Thank you for taking this issue. /assign @YTGhost

[2022-09-20 20:43] fujitatomoya opened #1014 "Milestone to support Kubernetes v1.24 (support CRI compatibility)"
**What happened**

Just a question about milestone to support Kubernetes v1.24 (support CRI compatibility)

**What you expected to happen**

Milestone / Development Schedule

**How to reproduce it (as minimally and precisely as possible)**

Not a problem since Kubernetes v1.24 is not supported.

**Anything else we need to know?**

We tried to use containerd only w/o dockerd, yurtadm failed to join

[2022-09-20 20:43] fujitatomoya commented on #1014
against, this is just a question, no pressure at all.

[2022-09-21 01:39] rambohe-ch commented on #1014
@fujitatomoya Thank you for raising issue. I think OpenYurt v1.0.0 can support K8s v1.24, but we have not enough energy to verify it. Would you like to check the K8s v1.24 and add the new version for `yurtadm join`?

by the way, `yurtadm join` command will be refactored based on `kubeadm` command, the progress can be found in the issue: https://github.com/openyurtio/openyurt/issues/889

[2022-09-22 06:11] #887 closed

[2022-09-22 11:36] #890 closed

[2022-09-22 12:12] rambohe-ch commented on #871
/reopen

[2022-09-27 12:24] rambohe-ch opened #1020 "[feature request]service topology feature supports multiple topology configuration."
**What would you like to be added**:
According to the tutorial: https://openyurt.io/docs/user-manuals/network/service-topology, service topology feature can only used for node or nodePool. in an other word, user can only select only one topology type.

But in the cases, users want to configure multiple topology types for service, for example: `openyurt.io/topologyKeys: kubernetes.io/hostname, kube

[2022-09-28 06:34] rambohe-ch commented on #1020
In order to implement this feature, `yurt-controller-manager` and `yurthub` components should be improved. @LinFCai Would you be able to take responsible of `yurt-controller-manager` component?

btw: i will take charge of `yurthub` component to adapt this feature.

[2022-09-28 23:01] LinFCai commented on #1020
@rambohe-ch OK，I can take responsible of yurt-controller-manager component

[2022-10-04 18:01] fujitatomoya opened #1023 "[BUG] kubectl apply -f work/nodepool.yaml failed calling webhook "mnodepool.kb.io""
**What happened**:

[code]

**What you expected to happen**:

No error observed to create `nodepool`.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- OpenYurt version: v1.0.0
- Kubernetes version (use `kubectl version`): 1.22.13
- OS (e.g: `cat /etc/os-release`): Ubuntu20.04
- Kernel (e.g. `uname -a`): 5.15.0-48-ge

[2022-10-04 18:06] fujitatomoya commented on #1023
According to error message, it obviously issues API to `https://yurt-app-manager-webhook.kube-system.svc:443/mutate-apps-openyurt-io-v1alpha1-nodepool?timeout=10s` in cluster, that means this service must be up before this API call.

We have script setup to entire procedure, that means there could be possibility not to give enough time window until this service is online, that led to this failure.

[2022-10-04 19:03] #898 closed

[2022-10-04 19:03] #895 closed

[2022-10-07 20:45] fujitatomoya opened #1024 "[BUG] kubectl exec failed with unable to upgrade connection after OpenYurt install"
**What happened**:

`kubectl exec` (or `kubectl port-forward` / `istionctl ps`) fails with the following error.

[code]

**What you expected to happen**:

`kubectl exec` (or `kubectl port-forward` / `istionctl ps`) succeeds w/o any error.

**How to reproduce it (as minimally and precisely as possible)**:

1. Setup Kubernetes Cluster with flannel, only control-plane is necesvirtualizedsary.
2. [Ope

[2022-10-07 21:41] fujitatomoya commented on #1024
Okay now i can see the specific operation to cause this problem.

- i keep the following terminal right after Kubernetes cluster is established.

[code]

- the error comes up right after the following command.

[code]

until then, `kubectl exec` kept working w/o error.

[2022-10-09 06:24] rambohe-ch commented on #1023
@fujitatomoya Thank you for raising issue. `yurt-app-manager` pod and service should be ready before `NodePool` resource can be created. and your pull request https://github.com/openyurtio/openyurt.io/pull/222 has been merged.

[2022-10-09 06:28] rambohe-ch commented on #1024
@fujitatomoya Thank you for raising issue about `yurt-tunnel`. it looks like that `yurt-tunnel-agent` on edge nodes failed to connect `yurt-tunnel-server` on the cloud node.

would you be able to upload the detail logs of yurt-tunnel-agent?

[2022-10-09 06:35] #871 closed

[2022-10-11 02:39] fujitatomoya commented on #1023
closing this in favor of https://github.com/openyurtio/openyurt.io/pull/222

[2022-10-11 02:39] #1023 closed

[2022-10-11 08:23] Hyan1996 commented on #1024
I had the same issue,here is logs of yurt-tunnel-agent
[code]

[2022-10-11 09:45] rambohe-ch commented on #1024
@Hyan1996 Thanks for your feedback. it seems that your yurt-tunnel-agent works well, how about upload detail logs of yurt-tunnel-server?

[2022-10-11 09:57] Hyan1996 commented on #1024
its right at the end above
[code]

[2022-10-11 11:31] rambohe-ch commented on #1024
@Hyan1996

The following log appears to be from kube-apiserver, how about upload the entire log of `yurt-tunenl-server`?

[2022-10-11 14:17] Hyan1996 commented on #1024
Is this one?
[code]

[2022-10-11 15:26] rambohe-ch commented on #1024
@Hyan1996 Thank you for your feedback. as you failed to execute command `kubectl exec --stdin --tty ubuntu22-deamonset-gbzfd -- date`, but i can not search any info of `ubuntu22-deamonset-gbzfd` in your `yurt-tunnel-server` log.

[2022-10-11 21:10] fujitatomoya commented on #1024
why? i can reproduce this issue on master node as openyurt cloud, which is tagged with `openyurt.io/is-edge-worker=false` as described in https://openyurt.io/docs/installation/manually-setup/#11-label-cloud-nodes.
I think `yurt-tunnel-agent` has nothing to do with this failure because it should not be used for this request? (actually i cannot even see the `yurt-tunnel-agent` pods in the cluster.)

[2022-10-11 21:25] fujitatomoya commented on #1024
@rambohe-ch

I can reproduce this issue using vagrant / virtualbox environment which has two network interfaces as below.

[code]

So that we use the following option to specify the network interface to start kubernetes via `kubeadm` and `kubectl`.

- kubeadm with `--apiserver-cert-extra-sans=192.168.56.20 --apiserver-advertise-address=192.168.56.20`
- kubelet with `--node-ip=192.168.56.20`

I thi

[2022-10-12 01:00] Hyan1996 commented on #1024
Okay, I will check it carefully

[2022-10-12 06:12] fujitatomoya commented on #1024
@rambohe-ch
CC: @Hyan1996

i have the similar log as below.

<details><summary>yurt-tunnel-server log via docker command since kubectl exec does not work</summary><div>
[code]
</div></details>

[2022-10-12 09:39] rambohe-ch commented on #1024
@fujitatomoya Thanks for your reply. i can give some short descriptions about `kubectl exec` troubleshooting.
1. for pods on cloud nodes, `kubectl exec` command don't need to go through yurt-tunnel. only pods on edge nodes, yurt-tunnel will be involved.
2. kube-apiserver will resolve hostname by `yurt-tunnel-dns` pod that dns records come from `kube-system/yurt-tunnel-nodes` configmap which manage

[2022-10-12 09:42] rambohe-ch commented on #1024
@fujitatomoya yes, `kubectl exec` for cloud nodes, the request will forwarded to cloud nodes directly instead of going through yurt-tunnel. In OpenYurt cluster, cloud nodes should connect with K8s control-plane by intranet, so control-plane components of OpenYurt can work with K8s well.

[2022-10-12 18:01] fujitatomoya commented on #1024
@rambohe-ch thanks for the info.

this problem only happens if we do the operation to install openyurt with `helm install openyurt -n kube-system ./charts/openyurt/`.

So probably it would be helpful to how exactly we can debug this or where exactly to take a look? And it is really easy to reproduce this issue using virtualbox.

[2022-10-14 09:12] rambohe-ch commented on #1024
@fujitatomoya I have updated FAQ tutorial about how to troubleshoot yurt-tunnel problems. the detail link is here: https://openyurt.io/docs/faq#yurt-tunnel

[2022-10-14 23:08] fujitatomoya commented on #1024
@rambohe-ch thanks for the information, we will definitely look into that.

[2022-10-18 03:08] FengGaoCSC commented on #1024
@rambohe-ch @fujitatomoya

I could reproduce this issue and if I do the FAQ about how to troubleshoot yurt-tunnel problem with https://openyurt.io/docs/faq#yurt-tunnel, seems it work for a while and then failed again, please look at the following logs

[code]

the following is the yurt-tunnel-server's log
[code]

[2022-10-18 06:58] rambohe-ch commented on #1024
@FengGaoCSC It seems that `yurt-tunnel-agent` on edge node can not connect with `yurt-tunnel-server`, how about remove certificates in `/var/lib/yurt-tunnel-agent` folder and recreate `yurt-tunnel-agent`? and then check `yurt-tunnel-agent` can work correctly or not.

[2022-10-18 08:58] rambohe-ch commented on #1024
@FengGaoCSC yes, as the design of yurt-tunnel, yurt-tunnel-agent don't run on cloud nodes, so traffic from kube-apiserver will be forwarded to kubelet on cloud node directly.

[2022-10-18 12:11] rambohe-ch commented on #923
@kadisi would you be able to handle this case?

[2022-10-19 01:51] rambohe-ch commented on #1024
@FengGaoCSC It seems that configuration of kube-apiserver is not correct. you can check the points as the following red arrow.
![image](https://user-images.githubusercontent.com/57081505/196578439-bf032290-e0c9-4e34-a0e3-219f48664e60.png)

[2022-10-19 04:27] FengGaoCSC commented on #1024
thanks, will check it

[2022-10-26 07:43] rambohe-ch commented on #1020
@LinFCai As discussed in #1026 , yurthub can not support multiple service topology setting at the same time, so i will close this issue and the connected pull request.

[2022-10-26 07:45] #1020 closed

[2022-10-27 03:33] lorrielau opened #1037 "[BUG]change coreDNS config to support edge-autonomy"
**What happened**:
In e2e-tests, after we disconnected cloud nodes and restarted coreDNS, coreDNS is not able to resolve addresses. It might be because current coreDNS version is too heavy for edge local cache.
That's why we skipped coreDNS edge-autonomy test in the new edge-autonomy implementation pr: [# pr 1022](https://github.com/openyurtio/openyurt/pull/1022)
In addition, current coreDNS sched

[2022-10-27 03:36] lorrielau commented on #1037
@Congrool  Please see if you have anything to add on.

[2022-10-27 11:55] donychen1134 opened #1038 "[feature request]yurtappdaemon need a node pool type selector"
**What would you like to be added**:
Add selector to select node pool by its type for yurtappdaemon CRD.

**Why is this needed**:
When the time developing pool-coordinator feature, we found that pool-coordinator should be deploy to the node pool which type is edge. But yurtappdaemon only supports to select node pool by label.
If we add node selector to the podSpec of yurtappdaemon, we will see tha

[2022-10-27 12:21] rambohe-ch commented on #1038
@donychen1134 maybe it's a good idea to remove this issue to openyurtio/yurt-app-manager repo where yurtappdaemon resource is hosted.

[2022-10-27 12:23] donychen1134 commented on #1038
@rambohe-ch OK, I will close this issue and open another in yurt-app-manager.

[2022-10-27 12:23] #1038 closed

[2022-10-27 14:08] pacoxu opened #1039 "stop using beta.kubernetes.io/os and arch"
https://github.com/openyurtio/openyurt/blob/daa3acd2cb44d4118c9d8ee9633450f63e95a020/pkg/controller/nodelifecycle/node_lifecycle_controller.go#L68-L73

See https://github.com/kubernetes/kubernetes/issues/89477, https://github.com/kubernetes/kubernetes/issues/89477#issuecomment-603911496.

Kube plan to remove support in next releases(maybe v1.28).

[2022-10-28 01:54] rambohe-ch commented on #1039
@pacoxu Thank you for raising issue. `node life cycle` controller will be removed in OpenYurt v1.2, and the job is under working.

[2022-10-28 02:01] pacoxu commented on #1039
It sounds like there is not need to update here.
Thanks for confirmation.

[2022-10-28 02:01] #1039 closed

[2022-10-28 02:05] rambohe-ch commented on #1039
@pacoxu yes, the newly added controller that provide autonomy functions will work together with native NodeLifeCycle controller in Kube-controller-manager.

[2022-10-28 02:11] rambohe-ch commented on #779
State machine for leader election of Yurthub:
![image](https://user-images.githubusercontent.com/57081505/198460028-4e03643d-1134-4aff-a088-fe7dfc97593f.png)

[2022-10-28 02:13] rambohe-ch commented on #779
workflow for leader election of Yurthub:
![image](https://user-images.githubusercontent.com/57081505/198461118-d8e12a96-8beb-4066-a4b7-15e921e3a286.png)

[2022-10-28 02:14] rambohe-ch commented on #779
workflow for Yurthub coordinator:
![image](https://user-images.githubusercontent.com/57081505/198461444-9ceb73bc-ae89-4a7c-b52b-ae69872c045b.png)

[2022-10-28 02:54] lorrielau commented on #1037
The main problem is coreDNS does not work in edge-autonomy scenarios; previous issue [880](https://github.com/openyurtio/openyurt/issues/880) talked about this, but the problem is still there；It happened when:
1. 'NODES_NUM=3 DISABLE_DEFAULT_CNI=true REGION=cn  make docker-build-and-up-openyurt' to docker build-and-local-up a 3-nodes openyurt-cluster;
2. Set up flannel, by 'kubectl apply -f flanne

[2022-10-28 03:09] rambohe-ch commented on #1037
@lorrielau Thank you for uploading the detail info of CoreDNS problem, and i will merge the e2e pull request first.

and i am looking forward to you will fix the problem of CoreDNS in another pull request

[2022-10-30 12:39] Lan-ce-lot opened #1041 "[Doc] In the README.md, developer guide link can not be accessed"
**What happened**:

In the README.md, developer guide link can not be accessed
developer [guide](https://github.com/openyurtio/openyurt/blob/master/docs/developer-guide.md)

`./docs/developer-guide.md`
`https://github.com/openyurtio/openyurt/blob/master/docs/developer-guide.md`

I found the developer-guide.md  in a version before, but the current master branch does not have this file. Should I del

[2022-10-31 02:06] rambohe-ch commented on #1041
@Lan-ce-lot Thank you for raising issue. The developer guide tutorials are removed here: https://openyurt.io/docs/developer-manuals/how-to-contribute

[2022-10-31 06:22] junfsir opened #1043 "create yurtingress failed"
**What happened**: create yurtingress failed

**What you expected to happen**: create yurtingress success

**How to reproduce it (as minimally and precisely as possible)**:  create yurtingress in openyurt v1
cat <<EOF|kubectl apply -f -
apiVersion: apps.openyurt.io/v1alpha1
kind: YurtIngress
metadata:
  name: yurtingress
spec:
    ingressControllerReplicasPerPool: 1
    pools:
      - name: edge02

[2022-10-31 06:51] rambohe-ch commented on #1043
@zzguang PTAL

[2022-10-31 09:15] zzguang commented on #1043
@junfsir, Please help to check whether the cluster role "yurt-app-manager-role" exists or not.
yurtingress together with yurtappset/yurtappdaemon depends on this cluster role to operate the related resources.
If it doesn't exist in the cluster, we should nail down the root cause of it firstly.

[2022-10-31 10:34] junfsir commented on #1043
@zzguang "yurt-app-manager-role"  doesn't exist, but cluster role "yurt-app-manager"  does.
[code]

[2022-10-31 12:34] zzguang commented on #1043
Thanks, it seems some previous PR led to this regression for renaming this cluster role, you can rename this cluster role to yurt-app-manager-role and verify whether yurtingress CR can be created successfully, we will check the details and fix it later.

[2022-11-01 00:44] junfsir commented on #1043
@zzguang I created a new cluster role named "yurt-app-manager-role", and after applied the "yurtingress" yaml, another error occurred.
[code]
[code]

[2022-11-01 07:55] zzguang commented on #1043
@junfsir , some previous PR didn't make a consistent optimization which led to YurtIngress CR creation failure, @huiwq1990 has submitted a reconstruction PR to optimize yurtingress implementation from yaml file to helm chart: https://github.com/openyurtio/yurt-app-manager/pull/124,
when this PR is merged, you can check whether this issue is fixed, thanks!

[2022-11-01 09:51] rambohe-ch commented on #937
@Congrool cache_agents can be set with "*" to enable cache for all components that access kube-apiserver through yurthub. and this feature is added in the pull request: https://github.com/openyurtio/openyurt/pull/727

[2022-11-02 09:52] luc99hen commented on #774
/assign @luc99hen

[2022-11-02 12:59] luc99hen commented on #774
In response to the adjustments of pool-coordinator component, the role of `pool-coordinator-controller` has been adjusted as following:
1. Initialize
- block until the YurtAppDaemon CRDs are ready.
- prepares the client certificate to access the kubelet for pool-coordinator, saves the certificate in secret (shared certificate)

2. Reconcile
- When pool-spirit is scheduled, controller prepares the

[2022-11-03 21:36] fujitatomoya commented on #1024
https://github.com/openyurtio/openyurt/issues/1024#issuecomment-1281924238

i believe this is exactly the problem here.
Under some circumstances, even on pods running on cloud side will request the tunneling like this.
And that leads to the failure and this problem. This seems to be bug for user perspective since we just do the installation procedure.

the question is why this is happening?

[2022-11-04 01:55] rambohe-ch commented on #774
@luc99hen I think it's good idea to add dns names(like pool-coordinator-svc, pool-coordinator-svc.kube-system, pool-coordinator-svc.kube-system.svc, pool-coordinator-svc.kube-system.svc.cluster.local) into tls server certificate.

[2022-11-04 02:05] rambohe-ch commented on #1024
@fujitatomoya The original definition for `Cloud Node` that nodes can connect K8s control-plane components through intranet network(for example: in the same VPC), and `Cloud Node` is used for running OpenYurt control-plane components(like yurt-controller-manager, yurt-tunnel-server). so traffic for `kubectl logs/exec` from kube-apiserver to `Cloud Node` doesn't need to go through yurt-tunnel.

If

[2022-11-04 03:05] fujitatomoya commented on #1024
@rambohe-ch yeah, thanks for the comments.

as far as i can see, there are some cases that that goes through tunnel or not `unexpectedly`.
i believe that those `unexpected` problems are related to host system configuration especially networks.
we are not trying to get to the root case.

[2022-11-04 03:33] rambohe-ch commented on #1024
@fujitatomoya ok, i can give some hints how to debug why traffic does not go through cloud node directly from kube-apiserver.
1. nsenter into network and mount namespace of kube-apiserver pod
2. check the contents of /etc/resolv.conf file for kube-apiserver, make sure the name server is the ClusterIP of yurt-tunnel-dns service
3. ping {yurt-tunne-dns podIP}, make sure kube-apiserver can access dns

[2022-11-07 23:20] fujitatomoya commented on #1024
@rambohe-ch

i found that there is configuration in `/etc/hosts` on cloud master node `InternalIP` is `192.168.56.20`.

[code]

with above configuration, openyurt sees that hostname `ceci-control-plane` is `127.0.1.1`, and there is no such IP information in  the cluster system. So it expects that is edge node via open-yurt-tunneling, and there will be no response since there is no openyurt-tunnel-

[2022-11-08 03:04] rambohe-ch commented on #1024
@fujitatomoya Thanks for your feedback. I am glad that you have solved the problem of dns, and yurt-tunnel worked now.

btw: it looks like there are some unexpected configurations in kube-apiserver.yaml that lead to `127.0.0.1 ceci-control-plane	ceci-control-plane` setting in `/etc/hosts` file.

you can dive into the code for creating /etc/hosts file in here: https://github.com/kubernetes/kubernet

[2022-11-08 08:43] hongcaohu opened #1050 "yurtadm init failed"
when I use Yurtadm init method to init yurtadm according to zhe document,  some failed happened bellow.
2022-11-08 16:04:24 [INFO] [init.go:259] start to init master0...
2022-11-08 16:04:25 [INFO] [init.go:214] join command is: kubeadm join  apiserver.cluster.local:6443 --token h3a1lx.egzk904uvi37nzbt \
	--discovery-token-ca-cert-hash sha256:12f74fcca14db24def0ec15a690b4a272b8faea99c08f6105090f783

[2022-11-08 19:42] fujitatomoya commented on #1024
yeah, right.

according to https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=719621 and https://askubuntu.com/questions/754213/what-is-difference-between-localhost-address-127-0-0-1-and-127-0-1-1,

this `127.0.1.1` IP address is assigned by `Ubuntu Desktop`, and if it does not have permanent IP, it will be assigned. Debian, then Ubuntu, choose to define `127.0.1.1` for mapping the IP address of ho

[2022-11-08 19:46] fujitatomoya commented on #1024
@rambohe-ch you can remove `kind/bug` from this one, instead, add `kind/document`?

[2022-11-09 02:49] rambohe-ch commented on #1024
@fujitatomoya yes, it's a good idea to add this case in the OpenYurt tutorial. Maybe this case can be added in the https://openyurt.io/docs/faq tutorial, and the reference link can be added in the https://openyurt.io/docs/installation/manually-setup tutorial.

[2022-11-09 07:30] ccjjxx99 opened #1053 "[BUG] The flannel-edge image provided only supports amd64, no image for arm64 is provided"
**What happened**:
The pod `kube-flannel-ds` keeps failing to initialize when I join a cluster created by yurtadm using a machine with arm64 architecture. When I check the container logs, there is only one sentence with "exec /bin/cp: exec format error".
I checked the doc on https://openyurt.io/docs/user-manuals/network/edge-pod-network. The image you provided on https://hub.docker.com/r/openyurt/

[2022-11-09 07:31] ccjjxx99 commented on #1053
#731

[2022-11-09 07:33] ccjjxx99 commented on #1053
#731

[2022-11-09 08:00] Congrool opened #1054 "autonomy test failed for deleting namespace"
#### Which jobs are failing:

When cleaning the test environment after all tests pass, e2e tests sometimes fail for deleting test namespace. The error log is like this:
[code]

It seems that the connection was closed by APIServer. I have not figured out the reason why it is reset.

Sometimes it can pass:
https://github.com/openyurtio/openyurt/actions/runs/3425939958/jobs/5707228507

,and sometimes

[2022-11-09 08:01] Congrool commented on #1054
BTW, there's no such problem at local host.

[2022-11-09 12:19] ccjjxx99 opened #1055 "[BUG] 'yurtadm init' executed the subsequent operation before the apiserver had finished restarting"
**What happened**:
As you can see from the logs, after adjusting the apiserver configuration, the logs show "Kube-apiserver restarted successfully". However, all subsequent operations return "6443 was refused", which is because the apiserver has not finished restarting and kubectl is not running yet.
Therefore, from the step "Adjust coreDNS", all the following operations are not performed at all.

[2022-11-09 14:09] rambohe-ch commented on #1055
@ccjjxx99 Thank you for raising issue about `yurtadm init` command. `yurtadm init` command is maintained by @windydayc, but now he has not enough energy to take part in open source. and we recommend you to use `manually setup` to create OpenYurt cluster or use `make docker-build-and-up-openyurt` command to create a OpenYurt cluster for test.

of course, if you can take part in OpenYurt community a

[2022-11-09 14:11] rambohe-ch commented on #1053
@ccjjxx99 Thank you for raising issue for improved flannel.
@wenjun93 Do you have any time to solve this problem?

[2022-11-09 15:58] ccjjxx99 commented on #1055
@rambohe-ch  Thank you for your reply. Actually, now `yurtadm init` command implemented to help me build a normal k8s cluster and successfully complete the configuration from 1.1 to 2.3 in the [documentation of manually setup](https://openyurt.io/docs/next/installation/manually-setup/).
And I was able to successfully build the OpenYurt cluster by continuing with the operations after 2.4 in the doc

[2022-11-10 00:32] fujitatomoya commented on #1024
@rambohe-ch got it, will do accordingly.

[2022-11-10 05:31] fujitatomoya commented on #1024
@rambohe-ch can you take a look at https://github.com/openyurtio/openyurt.io/pull/238?

[2022-11-10 06:07] ccjjxx99 commented on #1053
@wenjun93 这个事情其实挺简单，不到十分钟就搞定了，按照[边缘Pod网络的文档](https://openyurt.io/zh/docs/user-manuals/network/edge-pod-network/#%E8%A7%A3%E5%86%B3%E6%96%B9%E6%B3%95-%E5%9C%A8flannel%E4%B8%AD%E5%A2%9E%E5%8A%A0mac%E5%9C%B0%E5%9D%80%E4%BF%9D%E6%8C%81%E5%8A%9F%E8%83%BD)打补丁后，再按照[flannel的文档](https://github.com/flannel-io/flannel/blob/master/Documentation/building.md#building-for-other-platforms)使用命令`ARCH=arm64 make ima

[2022-11-11 01:53] rambohe-ch commented on #1024
@fujitatomoya Thank you for updating faq tutorial, and i have merged this pull request.
by the way, i will update the chinese faq tutorial soon.

[2022-11-11 02:24] fujitatomoya commented on #1024
Yeah, that is something i cannot help, maybe i should start studying ... 😅

[2022-11-15 10:25] rambohe-ch commented on #1037
@lorrielau dns autonomy in E2E tests is supported in #1045 , so i will close this issue.

[2022-11-15 10:25] #1037 closed

[2022-11-15 10:33] rambohe-ch commented on #889
/reopen

[2022-11-15 10:39] rambohe-ch commented on #800
/assign @rambohe-ch

[2022-11-15 11:40] Congrool commented on #1054
It seems that this problem has influenced the Github Action and makes contributor confused.
How about skip deleting namespace `yurt-e2e-test` after suite to make it work around? @rambohe-ch

[2022-11-15 12:10] rambohe-ch commented on #1054
@Congrool It's not reasonable to skip namespace deletion after suite, maybe we can wait some time and dive deep into the error and then fix it.

[2022-11-15 15:58] YTGhost commented on #1054
Encountered the same problem

[2022-11-16 01:58] rambohe-ch opened #1058 "[feature request]optimize yurtadm reset command"
**What would you like to be added**:
please optimize yurtadm reset command by invoking `kubeadm reset` instead of importing code of `kubeadm reset`
as a plus, clean up the code that is not needed anymore in pkg/yurtadm dir.

**Why is this needed**:
yurtadm join command is optimized based on the kubeadm join command, it's natural that optimize yurtadm reset command in the same way.

**others**
/kin

[2022-11-16 02:04] rambohe-ch opened #1059 "[feature request]merge `yurtctl init test` command into yurtadm tool"
**What would you like to be added**:
yurtctl tool is only used by e2e tests, in order to make OpenYurt tools more clearly, it's a good idea to merge the features of yurtctl into yurtadm tool. and yurtctl tool will be removed from OpenYurt.

**Why is this needed**:
end user is recommended to use kubectl(K8s native tool) to interact with the OpenYurt cluster. and yurtadm tool will be used for OpenYu

[2022-11-16 02:15] YTGhost commented on #1059
Maybe I can do this after I completely finish yurtadm join refactoring

[2022-11-16 02:17] YTGhost commented on #1058
I want to do this after completely finish yurtadm join refactoring

[2022-11-16 02:34] rambohe-ch commented on #1059
good job. /assign @YTGhost

[2022-11-16 02:34] rambohe-ch commented on #1059
/assign @YTGhost

[2022-11-16 07:49] rambohe-ch commented on #1059
@YTGhost I think that `yurtctl markautonomous` and `yurtctl cluster-info`, these two commands are rarely used by end users, so just deprecated them. and merge `yurtctl test init`  into yurtadm tool.

maybe we should consider a new name for `yurtctl test init` command in yurtadm.

[2022-11-16 07:49] rambohe-ch commented on #1058
/assign @YTGhost

[2022-11-16 15:54] YTGhost commented on #1054
/reopen

[2022-11-16 17:23] fujitatomoya commented on #1024
@rambohe-ch i will close this one in favor of https://github.com/openyurtio/openyurt.io/pull/238

[2022-11-16 17:58] fujitatomoya opened #1061 "[Question] How authenticate the edge devices during cluster join?"
**What happened**:

According to the OpenYurt architecture, Kubernetes api-server needs to be reachable from edge devices via public network such as internet.
In that case, Kubernetes api-server must be exposed to the public network, this comes to security concern since anyone can access the Kubernetes api-server.

**What you expected to happen**:

Is there any best practice or solution how to dea

[2022-11-16 17:58] fujitatomoya commented on #1061
CC: @Windrow @FengGaoCSC

[2022-11-17 01:48] Congrool commented on #1054
Well, it seems that it's not the original problem. Because we use the `Foreground delete policy` which will block until all resources under the namespace have vanished, maybe 10s is not enough for this.

Would you like to submit a pr to adjust the timeout ? @YTGhost

[2022-11-17 01:49] Congrool commented on #1054
/reopen

[2022-11-17 01:58] rambohe-ch commented on #1061
@fujitatomoya kube-apiserver only expose https service to the public network, this means only clients have valid certificates can access kube-apiserver. so fake users can not get detail info from cluster.

we also suggest that put a LoadBalancer before kube-apiserver, and configure whitelist or blacklist(like such kind of security rules) on the loadbalancer in order to get rid of security risks.

[2022-11-17 03:11] YTGhost commented on #1054
ok

[2022-11-18 05:43] #889 closed

[2022-11-18 06:37] ghtian123 opened #1064 "[Question]请问yurthub 会通过yurt-tunnel 访问控制面吗"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
请问边缘节点访问中心端，会走yurt-tunnel 吗？

**Environment**:
- OpenYurt version:
- Kubernetes version (use `kubectl version`)
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

**others**
/kind question

[2022-11-18 06:37] ghtian123 commented on #1064
@rambohe-ch @denverdino

[2022-11-18 09:30] rambohe-ch commented on #1064
@ghtian123 yurthub目前不会走yurt-tunnel，而是直接通过http/2访问控制面。

[2022-11-18 09:34] ghtian123 commented on #1064
后续是否会考虑这个功能

[2022-11-18 09:44] rambohe-ch commented on #1064
@ghtian123 嗯，英雄所见略同，后续会规划这块的能力，能力会在raven项目上承载。

[2022-11-18 11:19] rambohe-ch opened #1067 "[feature request]move scattered controllers into yurt-manager"
**What would you like to be added**:
As we have discussed on the community meeting, in order to improve the management of all repos in OpenYurt, and reduce the complexity of deploying OpenYurt. we will create a new component named `yurt-manager` for managing all controllers and webhooks. so we will move controllers in `raven-controller-manager`, `yurt-app-manager`, `yurt-controller-manager`, even

[2022-11-18 11:19] rambohe-ch commented on #1067
@JcJinChen @kadisi

[2022-11-21 10:57] Congrool commented on #778
/reopen

This feature is not completely implemented. So we need to reopen it.

[2022-11-21 11:00] Congrool commented on #778
I'll submit pr of pool-coordinator cache implementation. But I think we need to rebase the pool-coordinator-dev on #882 first.

@rambohe-ch What do you think?

[2022-11-21 12:11] rambohe-ch commented on #778
@Congrool agree with you.

[2022-11-22 08:03] Congrool commented on #1054
/reopen

It seems that the problem still exists.

[code]

[2022-11-22 09:17] #1054 closed

[2022-11-24 07:31] rambohe-ch commented on #1067
we should make sure that `k8s.io/kubernetes` package will not be imported into `Yurt-Controller-Manager` when migrating controllers.

[2022-11-25 06:23] #1058 closed

[2022-11-28 08:01] rambohe-ch opened #1079 "[feature request]support OTA and Auto upgrade model for static pod"
**What would you like to be added**:
As we discussed in proposal: https://github.com/openyurtio/openyurt/pull/1065, make a issue to track this work.

**Why is this needed**:
please reference the proposal link: [detail info ](https://github.com/openyurtio/openyurt/pull/1065)

**others**
/kind feature

[2022-11-28 08:01] rambohe-ch commented on #1079
/assign @xavier-hou

[2022-11-28 08:06] rambohe-ch opened #1080 "[feature request]install yurthub component on edge nodes depending on StaticPod cr resource."
**What would you like to be added**:
As we discussed in proposal: https://github.com/openyurtio/openyurt/pull/1065, we will use `StaticPod` CRD to manage static pod(like yurthub component) on edge nodes. so `yurtadm join` should use pod template in `StaticPod` cr instead of hardcode to install yurthub component.

**Why is this needed**:
please reference the detail info: https://github.com/openyurt

[2022-11-28 08:08] YTGhost commented on #1080
/assign

[2022-11-29 08:22] rambohe-ch commented on #1012
@huweihuang i will close this issue because this bug has been fixed in OpenYurt v1.0, and you can feel free to reopen this issue if you need.

[2022-11-29 08:22] #1012 closed

[2022-11-29 08:31] rambohe-ch commented on #1064
@ghtian123 i think that your question has been solved, so i will close this issue. and you can feel free to reopen this issue if you need.

[2022-11-29 08:31] #1064 closed

[2022-11-29 08:34] rambohe-ch commented on #937
@Congrool i think this issue can be closed now because "*" is supported to configure cache_agents. and restart of components improvement maybe need to discuss in the future.

and you can feel free to reopen this issue if you need.

[2022-11-29 08:34] #937 closed

[2022-11-29 08:36] rambohe-ch commented on #919
i think this issue can be close now, because yurtadm join command has been refactored on the base of kubeadm binary in the pull request https://github.com/openyurtio/openyurt/pull/1049.

[2022-11-30 05:35] fujitatomoya commented on #1061
@rambohe-ch thanks for your comment, sorry to be late to get back to you i was caught on vacation. we might have more questions in this security aspect, we would like keep this open for a bit. but if nothing comes up for weeks, please go ahead to close this issue.

[2022-11-30 05:50] Congrool commented on #1059
As we disscussed, it's werid to have such test command in `yurtadm`. We can add the binary into test/e2e which has the ability of starting up an openyurt cluster with kind. For users, we can provide a make target like current `make local-up-openyurt` which will call this binary to start up the openyurt clusters, hence no influence will be imposed on users. For e2e test, we can still use the existi

[2022-11-30 07:01] rambohe-ch commented on #1061
@fujitatomoya Thanks for your reply.

In addition, would you like to register as an end user of OpenYurt in this issue: https://github.com/openyurtio/openyurt/issues/300, and OpenYurt community will get more confidence from users.

[2022-11-30 07:03] rambohe-ch commented on #1059
@Congrool Yes, i agree with you that combine yurtctl init test command into yurtadm is not suitable. and it's a good idea to integrate with e2e. agree +1

[2022-11-30 13:27] YTGhost commented on #1059
It's a good idea, agree + 1