[2020-05-27 06:05] tiny1990 opened #8 "project can not compile"
run `make` error.
[code]

[2020-05-27 06:23] Fei-Guo commented on #8
The repo is still under construction, bear us with any build failures.

[2020-05-27 08:17] rambohe-ch commented on #8
@tiny1990 what's version of your go that used for compile.
and can you try compile again after clear up go mod file($GOPATH/pkg)

by the way, i haven't come across this compile error.

[2020-05-27 08:21] tiny1990 commented on #8
@rambohe-ch  build with golang 1.14

[2020-05-27 08:38] ruster-cn commented on #8
github.com/Sirupsen/logrus is the old path, the author suggest ["Anything using it should be updated to import and require github.com/sirupsen/logrus." ](https://github.com/sirupsen/logrus/issues/1041). I think we can change as github.com/sirupsen/logrus, because this change can run in go version >= 1.13.

[2020-05-27 09:52] tiny1990 commented on #8
@rambohe-ch
in order to isolate host GOPATH , build in container.
if i run command `docker run -it  --rm -v "$PWD":/usr/src/myapp -w /usr/src/myapp golang:1.13 go mod vendor`
logs.
[code]
so we need replace `github.com/Sirupsen/logrus` => github.com/sirupsen/logrus

and run command `docker run -it  --rm -v "$PWD":/usr/src/myapp -w /usr/src/myapp golang:1.13 make`.
logs
[code]
so. i think we need r

[2020-05-27 17:49] charleszheng44 commented on #8
@tiny1990 thanks for filing the issue. I have changed the `github.com/googleapis/gnostic` to v0.3.1. It should work now.

[2020-05-27 17:49] #8 closed

[2020-05-29 08:11] huskar-t opened #31 "yaml error"
there's an error in
/config/setup/yurthub.yaml
line 12
Can this quality really be used in industry？

[2020-05-29 08:13] idevz commented on #31
I think this is not an error, it's an placeholder for your `__pki_path__`

[2020-05-29 08:17] huangyuqi commented on #31
please use the admin tool 'yurtctl' to install.  The placeholder also can be replaced manually @huskar-t

[2020-05-29 08:20] huskar-t commented on #31
Well, i didn't study the code carefully

[2020-05-29 08:20] #31 closed

[2020-05-29 15:29] Icedroid opened #32 "What real thing the function kubeutil.RunServantJob() do"
The image openyurt/yurtctl-servant source code will be open source?
deploy yurt-hub and reset the kubelet service  in a kubernetes job use the openyurt/yurtctl-servant:latest image. But I can't know the job change the things of kubelet.

[2020-05-29 15:54] charleszheng44 commented on #32
@Icedroid Yes. The source code of yurtctl-servant can be found at `config/yurtctl-servant`.

[2020-05-29 15:54] #32 closed

[2020-05-30 00:26] Icedroid commented on #32
ServantJobTemplate:
[code]

 /var/tmp/setup_edgenode  shouw be /tmp/setup_edgenode ?

[2020-05-30 15:51] Icedroid opened #37 "when the cluster unhealthy localPost and localDelete not implement"
When the cluster unhealthy the edge node can't write pod to local storage?

[2020-05-31 01:10] rambohe-ch commented on #37
@Icedroid
1. when the edge loses connection with master, in order to keep data consistency, so the data in edge local storage should keep unchanged.
2.  on the other hand, when edge node use local storage, the edge node will not create or delete pod that come from master.

so on based these points, localPost and localDelete is not need to implement pod write or delete.

[2020-06-03 01:43] majoyz opened #40 "I deployed openyurt on my kubeadm k8s cluster, but tested node autonomy failed"
Hi everyone, I tryed to deploy openyurt on my kubeadm k8s cluster v1.14, I used ack option.
At first, the container needed the `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` file, I  refered to this [issue](https://github.com/kubernetes/kubeadm/issues/1575) and copied one to there. I'm not sure if it's ok but the openyurt run well.
[code]
But when I wanted to test node autonomy, I got thi

[2020-06-03 02:17] charleszheng44 commented on #40
@majoyz thanks for filing the issue. Could you try `curl -s http://127.0.0.1:10261/api/v1` before changing the `yurt-hub.yaml`?

`/etc/kubernetes/kubelet.conf` and `/var/lib/openyurt/kubelet.conf/` should be different. `/var/lib/openyurt/kubelet.conf/` should not contain fields `certificate-authority-data`, `client-certificate`, and `client-key`. Did you use `kubeadm join` to set up the kubelet?

[2020-06-03 02:41] majoyz commented on #40
@charleszheng44 thank you, yes, I used `kubeadm join`, the `/var/lib/openyurt/kubelet.conf/` likes this:
[code]

[2020-06-03 03:03] charleszheng44 commented on #40
@majoyz `/var/lib/openyurt/kubelet.conf/` has the same content?

[2020-06-03 03:08] majoyz commented on #40
@charleszheng44 yes, it's just the same
[code]

[2020-06-03 03:12] majoyz commented on #40
@charleszheng44 Is it right that I copied `/usr/lib/systemd/system/kubelet.service.d/10-kubeadm.conf` to `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf`?

[2020-06-03 03:38] charleszheng44 commented on #40
would you do `sudo systemctl status kubelet | cat`? The output has been truncated. Looks like the kubelet has not been reset, the `--bootstrap-kubeconfig=/etc/kube...` is still there.

Yes, if `/usr/lib/systemd/system/kubelet.service.d/10-kubeadm.conf` is the drop-in file used by kubelet.service.

[2020-06-03 03:51] majoyz commented on #40
I restarted it twice, the first log:
[code]
the second:
[code]
it seems that the servant had somthing error... the logs on master is ok:
[code]

[2020-06-03 03:51] charleszheng44 commented on #40
Would you do the followings:

1. make sure the kubelet.service is point to `/var/lib/kubelet.conf` by checking the kubelet service
[code]
if kubelet.service is using the right kubelet.conf, the option `--kubeconfig` should have value `/var/lib/kubelet.conf`

2. edit `/var/lib/openyurt/kubelet.conf`
[code]

3. restart the kubelet.service
[code]

[2020-06-03 03:56] charleszheng44 commented on #40
if everything goes right, the `/var/lib/kubelet.conf` should have `server: http://127.0.0.1:10261`. The node is still ready after one minute is because the kubelet does not connect to the yurthub but still talk to the apiserver directly

[2020-06-03 06:22] majoyz commented on #40
Thanks for your advice, do you mean `/var/lib/openyurt/kubelet.conf`? There's no `/var/lib/kubelet.conf` on my node and `--kubeconfig=/var/lib/openyurt/kubelet.conf`. Before openyurt run, `--kubeconfig=/etc/kubernetes/kubelet.conf`. I showed the full output above.
Unfortunately, after I edit `/var/lib/openyurt/kubelet.conf` and restart  the kubelet.service, the `/var/lib/openyurt/kubelet.conf` rec

[2020-06-03 16:48] charleszheng44 commented on #40
Sorry for the typo. Yes, I mean `/var/lib/openyurt/kubelet.conf`. Could you cat the `/etc/kubernetes/bootstrap-kubelet.conf `, `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` and `/var/lib/kubelet/config.yaml`? Also, may I know your OS information?

[2020-06-04 01:42] majoyz commented on #40
[code]

[2020-06-04 02:06] majoyz commented on #40
I catched the log of openyurt/yurtctl-servant, it seems not right:
[code]
But after the container closed, the yurt-hub-k8s-node01 is running status.
[code]

[2020-06-04 03:17] charleszheng44 commented on #40
I just prolong the timeout value of servant pod. Would you retry by using this command `yurtctl convert  --provider ack --cloud-nodes k8s-master --yurtctl-servant-image openyurt/yurtctl-servant:longer-timeout`.

[2020-06-04 03:52] majoyz commented on #40
Thank you, the docker logs of yurtctl-servant is ok:
[code]
But the `/var/lib/openyurt/kubelet.conf` is still same, I'll try to add more logs to find the problem.

[2020-06-04 06:21] charleszheng44 commented on #40
Could you remove the `--bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf` option in file in `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf `, revise the `/var/lib/openyurt/kubelet.conf`  and restart the kubelet.service? I doubt it is caused by the `--bootstrap-kubeconfig`, which reset the kubeconfig when kubelet is restarted.

[2020-06-04 08:07] majoyz commented on #40
The node is still Ready, but it works I think.
The `/var/lib/openyurt/kubelet.conf` is changed and after I restart the openyurt, the `/var/lib/openyurt/kubelet.conf` is the right version. The status of node and pods are still Ready, but I can't get their logs on master, I think it should be ok.
My cluster might have some problems itself, the status keep Ready after I stoped kubelet and bbox contai

[2020-06-04 14:36] charleszheng44 commented on #40
I will investigate the `--bootstrap-kubeconfig` option further, and remove it if it is not required. If it still doesn't work after you fix the cluster, please reopen this issues.

[2020-06-04 14:36] #40 closed

[2020-06-09 08:00] xmwilldo opened #43 "yurt-cntroller-manager's log show an error: error retrieving resource lock kube-system/yurt-controller-manager"
I follow the GitHub Manually Setup doc, but I find a error in yurt-controller-manager:

and I think the yurt-controller-manager is not working, because when I disconnect the yurthub on edgenode, the edgenode's status is still ready.

[2020-06-09 08:55] rambohe-ch commented on #43
@xmwilldo maybe rbac setting step is missed in manually setup doc, you can exec the following command to add permission for yurt-controller-manager.
`kubectl create clusterrolebinding add-on-cluster-admin --clusterrole=cluster-admin --serviceaccount=kube-system:default`

[2020-06-09 09:10] #43 closed

[2020-06-09 11:00] XY-Yolanda opened #44 "the pod 'yurtctl-servant-convert' always becomes 'CrashLoopBackOff' when i convert minikube to openyurt cluster"
i got this error message when i excuted this command  ` _output/bin/yurtctl convert --provider minikube`
![image](https://user-images.githubusercontent.com/13092534/84139558-af324880-aa82-11ea-80d4-5e19af8a4d1f.png)
the status  of the pod became 'CrashLoopBackOff' and there was no error log
![image](https://user-images.githubusercontent.com/13092534/84139701-eef93000-aa82-11ea-8199-24ea2a091253.pn

[2020-06-09 16:18] charleszheng44 commented on #44
Thanks for filing the issue. May I know your kubernetes version, and node OS information? Also could you log in to the node, and check the log of the servant-pod through container runtime (e.g. docker log)? Thanks

[2020-06-10 02:02] vincent-pli opened #46 "Nothing output use incorrect "provider""
I took a try with `yurtctl` on my local `kubeadm` env, I'm not notice the validate `provider` should be `minikube` or `ack`, I omit it, then I get nothing after run the command.

BTW, will we not support `kubeadm` or `kind` or others?

[2020-06-10 02:05] xmwilldo commented on #46
It's not supported now. if you init k8s cluster by kubeadm,I suggest you use manual installation

[2020-06-10 02:06] xmwilldo commented on #46
It's not supported now. if you init k8s cluster by kubeadm,I suggest you use manual installation

[2020-06-10 02:21] charleszheng44 commented on #46
If you don't specify a provider,  `ack` will be used as the default. During the runtime, there is no indicator that can verify the correctness of the provider, so it dependents on the user to specify the correct provider. However, when converting the cluster, the main difference between different providers is the pki path(e.g., `/etc/kubernetes/pki` or `/var/lib/minikube/cert`).  If the target Kub

[2020-06-10 02:38] xmwilldo opened #47 "yurt-hub can't start when I reboot node"
# yurt-hub can't start when I reboot node.

**The reason is that the yurt-hub configuration file takes the apiserver environment variables, but the kubelet does not inject the apiserver environment variables because the yurt-hub is not running properly, so both yurt-hub and kubelet are not running normally at the end.**

[2020-06-10 05:47] vincent-pli commented on #46
@charleszheng44 @xmwilldo thanks for quick replies.

But I still get nothing..., any thrown exception/error will be helpful.
[code]

[2020-06-10 23:50] vincent-pli commented on #46
@charleszheng44
The `help` works:
[code]

[2020-06-11 02:11] charleszheng44 commented on #46
@vincent-pli do you mind checking out this branch https://github.com/charleszheng44/openyurt/tree/detailed-log, and try it again with the command `_output/bin/yurtctl convert -v 4 --provider ack --cloud-nodes nisuses1.fyre.ibm.com `? I have added more logs in this branch.

[2020-06-11 06:24] rambohe-ch commented on #47
@xmwilldo i think, we can get kube-apiserver address from /etc/kubernetes/kubelet.conf file, and set it into yurthub, or user input server-addr on the command line.

[2020-06-11 06:24] rambohe-ch commented on #47
@charleszheng44
 i think that we can get kube-apiserver address from /etc/kubernetes/kubelet.conf file, and set it into yurthub, or user input server-addr on the command line.

[2020-06-11 07:20] vincent-pli commented on #46
@charleszheng44
[code]

[2020-06-11 16:12] charleszheng44 commented on #46
@vincent-pli I think I have found the bug. Could you pull the branch and try the command again?

[2020-06-11 18:15] Fei-Guo commented on #47
1. When you want to test the autonomy function of edge node by rebooting the edge node. The yurthub may not initiate properly.

For a record, this is the proposed workaround before a former code fix.

 This is because the startup parameters of yurthub are configured to read the environment variables `KUBERNETES_SERVICE_HOST` and `KUBERNETES_SERVICE_PORT_HTTPS`, which is initialized by kubelet afte

[2020-06-11 18:56] #47 closed

[2020-06-12 07:34] vincent-pli commented on #46
ha, interesting, v1.17.x not support? do we have this in document?
[code]

[2020-06-12 16:34] charleszheng44 commented on #46
Currently, we only support 1.12-1.14. It should work with higher versions(1.15- 1.18), but we have not officially tested yet. If you would like to play around with 1.17, you can manually add it as the supported versions by appending "1.17" to the variable `ValidServerVersions` in `pkg/yurtctl/util/kubernetes/util.go`, and recompile the yurtctl.

[2020-06-12 16:36] #46 closed

[2020-06-15 08:53] vincent-pli opened #52 "Forbidden error in yurt-controller-manager"
I saw permission forbidden error in `kube-system/yurt-controller-manager`:
[code]

BTW, I test `yurtctl` on my kubeadm env with k8s version v1.17.3, I think you can add the version to `pkg/yurtctl/util/kubernetes/util.go`, 👍

[2020-06-15 09:33] rambohe-ch commented on #52
@vincent-pli
maybe rbac setting step is missed, you can exec the following command to add permission for yurt-controller-manager.
`kubectl create clusterrolebinding add-on-cluster-admin --clusterrole=cluster-admin --serviceaccount=kube-system:default`

@charleszheng44 maybe we need to add rabc setting in yurtctl

[2020-06-15 13:59] vincent-pli commented on #52
@rambohe-ch
It's exactly what I did, I mean we need add the RBAC to the guide.

[2020-06-15 16:36] charleszheng44 commented on #52
@vincent-pli good to know yurtctl works to 1.17.

[2020-06-16 02:42] vincent-pli commented on #52
@charleszheng44
I made the cluster with `kubeadm` manually.
[code]

[2020-06-16 03:01] charleszheng44 commented on #52
@vincent-pli Thanks for letting me know. I will make the `yurtctl` to add the permission to the `serviceaccount:kube-system:default`, if it is not granted.

[2020-06-16 05:30] vincent-pli opened #53 ""revert" not remove the annotation "node.beta.alibabacloud.com/autonomy=true" from edge nodes"
As described above, to reproduce the issue:
In multiple nodes k8s env.
1. `yurtctl convert` set one node as cloud-node
2. `yurtctl markautonomous`, then check the `edge` node, an annotation: "node.beta.alibabacloud.com/autonomy=true" is added.
3. `yurtctl revert`, then check the original `edge` node, the  annotation:
"node.beta.alibabacloud.com/autonomy=true"  still there.

[2020-06-16 05:32] vincent-pli commented on #52
@charleszheng44 thanks

[2020-06-16 05:32] #52 closed

[2020-06-16 05:53] #53 closed

[2020-06-24 01:42] Caixiaomeng opened #55 "请问Openyurt能实现云边协同嘛"
我是想在阿里云ECS上部署为master节点，然后本地虚拟机作为worker节点，然后通信==

[2020-06-24 01:50] charleszheng44 commented on #55
得保证 ecs 节点上的 master 能被外网访问，可以考虑购买一个 SLB 绑定 EIP。之后可以尝试手动配置流程，或者尝试将本地虚拟机先以正常节点形式加入到集群，再使用yurtctl convert

[2020-06-24 04:44] charleszheng44 opened #56 "edge node cannot be properly set if `--bootstrap-kubeconfig` is used by kubelet"
Several users have reported that if kubelet of edge nodes using `--bootstrap-kubeconfig`, the `/var/lib/openyurt/kubelet.conf` will keep being reset. This is because `/var/lib/openyurt/kubelet.conf` is created based on `/etc/kubernetes/kubelet.conf`, while `/etc/kubernetes/kubelet.conf` will be reset if kubelet is relying on the `--bootstrap-kubeconfig`.

[2020-06-24 07:29] rambohe-ch commented on #55
如果在阿里云ECS上部署master节点，建议可以直接使用阿里云容器服务的边缘托管集群，边缘托管集群是OpenYurt的商业化产品。产品链接: cs.console.aliyun.com

[2020-07-05 13:28] rambohe-ch opened #62 "support kubernetes v1.16.x version"
in order to support k8s v1.16.x version in openyurt, we need to improve the following associated components
  - yurthub:  bookmark process
  - yurt-controller-manager: following kube-controller-manager of k8s v1.16.x version
  - yurtctl: convert v1.16.x k8s to openyurt

[2020-07-05 13:51] rambohe-ch commented on #62
@charleszheng44 i will add a pr to slove the adaption for yurthub and yurt-controller-manager, and would you take care of the adaption of yurtctl?

[2020-07-05 22:28] charleszheng44 commented on #62
Yes. just added 1.16 + as a valid version. see #64

[2020-07-06 05:24] #62 closed

[2020-07-08 06:29] rambohe-ch opened #67 "edge node support arm/arm64 arch"
in order to support arm/arm64 arch for edge node, we need to refactor the following components.
1. yurthub: add arm/arm64 image building
2. yurtctl: adapt for deploying arm/arm64 image

@hwq830 would you take care of it?

[2020-07-08 06:42] hwq830 commented on #67
Got it.

[2020-07-09 01:26] mocunAce opened #68 "请问openyurt支持边缘设备管理吗"
如果支持边缘设备管理，支持哪些通信协议？
部署边缘端最小的资源要求是多少？
最多支持管理多少的边缘节点个数

[2020-07-09 08:43] rambohe-ch commented on #68
1. 边缘设备管理属于IOT场景范畴，边缘设备管理不和OpenYurt绑定，只是OpenYurt的其中一个使用场景。
2. 目前已经有商业产品以OpenYurt为底座，支持IOT场景。具体可以参照[物联网边缘计算](https://help.aliyun.com/document_detail/85155.html?spm=5176.cniotedge.0.0.624b61efV5LjUs)

[2020-07-09 08:51] rambohe-ch commented on #68
@mocunAce To support OpenYurt in github, please use English for further communication

[2020-07-09 09:33] mocunAce commented on #68
@rambohe-ch Thank you for your reply.
Edge device management is done through the application of edge nodes, right?

[2020-07-10 06:47] rambohe-ch commented on #68
yes, containerized applications that run on edge nodes will cover device management.

[2020-07-15 03:28] jmpcyc opened #70 "Openyurt why not choose k3s/k8s cluster as a edge ?"
In openyurt we can chose a node as a edge. But in our case, we want to choose k3s cluster as a edge because of we master a lot of cluster in county.  K3s cluster register itself as a k8s node. In cloud, we use nodeselector  to deploy pods to edge. And we want to use  AdmissionWebhook to proxy read write to edge. Is it good more than openyurt？

[2020-07-15 03:43] charleszheng44 commented on #70
@jmpcyc thanks for filing the issue. I don't quite understand your question.

[2020-07-15 03:46] charleszheng44 commented on #70
@jmpcyc thanks for filing the issue. I don't quite understand your question.

Which one do you mean,
Does OpenYurt support adding a k3s cluster as an edge node?
Or
Why choose OpenYurt over k3s?

[2020-07-15 03:50] rambohe-ch commented on #70
@jmpcyc thank you for sharing your experience.
use the central k8s to manage a mass of edge k8s clusters in openyurt is also under consideration, and edge k8s cluster components are pods of central k8s.

and would you explain how K3s cluster register itself as a k8s node?

[2020-07-15 11:08] hongfei-cloud opened #72 "openyurt cloud-edge environment lab----ask for advice"
hello,
system environment:  k8s version 1.14.8  OS:ubuntu18.04 docker version : 19.03.0
cloud-edge configure has already configed OK,  running _output/bin/yurtctl convert --provider ack --cloud-nodes a-cloud result display success!
But at edge node，yurthub is listenint at port 10261  ,yurthub's status is time wait，yurthub and cluster IP 443 is ESTABLISHED，kubelet and apiserver is  ESTABLISHED
tcp

[2020-07-15 17:50] Fei-Guo commented on #68
This issue has been addressed. Feel free to reopen it if more details need to be discussed.

[2020-07-15 17:50] #68 closed

[2020-07-15 17:56] Fei-Guo commented on #67
#71 fixes the issue.

[2020-07-15 17:57] Fei-Guo commented on #55
The issue has been addressed. Feel free to reopen it if more discussions are needed.

[2020-07-15 17:57] #55 closed

[2020-07-16 03:17] hongfei-cloud commented on #72
OK OK！The method is very good，by using the method, the problem is resolved.
thank you!!!

[2020-07-16 17:58] #72 closed

[2020-07-16 17:58] #44 closed

[2020-07-24 00:49] Fei-Guo commented on #56
This should be fixed by #76. Feel free to reopen the issue if the problem still exists.

[2020-07-24 00:49] #56 closed

[2020-07-30 07:58] feilengcui008 opened #81 "change label "alibabacloud.com/xxxx" into a more common name?"
I notice there are several labels prefixed with the name "alibabacloud.com", e.g. "alibabacloud.com/is-edge-worker", maybe something like "openyurt.com/xxx" is better.

[2020-07-30 08:13] rambohe-ch commented on #81
@feilengcui008 thank you for filing the issue.
@charleszheng44 maybe we can fix these specific labels by using compile settings. and modify alibabacloud.com prefix to openyurt.io

[2020-07-30 12:54] cfw11 opened #84 "failed to delete the configMap(yurtctl-lock)"
### ENV
`k8s version`: v1.16.12
`openyurt version`: don't find "-v" or "version", sync code from github on 2020.7.30
`work node`: centos7,   kenel:3.10.0-957.1.3.el7.x86_64,   docker:17.12.1-ce
`master node`: ubuntu-16.04,   kenel:4.15.0-45-generic,  docker:19.03.6

### DESC
convert a k8s cluster to openyurt cluster, wait a minutes....., use Ctrl+C to exit.
After that excute any Cmd has such error

[2020-07-30 16:25] charleszheng44 commented on #84
@cfw11 thanks for filing the issue. The reason `configmap/yurtctl-lock` can't be deleted is that after hitting `ctrl+c`, the `yurtctl convert` is interrupted, while the `configmap/yurtctl-lock` is not released. We will add a timeout mechanism to the lock.  For now, could you try to delete the lock manually by following commands?
[code]
Also, do you happen to know why the `yurtctl convert` failed a

[2020-07-30 17:57] Fei-Guo commented on #84
We are moving towards using crd/controller to do the conversion and most of the logic in YurtCtl will be in controller. This issue will completely resolved after that. Stay tuned.

[2020-07-31 13:47] YoshieraHuang opened #89 "advantages of openYurt over kubeedge?"
[kubeedge](https://github.com/kubeedge/kubeedge) is also an open-source edge framework. I'm choosing which one to dive in but i am confused to tell which is better.

[2020-07-31 17:23] Fei-Guo commented on #89
It is unfair to compare two projects in a Github issue, a blog post may be a better place to discuss :).

In a nutshell, both projects attempt to resolve the edge autonomy and edge application management problems.  They all leverage Kubernetes but differ in terms of complexity, compatibility and capabilities. I'd suggest you to look at both project descriptions and we are happy to answer questions

[2020-08-03 02:54] cfw11 commented on #84
sorry, It can't happen again.

[2020-08-03 18:25] Fei-Guo commented on #89
Let us close this one since it is not a real issue.

[2020-08-03 18:25] #89 closed

[2020-08-03 18:37] Fei-Guo opened #94 "Combine the same constants into a single constant.go"
We have same constants spread in YurtCtl, YurtTunnel and e2e test such as
LabelEdgeWorker, YurtEdgeNodeLabel and YURT_NODE_LABLE. We should make all the Labels be consistent especially when we have ability to change the Lable prefix via the compile option. A global constant.go may be a better choice in this case.

[2020-08-06 03:33] hongfei-cloud opened #97 "ask some advice: the commnication is wrong by eip"
hello,
I want to ask some advice:
1、when deploying openyurt, between the edge node and cloud node , the communication is well by pulic IP
and ,the communication is wrong by EIP（elastic IP）.  the edge node is not joined to the k8s cluster by command kubeadm join。。。。。。
2、the edge node is EIP, the edge node is joined to the aliyun  Internet of things platform  ,is well by EIP. so， please consult , Is

[2020-08-06 06:31] rambohe-ch commented on #97
@hongfei-cloud thank you for filing the issue.
and would you give me more information how you use openyurt.

the edge node can not join in the cluster, can you share your error message?

what's the meaning of `the edge node is EIP`? and would you give the link of aliyun iot project, i will check it.

[2020-08-06 06:50] hongfei-cloud commented on #97
the edge node is cloud product--cloud physical server. there is a private ip in the system.  internet network access through public IP ,the public ip is EIP（elastic IP）
阿里云也有EIP的概念，虚拟机系统里是内网IP，然后通过绑定EIP进出公网

[2020-08-06 06:52] hongfei-cloud commented on #97
https://www.aliyun.com/product/iotedge?spm=a2c4g.750001.h2v3icoap.302.11537b13nKAbgY

[2020-08-06 07:01] hongfei-cloud commented on #97
aliyun EIP  https://help.aliyun.com/document_detail/113775.html?spm=a2c4g.11186623.6.921.13e26f0ftBkzPX

[2020-08-07 06:16] rambohe-ch commented on #97
@hongfei-cloud ok, in the openyurt, edge node should access public network in order to connect kube-apiserver.  and would you share your error message?

[2020-08-07 06:42] hongfei-cloud commented on #97
我用中文描述一下：
环境：k8s v1.14.8    docker-ce 19.03.0     ubuntu18.04
cloud node and edge node 系统里是公网IP，openyurt is ok
cloud node and edge node 系统里是私有IP，通过绑定EIP，这个EIP是公网IP，来实现公网访问。原理是系统里的私有IP与此EIP做了全NAT映射关系。通过这样做测试，就不能与apiserver通信，可能是NAT的关系，node节点与apiserver通信是不是需要直通才行。因为测试环境删除了，已经改成了系统是公网IP。错误信息没法提供了。
所以我想请教，阿里云的物联网平台，云边技术也是使用openyurt吧，测试对接物联网平台时，我们的edge node系统是私有IP，通过绑定EIP，是可以与物联网平台通信的，并且加入进去。
谢谢！

[2020-08-07 06:54] hongfei-cloud commented on #97
hello,
test environment：k8s  version : v1.14.8, docker version: docker-ce 19.03.0    system version: ubuntu18.04
The system of cloud node and edge node is public IP, openyurt is OK

The system of cloud node and edge node is a private IP. By binding EIP, this EIP is a public IP to realize public network access. The principle is that the private IP in the system has a full NAT mapping relationship w

[2020-08-09 07:30] rambohe-ch commented on #97
@hongfei-cloud thank you for your information.
1. if kube-apiserver is behind a EIP and edge node can access the public network, i think edge node can join in the openyurt cluster through the EIP.  now, kube-apiserver of ACK@Edge(OpenYurt commercial production of alibaba cloud) is also behind the EIP.

2. yes, some of alibaba cloud IOT productions(like [iot plantform](https://www.aliyun.com/produc

[2020-08-10 03:26] hongfei-cloud commented on #97
thanks for your reply!
During this period, I will further test and feedback the results。

[2020-08-14 06:43] carolove opened #103 "when Manually Setup openyurt, /var/lib/openyurt/kubelet.conf will reset after restart kubelet.service"
steps:
1、follow https://github.com/alibaba/openyurt/blob/master/docs/tutorial/manually-setup.md
2、at the last  step
https://github.com/alibaba/openyurt/blob/master/docs/tutorial/manually-setup.md#reset-the-kubelet
i set kubeconfig(/var/lib/openyurt/kubelet.conf), like below:
[code]

3、after reset kubelet.service, kubeconfig(/var/lib/openyurt/kubelet.conf) return the original one,

how do your guys

[2020-08-15 09:41] zhanw15 opened #104 "ping cluster healthz with result, connection reset by peer"
### yurthub logs
[code]
- use command `curl https://xxxxx:8443/healthz`, got `ok`
- run yurthub as static pod, use images `openyurt/yurthub:v0.1.1`
- `ps -fp $(pidof yurthub) -o cmd=`
[code]

- use `kubectl get no xxxx`, got `notReady`
- `kubectl describe no xxxx`, got
[code]
- docker version
[code]

<br/>
<strong>
I restart yurthub at last, it works well.
</strong>

[2020-08-15 17:11] charleszheng44 commented on #104
@zhanw15 thanks for filing the issue. How did you set up the openyurt cluster? manually or using `yurtctl convert`? Have you cut off the connection between yurthub and apiserver?

[2020-08-17 01:17] zhanw15 commented on #104
@charleszheng44 I did it manually. When I restart yurthub, it's ok.

[2020-08-17 01:47] carolove commented on #103
#105 remove bootstrap args in kubelet config can resolve this problem

[2020-08-17 01:47] #103 closed

[2020-08-17 03:49] rambohe-ch commented on #104
@zhanw15 would you share full log of yurthub?

[2020-08-17 03:50] #97 closed

[2020-08-18 09:48] zhanw15 commented on #104
@rambohe-ch I lost the full log

[2020-08-18 14:15] HirazawaUi opened #106 "After completing the test node autonomy, the edge node status still keep ready"
#### Situation description

1. I installed the kubernetes cluster using kubeadm. The version of the cluster is 1.16. The cluster has a master and three nodes.

2. After I finished installing open-yurt manually, I started trying to test whether the result of my installation was successful

3. I used the Test node autonomy chapter in https://github.com/alibaba/openyurt/blob/master/docs/tutorial/yurt

[2020-08-19 05:55] #81 closed

[2020-08-19 05:59] charleszheng44 commented on #104
@zhanw15 is the problem solved?

[2020-08-20 01:10] zhanw15 commented on #104
yes, I restart yurthub container, this problem has been solved.

[2020-08-20 01:11] #84 closed

[2020-08-20 03:32] #104 closed

[2020-08-20 04:22] xujunjie-cover commented on #106
Hello, @HirazawaUi
In your steps，Configuration of kube-controller-manager
Please cancel append -nodelifecycle to - --controllers=*,bootstrapsigner,tokencleaner，

In my opinion, Work node sends its health status to master, if send overtime, Master node will change node status;
After install yurt on work node, edge work node sends its health status to yurthub, Master node should change the node stat

[2020-08-20 06:10] HirazawaUi commented on #106
thank you very much for your answers, which solved my problem and now openyurt is running normally. I am not sure if anyone else has encountered this problem, I think this parameter should be described in more detail in the document

[2020-08-20 06:29] Fei-Guo commented on #106
Isn't this an expected behavior? With the yurt-controller-manager which re-implements the node lifecycle controller, if an edge node stops sending the heartbeats, the yurt-controller-manager will not mark node NotReady.

[2020-08-20 06:37] HirazawaUi commented on #106
In the `Test node autonomy` chapter of `https://github.com/alibaba/openyurt/blob/master/docs/tutorial/yurtctl.md`, I see that the expected result is that after modifying yurthub's `--server-addr=` , The edge node will enter the notready state, and the pod will always be in the running state

[2020-08-20 06:48] HirazawaUi commented on #106
thank you very much for your answers, which solved my problem and now openyurt is running normally. I am not sure if anyone else has encountered this problem, I think this parameter should be described in more detail in the document

[2020-08-20 06:49] HirazawaUi commented on #106
In the `Test node autonomy` chapter of `https://github.com/alibaba/openyurt/blob/master/docs/tutorial/yurtctl.md`, I see that the expected result is that after modifying yurthub's `--server-addr=` , The edge node will enter the notready state, and the pod will always be in the running state

[2020-08-20 06:51] Fei-Guo commented on #106
You are right. I take it back. The yurt-controller-manager just does not evict Pods and Node status is still updated to NotReady.

[2020-08-20 07:01] xujunjie-cover commented on #106
Show nodes status after Convert a multi-nodes Kubernetes cluster in yurtctl.md may be better. Thanks

[2020-08-20 07:02] Fei-Guo commented on #106
It is recommended that the default nodelifecycle controller should not be installed, otherwise it will conflict with yurt-controller-manager. In yurtctl tool, to ease the workflow, we delete the nodelifecycle sa from kube-system assuming that
the default nodecontroller will not work without the sa.  Is this possible that in your setup, the default nodelifecycle controller still works (using other

[2020-08-20 07:04] HirazawaUi commented on #106
I observed that my simple pod entered the Terminating state about five minutes after the edge node stopped sending heartbeats. I don't know if this is normal and meets expectations. There is no similar description in the document
1. Information output using `kubectl get pods`

[code]

2. Information output using `kubectl describe pods bbox `

[code]

[2020-08-20 07:24] HirazawaUi commented on #106
I did not find the relevant instructions in the kubernetes documentation, about using other SAs make the default nodelifecycle controller still works. In fact, this is to test the brand new kubernetes cluster installed by openyurt using kubeadm, I haven't made any changes to it

[2020-08-20 07:33] Fei-Guo commented on #106
This looks like the default node controller behavior.  Can you do `kubectl get sa -n kube-system | grep node` and see if the node controller sa is still there?

[2020-08-20 08:42] HirazawaUi commented on #106
Yes, it exists in the kubernetes cluster，Do I need to delete it?

[2020-08-20 17:08] Fei-Guo commented on #106
Yes, the Yurtctl supposes to delete this SA (https://github.com/alibaba/openyurt/blob/ea19a211e43324f71a318a2236799b18291df4d8/pkg/yurtctl/cmd/convert/convert.go#L215). You can manually delete it for now. We should figure out why this deletion fails.

[2020-08-20 19:59] charleszheng44 commented on #106
@xujunjie-cover your understand is correct. If nodelifecycle controller is disabled, then the node status will never change. However, to my knowledge, the yurt-controller-manager will be responsible for managing the nodelifecycle, therefore the default nodelifecycle should still be disabled. @rambohe-ch would you verify this?

@HirazawaUi I just tried the manually setup process (disable the nodeli

[2020-08-20 20:08] Fei-Guo commented on #106
Ah, I realized that you are doing the conversion manually instead of using yurtctl. Then you should use  --controllers=*,bootstrapsigner,tokencleaner,-nodelifecycle option to disable the default nodelifecylce controller.
Basically, follow the step mentioned in https://github.com/alibaba/openyurt/blob/master/docs/tutorial/manually-setup.md#disable-the-default-nodelifecycle-controller

Can you pleas

[2020-08-21 02:47] HirazawaUi commented on #106
this is the label and Annotations information of the edge node, alibabacloud.com/is-edge-worker=true label and node.beta.alibabacloud.com/autonomy: true annotation exist

[code]

[2020-08-21 02:51] HirazawaUi commented on #106
I have executed `kubectl delete -f yurt-controller-manager.yaml` to delete the deployment controller and rebuild, but the result is still the same as above, the edge node state is still keep ready, should I try other versions of kubernetes or try to follow the document example only A kubernetes cluster with one master and one pod

[2020-08-21 03:20] Fei-Guo commented on #106
Please note that you should restart the default Kubernetes controller-manager `kube-controller-manager` in kube-system with the correct option, not the yurt-controller-manager.

[2020-08-21 03:28] HirazawaUi commented on #106
before this. I have modified the `--controllers` of `kube-controller-manager`. It has restarted automatically

[2020-08-21 06:10] charleszheng44 commented on #106
@HirazawaUi Thanks for the detailed log output. I will verify the manual setup process on a multi-nodes 1.16 Kubernetes, and let you know if the problem can be reproduced.

[2020-09-07 06:54] HirazawaUi commented on #106
@charleszheng44 @Fei-Guo
I think I know where the problem is. I fell into a misunderstanding of thinking. I rechecked the log of yurt-controller-manager and found that the problem is simply because the default serviceaccount in kube-system has insufficient permissions.
Then,I use The serviceaccount was created on the command line, and the manifest of yurt-controller-manager was modified to bind it

[2020-09-15 19:04] Fei-Guo commented on #94
This issue has been addressed.

[2020-09-15 19:04] #94 closed

[2020-09-16 07:49] XY-Yolanda opened #117 "When deploying tunnel server， I encountered a parameter error."
As described above，I met an error ， the pod log is：

Error: unknown flag: --server-count
Usage:
  Launch yurttunnel-server [flags]

Flags:
      --add_dir_header                   If true, adds the file directory to the header
      --alsologtostderr                  log to standard error as well as files
      --bind-address string              the ip address on which the yurttunnel-server will l

[2020-09-16 21:55] charleszheng44 commented on #117
@XY-Yolanda thanks for filing the issue. I just rebuilt and pushed the image `openyurt/yurt-tunnel-server:latest`. It should work now with the `server-count` command-line option.

[2020-09-16 21:55] #117 closed

[2020-10-01 08:25] huangzhiran opened #121 "can openyurt support http service on edge node ?"
I have a edge node with intranet, and master node in aliyun with a public ip

can I deploy a nginx pod on edge node, and access the nginx service throw the master node public ip ?

thanks

[2020-10-01 10:25] rambohe-ch commented on #121
@huangzhiran thank you for filing issue.
your meaning is that can we expose the intranet service by cloud public ip or not?
1. in fact, it is not good idea to expose edge service from cloud network because of network latency and lack of stability, so openyurt has provide this feature.
2. we recommend to expose edge service through edge ingress, like nginx ingress controller or traefik. and openyur

[2020-10-01 11:19] #121 closed

[2020-10-19 05:32] vincent-pli commented on #106
@charleszheng44
I hit the issue again today, seems we do not resolve it: https://github.com/alibaba/openyurt/issues/52

[2020-10-20 00:54] charleszheng44 commented on #106
Thanks for reporting the issue, I forgot to fix it :sweat_smile:. #123 should resolve the problem.

[2020-10-22 00:14] #106 closed

[2020-10-22 07:46] hle2 opened #124 "UnitedDeployment usages"
Would like to understand how UnitedDeployment can be used?
1. How Subset used to select a group of Node (e.g. NodePool Name)? Does it define a NodePool CRD first?
2. if need to deploy 2 deployments (with different deploymentTemplate) in same Unit, How to define the UnitedDeployment? Is there any sample for reference? Thanks!

[2020-10-22 08:16] kadisi commented on #124
@hle2  good idea,

In the edge scenario, the distribution of worker nodes is relatively scattered. There may only be one worker node at the same physical location, and there may also be multiple worker nodes at the same physical location. However, multiple worker nodes are differentiated in OS, CPU architecture or network. Therefore, from the work Node resource perspective of edge nodes, they need

[2020-10-22 08:26] hle2 commented on #124
@kadisi, Thanks much for the comments!
BTW, Does NoodPool is also defined as a CRD? If yes, does it in github now? Thanks!

[2020-10-22 08:36] kadisi commented on #124
yes, NodePool is also defined as a CRD, we will later add a `yurtunit-manager` operator to manage both the `NodePool` and `UnitedDeployment` CRDS. At present, it is not in github. We will submit a proposal first, and we can discuss it in the community meeting. Eventually we will open source this part of the code。

[2020-10-26 00:28] vincent-pli opened #125 "Check state of node before run revert"
I think we should check the state of node(worker) to make sure it's `Ready` before run `revert`.
or will cause the worker node in a inconsistent state:
The label/annotation is removed but `yurthub` not removed, `kubelet` not reset, it will cause issue when try to run `convert` again.

[2020-10-26 00:50] charleszheng44 commented on #125
@vincent-pli that's a good point 👍 . Would you like to implement it?

[2020-10-26 03:24] vincent-pli commented on #125
@charleszheng44
Sure, I'm glad to take a try.

[2020-10-26 03:32] charleszheng44 commented on #125
Thx : ) Let us know if you have any questions.

[2020-10-26 08:37] vincent-pli opened #126 "kube-controller-manager will not run as normal after "revert""
After `revert`, the `ServiceAccount: node-controller` will be created by `yurtctl` and the binding `secret` will be generated , but the  `kube-controller-manager` will not work, keep raising exception like this:
[code]

Restart `kube-controller-manager` could fix the issue, but `kube-controller-manager` is a static pod(kubeadm, kind, openshift), manged by `kublet`,  can not restart it gracefully,

[2020-10-26 17:17] Fei-Guo commented on #126
Yes, it is unfortunate that we need to "delete the kcm pod" to let the new SA take effect.

Maybe we can improve the log msg here to indicate that the ycm Pod needs to be recreated.
https://github.com/alibaba/openyurt/blob/cdc6acf7c8ecef546cda39fbc8f4d9fad9159541/pkg/yurtctl/cmd/revert/revert.go#L165

[2020-10-27 00:02] vincent-pli commented on #126
I think we could add some warning message at the end of the process, like:
`Warning, you must restart "kube-controller-manager" to make it(node_lifecycle_controller) work again.`
or something similar.

[2020-10-27 03:25] #125 closed

[2020-10-30 06:16] lgy1027 opened #131 "use yurt-tunnel to connect apiserver and edge node tunnel-agent failure"
use yurt-tunnel to connect apiserver and edge node  tunnel-agent state is always pending
The version used for k8S is 1.16.9
Setup the yurt-tunnel manually

[2020-10-30 06:36] rambohe-ch commented on #131
would you upload your tunnel-agent container logs and kubelet logs?

[2020-10-30 07:10] lgy1027 commented on #131
It is best to support bare metal operation, the current use of kubeedge live K8S cluster operation will have problems

[2020-11-02 01:17] raravena80 opened #133 "CNCF SIG-Runtime discussion/presentation?"
Hello OpenYurt team,

I'm one of the co-chairs of the CNCF SIG-Runtime, and since you are CNCF Sandbox project I think it would be great for you to present/discuss the project in one of our meetings. For example, discuss things such as adoption, architecture, etc.

Let me know if this something you'd be interested in doing. If yes, please feel free to add it to our [agenda](https://bit.ly/cncf-sig

[2020-11-02 03:42] Fei-Guo commented on #133
Sure, I will update your agenda soon.

[2020-11-02 19:53] Fei-Guo commented on #133
Added to Nov 5th meeting.

[2020-11-03 03:43] Alanthur opened #134 "rpc error: code = Unavailable desc = connection error: desc = "transport: authentication handshake failed: EOF""
yurt-tunnel-agent can not run.
Log:

I1103 11:23:42.584908   25717 loader.go:375] Config loaded from file:  /root/my/admin.conf
I1103 11:23:42.585568   25717 cmd.go:135] yurttunnel-server address: 192.168.5.240:10262
I1103 11:23:42.585606   25717 certificate_store.go:129] Loading cert/key pair from "/var/lib/yurt-tunnel-agent/pki/yurttunnel-agent-current.pem".
I1103 11:23:42.592953   25717 certifi

[2020-11-05 04:20] yixingjia opened #135 "Slack channel for disscussion?"
Hi Openyurt team,

As most projects in CNCF will adopt Slack as a communication tool for technical/planning discussion. Do we have plan to open slack channel for Openyurt?

[2020-11-05 13:00] yuxiaoba opened #136 "Does the openyurt support Knative?"
Can we work on a project which use both knative and openyurt? Any docs on how we can use them together?

[2020-11-05 13:26] richard2006 commented on #136
Hi @yuxiaoba , why you want to work on a project using both knative and openyurt?  Indeed, we have plan to support knative on openyurt.

[2020-11-05 13:39] yuxiaoba commented on #136
@richard2006  Because we would like to delivery functions to data centers' node and edge devices in one cluster.   Can we achieve this goal if we combine Knative and openyurt directly ?

[2020-11-05 16:50] charleszheng44 commented on #135
@rambohe-ch @Fei-Guo should we open a slack channel?

[2020-11-05 16:55] charleszheng44 commented on #126
@vincent-pli that's a good point. I will add the warning message

[2020-11-05 16:56] charleszheng44 commented on #126
/assign @charleszheng44

[2020-11-06 05:19] #135 closed

[2020-11-06 07:07] richard2006 commented on #136
yes @yuxiaoba , you can do this.

[2020-11-07 12:00] vincent-pli opened #138 "The network connection between Cloud and Edge"
Maybe it's a stupid question, sorry firstly.

I'm little confuse about the scenario of network between `Cloud` and `Edge`.
`openyurt` introduce `Tunnel server` and `Tunnel agent`, I guess it handle the case the `cloud` and `edge` can not directly contact each other with `IP`? but seems the `Tunnel server` only redirect request to `kubelet` (10250) then send it to `Tunnel agent` (correct me if it's

[2020-11-08 10:08] rambohe-ch commented on #138
@vincent-pli thank you for filing the issue.
1. just like you said, yurt-tunnel is used to proxy requests from cloud to edge. and the default iptable rule only redirects requests that access 10250 and 10255 port. but this is default action.

2. if you need to redirect requests that access other ports(not 10250 and 10255),  you can configure `dnat-ports-pair` field in   `kube-system/yurttunnel-serv

[2020-11-09 00:03] vincent-pli commented on #138
@rambohe-ch
Thanks, happy to know that, i will take a try.

[2020-11-09 00:10] vincent-pli commented on #138
@rambohe-ch
Oh, another question, how about when `edge` want to connect to `cloud` in that scenario?

[2020-11-09 01:09] charleszheng44 commented on #138
@vincent-pli Yurttunnel is built on top of the [apiserver-network-proxy](https://github.com/kubernetes-sigs/apiserver-network-proxy). Currently, ANP only support cloud -> edge traffic, but there is a [KEP](https://github.com/kubernetes/enhancements/pull/2025)  about setting up the bi-direction tunnel. Once the ANP supports the bi-direction tunnel, Yurttunnel will support the edge->cloud traffic as

[2020-11-09 01:46] vincent-pli commented on #138
@charleszheng44 Thanks.

but for now, I mean before `apiserver-network-proxy` support bi-direction tunnel, any suggest solution to handle the request from `edge` to `cloud`? i means an application agent(on `edge`) want to connect to its server(on `cloud`), does it require its server expose a public ip/port for connection?

[2020-11-09 03:10] charleszheng44 commented on #138
@vincent-pli Then the server on the cloud has to listen on an address that can be reached by the application on the edge. If securtiy is a critical concern, then the 3/4 level mechanism needs to be enforced, e.g., route the traffic to dedicated switch/router.

[2020-11-09 05:25] vincent-pli commented on #138
@charleszheng44
got it, thanks

[2020-11-09 16:52] #138 closed

[2020-11-10 03:00] ttzeng opened #139 "tunnel-server: Couldn't load target `TUNNEL-PORT':No such file or directory"
I have setup a k8s cluster with the master and a working node on separate networks. I referenced [this tutorial](https://github.com/alibaba/openyurt/blob/master/docs/tutorial/yurt-tunnel.md#5-setup-the-yurt-tunnel-manually) to setup the tunnel sever and agent, but I still can't access the pod on edge node through yurt-tunnel. The tunnel server log indicates below error, any idea what I might be mi

[2020-11-10 05:50] rambohe-ch commented on #139
@ttzeng thank you for filing the issue.
the above iptable error comes from tunnel server initialization, and this error has not effect on the cloud-edge connection, so you can skip it. more information, you can[ take the code have a look](https://github.com/alibaba/openyurt/blob/master/pkg/yurttunnel/iptables/iptables.go#L155)。

could you give me detailed log of tunnel server that can not access p

[2020-11-10 05:57] ttzeng commented on #139
@rambohe-ch thank you for looking into this. The following is the log from my setup:
[code]

[2020-11-10 06:15] charleszheng44 commented on #139
@ttzeng would you log into the edge node and get the container log of the yurt-tunnel-agent?

[2020-11-10 06:17] charleszheng44 commented on #139
@ttzeng It looks like the server has not received any request yet. Could you list iptable rules on the server?

[2020-11-10 06:44] ttzeng commented on #139
@charleszheng44 from the last 2nd log, it seems a request received from the agent?
[code]
I use `containerd` instead of `docker` as the runtime, how do I get the tunnel agent log?

Below is the iptables rules on the edge node:
[code]
and here is the iptables rules from cloud node:
[code]

[2020-11-10 13:22] ttzeng opened #140 "tunnel-server: server connection closed"
I have setup a k8s cluster with the master and a working node on separate networks. I referenced [this tutorial](https://github.com/alibaba/openyurt/blob/master/docs/tutorial/yurt-tunnel.md#5-setup-the-yurt-tunnel-manually) to setup the tunnel sever and agent, but I can't access the pod on edge node through yurt-tunnel. The logs from the tunnel-server:

[code]

Login to the edge node, the tunnel-a

[2020-11-10 13:29] ttzeng commented on #139
Closing this issue as the TUNNEL-PORT error can be ignored. However, I still can't get the tunnel work, so I reset the cluster to use Docker as the container runtime to get the logs from the tunnel-agent. Please help to continue debug the issue #140

[2020-11-10 13:29] #139 closed

[2020-11-10 16:35] charleszheng44 commented on #140
[code]
In the server log, the server tries to "read stream" from the "agent" before the csr being approved. The agent can't connect to the server until the csr has been approved. Would you wait for the server and agent pod to be run?

[2020-11-11 02:28] ttzeng commented on #140
@charleszheng44 thanks for looking into this. It seems no new messages on the server over-night. However there are different messages captured in the Agent log below, but the connection to the edge pod is not working still:
[code]

[2020-11-11 03:02] charleszheng44 commented on #140
@ttzeng How did you deploy the tunnel, manually or using `yurtctl convert`? It looks like the agent's TLS certificate doesn't work. I am not sure if it has anything to do with k8s 1.19. But on the server side, there was only one csr got approved. If everything goes smoothly, there should be two csr, one for server, one for agent. If you deployed the tunnel mannually, could you try to update the Cl

[2020-11-11 03:39] ttzeng commented on #140
@charleszheng44 I didn't use `yurtctl convert`, instead, I deployed the tunnel manually using [this guide](https://github.com/alibaba/openyurt/blob/master/docs/tutorial/yurt-tunnel.md#5-setup-the-yurt-tunnel-manually). After applying the new cluster role, below are new messages captured in the agent container log, but still not get through the tunnel. How to verify whether the agent TLS certificat

[2020-11-11 07:50] charleszheng44 commented on #140
@ttzeng The 31302 is the nodport used by the yurt-tunnel-server service. The agent will connect to the server through this service. Could you open the port and try again?

[2020-11-11 09:23] ttzeng commented on #140
@charleszheng44 thanks for the clarification. Yes, I see the port 31302 (as below) is opened by the service for connections, and the source port 10262 should be available per the yurt-server log. Inside the yurt-agent container, I can also ping the yurt-server, so what could be wrong here? Thanks.
[code]

[2020-11-11 19:50] charleszheng44 commented on #140
could you telnet the port 31302 to ensure it is reachable? Also, on the server-side, do you see any new csr being approved?  Something like the following, but for csr other than csr-6lcjl:
[code]

[2020-11-12 00:18] ttzeng commented on #140
@charleszheng44 yes it looks like the port 31302 is accessible from inside the tunnel-agent container, but no new csr approved message was thrown:
[code]
The tunnel-server log:
[code]

[2020-11-12 14:00] ttzeng commented on #140
@charleszheng44 I downgrade my setup to k8s 1.14.8, now I see two csr approved at the server side, but the agent still can't connect to the server:
[code]
The `kubectl log` from the server:
[code]
The Agent container log on the edge node:
[code]

[2020-11-12 17:14] charleszheng44 commented on #140
@ttzeng may I know how was the cluster deployed? Bare metal, cloud provider, or local testing environment (minikube or kind)? Yurttunnel can't work in some environment, like Kind.

[2020-11-13 00:46] ttzeng commented on #140
@charleszheng44 my cluster was set up using `kubeadm` on a bare metal (tunnel-server) and a VM (tunnel-agent).

[2020-11-13 02:06] charleszheng44 commented on #140
@ttzeng Since the firewall only block the traffic from the cloud to the edge, I think Yurttunnel should work in your environment.

As shown in the last four lines of the agent's log
[code]
1. agent failed to connect to the server due to closing connection
2. agent reconnect to the server
3. the connection between the agent and the server has been set up
4. agent is ready to serve request from the

[2020-11-13 03:09] ttzeng commented on #140
@charleszheng44 thanks for the explanation, and yes, the agent can reach the port 10250 on locathost:
[code]

Does the last 4 lines in the agent's log tell the tunnel is established successfully, even the connection was rejected by the cloud node at beginning?

[2020-11-13 03:27] charleszheng44 commented on #140
@charleszheng44 Would you use the kubelet IP instead of the loopback address? telnet <kubelet-ip> port

[2020-11-13 03:31] charleszheng44 commented on #140
@ttzeng Yes. Based on the latest server log, the agent has been registered. Also, the error message is i/o timeout, most likely, it is because the kubelet is unreachable.

[2020-11-13 03:32] ttzeng commented on #140
What IP should I use as the kubelet IP, the IP for the edge node?
[code]

[2020-11-13 03:53] charleszheng44 commented on #140
@ttzeng 192.168.122.55:10250 is the correct address. After running `kubectl exec` , are there any new contents in the server's log?

[2020-11-13 04:25] ttzeng commented on #140
No any new messages added to the server's log after running `kubectl exec test-po -- date` command. But only 1 csr approved in the server's log this time:
[code]
BTW, it looks like the yurt-server has been restarted 14 times, is it normal?
[code]

[2020-11-13 14:48] luhaopei opened #141 "fail to acquire lock configmap/yurtctl-lock"
执行完./yurtctl convert --provider minikube，
报如下错误：fail to convert kubernetes to yurt: fail to acquire lock configmap/yurtctl-lock

[2020-11-13 14:52] rambohe-ch commented on #141
@BearLu thank you for filing issue.
would you upload your k8s version and os info, and any other useful message?

[2020-11-13 15:17] BearLu commented on #141
K8s 1.19.4, ubuntu 18.04

[2020-11-14 07:48] charleszheng44 commented on #140
It is unnormal, Could you do `kubectl logs yurt-tunnel-server-58f9d8cd54-4pg2j --previous` and upload the log?

It looks like the yurttunnel server does not function well. On the cloud node, we add `dnat` rules to the `iptables`, which redirect requests with `<kubelet-ip>:10250/10255` as destination to the yurttunnel server. Could you also list the `dnat` rules (`iptables -t nat -L -n -v`) on the

[2020-11-15 02:49] charleszheng44 commented on #141
@BearLu In order to prevent multiple processes from converting the cluster at the same time, we use a configmap as the global lock to ensure that there is only one convertion going on on the cluster. The default timeout of the global lock is 5 minutes, so you can try to run the `yurtctl convert` again after the timeout.

[2020-11-15 04:09] luhaopei opened #142 "yurtctl convert --provider minikube timeout"
os:centos 7 k8s:v1.16.0
[bearlu@control-plane amd64]$ ./yurtctl convert --provider minikube
I1115 12:04:28.705547    4730 convert.go:217] mark minikube as the edge-node
I1115 12:04:28.713233    4730 convert.go:217] mark minikube-m02 as the edge-node
I1115 12:04:28.764969    4730 convert.go:285] deploying the yurt-hub and resetting the kubelet service...
E1115 12:06:28.800491    4730 util.go:288] f

[2020-11-16 00:28] charleszheng44 commented on #142
will upload the openyurt container image to aliyun registry

[2020-11-16 08:06] ttzeng commented on #140
@charleszheng44 , thank you for still with me. Below is the `nat` rules on the cloud node:
[code]

[2020-11-16 12:54] ttzeng commented on #140
@charleszheng44, in addition to the above `nat` rules, thanks for the tip to get to the bottom why the yurt-server has restarted periodically, it looks like the server was crashed due to a nil pointer dereference... do you want to make a wild guess what's going on? Thanks.

[code]

[2020-11-17 02:56] charleszheng44 commented on #140
@ttzeng looks like the dnat rules have been successfully added to the host iptables. I am not sure if it is caused by the "invlaid memory" issue. I am working on it. Will get back to you once I figrue it out.

[2020-11-18 07:16] charleszheng44 commented on #140
@ttzeng I just fixed the bug. Would you like to give it a shot? : )

[2020-11-18 13:44] ttzeng commented on #140
Could you update the `openyurt/yurt-tunnel-server:latest` image with the fix to the registry? Thanks.

[2020-11-18 19:50] charleszheng44 commented on #140
@ttzeng pushed

[2020-11-19 00:58] ttzeng commented on #140
@charleszheng44 , thank you so mush for the cure, I can access the `test-po` pod from the cloud node after updating the server. (y)

[2020-11-19 18:09] charleszheng44 commented on #140
@ttzeng awesome! I will close this issue for now. Feel free to reopen it if the tunnel doesn't work again.

[2020-11-19 18:09] #140 closed

[2020-11-20 09:09] vincent-pli opened #156 "Do we plan to push the image to other registry"
Since the docker hub introduce the rate limit, `deployment` has no pull secret, so be treat as Unauthenticated request, and for Unauthenticated, docker hub will mark it by IP, that's bad for a cluster use a single public IP for internet access.

So, do we have plan to push the image to other registry, like gcr.io or whatever has no such limitation.

[2020-11-20 18:20] charleszheng44 commented on #156
That could be a problem. But we do not have a plan to hold images in a place other than docker hub and aliyun container registry for now. For the scenario you mentioned, a potential workaround would be pulling the openyurt images and storing them in a private registry or whatever registry that could not throttle back the download rate. Then specifying the image path when running the `yurtctl conve

[2020-11-21 15:10] luxiang0412 opened #157 "yurtctl convert 失败"
执行命令如下(镜像全部用的阿里云镜像)
[code]
输出日志
[code]
k8s集群节点信息
[code]
pods
[code]
**yurtctl-servant-convert-sdcentosvm2-v8r2t**的详情信息
[code]
docker版本
[code]

[2020-11-22 14:53] charleszheng44 commented on #157
Would you upload the servant pod log?

[2020-11-23 04:44] luxiang0412 commented on #157
@charleszheng44 不好意思，这个是我这边kubelet服务的问题。

[2020-11-23 04:44] #157 closed

[2020-11-23 08:27] QJ0 commented on #157
How did you solve the problem? I meet this problem as well.

[2020-12-01 14:36] rambohe-ch opened #162 "[feature request]all resources can be cached by yurt-hub"
**What would you like to be added**:
only resources in the [resourceToKindMap](https://github.com/alibaba/openyurt/blob/master/pkg/yurthub/cachemanager/cache_manager.go#L46) can be cached by yurt-hub component, and this a limitation. yurt-hub should cache all kubernetes resources, including crd resource that defined by user.

**Why is this needed**:
when network between cloud and edge disconnected

[2020-12-01 16:04] rambohe-ch opened #163 "[feature request]yurt-hub add impersonate user info for request that does not come from kubelet"
**What would you like to be added**:
if a request through yurt-hub does not come from kubelet, yurt-hub should add impersonate user info in request header before proxying the request. the impersonate header is:

[code]

**Why is this needed**:
we have used node certificate as yurt-hub certificate, [the code is here](https://github.com/alibaba/openyurt/blob/master/pkg/yurthub/certificate/hubself/ce

[2020-12-07 23:58] vincent-pli commented on #162
@rambohe-ch
Does this means we do not need to keep the list for cache all the resources?

[2020-12-10 12:59] kadisi opened #171 "[feature request] the definition of NodePool and UnitedDeployment"
**What would you like to be added**:

In the edge scenario, compute nodes have strong regional attributes. There may only be one WOker node in the same physical location, and there may also be multiple worker nodes in the same physical location. Therefore, from the work Node resource perspective of edge nodes, they need to be divided into different node pools (NodePool) to represent the same set o

[2020-12-10 18:54] Fei-Guo commented on #171
Sounds great. Looking forward to them. By the way, is this a feature request? This should be proposal since you already implement them! :)

[2020-12-11 07:55] kadisi commented on #171
ok @Fei-Guo  ref #173

[2020-12-14 04:15] rambohe-ch commented on #162
@vincent-pli  yeah,   the list([resourceToKindMap](https://github.com/alibaba/openyurt/blob/master/pkg/yurthub/cachemanager/cache_manager.go#L46)) will not be used to verify the resource that can be cached or not.

[2020-12-15 01:46] yixingjia commented on #171
Looking forward for the NodePool feature!

By the way please also consider the follow scenario if possible in the future:

**Requirement**:

Workload(eg service) deployed on a node pool, it has basic HA requirement (let's put the shared storage issue aside first, just assume the service is stateless to make it simple), which mean when one node in the node pool failed, the workload can be automatic

[2020-12-16 01:57] ttzeng commented on #171
@kadisi would you please clarify, in your mind, what's the relationship between Yurt unit and the proposed NodePool? I could be wrong, but I have an impression they are interchangeable in terms of grouping nodes in a geolocation?

[2020-12-16 02:13] Walnux commented on #171
In order to understand the feature clearly, please allow me to summarize the requirements of NodePools according to the above comments which are followed by my questions.
I will be appreciated if someone can correct the summary and answer my questions. :)

### Requirement:
1. A bunch of nodes with the same attributes/features on the Edge side should be united into a group (NodePool) to be managed

[2020-12-16 10:58] kadisi commented on #171
#

@yixingjia thanks for your advice。 This requires a simple scheduler in the NodePool that can do some simple scheduling when the entire NodePool is disconnected from the Apiserver.

[2020-12-16 11:06] kadisi commented on #171
@ttzeng sorry, I did not understand what you mean. Can you explain in detail？

[2020-12-16 11:28] kadisi commented on #171
A1:  Users can create node pools based on some commonalities of Node, not just limited to geographical distribution

A2: The user needs to manually create the node pool according to the actual scenario. The node pool is a CRD definition in k8s

A3: A node may not belong to any node pool

A1: We will define a `UnitedDeployment` k8s crd  to describe the workload. `UnitedDeployment` will define a tem

[2020-12-16 12:41] ttzeng commented on #171
@kadisi , would you please clarify what's the difference between the proposed NodePool and the coming Yurt Unit?

[2020-12-16 23:23] Walnux commented on #171
@kadisi It means there will be a scheduler for each NodePool?  The other relevant question is what do we need to change the behavior of the scheduler in the control panel, which will take NodePool as a unit to deploy pods or it still handles all the nodes in the NodePools? Thanks!

[2020-12-16 23:26] Walnux commented on #171
@kadisi very clear answer, thanks! It is great if we can record all these clearfication into a docuement. :)

[2020-12-22 06:11] kadisi commented on #171
- [ ] [add nodepool and uniteddeployment crd proposal ](https://github.com/alibaba/openyurt/pull/173)
- [ ] [add yurtunit-manager api](https://github.com/alibaba/openyurt/pull/175)
- [ ] add yurtunit-manager nodepool controller add webhook
- [ ] add yurtunit-manager unitedeployment controller add webhook
- [ ] add makefile cmd for yurtunit-manager

[2021-01-05 06:45] #171 closed

[2021-01-06 02:23] seveirbian opened #188 "[Question]当前openyurt支持将手动创建的Kubernetes集群（非阿里ack集群）转换为openyurt集群吗"

[2021-01-06 02:28] rambohe-ch commented on #188
@seveirbian yeah, openyurt can convert native kubernetes cluster that provided by any vendor to openyurt cluster. no vendor lock.

[2021-01-06 05:09] GsssC commented on #162
We use resourceToKindMap is because the obj misses the field of apiverison and kind.

The reason why obj misses the field of apiverison and kind is yurthub using [serializer.WithoutConversionCodecFactory](https://github.com/alibaba/openyurt/blob/7095962687e2666a27d14e436b96ef893b228beb/pkg/yurthub/kubernetes/serializer/serializer.go#L48) as NegotiatedSerializer, which produces [WithoutVersionDecod

[2021-01-07 11:29] Peeknut opened #190 "[feature request]Add commands so that single node could convert to a standard Kubernetes node or an OpenYurt edgenode"
**What would you like to be added**:
Add commands, such as `yurtctl convert edgenode ` and `yurtctl revert edgenode` , so that single node could use these commands to  convert a standard Kubernetes node to an OpenYurt edgenode or revert an OpenYurt edgenode.

**Why is this needed**:
The commands `yurtctl convert`、`yurtctl revert` will convert all edge nodes to OpenYurt cluster or Kubernetes cluste

[2021-01-07 11:31] Peeknut commented on #190
@rambohe-ch @GsssC

[2021-01-07 11:40] huangyuqi commented on #190
@Peeknut
Actually, if the node joins the cluster as before, it will still be a stand node ,not a yurt node;
Base on the pattern of node joining.
The ability of joining node with yurt type will open source soon ;

[2021-01-07 11:40] GsssC commented on #190
Then we can remove [the servant bash script](https://github.com/alibaba/openyurt/blob/master/config/yurtctl-servant/setup_edgenode) then use `yurtctl convert edgenode`.

[2021-01-07 11:42] huangyuqi commented on #190
@zyjhtangtang Would you mind bringing a proposal about joining a node in 'yurt' way?

[2021-01-07 12:13] rambohe-ch commented on #190
i think that node join feature and one node convert feature are different. because when user wants to use a customized tool to join node,  node convert feature maybe needed.

[2021-01-07 12:22] rambohe-ch commented on #190
@GsssC  yeah, robustness of servant bash script is not so good, it is a good idea to use `golang command` to refactor it.
@Peeknut would you refactor the node convert/revert feature by golang?

[2021-01-07 12:28] Peeknut commented on #190
ok

[2021-01-07 23:16] Walnux commented on #190
I think this request is reasonable. And we do need a standard way (or feature) for the user to "join the node into the clusters". :+1:

[2021-01-08 08:52] anyushun opened #195 "[BUG] _output/bin/yurtctl: No such file or directory"
**What happened**:
I run commands step-by-step as describe in [Getting started](https://github.com/alibaba/openyurt#getting-started) , and then got error: `_output/bin/yurtctl: No such file or directory`

**What you expected to happen**:
openyurt install successfully

**How to reproduce it (as minimally and precisely as possible)**:
Run commands step-by-step as describe in [Getting started](https:

[2021-01-08 09:54] rambohe-ch commented on #195
@anyushun thank you for filing issue.
what about the output of command `make WHAT=cmd/yurtctl` in tutorial?

[2021-01-08 11:27] anyushun commented on #195
I got follow output when run command:
[code]

maybe should change command to: `_output/bin/linux/amd64/yurtctl convert --provider [minikube|kubeadm|ack]`

and output of command `make WHAT=cmd/yurtctl` is:
[code]

[2021-01-13 11:24] liangyuanpeng commented on #188
It's will be replace `my kubelet` or not?

[2021-01-15 07:59] rambohe-ch commented on #195
@anyushun  thank you for your reply, we need to update readme like: find the yurtctl component under `_output` directory, and modify command `_output/bin/yurtctl convert --provider [minikube|kubeadm|ack]` to `yurtctl convert --provider [minikube|kubeadm|ack]`
would you own the readme update?

[2021-01-15 08:04] rambohe-ch commented on #188
@liangyuanpeng a good question, openyurt will not replace `kubelet` on the node,  and only adjust the connection destination for `kubelet` from kube-apiserver to yurthub (`127.0.0.1:10261`) , then yurthub will proxy the request from kubelet to kube-apiserver

[2021-01-15 08:08] rambohe-ch commented on #162
@GsssC i think it is a good answer, and i am look forward to your proposal @qclc

[2021-01-15 08:16] rambohe-ch commented on #156
@vincent-pli Thank you for filing issue.
to better use OpenYurt for domestic users, we recently hosted images of OpenYurt on aliyun container registry(ACR). please refer to the link below for details.
https://github.com/alibaba/openyurt/blob/master/docs/tutorial/yurtctl.md#1-failure-due-to-pulling-image-timeout

[2021-01-15 08:42] GsssC commented on #162
@rambohe-ch yeah，besides，client-go scheme do not support decode cr request，we do need a specially designed nogotiatedSerializer to offer serializer(indeed, a json serializer) for cr req.

[2021-01-24 21:23] #195 closed

[2021-01-25 04:16] liangyuanpeng opened #203 "[feature request] Command convert of yurtctl support param for kubelet service kubeadm conf"
**What would you like to be added**:
Command convert of yurtctl support param for kubelet service kubeadm conf

**Why is this needed**:
In centos, `10-kubeadm.conf` save in `/usr/lib/systemd/system/kubelet.service.d/10-kubeadm.conf` and yurtctl convert use `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` by default .

I want to solve this problem And i have a question about this param name-

[2021-01-25 05:05] charleszheng44 commented on #203
+1 for this feature. I think we can have a shorter command-line option name, like `kubeadm-conf-path`, and a detailed description, like "The path to the kubeadm configuration file that is used by the kubelet service to join the cluster. N.B. the path on different Linux distro may vary"

[2021-01-25 05:59] liangyuanpeng commented on #203
Sure, I found the `kubeadm_config_path` in `constants.go`  already in use.

[2021-01-25 06:21] rambohe-ch commented on #203
@liangyuanpeng I think it's a good feature. and the parameter of kubelet service conf path does not only for kubeadm tool,  other tools may also need this parameter. so how about `kubelet-service-conf-path` for parameter name? @charleszheng44

[2021-01-25 16:47] liangyuanpeng commented on #203
I'm not sure if `kubea-conf-path` will cause ambiguity, maybe it will be make people think of `kubeadm init config file ` and  `kubelet-service-conf-path` seem like not related to kubeadm. I can think of another name is `ks-kubeadm-conf-path`. (ks->kubelet service)

I have developed functional content, i will create a PR when we decided on the name! Thanks for your reply.

[2021-01-25 20:01] charleszheng44 commented on #203
Which tool would also use the `10-kubeadm.conf`? I thought we revise the `10-kubeadm.conf` only for pointing to the kubelet.conf associated to the yurthub.

[2021-01-27 07:25] rambohe-ch commented on #203
@charleszheng44 @liangyuanpeng `10-kubeadm.conf` is system service conf file for kubelet component, and now other tool(like minikube) may also make up the same name kubelet service file(`10-kubeadm.conf`), so i think it's good definition without `kubeadm` word in new parameter.  then `kubelet-service-conf-path` maybe a good selection.

[2021-01-27 07:29] rambohe-ch commented on #203
@liangyuanpeng thank you for your quick response, and @Peeknut has [another pr](https://github.com/alibaba/openyurt/pull/206) that has revised node convert and revert, so your pr may need to rebase it when pr is creating.

[2021-01-27 07:34] rambohe-ch commented on #203
@charleszheng44 @liangyuanpeng by the way, yurtctl maybe need some statement like only support to convert or revert node that kubelet is managed by system service.  if run kubelet directly by binary file, yurtctl may not support it.

[2021-01-27 09:09] neo502721 opened #207 "[feature request] yurtctl cluster-info subcommand that list edge/cloud nodes"
**What would you like to be added**:
Add a yurtctl subcommand cluster-info, that list edge and cloud nodes.
Actually, I saw this in the [https://openyurt.io/zh-cn/docs/todo.html](url) todo list.
And I have finished the code development. The simple effect is as shown below. That's list edge/cloud nodes filter by k8s node label.
I will create a pr later, thanks!

![image](https://user-images.githubu

[2021-01-27 09:22] rambohe-ch commented on #207
@neo502721 Very much appreciate for your issue, and pr for yurtctl subcommand cluster-info is welcome.

[2021-01-28 02:46] rambohe-ch commented on #203
ok, `kubeadm-conf-path` maybe the same meaning as kubelet service conf path, so `kubeadm-conf-path` can be accepted, and please add `The path of kubelet service conf` for `kubeadm-conf-path` usage.

[2021-01-31 12:57] DrmagicE opened #212 "[feature request] add --feature-gate flag to yurt-controller-manager"
**Context**
Hi,  I deployed `openyurt` on a cluster with 2 nodes(1 master and 1 worker) to test the autonomy behaviour.
After setting-up yurt-controller-manager and yurt-hub, I stop the `kubelet` on the edge side.
The logs form `yurt-controller-manager` shows that the master is entering disruption mode, which is used to protect against master machine network isolation. It will prevent any eviction

[2021-02-02 08:49] ttzeng opened #213 "[Question] Should pods in one edge node be able to communicate pods in other edge nodes?"
**What happened**:
I have the following setup to mimic two edge nodes at different locations, and as you can see in below log, edge nodes are on different sub-nets.
[code]

I tried to deploy pods to each nodes (including the master node), it seems pods in an edge node can't communicate pods in other nodes:
[code]

Run the edge pod from the master node reveals the yurt server/agent have the tunnel

[2021-02-02 18:02] #203 closed

[2021-02-03 00:26] #207 closed

[2021-02-04 09:43] suojy opened #215 "[Question]Run yurthub failed"
**What happened**:
I followed the manually-setup guide to set up yurthub.  Error info is failed to load ca file(/etc/kubernetes/pki/ca.crt) but that file does exist.  I don't know if there's other reasons.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- OpenYurt version: latest
- Kubernete

[2021-02-04 09:56] rambohe-ch commented on #215
@suojy Thank you for filing the issue.
would you output the whole yurthub yaml file? maybe the path of yurthub.yaml is `/etc/kubernetes/manifests/yurthub.yaml`

[2021-02-05 01:41] suojy commented on #215
I forgot to change the host path.  It is running now.
Thanks for your help. (●'◡'●)

[2021-02-05 01:53] #215 closed

[2021-02-05 03:29] applea9 opened #216 "Minimal hardware requirement for openyurt node device?"
If we want to use openyurt in the IOT scenario and manage the edge device such as raspberry pi, do we have any guildline or benchmark that introduce the minimal hardware requirement for the edge device? The hardware requirement could be arch, memory, etc.

[2021-02-05 04:10] rambohe-ch commented on #213
@ttzeng Thank you for filing issue.
network communication in OpenYurt can be divided into two kinds:
1.  communication between cloud and edge(we also call this as north-south traffic)
2. communication between edge nodes or between pods on different nodes(we also call this east-west traffic)

and yurt-tunnel-server/yurt-tunnel-agent is responsible for the first kind communication(north-south traffi

[2021-02-05 04:16] rambohe-ch commented on #212
@DrmagicE Thank you for filing issue to discuss `--feature-gates`.
I think that add `--feature-gates` for yurt-controller-manager is a good idea.
how about you? @Fei-Guo @kadisi

[2021-02-05 04:24] rambohe-ch commented on #216
@applea9 Thank you for filing issue to discuss hardware requirement for OpenYurt.
I am so sorry that OpenYurt is lack of doc or tutorial of hardware requirement currently, and I think we can prepare it in next release.

At the same time I can provide the information that raspberry pi4 can work OpenYurt well. you can get the details from the link: https://mp.weixin.qq.com/s/Anr8UhTaNe3FCnKKfKoXNQ

[2021-02-05 05:06] applea9 commented on #216
thanks

[2021-02-05 05:06] #216 closed

[2021-02-05 06:04] Fei-Guo commented on #212
It sounds reasonable to me.

[2021-02-05 07:41] ttzeng commented on #213
@rambohe-ch , thanks for the explanation! Yes, we have Calico CNI installed, but it looks like different subnets are assigned to two edge nodes (as they behind firewalls), so I think pods on different nodes should communicate through the tunnel, as they are still in the same cluster per k8s networking model, isn't it?

Do you have plans to extend the yurt tunnel or other mechanism to support the e

[2021-02-07 08:23] rambohe-ch commented on #213
I think the need for connectivity between pods will vary from edge scenario to edge scenario. If in scenario that use `NodePool`, pods in different `NodePool` may not need to connect each other. of course, there are some edge scenario that pods in different physical place,  They need to communicate with each other for transferring data or something else.

Currently we have no plans to extend yurt-

[2021-02-07 08:27] rambohe-ch commented on #212
@DrmagicE It looks like that you had dived into the implementation, would you take over this feature that add --feature-gates for yurt-controller-manager?

[2021-02-08 01:27] DrmagicE commented on #212
@rambohe-ch No problems. I will give it a try.

[2021-02-08 02:31] #190 closed

[2021-02-08 03:20] wenjun93 commented on #213
@ttzeng currently we have the ability of inter-nodes/pods communication in our commercial product, which is also based on openyurt. We leveraged alibaba cloud's network infrastructure and SDN solution for edge-to-cloud, edge-to-edge traffic, looked at the SD-EWAN solution and yes there are something in common, we can discuss it :)

[2021-02-22 12:32] #212 closed

[2021-02-22 23:42] Walnux opened #224 "About OpenYurt RoadMap, whole picture design and long-term plan."
It is good that OpenYurt 0.4.0 RoadMap was released out. The planned features are quite attractive.
However, I believe It will be better if the detailed feature description or design can also be opened and tracked through Github issues. so the community can know more detail on what is ongoing, and that is easier for people to involve in the project.
And another suggestion is that we even can start

[2021-02-23 00:12] charleszheng44 commented on #224
+1 for tracking the detailed feature through the git issue. @rambohe-ch @Fei-Guo, what do you think?

[2021-02-23 00:19] Fei-Guo commented on #224
Thanks for the suggestion. Sure, the feature owners will create issues beforehand and ask for volunteers. We usually don't set a goal that needs 6 month+ efforts because there are too many uncertainties and it is hard to track progress. Since the core openyurt architecture is already stable, most of the short term changes are going to be enhancement features like we have listed in the roadmap.

In

[2021-02-23 02:33] rambohe-ch commented on #224
@Walnux Thank you for kindly suggestion. I think the feature owners will create issues after tomorrow's community meeting(2.24), and details of feature will also be discussed. I'm looking forward to your coming to OpenYurt community meeting.

[2021-02-23 02:59] qclc commented on #162
I added WithVersionCodecFactory instead of [serializer.WithoutConversionCodecFactory](https://github.com/alibaba/openyurt/blob/7095962687e2666a27d14e436b96ef893b228beb/pkg/yurthub/kubernetes/serializer/serializer.go#L48). Solved the issue of GVK information loss when decoding built-in resources.
This PR extends the ability to cache CR resources, removing the restriction that only resources in [res

[2021-02-23 06:56] yixingjia opened #226 "[BUG] The manually setup document should include the service account creation & binding section."
When setup Openyurt following the manual document, the yurt controller manager will not startup properly due the the privileges issue. It should include the  service account creation & binding sections.
The tunnel server setup also have the same issue.

[2021-02-23 07:05] rambohe-ch commented on #226
@yixingjia Thank you for taking over the work to improve OpenYurt manual setup document.
and now yurtctl tool can setup OpenYurt correctly, How about improve manual setup document according to yurtctl implementation?

[2021-02-23 07:09] yixingjia commented on #226
Yes, I plan to extract the account creation & binding yaml to the setup folder and update the document accordingly.

[2021-02-23 07:16] yixingjia commented on #224
May be we can start with this two features first.

Add Cloud Native IOT Device Management API definition.
Support IOT Device Management that comply with cloud native IOT API

We can later add our initial discussion to the issues.

[2021-02-23 09:03] rambohe-ch commented on #226
@yixingjia +1, It's good to extract the account creation & binding yaml to the setup folder.

[2021-02-23 09:07] rambohe-ch commented on #224
@yixingjia +1 for two features take steps firstly.

[2021-02-23 11:33] yixingjia commented on #226
Just find that @DrmagicE  already add the service account part to the yurt-controller-manager.yaml with commit efed1a60dc6d59abbf2dcb689014832c87f22ba1. So we can close this issue know.

[2021-02-23 11:33] #226 closed

[2021-02-23 11:51] drawdy opened #229 "the usage of resourceVersion may be wrong ?"
According to official documentation，clients must not assume resource versions are numeric, and may only compare two resource version for equality. (link: https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions)

The code quoted below may not use resourceVersion correctly.
https://github.com/openyurtio/openyurt/blob/4d7463a40801c29d09c4f7d10ba46b73cb019915/pkg/yurthub/cachema

[2021-02-23 12:30] rambohe-ch commented on #229
@drawdy Thank you for your kindly question.
Now in kubernetes  system, Resource version comes from etcd `ModRevision`, and `ModeRevision` is a globally unique monotonically increasing variable, so use resource version for greater-less comparison in client has no problem.

I think that in official documentation, It's not suggested to use resource version for greater-less comparison, the reason is a

[2021-02-23 14:48] drawdy commented on #229
@rambohe-ch Thanks reply. I see now.

[2021-02-25 05:41] Peeknut opened #230 "Add support for the conversion between kind cluster and OpenYurt cluster."
OpenYurt supports the conversion between the OpenYurt cluster and the Kubernetes cluster created by minikube, kubeadm, and ack. It may be necessary to add support for the conversion between kind cluster and OpenYurt cluster.

[2021-02-25 05:57] rambohe-ch commented on #230
@Peeknut +1 It's a good idea to support kind cluster conversion. Would you take over the work for kind cluster conversion?

[2021-02-25 06:10] Peeknut commented on #230
👌

[2021-03-08 07:56] yixingjia commented on #230
Looking forward for this new feature!

[2021-03-20 15:17] yongxingMa opened #239 "[Question]When k8s cluster is converted to edge cluster, node still on the cloud. How can I add edge nodes to the edge cluster？"
When k8s cluster is converted to edge cluster, node still on the cloud. How can I add edge nodes to the edge cluster？

[2021-03-21 09:53] thomastvedt opened #240 "[Question] Does openyurt work with K3S?"
Hi, does openyurt work with K3S?

[2021-03-21 19:50] charleszheng44 commented on #240
Thanks for your interest in OpenYurt. We have not tried out using OpenYurt with K3S yet. Theoretically, if K3S supports all upstream K8S features, then OpenYurt should be able to work with it. However, I can foresee that there are several settings that may need to be tweaked like the `nodelifecycle` controller need to be turned off on the server, and the K3S agent needs to be restarted and connect

[2021-03-21 19:54] charleszheng44 commented on #239
Thanks for filing the issue. What did you mean "the node still on the cloud"? Could you check if the target node contain the label `openyurt.io/is-edge-worker: true`?

[2021-03-22 01:44] smart33690 commented on #239
Thanks for your reply. I want to know what new edge nodes need to do to join the cluster？

[2021-03-22 02:37] charleszheng44 commented on #239
If you want to add new edge nodes to the OpenYurt cluster, i.e., converting an existing cloud node to an edge node, you can try out the subcommand `yurtctl edgenode -e <edge-node-1>,<edge-node-2>`. Please let us know if it does not work.

[2021-03-22 02:44] smart33690 commented on #239
Sorry，I want to add new edge nodes to OpenYurt cluster， instead of converting existing cloud nodes into edge nodes。

[2021-03-22 03:34] zc2638 opened #241 "[Question]Slack link is not active"
**What happened**:
Slack link is not active
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- OpenYurt version:
- Kubernetes version (use `kubectl version`):
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2021-03-22 03:38] kadisi opened #242 "[feature request] unitedDeployment controller need support patch feature for pool."
**Background**:

Now UnitedDeployment controller provides a new way to manage pods in multi-pool by using multiple workloads.
Each workload managed by UnitedDeployment is called a pool. Each pool should at least provide the capacity to run the replicas number of pods.

The below sample yaml presents a UnitedDeployment which manages three Deployment  instances in one pool（cloud).
[code]
We can see

[2021-03-22 07:25] rambohe-ch commented on #239
At present,  OpenYurt has no ability to add new node as OpenYurt edge node, and you should add node to cluster like joining node to kubernetes at first then convert node into edge node.

btw: we will add the ability to add new node to OpenYurt cluster soon.  @zyjhtangtang do you have any comments?

[2021-03-22 07:35] rambohe-ch commented on #241
@zc2638 Thank you for filing issue. I'm going to update the slack info.

[2021-03-22 07:40] zc2638 commented on #241
I can not sign in, please  check the settings.
thanks.

[2021-03-22 07:46] zc2638 commented on #241
@rambohe-ch

[2021-03-22 08:58] thomastvedt commented on #240
Thanks, we might test this out when we get some spare time 👍🏻  If we do, I'll let you know how it went :)

[2021-03-22 08:58] #240 closed

[2021-03-22 12:25] rambohe-ch commented on #242
@kadisi It's a good idea to add patch feature for UnitedDeployment, so user can customize the deployment in every pool easily.

[2021-03-26 05:19] #241 closed

[2021-03-30 08:22] rambohe-ch commented on #240
@thomastvedt  Thank you for pay attention to OpenYurt, We are looking forward to your test result.

[2021-03-30 18:58] #230 closed

[2021-03-31 03:08] yanyhui opened #246 "How to establish communication between master node pod and edge node pod? How to establish communication between edge node pod and edge node pod?"
How does the pod of the master node establish communication with the pod of the edge node? How does the master node's apisever establish communication with the edge node pod? How does the edge node pod establish communication with the edge node pod?

[2021-03-31 03:36] charleszheng44 commented on #246
@yanyhui thanks for filing the issue. Following are answers to your questions. Please let me know if they are not clear

If the master node and edge nodes are located in different isolated network regions, then the pod on the master node would not be able to talk to pods on edge nodes. However, if users run `kubectl logs/exec`, the request will be redirected from the APIServer (assume the APIServe

[2021-03-31 06:16] yanyhui commented on #246
@charleszheng44
Thanks.That's great.

[2021-03-31 17:28] #246 closed

[2021-04-01 02:07] yanyhui opened #247 "After the user's HTTP request arrives at the edge node through the yurtturnnel, how to access the specific service?"
The principle of edge computing is that the master node establishes a long-term connection with the kubelet of the edge node through the yurtturnnel. However, the HTTP request arrives at the edge node through the yurtturnnel, and the specific service needs to be accessed through the Kube proxy in the edge node. The problem is that the master node apiserver does not establish a connection with the

[2021-04-01 02:15] rambohe-ch commented on #247
@yanyhui Thank you for filing issue.
1. yurt-tunnel is used by monitor or maintenance traffic like kubectl logs/exec, prometheus etc.
2. And i'd like to verify the meaning of user's HTTP request through yurt-tunnel to access specific service. why access the specific service through yurt-tunnel? does kube-apiserver proxies service?

[2021-04-01 02:27] yanyhui commented on #247
@rambohe-ch  Thank you for zhe answer.
What I want to know is how the HTTP request goes to the specific service in the edge node? The kubelet of edge node can only create or delete pod, it can't process the HTTP request transferred from the master node; in the original k8s cluster, the way to process the HTTP request and access the service is that the Kube proxy of the child node will register and

[2021-04-01 02:43] rambohe-ch commented on #247
@yanyhui  Thank you for your kind response.
you can access specific service with service NodePort from master node through yurt-tunnel.  and you can have a try.

ps:  please add the port dnat rule setting in yurt-tunnel-server-cfg configmap before access service NodePort, and the detail info you can dive into the code here: https://github.com/openyurtio/openyurt/blob/master/pkg/yurttunnel/iptables

[2021-04-01 09:47] advancedwebdeveloper opened #248 "pkg/yurthub/util/util_test.go:37:4: call to (*T).Fatalf from a non-test goroutine"
Hi.
Caught a bug:

.

I am using

[2021-04-01 11:56] yanyhui commented on #247
@rambohe-ch
Thanks.

[2021-04-01 11:57] #247 closed

[2021-04-01 12:18] rambohe-ch commented on #248
Thank you for filing issue.
on my local desktop(go1.14.15 darwin/amd64), no error has happened. and in higher go version, the error maybe need to be propagated back to main goroutine(`func TestDualReader`) and then call `t.Fatalf` with error in main goroutine.

@advancedwebdeveloper  would you like to take over to fix this error and make a pull request?

[2021-04-05 13:17] DreamEagle0 opened #250 "[BUG] yurtctl convert command failed to deploy yurthub and tunnel agent"
**What happened**:
When I tried to convert my k8s cluster (provider: kubeadm) with yurtctl, the yurtctl-servant-convert job could not be completed and yurthub & yurt-tunnel-agent not deployed. Similar error occured when running `yurtctl revert`.
[code]
k8s info (k8s native components omitted):
[code]
No `openyurt.io/is-edge-worker=true` label in edge nodes: (oy-edge1, oy-edge2 are edge nodes)
[cod

[2021-04-05 18:44] charleszheng44 commented on #250
Hi, @DreamEagle0 Thanks for filing the issue. It looks like a bug. We forgot to copy the yurtctl binary into the servant image. I will upload the servant image later. About the question

I know it looks confused :confused:  But we did it this way because the command will modify files on the host where the  Convert/Revert Servant Pod is running on, we mount `yurtctl` to the host and run it in the h

[2021-04-05 18:44] charleszheng44 commented on #250
/assign
add yurtctl binary to the servant image

[2021-04-05 18:47] #70 closed

[2021-04-06 08:54] BeWaterMyFriend7 opened #251 "[Question] pods "yurt-hub-minikube" not found"
' When I follow the tutorial steps `_output/bin/yurtctl convert --provider minikube` to arrange the edge nodes, the following occurs

_I0406 16:40:27.289204   79287 convert.go:443] kube-public/cluster-info configmap already exists, skip to prepare it
I0406 16:40:27.289299   79287 convert.go:332] deploying the yurt-hub and resetting the kubelet service...
E0406 16:40:27.500283   79287 util.go:316]

[2021-04-06 09:19] DreamEagle0 commented on #251
You may read this issue #250, I think our problems may be the same.
First, you can show us more information by running `kubectl get all -n kube-system`.
Besides, if you need to revert the failed openyurt totally, try running `yurtctl revert` and delete all failed jobs manully, i.e. `kubectl delete jobs --all -n kube-system`

[2021-04-06 09:32] DreamEagle0 commented on #251
This means last time you deployed openyurt the jobs didn't complete.

[2021-04-07 01:33] BeWaterMyFriend7 commented on #251
OK, Thank you very much.I have tried your methods .After typing`yurtctl revert` and `kubectl delete jobs --all -n kube-system`, I typed `_output/bin/yurtctl convert --provider minikube`, and the following occurs:

more details

![图片](https://user-images.githubusercontent.com/49580332/113797465-e9907300-9783-11eb-8f30-8822036cce60.png)

[2021-04-07 02:00] DreamEagle0 commented on #251
@BeWaterMyFriend7 Yes, so it should be same problem. Actually, you did not read the whold issue。  The official yurtctl-servant image lacks yurtctl in its `/usr/local/bin/` path. You need to build a new yurtctl-servant image, like below:
[code]
The Dockerfile should be put in the same directory of yurtctl binary.  Actually, the third line in the Dockerfile should be able to omitted, but I do it jus

[2021-04-07 03:12] BeWaterMyFriend7 commented on #251
Thank you very much.But I'm a new here,I can't fully understand what you mean. More details are shown below.

![图片](https://user-images.githubusercontent.com/49580332/113804864-f74cf500-9791-11eb-935e-4b48509735d9.png)

[2021-04-07 03:39] DreamEagle0 commented on #251
@BeWaterMyFriend7 Well, it's just some docker commands...
1. You can just rename the Dockerfile to exactly `Dockerfile`, and run `docker build -t new_servant .` (don't lose the last dot `.`), then a new image will be built.
2. push it to dockerhub registry by `docker push <your_username>/new_servant`. (Change the `<your_username>` here to your dockerhub username).
  - More at: [https://docs.docker

[2021-04-07 04:30] DreamEagle0 commented on #251
If you are using a x86-64 machine, you may simply use my image.
`yurtctl convert --provider minikube --yurtctl-servant-image dreameagle/yurtctl-servant:latest`

[2021-04-07 04:31] DreamEagle0 commented on #251
@BeWaterMyFriend7  If you are using a x86-64 machine, you may simply use my image.
`yurtctl convert --provider minikube --yurtctl-servant-image dreameagle/yurtctl-servant:latest`

[2021-04-08 07:50] yang-zhang-edge opened #254 "[BUG] Internal error occurred: failed calling webhook "mnodepool.kb.io""
**Following the official tutorial concering about yurt-app-manager hereby https://gitee.com/mirrors/openyurt/blob/master/docs/tutorial/yurt-app-manager.md, I failed to create NodePool resource. To be precise, when try to apply the example config demonstrated within the mentioned link, I got error as below:
[root@cloud-master opt]# kubectl apply -f nodepool.yml
Error from server (InternalError): er

[2021-04-08 11:29] rambohe-ch commented on #254
@yang-zhang-edge Thank you for filing issue.

@kadisi  Would you take a look the problem of yurt-app-manager?

[2021-04-08 11:58] kadisi commented on #254
@yang-zhang-edge

yurt-app-manager has been removed to new [repo](https://github.com/openyurtio/yurt-app-manager).

you can follow this tutorial:

1. clone yurt-app-manger code
[code]
2. push yurt-app-manager to your private registy ， for example

[code]
if REPO value is assigned  `registry.cn-your-registry.com/edge-kubernetes`， the `make push` command will eventually build an image named `registr

[2021-04-09 01:21] yanyhui opened #256 "Does this project support the edge computing scenarios of master cluster and edge sub cluster?"
In the edge computing scenario, there may be a master cluster deployed in the cloud and an edge cluster deployed at the edge, and the networks of these two clusters are not connected.
1. But I want to manage the edge cluster through the master cluster. Can openyurt support this situation? The cloud is not a master node, and the edge is not a follower node, but both the cloud and the edge are clust

[2021-04-09 01:35] charleszheng44 commented on #256
We current doesn’t support sub-cluster.

[2021-04-12 07:19] yanyhui commented on #256
@charleszheng44  thanks for zhe answer.

[2021-04-12 07:19] #256 closed

[2021-04-12 07:29] yanyhui opened #257 "In the high availability scenario, when an agent in a network region hangs up, how to ensure the connectivity with cloud nodes?"
In the high availability scenario, two edge nodes of the cluster are in a physical network region. In theory, the network agent only needs to configure one agent. The problem is that if the node where the agent is located hangs up, the two nodes will not work. In this case, how can we ensure high availability?

[2021-04-12 07:32] yanyhui commented on #257
@charleszheng44  How can openyurt ensure high availability of agents in edge network region?

[2021-04-13 13:05] rambohe-ch commented on #257
@yanyhui Thank you for filing issue.

would you can describe more info about the network agent? the network agent is the workload pod or some other agent?

[2021-04-14 07:22] yanyhui commented on #257
@rambohe-ch
Error has been reported after executing the make what=cmd/yurtctl command,The error is **_pkg/yurthub/util/util_test.go:37:4: call to (*T).Fatalf from a non-test goroutine
make: *** [vet] Error 2_**
![image](https://user-images.githubusercontent.com/33149983/114669877-fccbb180-9d34-11eb-8d75-77693c0dca64.png)

[2021-04-15 03:13] yanyhui commented on #257
@rambohe-ch
How to connect to the edge node if the agent in yurtunnel is down? The problem is how to realize the high availability of agent. The server in yurttunnel is highly available through multiple server copies. If one server is broken, it will automatically switch to other servers. Then the agent is broken?

[2021-04-15 04:24] charleszheng44 commented on #257
@yanyhui you can set up multiple agents per network region.

[2021-04-15 05:38] AnyISalIn opened #259 "[feature request] Support RKE ?"
the RKE is a popular Kubernetes engine,   Do you guys plan to support RKE?

**What would you like to be added**:

support convert RKE to yurt cluster.

**Why is this needed**:

[2021-04-15 05:59] DreamEagle0 opened #260 "Should we consider edgenode crash in autonomy scenario?"
When cloud nodes cannot connect to a edge node, there are 2 scenarios:
1. network disconnection
2. edge node crashes.

Consider the second scenario. When a edge node crashes, the pod in the edge node will not be evicted.  In this case, the service of the pod will keep unavailable? Is there any way to fix this?

[2021-04-15 06:07] charleszheng44 commented on #259
Hi @AnyISalIn, If RKE is fully compatible with upstream Kubernetes (support all upstream features and workloads), then OpenYurt should be able to work with it out of the box. If RKE changes some of the upstream features, then we would not consider supporting it.

[2021-04-15 07:46] AnyISalIn commented on #259
Thanks, I'll try to test OpenYurt on RKE.

[2021-04-15 15:52] charleszheng44 commented on #259
Great. Please keep us posted about your progress. 😄

I will close this issue for now but feel free to reopen it or create a new one if you run into any issue.

[2021-04-15 15:52] #259 closed

[2021-04-16 07:26] yojay11717 commented on #250
I also encountered this problem, do you know how to solve it

[2021-04-16 07:30] DreamEagle0 commented on #250
@yojay11717 You can use my image `--yurtctl-servant-image dreameagle/yurtctl-servant:latest`, and see whether it works. The corresponding Dockerfile is in this issue.

[2021-04-16 07:41] AnyISalIn opened #261 "[BUG] Issues of RKE"
**What happened**:
Hi @charleszheng44, I've already tried to deploy [OpenYurt on RKE](https://github.com/openyurtio/openyurt/issues/259) and it doesn't work.

1. Kubelet of RKE is containerization, OpenYurt only to control Kubelet service of systemd.
2. Kubelet of RKE communication apiserver based local Nginx container that Nginx listens 127.0.0.1:6443 and reverse proxy real address of apiserver.

[2021-04-16 08:07] yanyhui commented on #250
@charleszheng44
_We forgot to copy the yurtctl binary into the servant image. I will upload the servant image later_   When will this problem be solved? When will the image be replaced with the correct one?

[2021-04-16 09:41] yanyhui opened #262 "Error report in creating pod of yurt tunnel agent"
_Next, we can set up the yurt-tunnel-agent. Like before, we add a label to the edge node, which allows the yurt-tunnel-agent to be run on the edge node:
kubectl label nodes minikube-m02 openyurt.io/edge-enable-reverseTunnel-client=true
And, apply the yurt-tunnel-agent yaml:
kubectl apply -f config/setup/yurt-tunnel-agent.yaml_

After the above execution manually, the pod of the cluster is always i

[2021-04-16 11:43] yingjianjian opened #263 "coredns 无法连接127.0.0.1:10261"
**What would you like to be added**:
coredns 无法连接127.0.0.1:10261

**Why is this needed**:
yurthub 是否可以新增一个网卡用于容器内部连接10261端口

[2021-04-16 18:21] charleszheng44 commented on #261
Hi, @AnyISalIn Thanks for your update. It looks like RKE has a specific system setup for Kubernetes components. Currently, supporting distros other than upstream Kubernetes is not on our road map. But you are welcome to add an extra mode to the `yurtctl` that can make OpenYurt work with RKE, and we can discuss it at the bi-weekly community meeting.

For the three issues,

A potential solution will

[2021-04-17 01:15] joker-joker-joker opened #264 "[Question] Node communication in edge senarios"
CNI plugins such as flannel require that the network between nodes are reachable, but in edge scenarios, it often appears that edge nodes and cloud nodes belong to different local area networks, and the cloud nodes are generally assigned public network IP while edge nodes will not. In this scenario, how should we solve the communication problem between edge nodes and cloud nodes? Is it by extendin

[2021-04-17 01:22] Fei-Guo commented on #264
It is not recommended to run your workload across cloud nodes and edge nodes due to the networking problem you mentioned. In OpenYurt, we introduce a concept of node pool where a group of edge nodes are defined and a UnitedDeployment workload to distribute workload Pods among the nodes in the node pool. Usually, CNI plugin like flannel should work in node pool. Hope this will help or let us know i

[2021-04-17 01:33] joker-joker-joker commented on #264
Thanks for you reply.
If it is in a node pool of a local area network, flannel can indeed work. However, there are still scenarios for edge-cloud collaboration, such as joint inference in some AI scenarios. It is impossible to assume that they are in a node pool in a local area network.

[2021-04-17 01:55] Fei-Guo commented on #264
Note that cloud nodes have public IPs hence the edge->cloud communication usually works. I am assuming one can leverage this fact to push computational results from edge nodes to cloud nodes. If edge network and cloud network are completely isolated (bi-directionally),  I think reverse proxy supported by vendor may work but it is out of OpenYurt's scope. OpenYurt only installs tunnel service betwe

[2021-04-17 02:38] joker-joker-joker commented on #264
OK. Thanks for the reply.

[2021-04-17 02:38] #264 closed

[2021-04-17 13:01] rambohe-ch commented on #263
@yingjianjian Thank you for filing issue.

If coredns wants to access the address 127.0.0.1:10261, you should deploy coredns with `hostNetwork=true` at present.

I think it's a good idea to add a network interface for accessing the address 127.0.0.1:10261 by container. and we can implement the feature in the next version.

[2021-04-17 13:05] rambohe-ch commented on #262
@yanyhui Thank you for filing issue.

The new label for yurt-tunnel-agent is `openyurt.io/is-edge-worker=true`.
and the detail of deploy yurt-tunnel, you can refer to the docs: https://github.com/openyurtio/openyurt/blob/master/docs/tutorial/yurt-tunnel.md

[2021-04-17 13:10] rambohe-ch commented on #260
@DreamEagle0 Thank you for filing issue.

We plan to solve the above scenario 2 in the next version(v0.4.0) or the next two version(v0.5.0), the name of the feature is: Support autonomy feature in node pool level.
and you can refer to the roadmap: https://github.com/openyurtio/openyurt/blob/master/docs/roadmap.md

[2021-04-18 01:37] AnyISalIn commented on #261
@charleszheng44 Thanks for your great suggestions, It seems to works. but RKE needs to manage Kubelet's lifecycle, If we were changed the configuration of Kubelet and when the RKE cluster was changed, It probably re-generated and makes YurtHub not working.

Can we run a container in the worker node and redirect APIServer traffic to YurtHub? Such as the DNAT rule generator.

[2021-04-18 03:04] yanyhui commented on #262
@rambohe-ch  Thank you for zhe answer.But the actual operation is totally not right with what you said, _**https://github.com/openyurtio/openyurt/blob/master/docs/tutorial/yurt-tunnel.md**_ It can be determined from this address that the code is in the master version, and the node should be labeled _**kubectl label nodes minicube-m02 openyurt.io/is -Edge worker = true**_, then _**kubectl apply - f

[2021-04-19 02:12] rambohe-ch commented on #262
@yanyhui Thank you for uploading the detail info.
Would you upload the logs of yurt-tunnel-agent container? you can login the minicube-m02 node, and execute the command `docker logs {yurt-tunnel-agent-container-id}`  to get the logs.

by the way, you can use the code of master branch.

[2021-04-19 02:16] rambohe-ch commented on #262
@yanyhui would you make a pull request for updating the label from `openyurt.io/edge-enable-reverseTunnel-client` to `openyurt.io/is-edge-worker=true` in the following yaml file.
- config/setup/yurt-tunnel- agent.yaml
- config/yaml-template/yurt-tunnel- agent.yaml

[2021-04-19 02:22] rambohe-ch commented on #262
@yanyhui If it's convenient for you, you can join openyurt community  dingding group.
and you can get QR code here: https://github.com/openyurtio/openyurt#contact

[2021-04-19 06:33] yingjianjian commented on #263
嗯 是的。目前我是通过hostNetwork去解决的。 但是不是所有场景都适用hostNetwork，我这边也在修改yurthub的源码，新增一个虚拟网卡去解决

[2021-04-19 06:47] rambohe-ch commented on #263
@yingjianjian If it's convenient for you, you can join openyurt community dingding group.
and you can get QR code here: https://github.com/openyurtio/openyurt#contact

[2021-04-19 07:18] rambohe-ch commented on #263
@yingjianjian we will add a dummy type network interface on the node for accessing yurt-hub from container. and the dummy interface address is: `169.254.2.1`.  and you can configure the dummy interface address in the yurt-hub parameter.

[2021-04-19 21:36] charleszheng44 commented on #261
Yes. I think a sidecar container could be a potential solution. 👍🏼

[2021-04-20 03:15] AnyISalIn commented on #261
Thanks, I'll try it on my RKE Cluster.

[2021-04-20 08:05] DreamEagle0 opened #267 "edge node autonomy test failed"
**What happened**:
Hello, everyone. When I blocked the connection between cloud and edge nodes, the edge node became notReady and pod terminated. After the network connected, the pod was evicted. I can't figure out what's wrong.  Thank you for any help.
[code]
Pod yaml file:
[code]

**Anything else we need to know?**:
The cluster is deployed manully according to the tutorial, and the autonomy anno

[2021-04-20 08:17] DreamEagle0 commented on #260
@rambohe-ch Thank you for your kind explanation.

[2021-04-20 08:17] #260 closed

[2021-04-20 09:12] #262 closed

[2021-04-20 12:07] #248 closed

[2021-04-21 00:54] yanyhui opened #271 "Yurt tunnel tutorial and yurt app manager tutorial error problem."
There is an error in adding labels to edge nodes in yurt tunnel tutorial; when creating nodepool in yurt app manager tutorial, the name cannot contain uppercase letters.

[2021-04-21 01:06] yanyhui opened #272 "When creating yurt app manager manually, the corresponding yaml file is missing in the code."
When creating yurt app manager manually, the yurt-app-manager folder and yurtctl-servant folder are missing above the master branch and under the project directory /openyurt/config /.

[2021-04-21 02:39] kadisi commented on #272
@yanyhui yurt-app-manager has been moved new repo https://github.com/openyurtio/yurt-app-manager

[2021-04-21 07:27] #162 closed

[2021-04-21 07:35] rambohe-ch commented on #267
@DreamEagle0 Thank you for filing issue.
would you upload the node annotations and logs of yurt-controller-manager?

[2021-04-21 09:15] DreamEagle0 commented on #267
node annotations:
[code]

yurt-controller-manager logs:
[code]

[2021-04-21 11:13] #271 closed

[2021-04-21 11:13] #272 closed

[2021-04-21 11:20] yanyhui opened #274 "Uniform label for installation of yurt-tunnel-agent openyurt.io/is -edge-worker: "true"。"
The tag used in creating the yurt tunnel agent file is wrong. The tag used is **openyurt.io/edge -Enable reversechannel client: "true"**, now it is changed to _openyurt.io/is -edge-worker: "true"_。

[2021-04-22 02:24] #274 closed

[2021-04-22 07:13] DreamEagle0 commented on #267
@rambohe-ch
After I shut down the master node, the kubelet of edge nodes will keep showing error. And k8s service cannot be resolved to IP in edge nodes. The autonomy is totally not working.
[code]
journalctl logs:
[code]
I have tried installing openyurt with yurtctl tool, but it's still not working.

[2021-04-22 07:54] DreamEagle0 opened #276 "[BUG] yurthub 10267 port liveness probe fails"
**What happened**:
According to  `config/setup/yurthub.yaml`:

      httpGet:
        host: 127.0.0.1
        path: /v1/healthz
        port: 10267
      initialDelaySeconds: 300
      periodSeconds: 5
      failureThreshold: 3

But after installation, yurt-hub keeps restarting and shows livenessProbe failure.

[code]
No corresponding port in the edge node either:
[code]
If I change the port to 10

[2021-04-23 05:07] Peeknut commented on #276
I think this is because the yurthub image is not updated in time.

run `kubectl logs -n kube-system <yurt-hub name>  ` ,  it shows that the port opened in the yurthub image pulled by default is 10261:
[code]
But the port of yurthub health check defined in the code is 10267, as it shows in `yurthub.yaml`. So when try to get http://127.0.0.1:10267/v1/healthz, it fails.

[2021-04-23 05:07] Peeknut commented on #276
I use the Dockerfile to build yutrhub image locally and use it, yurthub pod work normally.
[code]
The port 10267 is in service:
[code]

[2021-04-23 06:12] DreamEagle0 commented on #276
@Peeknut Thanks a lot for your reply. I shouldn't have used the latest config files and old images to deploy the cluster.  😓

[2021-04-23 06:15] #276 closed

[2021-04-23 06:53] #267 closed

[2021-04-24 12:33] DreamEagle0 commented on #250
@charleszheng44
I think this is not strictly  a bug. I just ought not to use old images with the latest openyurt commit. And I understand it's unrealistic to update related images for every commit.

But the tutorial is really a bit confusing. For a newbie like me, I just followed the steps in the tutorial, and not realized that I should checkout the branch to v0.3.0 before compilation.

Have you t

[2021-04-25 14:07] Poorunga opened #277 "[BUG]yurt-tunnel-agent cannot run as expected"
**What happened**:
When I tried to build an openyurt cluster using the `yurtctl` tool, I found that `yurt-tunnel-agent` could not run as expected:
[code]
`yurtctl` printed a successful log, but when I checked `yurt-tunnel-agent` pod, I found that it was not running normally:
[code]
I logged into the edge node to check the container log and found that it prompted:
[code]
I checked `yurt-tunnel-agen

[2021-04-26 05:07] charleszheng44 commented on #277
Hi @Poorunga, Thanks for reporting the bug. I will update the yurt-tunnel-agent image.

/assign

[2021-04-26 05:28] charleszheng44 commented on #277
Hi @Poorunga, I just update the yurt-tunnel-agent/server's docker image. Feel free to reopen the issue if it still doesn't work.

[2021-04-26 05:28] #277 closed

[2021-04-26 05:32] charleszheng44 commented on #261
@AnyISalIn I will close this issue for now. Feel free to reopen or submit new issues if you have any questions.

[2021-04-26 05:32] #261 closed

[2021-04-26 06:20] Poorunga commented on #277
@charleszheng44 Thank you for your support.

[2021-04-26 17:31] charleszheng44 commented on #250
@DreamEagle0 @yanyhui sorry for the late reply. The openyurt/yurtctl-servant image has been updated

Yes. That is a good idea. Will add the version/arch tarball for each release

[2021-04-26 17:32] charleszheng44 commented on #250
@yanyhui @DreamEagle0 @yojay11717 @caniszczyk sorry for the late reply. The openyurt/yurtctl-servant image is updated

[2021-04-26 17:32] #250 closed

[2021-04-26 17:38] charleszheng44 opened #280 "[Refact] Migrate yurt-app-manager to openyurtio/yurt-app-manager"
Since we have migrated yurt-app-manager to independent repos (`openyurtio/yurt-app-manager` and `openyurtio/yurt-app-manager-api`), we should remove legacy codes from this repository and migrate docs related to the yurt-app-manager to the `openyurtio/yurt-app-manager`.

@rambohe-ch @Fei-Guo  what do you think?

[2021-04-26 17:47] Fei-Guo commented on #280
Yes, we should.

[2021-04-27 01:19] qclc opened #281 "[BUG] yurtctl convert edgenode command's flag --kubeadm-conf-path doesn't work"
**What happened**:
The following error occurs when I try to convert a cluster node to Edgenode using `yurtctl convert edgenode` :

[code]

I have specified the value of the `--kubeadm-conf-path` flag, but according to the log, the default path `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` is still used.
**What you expected to happen**:
When user specify the value of the `--kubeadm-conf-p

[2021-04-27 01:33] charleszheng44 commented on #281
Thanks for reporting the bug. There is an inconsistent variable assignment in the code. I will fix it.

[2021-04-27 17:06] felix0080 opened #285 "[Question]I want to help. Is there anything I can develop?"
Want to start with some service functions that are not dependent and moderate in difficulty

[2021-04-27 17:22] Fei-Guo commented on #285
You are welcome! We will list a few "good first issue" soon, so stay tuned.

[2021-04-29 12:10] kadisi opened #286 "[Help Wanted]perfect yurt-app-manager totural"
**What happened**:

yurt-app-manager add  add patch feature for uniteddeployment , the [toturial](https://github.com/openyurtio/yurt-app-manager/blob/master/docs/yurt-app-manager-dev-tutorial.md) is older , need to  perfect it.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- OpenYurt versi

[2021-04-29 12:15] yanyhui commented on #286
@kadisi  please assign to me.

[2021-04-29 12:16] kadisi commented on #286
@yanyhui perfect, welcome

[2021-05-07 14:01] lukonjun opened #292 "Installation takes very long"
Hi, I just installed yurtctl following the instructions in the README
[code]
The installation was successful, however it took very long (10 min on a cloud VM with 2GBRAM and 2 CPUs), and several test where run.
Is there a way to increase the speed of the installation?

[2021-05-07 17:38] Fei-Guo commented on #292
It could be due to the size of the VM. Did you enable host swapping and is it possible that memory is swapped during the installation?

[2021-05-08 07:55] neo502721 commented on #292
try set goproxy

export GOPROXY=https://goproxy.io,https://goproxy.cn

[2021-05-08 09:16] lukonjun commented on #292
Hi Guys, thanks for your help,
@Fei-Guo host swapping is not enabled, also only a small part of the RAM is used, peaking at 200mb
@neo502721 i set the proxy, and compared it to an installation where the proxy was set, however both took the same.

Even though i now took a better performing VM, the installation process still took 6 mins (3 mins test i dont know how to skip :D).
Maybe this is the exp

[2021-05-08 09:26] neo502721 commented on #292
you can skip test use  `make build WHAT=cmd/yurtctl`

[2021-05-08 09:37] neo502721 commented on #292
sorry, I thought you were in China，goproxy may not work for you.
it took 3min to build all binary on my VM (4core16G) with  test run.

[2021-05-08 18:19] lukonjun opened #293 "[BUG] Yurtctl Servant Convert Pod CrashLoopBackOff"
**What happened**:
Running yurtctl convert results in Pod crashing
[code]
Checking the running pods shows the crashing pod
[code]
Logs show the following, does this relate to #290?
[code]
**What you expected to happen**:
Convertion works out of the box

**How to reproduce it (as minimally and precisely as possible)**:
build yurtctl from latest release, install Docker and kubernetes 1.16.15 on a ub

[2021-05-08 18:22] #292 closed

[2021-05-10 05:46] #293 closed

[2021-05-10 07:57] lukonjun commented on #293
Hi @SataQiu @charleszheng44 , i executed the following, however still facing issues
Running the following commands
[code]
Reverting cluster and converting again
[code]
Checking Status of Pods
[code]
Cant get any Logs from the crashing container

[2021-05-10 08:00] lukonjun commented on #293
I think i cant reopen the issue, so please reopen again

[2021-05-10 08:09] lukonjun commented on #293
I am trying to install this for benchmarking Edge Orchestrators, would you recommend to use another Provider instead of kubeadm, what is your best practice?

[2021-05-10 09:11] lukonjun commented on #293
@neo502721 deleted the jobs now manually, however still CrashLoopBackOff, for my two node cluster
[code]
checking out pods
[code]

[2021-05-10 10:08] lukonjun commented on #293
Hi @neo502721 , I managed to get this working on a fresh vm, following my instruction script https://github.com/eco-bench/eco-bench/edit/main/openyurt/README.md.
I was also able to get it working on my 2 Node Cluster with the steps you describe.
I assume the error was most likely related to old images in the docker image cache or an old yurtctl binary version.
Thanks for the help!

[2021-05-12 03:11] yudar1024 opened #297 "[Question]when openyurt can support 1.19+?"
we use k8s 1.19 and above, but in docs, openyurt only support less then 1.14, when openyurt can support 1.19+?

[2021-05-12 03:22] charleszheng44 commented on #297
Hi @yudar1024, we won't support 1.19 for the next release.

We have not run OpenYurt with Kubernetes 1.19 in production environments yet, but I have used OpenYurt with Kubernetes 1.19 locally for a while and everything looks just fine. If you don't mind, you can try out running OpenYurt with 1.19.

[2021-05-13 02:17] yanyhui opened #298 "Taint affects the scheduling of yurt-controller-management pod to cloud nodes"
When creating yurt-controller-management, if the cloud node is configured with taint, the pod cannot be scheduled to the node.

[2021-05-13 02:25] #286 closed

[2021-05-13 06:24] #298 closed

[2021-05-13 12:22] rambohe-ch opened #300 "Wanted: Who is using OpenYurt | 如果贵司正在使用OpenYurt请留言"
# Who is using OpenYurt
First of all, thanks sincerely for constantly using and supporting OpenYurt. We will try our best to keep OpenYurt better, and keep community and eco-system growing.

## The purpose of this issue
 * We’d like to listen to the community to make OpenYurt better.
 * We want to attract more people to contribute to OpenYurt.
 * We're willing to learn more OpenYurt use scenarios

[2021-05-14 06:48] yanyhui opened #301 "The new node join cluster is directly converted to openyurt."
The new node join cluster is directly converted to openyurt without manual conversion to openyurt.

[2021-05-14 07:18] rambohe-ch commented on #301
@yanyhui  thank you for filing issue.
I think it's a good idea to join node into openyurt cluster directly without conversion. and maybe we can add this feature in the next version(v0.5.0)
@zyjhtangtang would you have any comments?

[2021-05-14 08:09] yanyhui commented on #301
I think cloud node and edge node need to be handled separately.

[2021-05-14 08:09] yanyhui commented on #301
I think cloud node and edge node need to be handled separately.

[2021-05-17 01:37] zyjhtangtang commented on #301
Approval, we will provide a tool for OpenYurt cluster creation and node access in the next version (v0.5.0).

[2021-05-17 03:21] felix0080 commented on #257
守护进程，进程监控，如果真的跑不起来，那可能是其他问题

[2021-05-18 13:18] DreamEagle0 opened #303 "[Question] In edge autonomy scenario, is readinessProbe still working?"
Suppose I am using a service with two backend pods in edge nodes, and edge nodes cannot communicate with cloud nodes.

When a backend pod fails somehow, can the endpoint of that pod be deleted automatically?  So that traffic will not be loadbalanced to that pod?

It seems that edge nodes still need cloud node Endpoint Controller to do this.

Thanks in advance for any reply.

[2021-05-19 02:04] rambohe-ch commented on #303
@DreamEagle0 Thank you for filing issue.
In OpenYurt cluster, if you want to keep the pod in the endpoints after cloud-edge network disconnected, you can add annotation `node.beta.alibabacloud.com/autonomy=true` to the edge node that pods run on it.

[2021-05-19 02:43] DreamEagle0 commented on #303
@rambohe-ch Thanks for your reply.
Sorry for unclear expression. Actually I have already added the autonomy annotation. What I really mean is, can the endpoint be **deleted** automatically if a pod turns unready?
In k8s cluster, kubelet will check the readiness state of a pod. If the pod turns unready, the corresponding endpoint will be deleted by endpoint controller, right?
I draw an illustration

[2021-05-19 03:43] DreamEagle0 commented on #303
I've made an experiment in my local cluster, and the endpoint can not be deleted automatically in autonomy state.

[2021-05-19 04:08] joez opened #304 "[BUG] yurtctl convert timeout on k8s v1.18.0 cluster"
**What happened**:

k8s v1.18.0 cluster with one master node and one worker node, deployed by kubeadm

yurtctl convert failed

[code]

Found out that the yurthub has some error in worker node

[code]

**What you expected to happen**:

yurtctl convert can success

**How to reproduce it (as minimally and precisely as possible)**:

* create a k8s v1.18.0 cluster by kubeadm, with one master node and w

[2021-05-19 04:12] Fei-Guo commented on #303
If the cloud-edge communication is off, the unready Pod cannot be deleted since the deletion is controller by cloud side controllers.

[2021-05-19 04:29] DreamEagle0 commented on #303
@Fei-Guo Thank you for your answer.
How about making it a feature in the future?

[2021-05-19 05:40] Fei-Guo commented on #303
If you simply want to delete the unready Pod, it is possible. If you want a workload controller to create a new one, it is a much tougher problem to resolve and we probably will not support this level of resilience in near future.

[2021-05-19 06:05] fanzetian opened #305 "[Question] openyurt是如何保证edge端与云端网络断连时，节点pod不被迁移的"
看了下superedge是通过域内节点health check vote机制和kubelet上报作为节点禁止pod调度或者pod驱逐的依据，从而保证edge与云端断连pod不被驱逐；openyurt的yurt controller manager是通过什么机制保证在这种只是与云端网络断连但是域内节点间网络正常的场景下pod不驱逐的？

[2021-05-19 06:12] Fei-Guo commented on #305
We change the node controller to avoid evicting Pods that run on nodes in "autonomy" mode. It is suboptimal since the remote node can be truly unavailable (crash for instance). We may improve this aspect later.

[2021-05-19 10:04] joez commented on #304
I found the root cause, the certificate files in /var/lib/yurthub are out-of-dated

[code]

delete them and reset cluster

[code]

then try again things works fine

[code]

logs from yurthub

[code]

[2021-05-19 10:04] #304 closed

[2021-05-20 01:13] DreamEagle0 commented on #303
Thanks for your explanation. I think a simple deletion of EP will be enough for such case.

[2021-05-20 07:33] kitt1987 commented on #267
Get it. Thanks!

[2021-05-20 07:44] #305 closed

[2021-05-26 07:45] #285 closed

[2021-05-26 13:40] qclc opened #325 "[BUG] When the cloud and the edge were disconnected and a List request is made for an empty CR, the edge responded with an error"
**What happened**:

When the cloud and edge are disconnected, and a List request is made for a registered CR, if the number of this custom resources is zero, normally, Yurthub should return an empty CRD List response, as follows:

[code]

But in fact, the error message is returned as follows:

[code]

**What you expected to happen**:

- When the connection between cloud and edge is normal and the

[2021-05-27 02:06] felix0080 commented on #301
good idea

[2021-05-27 02:28] rambohe-ch commented on #325
@qclc Thank you filing the issue.

This is a known bug, would you like to take over and solve it?

[2021-05-27 02:36] qclc commented on #325
Yes, I am willing to take over and solve it.

[2021-05-27 08:18] rambohe-ch commented on #325
/assgin @qclc

[2021-05-27 08:29] yanyhui opened #327 "Verify whether openyurt supports k8s cluster of version 1.20."
Through manual deployment of openyurt environment verification, openyurt supports k8s cluster of version 1.20.

[2021-05-27 09:51] rambohe-ch commented on #327
@yanyhui Thank you for verifying OpenYurt.
how about add the version info of OpenYurt and some verify results or logs?

[2021-05-27 10:33] gnunu opened #328 "[feature request] Should an Operator be good to turn vanilla k8s cluster to OpenYurt one?"
**What would you like to be added**:
An easy way (for user) to do k8s to OpenYurt tranlsation, automatically and thoroughly.

**Why is this needed**:
Sounds an Operator can do this tedious job. This Operator would watch the changes of cluster and do translation or update if needed.

**others**
Sounds not so easy to do, but it will be good to devops. Anyway, Operator is for automation of doing tedi

[2021-05-27 11:14] MIBc commented on #136
As I know, knative activitor will set connection with application and proxy forwarding traffic for application.
In the scene of edge computing, the network is unstable. Therefore,  knative may be inappropriate in openyurt.

[2021-05-27 11:20] MIBc commented on #188
Your can reference the document https://github.com/openyurtio/openyurt/blob/master/docs/tutorial/manually-setup.md
@seveirbian

[2021-05-28 02:01] rambohe-ch commented on #328
@gnunu Very appreciate for your issue.

It's a good idea to make an Operator to take over cluster translation. and the plan to settle it, i think we can discuss this issue on OpenYurt community meeting and add feedback here. we also welcome you to participate in OpenYurt community meeting  on June 2, 2021 11:00～12:00(Beijing time)

the detail info of community info: https://github.com/openyurtio/o

[2021-05-28 15:34] seveirbian commented on #188
thanks, i've succeed.

[2021-05-28 15:34] #188 closed

[2021-05-31 03:03] zzguang opened #330 "[Question] Does OpenYurt have a formal code style requirement?"
**What happened**:
I am not sure whether OpenYurt has a formal code style requirement, which may include:
1. function name definition rule
2. limitation of max characters every line
3. code comments format
4. patch comments format
5. ...
**What you expected to happen**:
If no clear requirement for OpenYurt by now, I think it's better to clarify it so that different contributors can follow the unif

[2021-05-31 03:25] #327 closed

[2021-06-02 09:47] xmwilldo opened #331 "[Question]Why does yurthub store cached data like this?"
**What happened**:
When the component on the edge node is connected to yurthub, the data it needs will be cached on the edge node, like this：
![image](https://user-images.githubusercontent.com/16560252/120458870-3bdbc200-c3ca-11eb-938e-f4d27d85a34b.png)

**What you expected to happen**:
If this is the case, the same data of different components cannot be shared, and duplicate data will be generate

[2021-06-02 11:44] qclc commented on #331
I think this design mainly plays a role in resource isolation. Each component can only get the resources in its own folder, and each component folder will only save the content that the component can get. If the resource is placed in the public directory, when making a list request, unauthorized resources may be obtained.

[2021-06-03 00:58] Windrow opened #333 "[Question] How to request for an account for OpenYurt Channel on Slack?"
**What happened**:
A link to Slack is provided in README, but I haven't seen how to register an account to sign in OpenYurt Channel.
Also, QR code for Dingtalk Group is out of date. Is it abandoned?

**What you expected to happen**:
Register an account and sign in the channel.

**How to reproduce it (as minimally and precisely as possible)**:
[channel](https://openyurt.slack.com/)

/kind question

[2021-06-03 01:38] qclc commented on #333
@Windrow Thanks for reminding. The latest PR has updated the invite connection, you can enter the openyurt slack workspace through this connection #332 , and Dingtalk Group number is 31993519, you can search that number to join the Openyurt  Community Group.

[2021-06-03 01:43] gaofeng1973 opened #334 "[BUG] Internal error occurred: failed calling webhook "mnodepool.kb.io" when create noodpool"
**What happened**:
When I following https://github.com/openyurtio/yurt-app-manager/blob/master/docs/yurt-app-manager-tutorial.md to create `nodePool` with
[code]
it report the following error:
[code]

**What you expected to happen**:
We expected the node pool could be created successfully

**How to reproduce it (as minimally and precisely as possible)**:
Just following the https://github.com/openy

[2021-06-03 05:51] Windrow commented on #334
**What happened**:
I've encountered TLS handshake issue when attempted to start a node pool.
[code]

**What you expected to happen**:
Node pool created.

**How to reproduce it**:
1 Establish two nodes Kubernetes cluster with kubeadm
2 Start weave CNI plugin
3 Convert the cluster with yurtctl command
4 Start yurt tunnel with yurt-tunnel-server.yaml and yurt-tunnel-agent.yaml
5 Start yurt app manage

[2021-06-03 07:02] rambohe-ch commented on #330
@zzguang Very appreciate for your issue.
OpenYurt community does not have a detailed code style at present, but code of pull request will be verified by golang native rule(`golangci-lint run --out-format=github-actions --disable-all  -E deadcode -E gofmt -E goimports -E ineffassign -E misspell -E vet --timeout=15m` in github action)

and If you have a good code style to contribute to OpenYurt, we

[2021-06-03 07:13] rambohe-ch commented on #331
@xmwilldo Thank you for filing issue.
1. First of all, the isolated data cache is relatively easy to implement. if cache data is shared by all of components, yurthub will become complicated.
2. And then, cache data on node only includes the meta data, and the duplicated data is not so much.

so compared to more storage consumption, we chose a isolated cache for easier implementation. and maybe in

[2021-06-03 07:37] rambohe-ch commented on #163
Before we provide impersonate feature for yurthub, maybe we need to https server feature for yurthub, so pod on edge node can use `InClusterConfig` to access yurthub.

[2021-06-04 06:37] yanyhui opened #335 "No cloud node is specified when executing the yurtctl convert command, but the program does not report an error."
No cloud node is specified when executing the yurtctl convert command, but the program does not report an error.

[2021-06-04 17:50] #335 closed

[2021-06-05 07:38] Peeknut opened #337 "[BUG] `kubectl exec` error occurred: after use `yurtctl revert` to convert openyurt cluster with yurttunnel server"
**What happened**:
In k8s cluster, I can use `kubectl exec` normally：
[code]
After I run the following command. The conversion of k8s to openyurt cluster was performed first, and then the cluster was converted back.
[code]
And then use the command `kubectl exec` , it reports an error:
[code]

**What you expected to happen**:
The openyurt cluster can execute the command `kubectl exec/logs` correctl

[2021-06-05 07:40] Peeknut commented on #337
After troubleshooting, it was found that after `yurtctl revert`, the iptables rules created by `yurttunnel server` still exist and have not been deleted. So the request `kubectl exec` cannot be sent correctly.

When the rules in master's iptables are manually deleted, `kubectl exec` can be executed normally.
[code]

[2021-06-07 00:53] zf930530 opened #338 "[Question]complete yurthub configuration error"
Get an error while deploy yurthub: complete yurthub configuration error, only https scheme is supported for server address(http://127.0.0.1:10261)

**Environment**:
- OpenYurt version:0.4.0
- Kubernetes version (use `kubectl version`):v1.16.9
- OS (e.g: `cat /etc/os-release`):CentOS 7.4
- Kernel (e.g. `uname -a`):3.10.0-1062.9.1.el7.x86_64 #1 SMP Fri Dec 6 15:49:49 UTC 2019 x86_64 x86_64 x86_64 GN

[2021-06-07 01:26] rambohe-ch commented on #338
@zf930530 Thank you for filing issue.
Would you provide complete log information about `yurtctl convert` command?

[2021-06-07 01:26] rambohe-ch commented on #334
/assign @kadisi

[2021-06-07 01:30] rambohe-ch commented on #337
@Peeknut Very appreciate for your issue and troubleshooting.
Maybe we need to add `iptables rule cleanup` in yurt-tunnel-server container postStop, Would you like to take over to improve yurt-tunnel-server?

[2021-06-07 01:53] zf930530 commented on #338
[root@xxxxx openyurt]# _output/bin/yurtctl convert --provider kubeadm
I0607 09:33:04.401518   25284 convert.go:461] kube-public/cluster-info configmap already exists, skip to prepare it
I0607 09:33:04.401604   25284 convert.go:348] deploying the yurt-hub and resetting the kubelet service...
E0607 09:35:04.442528   25284 util.go:318] fail to run servant job(yurtctl-servant-convert-100009-w-z4-1-1):

[2021-06-07 02:09] zf930530 commented on #338
[root@xxxxx openyurt]# _output/bin/yurtctl convert --provider kubeadm
I0607 09:33:04.401518 25284 convert.go:461] kube-public/cluster-info configmap already exists, skip to prepare it
I0607 09:33:04.401604 25284 convert.go:348] deploying the yurt-hub and resetting the kubelet service...
E0607 09:35:04.442528 25284 util.go:318] fail to run servant job(yurtctl-servant-convert-100009-w-z4-1-1): wait

[2021-06-07 02:31] Peeknut commented on #337
👌

[2021-06-07 02:36] zf930530 commented on #338
The configuration file looks weird
config file:/etc/kubernetes/manifests/yurt-hub.yaml

  containers:
  - name: yurt-hub
    image: openyurt/yurthub:latest
    imagePullPolicy: IfNotPresent
    volumeMounts:
    - name: hub-dir
      mountPath: /var/lib/yurthub
    - name: kubernetes
      mountPath: /etc/kubernetes
    command:
    - yurthub
    - --v=2
    - --server-addr=http://127.0.0.1:10261

[2021-06-07 03:00] zzguang commented on #330
Okay, let's follow the golang native rule firstly, if we find it's not enough yet, we can discuss it in future to figure out an unified code style, thanks!

[2021-06-07 03:00] #330 closed

[2021-06-07 06:47] #338 closed

[2021-06-07 06:58] yanyhui opened #340 "Yurtctl adds the parameter enable-app-manager to specify the deployment of yurt app manager."
**What would you like to be added**:
Yurtctl adds the parameter enable-app-manager.

**Why is this needed**:
To specify the deployment of yurt app manager.

**others**
/kind feature

[2021-06-07 07:19] rambohe-ch commented on #340
It's a good idea, agree +1

[2021-06-07 15:45] luckymrwang opened #343 "[feature request]metadata cache path can be configured"
**What would you like to be added**:
The k8s's resource metadata are saved to the fixed path `/etc/kubernetes/cache/`.  I think that it's better to change it according to bootstrap parameter.

**Why is this needed**:
Maybe some user want to save metadata to specified path.

**others**
/kind feature

[2021-06-08 03:17] gaofeng1973 opened #344 "[Question] Need a tutorial / manual of feature `Device Manager`"
What happened:
I saw that in OpenYurt 0.4.0 that the road map already support the `Device Manager`. but I only found the following https://github.com/openyurtio/openyurt/blob/master/docs/proposals/20210310-edge-device-management.md proposal doc on this topic. I would like to try this feature with EdgeX foundry .

What you expected to happen:
Need a tutorial / manual of feature `Device Manager`

Ho

[2021-06-08 05:06] charleszheng44 commented on #344
@gaofeng1973 Thanks for filing the issue. The DeviceManager is still under development. We will add the manual once the feature is ready.

[2021-06-08 05:43] gaofeng1973 commented on #334
Now we can setup the OpenYurt environment  correctly according the manually.

Why we encounter this issue since we have meet the docker's pull image limitation. `You have reached your pull rate limit.`
Even finally we can pull down the image I guess the POD's start/boot sequence of each component will affect the setup result.

I suggest in your tutorial you can add trouble shooting for this condit

[2021-06-08 05:43] gaofeng1973 commented on #334
Close this issue  with above comments

[2021-06-08 05:43] #334 closed

[2021-06-08 08:29] rambohe-ch commented on #343
@luckymrwang Very appreciate for your issue.
It's a good idea to add a parameter for changing root dir of cache in yurthub.
agree + 1

[2021-06-08 08:30] rambohe-ch commented on #343
@luckymrwang Would you like to take over to add this parameter in yurthub?

[2021-06-08 08:38] luckymrwang commented on #343
I am willing to do it. I will create a pr and push the code later.

[2021-06-08 14:44] yanyhui commented on #327
Yurtctl also supports version 1.20.

[2021-06-09 08:45] zf930530 opened #345 "[BUG][tunnel server]After yurt revert,iptables remained"
**What happened**: revert a k8s cluster with tunnel server, iptables with tunnel server does not be removed.

**What you expected to happen**: iptables with tunnel server will be removed.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- OpenYurt version: 0.4.0
- Kubernetes version (use `kubectl version`): 1.16.9
- OS (e.g:

[2021-06-09 12:36] Peeknut commented on #345
Related issues are mentioned in the issue #337, and pr #346.
Suggestions for amendments are welcome. :)

[2021-06-10 07:19] zf930530 opened #347 "[Question]Questions about clusterrolebinding system:controller:node-controller being deleted."
Why was the clusterrolebinding system:controller:node-controller removed when the cluster converted to a yurt cluster?

**What happened**:
After all worker nodes convert to yurt cluster,the deployment(or daemonset) is no longer working, and pods are not automatically deleted or created when deployments are deleted or created.
**What you expected to happen**:
Deployment or DaemonSet can work proper

[2021-06-10 07:43] zf930530 commented on #347
[all_resource.txt](https://github.com/openyurtio/openyurt/files/6629314/all_resource.txt)
[kube-controller-manager.log](https://github.com/openyurtio/openyurt/files/6629315/kube-controller-manager.log)
[yurt-controller-manager-7d4f7df99f-6dhhn.log](https://github.com/openyurtio/openyurt/files/6629316/yurt-controller-manager-7d4f7df99f-6dhhn.log)
[yurt-hub-100178-w-ib-1.log](https://github.com/open

[2021-06-10 09:11] lclxg opened #348 "yurthub can not running successfully when cert-mgr-mode set to "kubelet""
the value of "cert-mgr-node" is hubslef in defalut， I want to test kubelet mode , so modify the yurhub.yml and add environment variable  cert-mgr-node=kubelet，but the yurthub pod can not  running  with the error “panic: runtime error: invalid memory address or nil pointer dereference”

**What you expected to happen**: the yurthub running correctly  with kubelet cert-mgr-mode

**How to reproduce it

[2021-06-10 12:19] jasine commented on #240
we have similar situation and hoping for official support of k3s

[2021-06-11 01:46] rambohe-ch commented on #348
@lclxg Thank you for filing issue.
Would you upload the detail log of yurthub?

[2021-06-11 01:46] rambohe-ch commented on #347
/assign @Peeknut

[2021-06-11 03:33] qclc commented on #348
@lclxg Thanks for reporting the bug. This error occurred in the process of using kubelet.conf to obtain *rest.Config, I will fix it.

[2021-06-11 03:36] qclc commented on #348
/kind bug

[2021-06-11 03:51] Peeknut commented on #347
Can a deplyment/daemonset be created? If the deployment/daemonset can be created, but the corresponding pod is not created, can you check again whether the node yurthub and kubelet are running normally?

[2021-06-11 05:24] zf930530 commented on #347
Deplyment/daemonset can be created and yurthub/kubelet on edgenode running normally.

[2021-06-11 11:54] Peeknut commented on #347
I think there is a problem with `kube-controller-manager` itself.

Compared with my local log:
[kube-controller-manager.log](https://github.com/openyurtio/openyurt/files/6638117/kube-controller-manager.log)
In `kube-controller-manager`, `deployment`, `daemonset`, `replicationcontroller`, etc. are not started, so `deployment` and `daemonset` cannot be created normally.

When using `yurtctl convert`

[2021-06-11 11:56] Peeknut commented on #347
In addition, clusterrolebinding `system:controller:node-controller` is deleted to turn off the `nodelifecycle` function in `kube-controller-manager` and use `yurt-controller-manager` to replace it, so edge node autonomy can be achieved.

[2021-06-11 13:23] lclxg opened #351 "[Question]restart edge node workload does not start successfully Under the condition of no connection with apiServer"
**What happened**:shutdown the master node and restart the edge node but the workload is not running status

**What you expected to happen**:workload is running status when edge node restarted

**How to reproduce it (as minimally and precisely as possible)**:shutdown master node and restart edge node

**Anything else we need to know?**:

**Environment**:
- OpenYurt version: V0.4
- Kubernetes versi

[2021-06-12 01:35] rambohe-ch commented on #351
@lclxg Thank you for filing issue.
Maybe we need more information to get root cause of this question.
1. none of pods are running, or some pods(for example yurthub) are running.
2. would you like to upload detail logs of kubelet in order to locate the reason why can't pod be started?

[2021-06-12 06:14] lclxg commented on #351
yurthub is running

[2021-06-12 06:19] lclxg commented on #351
kubelet logs as follow：
6月 12 14:06:33 m-k8s5 kubelet[1870]: I0612 14:06:33.130471    1870 plugin_manager.go:112] The desired_state_of_world populator (plugin watcher) starts
6月 12 14:06:33 m-k8s5 kubelet[1870]: I0612 14:06:33.130487    1870 plugin_manager.go:114] Starting Kubelet Plugin Manager
6月 12 14:06:33 m-k8s5 kubelet[1870]: E0612 14:06:33.130495    1870 eviction_manager.go:260] eviction ma

[2021-06-12 07:03] yanyhui commented on #337
It is recommended that if the tunnel is installed manually, this process should also be added to the cluster fallback to the initial state.

[2021-06-12 07:46] yanyhui opened #353 "Apply to be the reviewer of openyurt project."
In order to better accompany the growth of openyurt project, I now apply to be the reviewer of openyurt project.

[2021-06-12 08:40] yanyhui commented on #297
@yudar1024 ，Thank you for filing issue.
We have verified that we have supported version 1.20.I can help you modify the local code to achieve.

[2021-06-13 01:31] yanyhui commented on #345
@zf930530 Thank you for putting forward this bug. I also encountered this problem.
The reason for our analysis is that the iptables rule was not deleted when yurtctl revert was executed. We are dealing with it and plan to deal with it in the near future.

[2021-06-15 01:28] zf930530 commented on #347
NAME                                               READY   STATUS    RESTARTS   AGE
kube-controller-manager-100178-m-iz-1-1            1/1     Running   234        6d15h
kube-controller-manager-100178-m-iz-1-2            1/1     Running   224        6d15h
kube-controller-manager-100178-m-iz-1-3            1/1     Running   237        6d15h

I found that in my environment, the kube-controller-manag

[2021-06-15 04:08] rambohe-ch commented on #351
@lclxg Thank you for uploading detail logs.
- reason:
Pods on node can not start because cni network plugin(calico) is not ready,  and calico can not able to running for connection to `10.233.0.1:443` is refused.

- solution:
we need to configure the setting of calico and make sure calico access kube-apiserver through yurthub.  yurthub proxy address is: `http://127.0.0.1:10261`, so calico can be r

[2021-06-15 06:41] Peeknut commented on #347
I think the reason should be the same as you said:

The kube-controller-manager restarted for the first time because the leader changed, and then restarted continuously because of the lack of clusterrolebinding `system:controller:node-controller`.

Now there is no related ability to be repaired Yurt cluster itself. If you want to fix the current problem, you can try:

1) Re-create clusterrolebindi

[2021-06-15 06:48] Peeknut commented on #347
In addition, if you have suggestions for code improvement, welcome to submit pr to fix the problem. :)

[2021-06-15 06:56] #263 closed

[2021-06-15 06:58] rambohe-ch commented on #263
@yingjianjian dummy type network interface has been fixed in pr[#289](https://github.com/openyurtio/openyurt/pull/289)

[2021-06-15 12:38] lclxg commented on #351
@rambohe-ch Thank you for your reply

[2021-06-15 12:51] duanjia85 commented on #300
Orgnization/Company: cmgcloud
Location: shenzhen, China
Contact: duanj001@cmft.com
Purpose/Scenario: Using OpenYurt for managing edge nodes and applications on edge nodes for parking lot.

[2021-06-15 14:46] MIBc commented on #331
How about the `get` performance if there are a lot of resource in cache?

[2021-06-16 09:23] mauricewei opened #355 "[Feature Request]pkg/yurthub/storage/factory/factory.go file is unnecessary"
**What would you like to be added**:
When i view the yurthub code,I find the pkg/yurthub/storage/factory/factory.go file is unnecessary.
For code simplicity, can we remove this file ?
And when other fuction need create a default backend storage directory, we can Just call func disk.NewDiskStorage("") ?

**Why is this needed**:
For code simplicity

**others**
/kind feature

This issue may be fix af

[2021-06-16 09:33] luckymrwang commented on #355
The code may be changed in the [pull request](https://github.com/openyurtio/openyurt/pull/349)

[2021-06-16 09:44] mauricewei opened #356 "[Question]The yurtctl binary file build in macOs can't execute on centos7"
**What happened**:
When i build yurtctl binary file in my macbook:
[code]
And then i copy the file to my test environment(centos7 operating system)
I try to convert my k8s cluster use this binary file, some error happend:
[code]
When i build binary file in centos operating system it works.
READEME is not any reminder content about this problem.

**What you expected to happen**:
Readme docment shou

[2021-06-16 09:47] rambohe-ch commented on #356
/assign @Peeknut

[2021-06-16 10:31] mauricewei commented on #355
Maybe give this fix to me？

[2021-06-16 10:40] gnunu commented on #328
Thanks. The merits to do OpenYurt translation by an Operator is it's a general, automatic and close-loop way in terms of taking care of nodes entering and leaving. I can do some expewriments for getting more details to chat in the meeting.

[2021-06-17 02:35] rambohe-ch commented on #355
@mauricewei Thank you for filing issue.
I think it's need to keep `factory.go` for `factory.go` is used for creating storage for cache container metadata. in the meantime it's convenient to add other kind storage in the future.

by the way, other functions call `disk.NewDiskStorage("")` is used to store yurthub internal info on local disk, and i think it's not conflict with `factory.go`

[2021-06-17 02:44] rambohe-ch commented on #356
@mauricewei Would you like to take over this problem and fix it?

[2021-06-17 02:52] rambohe-ch commented on #351
Now we need to configure the calico daemonset like the following setting.
[code]

and we plan to solve this challenge in next OpenYurt v0.5.0 without configure calico daemonset by instructing Yurthub endpoint info into pods automatically. if you want to contribute this feature,  Please use dingding to contact me.

[2021-06-17 03:15] MIBc opened #358 "[Question]How kube-proxy use yurthub"
/kind question

Can kube-proxy get resources throuth yurthub instead of apiserver？ How does yurthub work for kube-proxy ?

[2021-06-17 03:19] rambohe-ch commented on #358
@MIBc Thank you for filing issue.
Now you need to configure the kube-proxy daemonset like the following setting.
[code]
and we plan to solve this challenge in OpenYurt v0.5.0 without configure kube-proxy daemonset by instructing Yurthub endpoint info into pods automatically. if you want to contribute this feature, Please let me know it.

and we also discuss this feature in issue #351 .

[2021-06-17 03:27] MIBc commented on #358
It a great plan. I'm great to contribute.

[2021-06-17 03:37] rambohe-ch commented on #358
Thank you for your response. how about apply for the OpenYurt Member? and you can set me as sponsor.
apply example like this: https://github.com/openyurtio/community/issues/18

[2021-06-17 06:34] mauricewei commented on #356
@rambohe-ch I am willing to fix it and commit pull request later

[2021-06-17 07:31] lclxg commented on #351
@rambohe-ch  It's a great plan. I'm great to contribute

[2021-06-17 08:11] rambohe-ch commented on #351
@lclxg Would you like to apply a member of openyurt community?  so we can discuss this feature in an openyurt member group before submit feature proposal.

you can make up a issue in [openyurtio/community](https://github.com/openyurtio/community/issues) repo. An issue example: https://github.com/openyurtio/community/issues/18

[2021-06-18 17:12] yixingjia opened #360 "[BUG]Yurt hub keep restarting every few minutes."
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- OpenYurt version: 0.4.0
- Kubernetes version (use `kubectl version`): 1.20.5
- OS (e.g: `cat /etc/os-release`): ubuntu 20.04
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

**others**

/kind bug

one of the exited y

[2021-06-19 09:24] luckymrwang opened #361 "[Question]Listen protocol of yurthub is `http`, why not https"
**What happened**:
The current listen protocol of yurthub is `http`, why not https?

**What you expected to happen**:
calico, kube-proxy and so on accessed apiserver using `https` by default. If they use yurthub will do many change.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
What's the original purpose to use http?

**Environment**:
- Op

[2021-06-20 04:13] Peeknut opened #362 "[REQUEST Membership]: New membership for Peeknut: reviewer of openyurtio/openyurt"
## GitHub Username

Peeknut

## Membership I'm requesting

reviewer

## Sponsors

rambohe-ch

## List of contributions

- PRs reviewed:

  openyurtio/openyurt#352

  openyurtio/openyurt#336

  openyurtio/openyurt#323

  openyurtio/openyurt#306

- PRs authored:

  openyurtio/openyurt#346

  openyurtio/openyurt#317

  openyurtio/openyurt#234

  openyurtio/openyurt#220

  openyurtio/openyurt#206

[2021-06-21 02:26] qclc commented on #361
At present, the communication between yurthub and kube-apiserver uses https, and the communication between local components (such as kube-proxy, calico/flannel) and yurthub is http. Since the communication between yurthub and internal components occurs locally, the original design was http

[2021-06-21 02:36] qclc commented on #361
At present, the communication between yurthub and kube-apiserver uses `https`, and the communication between local components (such as kube-proxy, calico/flannel) and yurthub is `http`.

- Original purpose:  I think it's the communication between yurthub and internal components occurs locally, so the original design was http.
- For network components, openyurt currently uses flannel by default, ju

[2021-06-21 02:57] qclc commented on #361
@rambohe-ch Hi, Does openyurt currently consider replacing the local communication with `https` to adapt to the components that use https communication by default?

[2021-06-21 03:31] rambohe-ch commented on #360
@yixingjia The reason of yurthub restarting seems to be the livenessprobe failure. would you check the liveness setting of yurthub is `http://127.0.0.1:10267/v1/healthz` or not?

and you can check the newest yurthub yaml here: https://github.com/openyurtio/openyurt/blob/master/config/yaml-template/yurthub.yaml#L42

[2021-06-21 03:39] rambohe-ch commented on #362
agree +1
@Peeknut have contributed some valuable pull requests and review comments to OpenYurt. I think @Peeknut will contribute more to OpenYurt when she becomes a Reviewer, so i like to support the reviewer request.

[2021-06-21 04:03] rambohe-ch commented on #361
@luckymrwang Thank you for your question.
To be frankly, the original purpose of using `http` more simpler. and `https` is more useful and smoothly for edge workload to  access yurthub. Would you like to take over to support https for yurthub?

[2021-06-21 06:01] kadisi commented on #362
agree +1

[2021-06-21 06:06] #340 closed

[2021-06-21 06:50] Fei-Guo commented on #362
+1

[2021-06-21 07:33] yixingjia commented on #362
+1

[2021-06-21 07:54] rambohe-ch commented on #362
@Peeknut Congratulations on becoming a Reviewer for the OpenYurt project, I will approve the pull request #363 and then close this issue.

[2021-06-21 08:00] #362 closed

[2021-06-21 10:16] luckymrwang commented on #361
@qclc  I got it. Thanks for your replay.

[2021-06-21 10:18] luckymrwang commented on #361
Yes, I'd like to do it.

[2021-06-21 10:18] luckymrwang commented on #361
@rambohe-ch Yes, I'd like to do it.

[2021-06-22 03:01] #333 closed

[2021-06-22 08:00] Windrow commented on #360
@rambohe-ch @yixingjia

Should definition of YurthubTemplate

[code]

in openyurt/pkg/yurtctl/util/edgenode/common.go be aligned with openyurt/config/yaml-template/yurthub.yaml?
I encountered servant's kubelet restart issue. It recovers if I use the one based on template file instead of the one created by v0.4.0 based on this definition in common.go.

[2021-06-22 08:25] #343 closed

[2021-06-22 10:15] gaofeng1973 commented on #360
yes, when we using command line tool `yurtctl` to convert the cluster into OpenYurt environment, it always failed. and We found in this code openyurt/pkg/yurtctl/util/edgenode/common.go  has missing some volume configures.

Could you fix this issue or we will submit a patch on this?

Regards

[2021-06-22 12:26] JameKeal commented on #300
Ping An Technology (Shenzhen) Co., Ltd.

[2021-06-23 02:18] Windrow opened #367 "[BUG] Edgenode Turns to NotReady, kubelet on It Restart Rapidly"
**What happened**:

After executing `_output/local/bin/linux/amd64/yurtctl convert --provider kubeadm --cloud-nodes master` on master node of an established Kubernetes cluster of two nodes, all pods are pulled and started as expected, but the status of the edge node turns to `NotReady`. Check kubelet's log with `journalctl -xeu kubelet` on that device, we can see kubelet keep restart every few min

[2021-06-23 02:24] Windrow commented on #360
https://github.com/openyurtio/openyurt/issues/367

Just opened another ticket to follow.
I will try to modify `openyurt/pkg/yurtctl/util/edgenode/common.go` according to template file locally, and commit a patch if necessary.

[2021-06-23 02:37] Windrow commented on #367
apiVersion: v1							apiVersion: v1
kind: Pod							kind: Pod
metadata:							metadata:
  labels:							  labels:
    k8s-app: yurt-hub						    k8s-app: yurt-hub
  name: yurt-hub						  name: yurt-hub
  namespace: kube-system					  namespace: kube-system
spec:								spec:
  volumes:							  volumes:
  - name: pki						      |	  - name: hub-dir
    hostPath:							    hostPath:
      path: __pki_

[2021-06-23 02:41] Windrow commented on #367
![yurthub_yaml](https://user-images.githubusercontent.com/25237365/123026883-7e178280-d40f-11eb-9b69-d7555589194e.png)

[2021-06-23 02:42] rambohe-ch commented on #367
@Windrow Thank you for filing issue.
Would you be able to upload the `/etc/kubernetes/manifests/yurt-hub.yaml` created by openyurt/yurtctl-servant?

[2021-06-23 02:49] rambohe-ch commented on #360
@gaofeng1973 Thank you for response,  Very appreciate you to submit a path to solve it.

[2021-06-23 02:49] rambohe-ch commented on #361
/assign @luckymrwang

[2021-06-23 03:27] Windrow commented on #367
@rambohe-ch

[code]

I believe it is created based on `common.go`.

[2021-06-23 04:00] Windrow commented on #367
[code]

[2021-06-23 05:25] gaofeng1973 commented on #360
@rambohe-ch

Got it and thanks. Windrow will submit a patch .
Regards

[2021-06-23 07:39] rambohe-ch commented on #367
@Windrow Thank you for uploading detail logs.
would you check that yurt-hub pod have running or not?

[2021-06-23 09:30] Windrow commented on #367
@rambohe-ch

The pod is running, but has many errors.
[code]
---

@rambohe-ch

I did some further investigation today, I found that files in `/var/lib/yurthub/` are not updated, they are still files created few weeks ago, thus we have certification problem.

I guess my proposal before to align `common.go` to template file was kind of a walk-around, to use `/etc/kubernetes/pki` instead of what we h

[2021-06-24 03:24] Windrow commented on #367
[code]

[2021-06-24 04:09] Windrow commented on #367
Hi, @rambohe-ch

It is clear to me now. `/var/lib/yurthub/` was not updated due to the existence of old files.

Two questions to discuss now.

- Can we overwrite ca files when they already exist? For any concern that we keep the old one?

- Is there a way to reset an offline node locally separately? `yurtctl revert` command works only on online nodes. If I reset the offline node with `kubeadm rese

[2021-06-24 15:08] MIBc commented on #360
/assign @Windrow

[2021-06-25 03:07] mauricewei commented on #355
@rambohe-ch Agreen with

[2021-06-25 03:07] #355 closed

[2021-06-25 04:17] Windrow commented on #360
https://github.com/openyurtio/openyurt/pull/370

[2021-06-25 04:20] Windrow commented on #367
I submitted a pull request of aligning common.go to template file. It covers this issue anyway.

What should we do about `/var/lib/yurthub/`? Anyone has any idea?

[2021-06-28 09:56] rambohe-ch commented on #367
@Windrow I'm very sorry for later feedback.

The files under `/var/lib/yurthub` are created by yurt-hub when convert the node at the first time.
and will be re-used by yurt-hub for avoiding duplicated creation and creation failure when cloud-edge network disconnected.
so it's not recommend to overwrite files under `/var/lib/yurthub`.

if old files under `/var/lib/yurthub` dir have effected the yur

[2021-06-28 10:00] rambohe-ch commented on #367
Now, we need to delete the `/var/lib/yurthub` manually.

by the way,  maybe we need to check the  validity of the old files under `/var/lib/yurthub` before re-use the old files.

[2021-06-28 12:47] Windrow commented on #367
Sorry, but the creation of what here?

Yes. Maybe a timeout or a retry limit will do?

[2021-06-30 09:29] Windrow commented on #367
[code]

[2021-07-01 03:35] rambohe-ch opened #372 "[feature request] Support InClusterConfig for pods to access kube-apiserver through yurt-hub on edge nodes"
**What would you like to be added**:
1. Many users in OpenYurt community have requested that support InClusterConfig for pods to access kube-apiserver through yurt-hub on edge nodes. so pods on cloud can move to edge cluster smoothly.
2. And based on [InClusterConfig](https://github.com/kubernetes/client-go/blob/master/rest/config.go#L483), pods will use address `https://${KUBERNETES_SERVICE_HOST}

[2021-07-02 09:34] Windrow commented on #367
@rambohe-ch

Sorry that I forgot to ping you XD

"Duplicated creation" of what you mentioned there?

[2021-07-02 11:08] DrmagicE opened #376 "[BUG] Unable to re-convert the cluster after executing yurtctl revert."
**What happened**:
I ran `yurtctl convert` to convert the cluster to yurt cluster. As I forgot to pass `--kubeadm-conf-path` flag and the default value is not suitable for my environment, I stop `yurtctl convert` by ctrl+C and then ran `yurtctl revert` to revert it.
After the revert process was done, I ran `yurtctl convert --kubeadm-conf-path=xxx` again, but got the following error:
[code]
I have

[2021-07-05 01:37] Peeknut commented on #376
Yes,  `yurtctl revert` responsible for `yurt-app-manager` cleanups is still being updated, which is handled by @yanyhui.

[2021-07-06 07:43] SataQiu opened #377 "[BUG] tunnel-agent crashes when the local certificate can not be loaded correctly"
**What happened**:
For some reason, the local certificate file may be corrupted.
At this point, the tunnel-agent cannot automatically restore the damaged certificate file and continues to crash.

**What you expected to happen**:
The tunnel-agent can restore the damaged certificate file automatically and work well.

**How to reproduce it (as minimally and precisely as possible)**:
1. clean the cont

[2021-07-07 08:49] zf930530 opened #379 "[Question]How to collect metrics of edgenode by metrics-server and yurt-tunnel-server?"
**What happened**:
Execute: kubectl top node
[root@xxx]# kubectl top node
NAME              CPU(cores)   CPU%   MEMORY(bytes)   MEMORY%
m-iz-1-1           100m         5%     2277Mi          76%
m-iz-1-2           131m         7%     2248Mi          75%
m-iz-1-3           104m         5%     2424Mi          81%
w-ib-1               39m          2%     1762Mi          54%
w-ib-2               57m

[2021-07-07 08:58] #347 closed

[2021-07-07 08:58] #345 closed

[2021-07-09 08:22] rambohe-ch commented on #367
@Windrow  Very sorry for late feedback.
The meaning of `duplicated creation` is that overwrite files under `/var/lib/yurthub` dir.

I think that if `server` address in `/var/lib/yurthub/yurthub.conf` file is changed, we can overwrite files under `/var/lib/yurthub` dir because the node maybe connected to other kube-apiserver before and files under `/var/lib/yurthub` is not cleanuped.

[2021-07-09 08:25] rambohe-ch commented on #367
if `/var/lib/yurthub/pki/ca.crt` file is ready, we only re-use it instead get it from kube-apiserver again and overwrite it.
because we may not able to get it from kube-apiserver for cloud-edge network disconnected.

[2021-07-09 08:31] rambohe-ch commented on #376
@Peeknut Would you take over this issue and fix the kube-controller-manager setting?

[2021-07-09 08:38] JameKeal opened #380 "[BUG] flannel not success when convert k8s"
**What happened**:
I just have a k8s master node, and convert it, after that I create a k8s node using kubeadm join the cluster, the flannel pod is failed, even if convert to edgenode, the flannel pod is still failed.

**What you expected to happen**:
flannel is success when convert finish.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

flannel error:
[code]

controller

[2021-07-09 08:41] Peeknut commented on #376
OK

[2021-07-09 08:41] Peeknut commented on #376
ok

[2021-07-09 09:22] Windrow commented on #367
@rambohe-ch No problem.

What is the expected user behavior to reset a yurt cluster? `yurtctl revert`, then `kubeadm reset`?

I was considering to remove `/var/lib/yurthub` when `yurtctl revert`. If users behave beyond expectation, then they should take responsibility, removing files manually by themselves.

`ca.crt` is possible to be different when address stays the same. Reset the cluster and es

[2021-07-13 06:08] rambohe-ch commented on #377
@SataQiu Very appreciate for considering certificate unexpected situation and making a solution for the bug.

[2021-07-13 08:02] rambohe-ch commented on #379
@zf930530 Thank you for filing issue.
Metrics-server and yurt-tunnel-server have run on same node?

and you want to dive into the details of yurt-tunnel, you can read the link here: https://mp.weixin.qq.com/s/QVrygAyq01AWbvgj1ihBEQ

[2021-07-13 08:08] #348 closed

[2021-07-13 09:00] Peeknut commented on #380
ok, I will take over it.

[2021-07-15 05:31] #379 closed

[2021-07-15 07:43] konghui opened #382 "[BUG] default yurt-tunnel-agent.yaml is invalid if chose manual install openyurt"
**What happened**:
`yurt-tunnel-agent` can't connect to `kube-apiserver` and yurt-tunnel-agent display has not permission to list/watch/create resources.
**What you expected to happen**:
yurt-tunnel-agent can start correctly.
**How to reproduce it (as minimally and precisely as possible)**:
`kubectl apply -f config/setup/yurt-tunnel-agent.yaml`
**Anything else we need to know?**:

**Environment**:

[2021-07-15 07:51] konghui opened #384 "[BUG] cannot create certificate signing request: Post https://xx/apis/certificates.k8s.io/v1beta1/certificatesigningrequests: x509: certificate signed by unknown authority"
**What happened**:
manual install yurthub  it display this error:
[code]
after solve this. it show
[code]

**What you expected to happen**:
yurthub start correctly
**How to reproduce it (as minimally and precisely as possible)**:
kubectl apply -f config/setup/yurthub.yaml
**Anything else we need to know?**:

**Environment**:
- OpenYurt version:
- Kubernetes version (use `kubectl version`):
- OS (e

[2021-07-15 08:05] konghui commented on #384
Problem one is:  user should `--join-token=$bootstraptoken` on the yourthub.
Problem two is :If user chose manual install `openyurt` with self sign certificate. User should make sure `CA` certificate locate in  `/var/lib/yurthub/pki/ca.crt`.

[2021-07-15 13:16] DreamEagle0 commented on #384
Hi @konghui
Since yurthub is deployed as static pod, I think you should not deploy it by running `kubectl apply -f` or change it to daemonset. Instead, you should put the yaml file in edgenode static pod path (default: /etc/kubernetes/manifests).

[2021-07-19 02:58] dingsihua opened #385 "[feature request] Openyurt does not support k8s-1.19 version, but our product use k8s-1.19 version, we need openyurt supporting k8s-1.19 version, thanks a lot!"
https://github.com/openyurtio/openyurt/blob/02a5cfb4f9f0c9e1757457068e7a58d4de1321f4/pkg/yurtctl/util/kubernetes/util.go#L84

[2021-07-19 03:22] konghui commented on #384
Ok thanks.

[2021-07-21 13:45] rambohe-ch commented on #385
@dingsihua Thank you for filing issue.
I think that openyurt components can work with kubernetes v1.19 version , but we have not checked kubernetes v1.19 carefully,  so version v1.19 is not added into supported version list. maybe you can revise the `ValidServerVersions` and add v1.19, then make up a new yurtctl tool and run convertion.

[2021-07-23 08:02] wenjun93 opened #390 "[feature request] united-service among nodepools"
**What would you like to be added**:
As yurt-app-manager supports high-level apis to deploy workloads(deployments/daemonsets) in nodepools, we might also need a high-level service api, which can be called united-service, it works by create/delete services to each nodepool.
[code]

after apply the spec, services are expected to be automatically created, each service selects backends in correspondin

[2021-07-23 08:40] zzguang commented on #390
Thanks wenjun for filing this feature request.
Let's take ingress as an example, when ingress controller is deployed to multi nodepools, an ingress controller service needs to be exposed for each nodepool, through the united-service CRD+controller, user can easily accomplish the purpose.
Otherwise, user needs to create the service one by one or we need to implement an ingress specific sidecar to h

[2021-07-23 12:05] Peeknut opened #391 "[BUG]How `yurtctl convert` can better close the `nodelifecycle controller` (`kube-controller-manager`)?"
**What happened**:
When excuting the command `yurtctl convert`,  the clusterrolebinding `system:controller:node-controller` will be deleted to turn off the `nodelifecycle controller` (in `kube-controller-manager`).
However, the flowing questions will appear afterwards:
- Other controllers using clusterrolebinding `system:controller:node-controller` can't work normally.
  eg: issue: https://github.

[2021-07-23 12:06] Peeknut commented on #391
If there are better solutions or suggestions, comments are welcome :)

[2021-07-24 09:08] yanyhui opened #392 "Yurtctl revert adds the function of deleting yurt app manager."
**What would you like to be added**:
 Yurtctl revert adds the function of deleting yurt app manager.

**Why is this needed**:
Perfect function.

**others**
/kind feature
development function.

[2021-07-26 10:38] huang12zheng commented on #156
May have nothing to do with the issue, but it's also an idea or sumup.

registry or whatever registry that could not throttle back the download rate

Personally, if there are many nodes, there should be an edge Registry first.
In this context,The image is first delivered from the cloud to the edge Registry, and then the node on the edge retrieves the image from the edge Registry

Of course, I thin

[2021-07-28 06:51] rambohe-ch commented on #392
agree +1

[2021-07-28 06:55] rambohe-ch commented on #391
@Peeknut Thank you filing issue.
We also need to add some tutorial document to introduce how to modify `kube-controller-manager` setting manually by user.

[2021-07-28 07:02] rambohe-ch commented on #390
@wenjun93 Why not share one common service by all deployments in different nodePools? would you give some details cases.

[2021-07-28 07:27] rambohe-ch commented on #382
@kong Thank you for filing issue.
Would you be able to upload the detail logs of yurt-tunnel-agent?

[2021-07-28 07:35] rambohe-ch commented on #384
We have configured `RBAC` setting in default `config/setup/yurthub.yaml`. if you have any problems with yurthub, please let me in any way.

[2021-07-28 07:37] rambohe-ch commented on #372
added comments:
sub feature2 have fixed by https://github.com/openyurtio/openyurt/pull/394

[2021-07-28 07:41] rambohe-ch commented on #367
we will add `yurtctl reset` command to cleanup edge node at soon. you can reference the proposal here: https://github.com/openyurtio/openyurt/pull/341

[2021-07-28 08:53] huangyuqi commented on #390
@zzguang @wenjun93 Thanks for the feature request.
From the description, I got the purpose of creating independent service for every nodepool, is just to limit the access scope.(IOW, If we can access a service from the outside of one pool or not ). If so, we can reuse the ability of data filtering in edgehub, to make the kubeproxy just forwarding the request to endpoint which belongs to a specifie

[2021-07-28 08:54] huangyuqi commented on #390
@zzguang @wenjun93
From the description, I got the purpose of creating independent service for every nodepool, is just to limit the access scope.(IOW, If we can access a service from the outside of one pool or not ). If so, i think we can reuse the ability of data filtering in edgehub, to make the kubeproxy just forwarding the request to endpoint which belongs to a specified pool.

[2021-07-29 02:49] zzguang commented on #390
Thanks for your suggestion.

[2021-07-29 08:59] LindaYu17 opened #400 "[feature request] How about implementing an application load balancer for OpenYurt?"
**What would you like to be added**:

An application load balancer that handles requests taking consideration of the current loads (CPU/MEM/GPU/...) of cluster.

**Why is this needed**:

To get good performance and optimal utilization of nodes.

**others**
/kind feature

[2021-07-29 12:41] #328 closed

[2021-07-29 12:46] rambohe-ch commented on #400
@LindaYu17 Thank you for filing issue.

application load balancer is used for pods on edge node or used for kube-apiserver on master nodes? would you describe load balancer requirements in more detail?

[2021-07-30 03:53] LindaYu17 commented on #400
It is used for pods on edge node.

Existing load balancer in K8S are mainly distributing requests from user by traffic randomly, the application load balancer I mentioned here should be able to distribute requests according to current system conditions and user defined rules. When the workloads the client requests for are sustaining resource/time consuming, such as video analytics, cloud gaming...

[2021-07-30 05:40] #391 closed

[2021-07-30 06:21] #361 closed

[2021-08-04 04:04] wenjun93 commented on #390
@huangyuqi  For the case of exposing nodepool service to external client(outside nodepool or cluster), we can use NodePort or LoadBalancer service with either externalIP or nodeIp.
for nodeIp, it's not reflected in service spec, it's better way to leverage existing filtering ability of edgehub, user should be aware of the nodeips in each nodepool, and access them as entrypoint.
for externalIPs, it

[2021-08-04 04:09] wenjun93 commented on #390
After discussion, the temporary conclusion is yurt-app-manager support the service template in workload api, if it comes more use case in the future, we can extract it out as a standalone api.

[2021-08-06 03:11] #325 closed

[2021-08-06 07:05] #337 closed

[2021-08-09 06:59] rambohe-ch commented on #400
@LindaYu17 Thank you for feedback.
In K8s ecosystem, `Service` is used as load balancer for pods on nodes. Do you have ideas that how to integrate k8s `service` with application load balancer?

[2021-08-09 07:00] rambohe-ch commented on #385
@dingsihua Would you make a pull request to revise the `supported version list` and add v1.19

[2021-08-09 09:24] rambohe-ch opened #409 "[yurt-tunnel]user can specifies the certificate directory"
**What would you like to be added**:
At present, the certificate directory for yurt-tunnel components is fixed as following:
- yurt-tunnel-server: /var/lib/yurt-tunnel-server/pki
- yurt-tunnel-agent: /var/lib/yurt-tunnel-agent/pki

I'd like to add a parameter for yurt-tunnel to specify certificate directory, so certificates can be managed according to the actual situation of the user.

**Why is th

[2021-08-09 10:01] rambohe-ch opened #410 "[yurt-tunnel]improve the usage of certificates"
**What would you like to be added**:
There are no restrictions on the use of yurt-tunnel certificates, the code reference is:
https://github.com/openyurtio/openyurt/blob/master/pkg/yurttunnel/pki/certmanager/certmanager.go#L147-L149
[code]
we need to specify the usage of certificates of yurt-tunnel components clearly.

**Why is this needed**:
In order to reduce the risk of certificate safety,  It'

[2021-08-09 12:43] rambohe-ch opened #411 "[yurt tunnel] when the service address of yurt-tunnel-server changed, the certificate of yurt-tunnel-server can be updated automatically"
**What would you like to be added**:
if the service address(the type of `x-tunnel-server-svc` service is LoadBalancer) is changed, the original server certificates can not be serve https request because server address changed.

![image](https://user-images.githubusercontent.com/57081505/128706979-8b39632a-2e65-4d53-9dc2-d21bf93d2501.png)

we wanted to improve yurt-tunnel-server to automatically up

[2021-08-09 12:49] rambohe-ch opened #412 "[yurt tunnel]yurt-tunnel-agent can connect the new address of yurt-tunnel-server when service address changed."
**What would you like to be added**:
when the yurt-tunne-server service address changed, yurt-tunnel-agent can use the new service address to re-connect yurt-tunnel-server automatically.

**Why is this needed**:
This issue comes from #411 , when the service address of yurt-tunnel-server changed, connection between yurt-tunnel-agent and yurt-tunnel-server will be broken. At present, we need to rest

[2021-08-09 12:56] rambohe-ch opened #413 "[yurt tunnel]support the EgressSelector feature of kube-apiserver in yurt-tunnel"
**What would you like to be added**:
Support the EgressSelector feature of kube-apiserver in yurt-tunnel-server, so kube-apiserver can use EgressSelector feature to access kubelet through yurt-tunnel in OpenYurt cluster.

**Why is this needed**:
EgressSelector feature of kube-apiserver will be enabled by default in future k8s version. so yurt-tunnel should support EgressSelector feature.

And the

[2021-08-09 13:02] rambohe-ch opened #414 "[yurt tunnel]support proxy https request from cloud to edge through yurt-tunnel"
**What would you like to be added**:
Yurt-tunnel components can proxy https request from cloud to edge nodes, so user from the cloud can access the https service at the edge through yurt-tunnel.

**Why is this needed**:
Some cloud-native ecosystem components(like Node Exporter) serve https requests at the edge, in order to support prometheus collect metrics of node-exporter, we need to support pro

[2021-08-09 13:16] rambohe-ch opened #415 "[yurt tunnel]support proxy nodeIP:port request to access 127.0.0.1 address on the edge"
**What would you like to be added**:
Support to switch http request host from nodeIP to localhost for specified ports after backend agent selected, so yurt-tunnel can proxy `nodeIP:port` http(s) requests to `127.0.0.1` on the edge.

**Why is this needed**:
Some components on the edge serve metrics at 127.0.0.1 address for security consideration, but prometheus usually use NodeIP:Port to collect co

[2021-08-09 13:21] rambohe-ch opened #416 "[yurt tunnel]welcome add unit testcases for yurt-tunnel components."
**What would you like to be added**:
To add unit test cases for yurt-tunnel is a good way to understand specified components.
welcome to add test case for any small or big functions.

**Why is this needed**:
improve the reliability of yurt-tunnel.

**others**
/kind feature

[2021-08-09 13:25] rambohe-ch opened #417 "[yurt tunnel]Add a doc of prometheus collects node metrics on the edge through yurt-tunnel"
**What would you like to be added**:
We need to tutorial that describe how to setup prometheus collects node metrics on the edge through yurt-tunnel.

**Why is this needed**:
make up a doc: best practice of prometheus collect metrics on the edge.

**others**
/kind documentation

[2021-08-09 13:32] rambohe-ch opened #418 "[yurthub] add unit test cases for data filtering framework"
**What would you like to be added**:
Data filtering framework is elegant feature of yurthub, we have added proposal doc and code in the following pull requests.
- https://github.com/openyurtio/openyurt/pull/388
- https://github.com/openyurtio/openyurt/pull/394

we want to add some unit test cases for functions in this framework, and you will dive into the detail design and codes of this feature.

[2021-08-09 13:38] rambohe-ch opened #419 "[refactor]extract the certificate manager of yurthub and yurt-tunnel as util functions."
**What would you like to be added**:
Both yurthub and yurt-tunnel have certificate manager, we can unify the certificate manager as util functions.

**Why is this needed**:
reduce the complexity of OpenYurt project.

**others**
/kind feature

[2021-08-09 15:15] ZBoIsHere commented on #414
@rambohe-ch  what's the form of request, like curl svcname.svcnamespace:port the same as kubernetes service?

[2021-08-10 02:55] rambohe-ch commented on #414
Like prometheus collects node-exporter metrics requests: https://nodeIP:9100/metrics

[2021-08-10 03:29] ZBoIsHere commented on #414
ok, does it require cloud access to edgeNodeIP？because edgenode usually don't have public ip

[2021-08-10 03:44] rambohe-ch opened #420 "[yurthub]improve the healthy check mechanism when kubelet's heartbeat stopped"
**Healthy check background**
In order to improve the healthy check efficiency, yurthub makes `NodeLease` request to check, at the same time `NodeLease` request is used as heartbeat of edge node. so kubelet's `NodeLease` request is intercepted by yurthub and return local nodeLease back to kubelet.

**What would you like to be added**:
If kubelet component down, yurthub should stop to send `NodeLeas

[2021-08-10 04:36] gnunu commented on #400
Sounds App LB is a kind of enhancement to K8s Service? The two components have some overlap in terms of doing reverse proxy for incoming requests. However, for ALB, user can add rules through API (CR) to explicitly specify how to do load balancing, such as what devices to prioritize, what algorithm to use, etc. For scenarios like numrous channels of video analytics, dispaching requests to right no

[2021-08-10 06:28] rambohe-ch commented on #414
Edge nodes do not need public ip, but edge nodes are able to access public network for setting up network connection between yurt-tunnel-agent and yurt-tunnel-server, and requests from cloud to edge nodes will go through this connection.

[2021-08-10 06:38] rambohe-ch opened #421 "[yurthub]improve list/watch node pool resource in serviceTopology filter."
**What would you like to be added**:
Improve list/watch node pool resource, only list/watch the node pool instance which the edge node belongs to.

**Why is this needed**:
In order to reduce the network traffic between cloud and edge.

**others**
/kind feature

[2021-08-10 06:47] rambohe-ch commented on #400
@LindaYu17 Based on the above the comments from you and @gnunu , application load balancer sounds like a valuable feature in the edge scenario.
Would you like to make a proposal of application Load Balancer? so we can make a detailed discussion about it based on the proposal.

[2021-08-11 06:33] Peeknut opened #423 "[yurtctl] Conversion job template modification"
**Background**:
yurtctl convert/revert issues Job tasks to convert nodes. Jobs enter the host's file system through `nsenter` to modify the files on the host, which can refer to the file `pkg/yurtctl/constants/constants.go`.

**What would you like to be added**:
1.In order to limit the scope of files modified by yurtctl, modify the way yurtctl manipulates host files, that is, not to use `nsenter`.

[2021-08-11 06:50] Peeknut opened #424 "[yurtctl] Disable the nodelifecycle-controller if kube-controller-manager deployed in other ways except static pod"
**Background:**
OpenYurt uses the `nodelifecycle-controller` in `yurt-app-manager ` to replace it in `kube-controller-manager` to manage the node life cycle to achieve edge autonomy. Therefore, we need to close the `nodelifecycle-controller` in kube-controller-manager.

**What would you like to be added**:
When kube-controller-manager is not deployed as a static pod, `yurtctl convert/revert` can a

[2021-08-11 07:00] LindaYu17 commented on #400
sure, we are preparing ALB proposal right now, and will submit once it is done.

[2021-08-11 07:10] Peeknut opened #425 "[yurtctl] Refactor yurtctl: Separate the image used by the conversion job from yurtctl"
**Background:**
During yurtctl conversion, the Job will be issued to the cloud and edge nodes. The edge node will start yurthub, modify the kubelet configuration, etc. And the cloud node will modify the kube-controller-manager configuration. The image used by these jobs (`pkg/yurtctl/constants/constants.go`) is yurtctl binary file.

**What would you like to be added**:
Decouple the image used by t

[2021-08-11 13:06] luckymrwang commented on #409
I will take over this issue.

[2021-08-12 03:01] rambohe-ch commented on #409
/assign @luckymrwang

[2021-08-12 03:02] rambohe-ch commented on #421
/assign @neo502721

[2021-08-12 03:13] felix0080 commented on #420
I want to do some things of this, can you assign to me ?

[2021-08-12 05:57] rambohe-ch commented on #420
/assign @felix0080

[2021-08-12 07:43] #367 closed

[2021-08-12 08:03] SataQiu opened #426 "[BUG] kubelet failed to list services through yurthub"
**What happened**:
When I add the edge node to a v1.16.9 kubernetes cluster, I found that the kubelet can not list services from cluster correctly.
The kubelet error message is as follows:
[code]

The yurthub error message is as follows:
[code]

**What you expected to happen**:

kubelet can list services through yurthub correctly.

**How to reproduce it (as minimally and precisely as possible)**:

[2021-08-12 09:07] SataQiu opened #427 "[Feature] Introduces one basic implementation of an OpenYurt Operator"
**What happened**:
Recently, I implemented a basic OpenYurt Operator https://github.com/SataQiu/openyurt-operator
It satisfies most of our previous proposal https://github.com/openyurtio/openyurt/blob/master/docs/proposals/20210722-yurtcluster-operator.md, but some things are not quite the same.

The CRD defined in: https://github.com/SataQiu/openyurt-operator/blob/master/api/v1alpha1/yurtcluster_

[2021-08-12 09:10] SataQiu commented on #427
/cc @gnunu @lindayu17 @rambohe-ch @guofei @kadisi @wenjun93

[2021-08-12 09:12] rambohe-ch commented on #426
@SataQiu Thank you for filing the issue.
At first, this issue is known bug, you can add the right rbac settings for `system:nodes` group to avoid this error. because yurthub has used `system:nodes` rights to proxy requests to kube-apiserver.

And maybe yurthub can resolve the token from client request `Authorization: Bearer xxx`  header and use the token to reconstruct yurthub client to access kub

[2021-08-12 09:26] SataQiu commented on #427
Ref: #328

[2021-08-12 09:47] gnunu commented on #427
so amazing to know that an implementation rolled out so quickly!
@SataQiu,
as @rambohe-ch suggested in DingTalk group, I think it's good to merge the code to Openyurt repo, how do you think?

[2021-08-12 12:56] SataQiu commented on #426
@rambohe-ch
This looks like a problem with the resource filter.
If I set `--enable-resource-filter=false`, `kubelet` then can list services correctly.

[2021-08-12 13:02] rambohe-ch commented on #426
@SataQiu Thank you for your feedback.
you get the correct reason. and `resource filter` can be enabled above kubernetes v1.18.

[2021-08-13 07:55] neo502721 commented on #421
hi@rambohe-ch, I am trying add TweakListOptions to the Openyurt SharedInformer. But the LabelSelector confulse me. Is the edge nodepool's lable is "default-edge-nodepool=true"?

[2021-08-15 08:56] rambohe-ch commented on #421
@neo502721 you can get nodePool name from node labels "apps.openyurt.io/nodepool", and you can reference the code here: https://github.com/openyurtio/openyurt/blob/master/pkg/yurthub/filter/servicetopology/handler.go#L167

and you need to add TweakListOptions to the NodePool SharedInformer after node has synced.

[2021-08-16 06:46] zf930530 opened #428 "[BUG]yurtctl convert command line option --yurt-app-manager-image not in effect"
yurtctl convert --enable-app-manager --yurt-app-manager-image xxxxxx
yurtctl convert command line option --yurt-app-manager-image not in effect.
Line 654 and line 666 in pkg/yurtctl/constants/yurt-app-manager-tmpl.go is not defined as template variable.
**others**

/kind bug

[2021-08-16 07:13] rambohe-ch commented on #428
@zf930530 Thank you for filing issue.
Would you like to take over to solve this bug?

[2021-08-16 07:14] rambohe-ch commented on #428
@yanyhui Do you have any comments?

[2021-08-17 06:35] rambohe-ch commented on #421
@neo502721 How about define the new parameter name of yurthub is `--nodepool-name`?

[2021-08-17 07:17] neo502721 commented on #421
Do you means add a new parameter named `nodepool-name` to yurthub  in the convert process?

[2021-08-17 07:29] rambohe-ch commented on #421
Only add `nodepool-name` parameter for yurthub and optimize nodepool list/watch in serviceTopology in yurthub.
I think that we can keep the yurtctl without modification.

[2021-08-17 07:32] rambohe-ch commented on #421
@neo502721 LabelSelector can be set as `--labelSelector=metadata.name={nodePool-name}` and you can get nodePoolName from yurthub startup parameter.

[2021-08-23 12:32] SataQiu opened #432 "[BUG] yurthub cannot work correctly in k8s 1.20 cluster"
**What happened**:
The following error occurred：
[code]

**What you expected to happen**:

Yurthub can support k8s 1.20.

**How to reproduce it (as minimally and precisely as possible)**:
Install `yurthub` and enable `resource filter` in k8s 1.20 cluster.

**Anything else we need to know?**:

**Environment**:
- OpenYurt version: 0.4.1
- Kubernetes version (use `kubectl version`): 1.20
- OS (e.g: `

[2021-08-23 12:48] SataQiu commented on #432
Ref: #426

[2021-08-24 09:41] rambohe-ch commented on #432
@SataQiu Thank you for filing issue.
It's like that yurthub has not enough rbac rights, would you add the  list/watch/get `nodepools.apps.openyurt.io` resource rights for `system:nodes` group and have a try?

[2021-08-25 09:28] kadisi opened #433 "[Vote] About the naming of UnitedDaemonset"
**What happened**:

Recently we are working on a proposal for UnitedDaemonset ,however, the naming of UnitedDaemonset maybe lead to some misunderstandings ( ref #422 ).  So we need to revisit this naming problem。

**What you expected to happen**:

Here are two names for your vote：

- UnitedDaemonset
   UnitedDaemonset follows the previous definition of UnitedDeployment。

- NodePoolDaemonset
   Nod

[2021-08-25 09:35] huangyuqi commented on #433
UnitedDaemonset +1

[2021-08-25 09:35] rambohe-ch commented on #433
@kadisi I think that other names are welcome.

[2021-08-26 14:29] tiezhuoyu opened #436 "[Question] Can multi edge nodes in same region share one tunnel agent?"
/kind question

Hi, I found a document 'https://blog.csdn.net/yunqiinsight/article/details/109637353' about tunnel tech of openyurt.
![图片](https://user-images.githubusercontent.com/25275281/130979941-90a22ebe-4d9e-426b-bf00-fbe8bb5a5b30.png)
Does it mean that several edge nodes in the same region share one tunnel agent, and we do not need to execute a tunnel agent for each edge node?  If so, is th

[2021-08-28 02:19] zzguang commented on #433
Echo to @Fei-Guo to define the names from the app level, which seems to be a higher level abstraction.
What's more, it makes the native service template support becomes to be more reasonable than before.
To cover the close relationship between the app and the nodepool, I recommend another candidate for your reference:
    UnitedDeployment -> NodePoolAppSet
    UnitedDaemonSet -> NodePoolAppDaemon

[2021-08-30 09:13] Baoqiang-Zhang commented on #436
Good question, I'm also looking for this feature.

[2021-08-31 00:56] tiezhuoyu opened #439 "[Question] Are all messages transmitted through the tunnel?"
/kind question
Are all messages transmitted through the unnel?  Or just part of them such as logs and exec message? Thank you.

[2021-08-31 02:42] rambohe-ch commented on #433
@Fei-Guo @zzguang In my opinion, compared with `YurtAppSet` and `YurtAppDaemon`, `NodePoolAppSet` and `NodePoolAppDaemon` are more likely to accept by end users.
so `NodePoolAppSet` and `NodePoolAppDaemon` +1

[2021-08-31 02:48] rambohe-ch commented on #439
@tiezhuoyu Thank you for filing issue.
The traffic from [cloud node](https://github.com/openyurtio/openyurt/blob/master/docs/proposals/00_openyurt-glossary.md#cloudnode) to edge nodes will be transmitted through yurt-tunnel.  for example, the traffic for `kubectl logs/exec/port-forward` or `metrics-server/prometheus` collect metrics of edge nodes.

[2021-08-31 03:39] tiezhuoyu commented on #439
i got it, thanks!

[2021-08-31 03:43] #436 closed

[2021-08-31 21:28] #415 closed

[2021-09-01 03:19] kadisi commented on #433
UnitedDaemonset

[2021-09-01 03:24] kadisi commented on #433
UnitedDaemonset
UnitedDeployment

or

UnitedDeployment->NodePoolDeployment
UnitedDaemonset->NodePoolDaemonset

or

UnitedDeployment-> YurtPlacement
UnitedDaemonSet-> YurtDaemon

or

UnitedDeployment-> YurtAppSet
UnitedDaemonSet-> YurtAppDaemon

or

UnitedDeployment -> NodePoolAppSet
UnitedDaemonSet -> NodePoolAppDaemon

[2021-09-01 04:07] kadisi commented on #433
After community discussion, we finally decided to name `UnitedDaemonset` to `YurtAppDaemon`.
In the future we will name `UnitedDeployment` to `YurtAppSet`.

UnitedDeployment -> YurtAppSet
UnitedDaemonSet -> YurtAppDaemon

If the community students have new ideas, welcome to participate in the discussion。

[2021-09-01 05:32] zzguang commented on #433
By my understanding, the scope of YurtAppDaemon is bigger than NodePoolAppDaemon, not sure whether the assumption below makes sense:
We know that not all the edge nodes are definitely located in a nodepool,  if yurt-app-manager will extend its scope to handle app disposal to these scattered edge nodes in future, the corresponding component may be named as "NodeAppDaemon", and current "NodePoolAppD

[2021-09-01 06:06] rambohe-ch commented on #433
In openyurt cluster，nodes(include edge nodes and cloud nodes) must be belong to one NodePool, if no NodePool is specified, default NodePool will be used.

[2021-09-01 07:19] kadisi commented on #433
@zzguang @rambohe-ch  So this needs to be reinterpreted,It is recommended that users place nodes in the same region in the same node pool and that all nodes have their own node pool. It's easy to manage。  But this is not a constraint。

[2021-09-02 06:57] zf930530 opened #447 "[BUG]Yurthub return tunnel-server-service endpoint to kube-proxy on edge node"
**What happened**:
Config x-tunnel-server-service as a LoadBalancer service, then edge node start the kube-proxy service with option --master=http://127.0.0.1:10261. Yurthub return endpoints of x-tunnel-server-service to kube-proxy, and kube-proxy write endpoints info to ipvs.The tunnel-agent cannot communicate with the tunnel-server because of the DNAT of the ipvs rule.
**What you expected to hap

[2021-09-02 07:02] rambohe-ch commented on #447
@zf930530 Thank you for filing issue.
we have made a pull request to solve this problem. and you may dive deeper into the solution here: https://github.com/openyurtio/openyurt/pull/440

[2021-09-02 07:51] zf930530 commented on #447
Also find error log in yurthub like:
pkg/yurthub/filter/masterservice/handler.go:105
I0902 15:31:47.866823 49140 serializer.go:199] schema.GroupVersionResource{Group:"apps.openyurt.io", Version:"v1alpha1", Resource:"nodepools"} is not found in client-go runtime scheme
Looks that an error occured when decoding nodepool type into run-time type.

[2021-09-02 08:37] YRXING commented on #416
I am studying the yurt tunnel source code. I will write some test cases.

[2021-09-03 02:33] rambohe-ch commented on #447
@zf930530 `MasterService` filter can only handle service resource that list/watch by kubelet, you can dive deeper into the code here: https://github.com/openyurtio/openyurt/blob/master/pkg/yurthub/filter/masterservice/filter.go#L45

So i can not confirm that the above error can happen on yurthub, Would you can provide the detailed yurthub version info?

[2021-09-03 02:35] rambohe-ch commented on #416
@YRXING Very appreciate for your positivity. If you have any questions, we can discuss here or at the slack.

[2021-09-03 02:35] rambohe-ch commented on #416
/assign @YRXING

[2021-09-05 15:07] DrmagicE opened #450 "[Question] Should Yurthub also be deployed on the cloud side?"
The data-filtering framework is implemented by Yurthub. The cloud side also needs this feature in order to learn the ”service topology“ to keep service traffic in-bound within the cloud-side.

For example,  the endpoints of the CoreDNS service on the cloud side must be filtered, so the pods on the cloud side can access the DNS service correctly.

/kind question

[2021-09-06 04:38] SataQiu opened #453 "Eliminate dependency on k8s.io/kubernetes"
https://github.com/kubernetes/kubernetes#to-start-using-k8s

Relying directly on `k8s.io/kubernetes` didn't seem like a good idea, which made our project difficult to upgrade and maintain. I propose that eliminate dependency on `k8s.io/kubernetes`.

This is likely to be a long-term task.

[2021-09-06 04:38] SataQiu commented on #453
/kind cleanup

[2021-09-06 06:23] #426 closed

[2021-09-06 06:26] SataQiu commented on #432
Ref: #452
/close

[2021-09-06 06:26] #432 closed

[2021-09-06 07:33] rambohe-ch commented on #453
@SataQiu Thank you for filing issue.
It's a good idea to cleanup dependency on `k8s.io/kubernetes` in openyurt. and would you like to take over this work?

[2021-09-06 08:55] rambohe-ch commented on #450
@DrmagicE Thank you for filing issue.
I agree with you that yurthub should also be deployed on the cloud nodes.
Would you like to take over this work and fix it?

[2021-09-06 09:02] DrmagicE commented on #450
@rambohe-ch No problem. I will fix it.

[2021-09-06 09:51] SataQiu commented on #453
@rambohe-ch
I'd like to help with this.
It seems a big job, and more contributors are welcome!
/kind good-first-issue

[2021-09-07 08:05] rambohe-ch commented on #453
@SataQiu It seems that `yurt-controller-manager`, `yurtctl`, `yurt-tunnel` have imported `k8s.io/kubernetes`, we can cleanup the dependency from `yurt-tunnel` --> `yurtctl` --> `yurt-controller-manager`.

[2021-09-07 08:10] #421 closed

[2021-09-08 07:59] zf930530 commented on #447
After adding the watch, get and list permissions to system:node for noodpools, this error appears in the log.
yurt version is v0.4.1

[2021-09-08 08:41] #414 closed

[2021-09-08 12:59] rambohe-ch commented on #447
@zf930530 NodePool list/watch rbac rights are missed for yurthub, you need add the rbac rights to group `system:nodes` manually to solve the problem.

[2021-09-08 14:29] DrmagicE commented on #384
Same issues here when I try to convert a pre-installed kubernetes cluster. It seams there were some problems for yurthub to get the certificate.
[code]

Here is my command and output:
[code]

[2021-09-08 15:36] DrmagicE commented on #384
@rambohe-ch Maybe there are some problems with the bootstrap token.  The first one is generated by Yurthub,  the others are managed by kubeadm. I replaced the --join-token flags in yurthub.yaml with another token which is managed by kubeadm, and the Yurthub can get the certificate correctly.
[code]

[2021-09-09 05:48] adamzhoul commented on #358
same issue here.

anywhere can I find a full solution doc or discussion? @rambohe-ch

kube-proxy or other addons may run in daemonset, we shall only redirect traffic to yurt-hub on edge-node.
this can be a complicated issue when supporting many many more addons besides kube-proxy,
if don't use iptables to redirect traffic.

[2021-09-09 06:14] adamzhoul opened #460 "[feature request] Create STATIC_POD_PATH dir if not exists"
**What would you like to be added**:

   When deploying yurtHub during RunConvertEdgeNode(), programs return when PodMainfestPath dir not exists.

https://github.com/openyurtio/openyurt/blob/47a88eab0a1450c90901e8c42c3ec88099602aea/pkg/yurtctl/cmd/convert/edgenode.go#L251

https://github.com/openyurtio/openyurt/blob/47a88eab0a1450c90901e8c42c3ec88099602aea/pkg/yurtctl/cmd/convert/edgenode.go#L338

[2021-09-09 06:34] DrmagicE commented on #358
@adamzhoul You can set `--access-server-through-hub=true` for yurt-hub and restart kube-proxy. After setting, all traffic in the edge will pass through yurt-hub.

[2021-09-09 06:43] DrmagicE commented on #358
@adamzhoul And if you are not using the docker images building from the latest source code, you may need to add rbac for group `system:nodes` manually. See https://github.com/openyurtio/openyurt/issues/447#issuecomment-915216566

[2021-09-09 08:21] adamzhoul commented on #358
thanks  @DrmagicE

have a quick look at the latest code.
after set `--access-server-through-hub=true` , MutatedMasterServiceAddr  will be set to 127.0.0.1
and filter `masterServiceFilter` will return 127.0.0.1 as svc kubernetes clusterIP which should be apiServer IP

So, I am still wondering how it affects kube-proxy, if the kube-proxy never visits yurtHub in the first place.
1. kube-proxy reads a

[2021-09-09 08:52] DrmagicE commented on #358
@adamzhoul Oh, I miss something. The kube-proxy should be configured to use in-cluster config which will be mutated by the kubelet.  So:
1. For question 1,  you can just remove the kubeconfig setting in the kube-proxy configmap.
2. For question 2, after setting `--access-server-through-hub=true`, the in-cluster config for newly created pods will be mutated by kubelet. The pods treat Yurthub (127.0